
/* =========================================== */
/*    1. FONTS                                 */
/* =========================================== */
@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoblack_italic';
  src: url("../fonts/roboto-blackitalic-webfont.eot");
  src: url("../fonts/roboto-blackitalic-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-blackitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-blackitalic-webfont.woff") format("woff"), url("../fonts/roboto-blackitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold_italic';
  src: url("../fonts/roboto-bolditalic-webfont.eot");
  src: url("../fonts/roboto-bolditalic-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("../fonts/roboto-bolditalic-webfont.woff") format("woff"), url("../fonts/roboto-bolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/roboto-italic-webfont.eot");
  src: url("../fonts/roboto-italic-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight_italic';
  src: url("../fonts/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto-lightitalic-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff"), url("../fonts/roboto-lightitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium_italic';
  src: url("../fonts/roboto-mediumitalic-webfont.eot");
  src: url("../fonts/roboto-mediumitalic-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-mediumitalic-webfont.woff") format("woff"), url("../fonts/roboto-mediumitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin';
  src: url("../fonts/roboto-thin-webfont.eot");
  src: url("../fonts/roboto-thin-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto-thin-webfont.woff") format("woff"), url("../fonts/roboto-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin_italic';
  src: url("../fonts/roboto-thinitalic-webfont.eot");
  src: url("../fonts/roboto-thinitalic-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thinitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-thinitalic-webfont.woff") format("woff"), url("../fonts/roboto-thinitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "rb-light";
    font-stretch: normal;
    src: url("fonts/RB-Light.eot?#iefix") format("embedded-opentype"), url("fonts/RB-Light.woff") format("woff"), url("fonts/RB-Light.ttf") format("truetype"), url("fonts/RB-Light.svg#RB-Light") format("svg");
}
@font-face {
    font-family: "rb-regular";
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/RB-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/RB-Regular.woff") format("woff"), url("fonts/RB-Regular.ttf") format("truetype"), url("fonts/RB-Regular.svg#RB-Light") format("svg");
}
@font-face {
    font-family: "rb-bold";
    font-stretch: normal;
    src: url("fonts/RB-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/RB-Bold.woff") format("woff"), url("fonts/RB-Bold.ttf") format("truetype"), url("fonts/RB-Bold.svg#RB-Bold") format("svg");
}
@font-face {
    font-family: "rb-regular";
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/RB-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/RB-Bold.woff") format("woff"), url("fonts/RB-Bold.ttf") format("truetype"), url("fonts/RB-Bold.svg#RB-Bold") format("svg");
}

body {
  font-family: "rb-regular", Tahoma, Arial, sans-serif;
  font-size:16px;
}

.navbar,.navbar-inner{
	background-color:#5e2c00;
	color:#fff;
	background-image:url('../img/tob_abs.png');
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:100% auto;
}
.navbar a ,.navbar-inner a{
	color:#fff;
}
.subnavbar a{
	color:#5e2c00;
}
.subnavbar .button.active{
	background-color:#5e2c00;
}
.subnavbar .button{
	border-color:#5e2c00;
}

.page{
	background-color:#f8efea;
}
.page.intro{
	background-color:#f8efea;
}

.panel{
	background-color:#5e2c00;
	background-image:url('../images/side_abs.png');
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size:cover;
}
.panel .logo-box {
    color: #fff;
    padding: 15px 15px 0;
	text-align:center;
}
.logo-box {
	color:#5e2c00;
    padding: 15px 15px 0;
	text-align:center;
}
.panel hr,.logo-box hr{
	border-color:#fff;
	border-style:solid;
}
.panel .logo-box img,.full-img,.logo-box img{
	max-width:100%;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-0{
    margin-top: 0px !important;
}
.panel .line {
    background: none repeat scroll 0 0 #763f05;
    height: 4px;
}
.panel .list-block .list-group ul li.divider {
    background: none repeat scroll 0 0 #4d4d4d;
    font-size: 12px;
    line-height: 25px;
    padding: 0 15px;
    text-transform: uppercase;
}
.panel .list-block .item-link{
	color:#fff;
}
.panel .list-block ul{
	background-color:rgba(0,0,0,.5);
}

.panel .list-block .item-inner::after, .panel .list-block .list-group ul::after, .panel .list-block .list-group ul::before {
	background-color:rgba(255,255,255,.3);
}
.panel .list-block .item-link:focus, .panel .list-block .item-link:active{
	background-color:rgba(255,255,255,.2);
}
.panel .list-block .list-group ul li {
	font-size:15px;
}
.card{
	font-size:16px;
}
.icon-item{
	text-align:center;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	font-family: Helvetica Neue,?Helvetica,?Arial,?sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#0c6293;
	display:block;
	background-color:rgba(255,255,255,.9);
	-webkit-box-shadow: 0 3px 2px 0 rgba(0,106,70,.2);
	box-shadow: 0 3px 2px 0 rgba(0,106,70,.2);
	margin:0 5px;
}
.icon-item:focus,.icon-item:active,.icon-item:hover{
	background-color:rgba(255,255,255,.4);
}
.icon-item img{
	width:70%;
	display:block;
	margin:0 auto 10px;
}
.row.no-gutter{
	margin-bottom:17px;
}

.card-header{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	font-family: "rb-bold";
}
.text-center{
	text-align:center;
}
.color-theme{
	color:#5e2c00;
}
.theme-btn{
	background-color:#5e2c00;
	color:#fff;
}
.item-text.color-black{
	color:#000;
}
.img-circle{
	-webkit-border-radius: 50%;
	border-radius: 50%;
	max-width:60%;
	-webkit-box-shadow: 0 5px 5px 0 rgba(0,106,70,.2);
	box-shadow: 0 5px 5px 0 rgba(0,106,70,.2);
}
.circle-img{
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border:1px rgba(0,0,0,.2) solid;
}
.bold{
	font-weight:bold;
}
.light{
	font-weight:light;
}
.listing .list-block .item-text{
	height:auto;
}
.listing p{
	margin:0 !important;
	font-size:16px;
}

i.icon.icon-back{
	fill:#fff;
}
.left-footer-link{
	display:inline-block;
	float:left;
}

.list-block .item-media + .item-inner{
	/*margin-right:0;*/
}
.page-content{
	/*padding-top: 55px;*/
}
.panel .list-block .item-title{
	font-size:16px;
}

.text-center{
	text-align:center;
}
.full-img{
	display:inline;
	width:100%;
}

a,p em{
	color:#921414;
}
p em{
	font-weight:bold;
	font-style:normal;
	font-size:115%;
}


.card hr,.light{
	border-color:rgba(0,0,0,.1);
}


.page.intro .list-block .list-group ul li.divider,.list-block.alpha .list-group ul li.divider  {
    background: none repeat scroll 0 0 #4d4d4d;
    font-size: 12px;
    line-height: 25px;
    padding: 0 15px;
    text-transform: uppercase;
}
.page.intro .list-block .item-link,.list-block.alpha .item-link{
	color:#fff;
}
.page.intro .list-block ul,.list-block.alpha ul{
	background-color:rgba(0,0,0,.5);
}
.page.intro .list-block,.list-block.alpha{
	padding-bottom:100px;
}
.page.intro .list-block .item-inner::after, .page.intro .list-block .list-group ul::after, .page.intro .list-block .list-group ul::before
,.list-block.alpha .item-inner::after, .list-block.alpha .list-group ul::after, .list-block.alpha .list-group ul::before {
	background-color:rgba(255,255,255,.3);
}
.page.intro .list-block .item-link:focus, .page.intro .list-block .item-link:active,.list-block.alpha .item-link:focus, .list-block.alpha .item-link:active{
	background-color:rgba(255,255,255,.2);
}
.page.intro .list-block .list-group ul li ,.list-block.alpha .list-group ul li {
	font-size:15px;
}
.pad50{
	padding-bottom:50px;
}

/* --------------------- */

.page .list-block .list-group ul li.divider,.list-block.alpha .list-group ul li.divider  {
    background: none repeat scroll 0 0 #4d4d4d;
    font-size: 12px;
    line-height: 25px;
    padding: 0 15px;
    text-transform: uppercase;
}
.list-block li.media-item .item-title, .list-block.media-list .item-title{
	font-weight:600;
}
.page .list-block .item-link,.list-block.alpha .item-link{
	color:#662d00;
}
.page .list-block .item-link .item-subtitle{
	color:#555555;
	font-weight:300;
}
.page .list-block ul,.list-block.alpha ul{
	background-color:rgba(94, 44, 0, 0);
}
.page .list-block,.list-block.alpha{
	padding-bottom:20px;
}
.page .list-block .item-inner::after, .page .list-block .list-group ul::after, .page .list-block .list-group ul::before
,.list-block.alpha .item-inner::after, .list-block.alpha .list-group ul::after, .list-block.alpha .list-group ul::before {
	background-color:rgba(94,44,0,.3);
}
.page .list-block .item-link:focus, .page .list-block .item-link:active,.list-block.alpha .item-link:focus, .list-block.alpha .item-link:active{
	background-color:rgba(255,255,255,.5);
}
.page .list-block .list-group ul li ,.list-block.alpha .list-group ul li {
	font-size:15px;
}
.toolbar.toolbar-bottom{
	display:none !important;
}
.navbar .left a + a, .navbar .right a + a{
	margin:0;
}


/* ------ BAHRANYA FIXES ---------- */

.list-block li.media-item .item-link .item-title-row, .list-block.media-list .item-link .item-title-row{
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D\'0%200%2060%20120\'%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%3E%3Cpath%20d%3D\'m60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z\'%20fill%3D\'%235e2c00\'%20transform%3D\'translate(60%2C120)%20rotate(180)\'%2F%3E%3C%2Fsvg%3E");
}

/* --------------- */

.cat-grid div[class*="col-"] {
	text-align: center;
	box-sizing: border-box;
	padding:10px 10px 5px;
}
.cat-grid div[class*="col-"]:nth-child(odd){
	padding-right:0;
}
.cat-grid div[class*="col-"]:nth-child(even){
	padding-left:0;
}
.cat-grid.ar div[class*="col-"]:nth-child(odd){
	padding-left:0;
	padding-right:10px;
}
.cat-grid.ar div[class*="col-"]:nth-child(even){
	padding-right:0;
	padding-left:10px;
}
.brand_cat_link{
	width:100%;
	height:160px;
	height:45vw;
	box-sizing: border-box;
	display:block;
	background-position:center center;
	background-size:cover;
	font-size:18px;
	font-weight:bold;
	padding:10px;
	color:#fff;
	position:relative;
	display:table;
}
.brand_cat_link:after{
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.7);
	top:0;
	left:0;
}
.brand_cat_link.active-state:after{
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	top:0;
	left:0;
}
.brand_cat_link span{
	vertical-align:middle;
	display:table-cell;
	z-index:2;
	position:relative;
}

/* ------- Details Page ------------ */

.ks-card-header-pic{
	margin:0;
	background-color:transparent;
	color:#494949;
	box-shadow:none;
}
.ks-card-header-pic .card-header{
	height:70vw;
}
.ks-card-header-pic .card-header>b{
	text-shadow: 0 0 15px #000000;
	margin-bottom:5px;
}
.ks-card-header-pic .card-header small{
	font-weight:300 !important;
}
.ks-card-header-pic .card-header *{
	position:relative;
	z-index:10;
}
.card-title{
	color:#582800;

	font-weight:bold;
}
.gray{
	color:#555555;
}
.dark-shadow:after{
	content:'';
	position:absolute;
	z-index:1;
	width:100%;
	height:70vw;
	left:0;
	top:0;
	display:block !important;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 30%, rgba(0,0,0,0.64) 99%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.statusbar-overlay{
	background-color:#5e2c00;
}
.content-block-title.card-title{
	margin-top:15px;
	margin-bottom:15px;
	font-size:19px;
	line-height:110%;
}
.mb-sm,.page .list-block.mb-sm{
	margin-bottom:0px !important;
	margin-top:0;
}