﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">تساؤلات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page07-2-1" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/faq.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				أدركوا الإسلام
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">السؤال</p>
				<hr/>
				<p class="text-center">
					<b>أدركوا الإسلام</b>
				</p>
				<p><b>بسم الله الرحمن الرحيم</b></p>
<p>الحمد لله رب العالمين وصلى الله وسلم على سيدنا محمد وعلى آله وصحبه أجمعين.<br />
أما بعد فهذه رسالتي إلى كل من يدعي أنه من المتصوفة أوينتسب إليهم، وأخص بالذكر العلماء منهم:<br />
أدركوا المعنى السامي والنبيل للتصوف أياً كانت الطريقة (رفاعية أو قادرية إلخ) فلقد اندس الكثير من الجهلة والمغالين والمتزندقين والمشعوذين (والمتورثون الغير أهل لحمل الأمانة وأداء الرسالة كما يجب) وأخذ المعادون للتصوف أو انتهز أعداء التصوف كل الفرص للنيل من التصوف شكلاً ومضموناً.<br />
فلقد أصبحت الزوايا (التكايا) إلا مارحم ربي لايقام بها إلا الحضرات وأصبح القائمين على هذه الزوايا يستغيثون بغير الله سبحانه ويستغيثون بمشايخهم وأجدادهم ومنهم الكثير من يقوم بقراءة البرج والطالع ويضربون المندل ويدعون العلم بالغيب ويعملون السحر ويتعاملون مع الجن وهم لاينكرون ذلك بل ويتباهون أيهم أشطر من غيره نعم كل هذا يحدث بل أكثر.<br />
أيها السادة أيها العلماء أيها الغيارى الدين الإسلامي في خطر اليوم ونحن في القرن الحادي والعشرون عصر العلم والمعرفة والتكنلوجيا والنت يحدث كل ماذكرت آنفاً أدركوا الإسلام أدركوا التصوف أدركوا الحب خصصوا برامج تلفزيونية, كتب, مواقع على النت خطب في المساجد أي وسيلة مشروعة لإظهار التصوف وبيانه للناس عامةً ولأهله ومنتسبيه خاصة كما يجب أن يكون نقي صافي لا غش فيه ولا دس ولا لبس.<br />
اللهم قد بلغت اللهم قد بلغت اللهم قد بلغت اللهم فاشهد.</p>
<hr/>

				<p class="card-title text-center">الجواب</p>
				<hr/>
<p><b>بسم الله الرحمن الرحيم</b></p>
<p>
وصلى الله على سيدنا محمد وعلى آله وصحبه وسلم<br />
نشكر لك غيرتك وحرصك على دينك، جعلها الله مثابة لك ومنجاة.<br />
وأن كنا لم نفهم بعض الذى تعترض عليه مثل الحضرات فهل تعترض على الذكر شكلا أو مضمونا؟! وهل تعترض على نسب الطرق السادة القادرية والسادة الرفاعية؟!<br />
إن كان هذا اعتراضك فلا كلام لنا معك فالذكر أساس التصوف والسادة الأقطاب هم أعلام الهداية وإن لم تعرفهم فتصفح صفحات الموقع وصفحات (العموميات).<br />
وأن كنت تنكر على بعض المتصوفين بعض مظاهرهم وتريد تنبيههم؛ فنحن لا ننكر أنه قد توجد بعض المظاهر التى لا تتفق مع جوهر التصوف، ولكنها ليست حجة على المتصوفين.<br />
على كل الأحوال فإن لنا فلسفة فى موقعنا هذا، وهى تعتمد على دفع الجهل بالعلم، ونشر تعاليم الدين السمحة الغراء بالقدوة الحسنة، وهذا هو ما نشر هذه الطريقة فى الغرب والشرق، فدخل الناس فيها من كل الأجناس طالبين الإسلام الذى تمثله وتدعو إليه، ونحن نرى أن رأس الحكمة فى الدعوة هى قوله سبحانه ﴿ادْعُ إِلِى سَبِيلِ رَبِّكَ بِالْحِكْمَةِ وَالْمَوْعِظَةِ الْحَسَنَةِ وَجَادِلْهُم بِالَّتِي هِيَ أَحْسَنُ﴾ ... وهو ما لا يتحقق بالهجوم والنقد اللاذع الغير بناء.<br />
ولعل الله أن يهيئ لنا من أمرنا رشدا ويهدينا ويهدى بنا ويعيننا جميعا على أن نعلم ونتعلم ونكون خلفا صالحا لخير السلف.</p>
				
				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
