﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">تساؤلات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page07-2-1" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/faq.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				هل الأولياء أعلى من الأنبياء؟
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">السؤال</p>
				<hr/>
				<p class="text-center">
					<b>هل الأولياء أعلى من الأنبياء؟</b>
				</p>

<hr/>

				<p class="card-title text-center">الجواب</p>
				<hr/>
<p><b>بسم الله الرحمن الرحيم</b></p>
<p>صلى الله على سيدنا محمد وعلى آله وصحبه وسلم</p>
<p>المقارنة هنا فيها مغالطة لأن الأنبياء من الأولياء، فمقام النبوة هو أعلى مقامات الولاية، ولكن من الأنبياء يوجد الرسل أعلى ثم أولى العزم أعلى ثم مقام المصطفى <img src="http://burhaniya.org/_images/_jpg12/line/salla20.gif"/>، ولكن هؤلاء جميعا أولياء لله، فالولاية هى موالة الله سبحانه وتعالى من دون الشيطان.</p>
<p>وقد أجمع العلماء على تفسير الأولياء فى قوله تعالى: ﴿ألا إن أولياء الله لا خوف عليهم﴾ [يونس 62] بأنهم هم (الذين يذكر الله&nbsp;برؤيتهم)</p>
<p>وإليك تفسير القرطبى كمثال على باقى التفاسير:</p>
<p>قوله تعالى: ﴿ألا إن أولياء الله لا خوف عليهم﴾ أي في الآخرة. ﴿ولا هم يحزنون﴾ لفقد الدنيا. وقيل: ﴿لا خوف عليهم ولا هم يحزنون﴾ أي من تولاه الله تعالى وتولى حفظه وحياطته ورضي عنه فلا يخاف يوم القيامة ولا يحزن؛ قال الله تعالى: ﴿إن الذين سبقت لهم منا الحسنى أولئك عنها﴾ أي عن جهنم ﴿مبعدون﴾ إلى قوله ﴿لا يحزنهم الفزع الأكبر﴾ [الأنبياء:101 - 103]. وروى سعيد بن جبير أن رسول الله صلى الله عليه وسلم سئل: من أولياء الله؟ فقال: (الذين يذكر الله برؤيتهم). وقال عمر بن الخطاب، في هذه الآية: سمعت رسول الله صلى الله عليه وسلم يقول: (إن من عباد الله عبادا ما هم بأنبياء ولا شهداء تغبطهم الأنبياء والشهداء يوم القيامة لمكانهم من الله تعالى). قيل: يا رسول الله، خبرنا من هم وما أعمالهم فلعلنا نحبهم. قال: (هم قوم تحابوا في الله على غير أرحام بينهم ولا أموال يتعاطون بها فوالله إن وجوههم لنور وإنهم على منابر من نور لا يخافون إذا خاف الناس ولا يحزنون إذا حزن الناس) ثم قرأ ﴿ألا إن أولياء الله لا خوف عليهم ولا هم يحزنون﴾. وقال علي بن أبي طالب رضي الله عنه: أولياء الله قوم صفر الوجوه من السهر، عمش العيون من العبر، خمص البطون من الجوع، يبس الشفاه من الذوي. وقيل: ﴿لا خوف عليهم﴾ في ذريتهم، لأن الله يتولاهم. ﴿ولا هم يحزنون﴾ على دنياهم لتعويض الله إياهم في أولاهم وأخراهم لأنه وليهم ومولاهم.</p>				
				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
