﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">تساؤلات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page07-2-1" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/faq.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				هل نكره سيدنا عمر؟
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">السؤال</p>
				<hr/>
				<p class="text-center">
					<b>هل نكره سيدنا عمر؟</b>
				</p>
<p style='direction:ltr;text-align:left;'>Assalmo Alaykom , i would like to ask question: The Shee3a says that Sayedna Omar radeyah Allaho 3anho went to Sayedna Ali radeyah Allaho 3anho and he Pushed the door and Setna Fatmeh radeya Allaho 3anha was standing behind the&nbsp;door thats why she dead ???? and some of them says that&nbsp;Setna</p>
<p style='direction:ltr;text-align:left;'>Fatmeh&nbsp;radeya&nbsp;Allaho&nbsp;3anha was pregnant and she loos her baby because of Sayedna Omar radeya&nbsp;Allaho 3anho, and thats why the Shee3a hate Sayedna Omar radeya&nbsp;Allaho 3anho, i know we are all muslims but there is some defrent&nbsp;3aqa2ed.&nbsp;And&nbsp;Thank You very much.&nbsp; I Know ur site because i am from the same tareeqa Jazakom Allaho Khayran</p>

<hr/>

				<p class="card-title text-center">الجواب</p>
				<hr/>
<p><b>بسم الله الرحمن الرحيم</b></p>
<p>صلى الله على سيدنا محمد وعلى آله وصحبه وسلم</p>
<p>الإختلاف بيننا لا يجب أن يمس العقائد والعقائد تحوى الإيمان بالصحابة</p>
<p>وذكر أبو بكر بن أبي شيبة أن عمر بن الخطاب خطب بباب الجابية فقال: إن رسول الله قام فينا كمقامي فيكم. ثم قال: (يا أيها الناس اتقوا الله في أصحابي ثم الذين يلونهم ثم الذين يلونهم ثم&nbsp;يفشو الكذب وشهادة الزور)</p>
<p>وقال عليه السلام: (لا تسبوا أصحابي فإن أصحابي أسلموا من خوف الله وأسلم الناس من&nbsp;خوف السيف)</p>
<p>وثبت أن عبدالرحمن بن عوف شكا إلى النبي خالد بن الوليد؛ فقال النبي لخالد: (دعوا لي أصحابي فوالذي نفسي بيده لو أنفق أحدكم كل يوم مثل أحد ذهبا ما بلغ مد أحدهم&nbsp;ولا نصيفه).</p>
<p>وقد قال رسول&nbsp;الله فى قصة أهل الكهف: (اللهم لا تفرق بيني وبين أصحابي وأصهاري واغفر لمن أحبني وأحب أهل بيتي&nbsp;وخاصتي&nbsp;وأصحابي).</p>
<p>والقرآن يقول: ﴿كنتم خير أمة أخرجت للناس تأمرون بالمعروف وتنهون عن المنكر وتؤمنون بالله ولو آمن أهل الكتاب لكان خيرا لهم منهم المؤمنون وأكثرهم الفاسقون﴾.</p>
<p>ويفسر هذه الآية الإمام القرطبى بقوله: وإذا ثبت بنص التنزيل أن هذه الأمة خير الأمم؛ فقد روى الأئمة من حديث عمران بن حصين عن النبي صلى الله عليه وسلم أنه قال: (خير الناس قرني ثم الذين يلونهم ثم الذين يلونهم). الحديث وهذا يدل على أن أول هذه الأمة أفضل ممن بعدهم، وإلى هذا ذهب معظم العلماء، وإن من صحب النبي ورآه ولو مرة في عمره أفضل ممن يأتي بعده، وإن فضيلة&nbsp;الصحبة لا يعدلها عمل.</p>
<p>ما رواه أنس بن مالك عن رسول الله قال: (من أحب الله عز وجل فليحبني ومن أحبني فليحب أصحابي ومن أحب أصحابي فليحب القرآن ومن أحب القرآن فليحب المساجد فإنها أفنية الله أبنيته أذن الله في رفعها وبارك فيها ميمونة ميمون أهلها محفوظة محفوظ أهلها هم في صلاتهم والله عز وجل في حوائجهم هم في مساجدهم والله من ورائهم).</p>
<p>فما ورد فى حب واحترام صحابة رسول الله جميعا لا يعدله شيئ ولم نعرف قصة تشير إلى ما ذكرت عن السيدة فاطمة الزهراء .</p>
<p>بل على العكس هناك الكثير مما يدل على معرفة سيدنا عمر بحق أهل البيت مثل القصة المذكورة فى صفحة ( دروسه 4 ).</p>
<p>وحتى (لو) كان ذلك حدث فإن لنا فى حديث رسول الله ص ما يكفينا: فعن حذيفة بن اليمان قال قال رسول الله : (يكون بين ناس من أصحابي فتنة يغفرها الله لهم بصحبتهم إياي يستن بهم فيها ناس بعدهم يدخلهم&nbsp;الله بها النار).</p>
<p>ويقول سبحانه وتعالى: ﴿وَالَّذِينَ جَاؤُوا مِن بَعْدِهِمْ يَقُولُونَ رَبَّنَا اغْفِرْ لَنَا وَلإِخْوَانِنَا الَّذِينَ سَبَقُونَا بِالإِيمَانِ وَلا تَجْعَلْ فِي قُلُوبِنَا غِلاً لِّلَّذِينَ آمَنُوا رَبَّنَا إِنَّكَ رَؤُوفٌ رَّحِيمٌ﴾ فهذا هو الاعتراض الوحيد الذى سمح به الله للتابعين على السابقين من الصحابة؛ بمعنى أنه من لم يعجبهم فعله فلا يملكون معه إلا أن يستغفرون له وهؤلاء هم التابعين وليس نحن.</p>

				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
