﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">تساؤلات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page07-2-1" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/faq.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">السؤال</p>
				<hr/>
				<p class="text-center">
					<b>ما معنى القطب الغوث؟ وهل يعني أن القطب الغوث (المغيث) وإن كان الجواب نعم فهل من مغيث غير الله تعالى؟</b>
				</p>

				<hr/>

				<p class="card-title text-center">الجواب</p>
				<hr/>

				<p>القطب والغوث هى مراتب فى الولاية لله تعالى مثل الأبدال والنجباء ... وهى من مصطلحات الصوفية وهى لا تصف مكانة عباد الله فى موالاة الله فقط ولكنها أيضا تصف مدى حبهم وتعلقهم بالله ومدى علمهم ومعرفتهم بالله كما يمكن أن توضح ثقة الله فيهم، وهم العلماء والعارفون بالله والعاملون بعلمهم، وأعلى مراتب الولاية هى النبوة ولو كانت هناك نبوة بعد النبى لكانت لعلماء أمته كما قال : (علماء أمتى كأنبياء بنى إسرائيل).</p>
<p>&nbsp;وكما أوضحنا فهذا العلم يتعلق بالصوفية وهم المختصون بحب الله وقربه ومعرفته وبالتالى ولايته فكان من الطبيعى أن تكون لهم مصطلحاتهم مثل غيرهم من أصحاب العلوم والتخصصات مثل الفلاسفة والأطباء والمهندسين وغيرهم.</p>
<p>&nbsp;وقد تحدث بعض المفسرين الكبار في هذه المصطلحات مثل الإمام القشيرى فى كتاب (الرسالة القشيرية) والإمام محيى الدين بن العربى فى كتاب (الفتوحات المكية) وكلاهما من&nbsp;مفسرى القرآن وهناك أيضا كتاب (مصطلحات الصوفية) للإمام الكاشانى . ويمكنك أن تجد بعضها أيضا فى مؤلفات الإمام فخر الدين على صفحة الموقع [دروسه 3]</p>
<p>&nbsp;أما الشق الثانى من السؤال وهو هل الغوث من الإغاثة؟ وهل تجوز الاستغاثة بغير الله؟ فالإجابة بنعم لكليهما وهو ما يطلق عليه أيضا التوسل وما يقول فيه الحق تبارك وتعالى أمرنا باستخدامه حيث قال]يا أيها الذين آمنوا اتقوا الله وابتغوا إليه الوسيلة[ وظاهر الآية بدون أى تعليق من لم يطلب الوسيلة لا يتقى&nbsp;الله، ويحتج البعض بأن الوسيلة المذكورة فى الآية هى درجة فى الجنة ونسأل الله أن يجعلها للنبى ، والبعض الآخر يقول أن التوسل فى الآية بأعمالنا - وهذا معنى ضمنى - وأيهما أفضل أن أتوسل بأعمالى التى هى فى حكم الرد أو القبول أم أتوسل بالنبى المقبول عند رب&nbsp;العالمين، ... وأما عن المراد بمعنى الوسيلة لغويا كما جاءت كتب اللغة فهى ما يتقرب به إلى الغير.</p>
<p>وإليك من السنة مايوضح الدليل على مشروعية التوسل:</p>
<p>يحدثنا عثمان بن حنيف فيقول: سمعت رسول الله ،وجاءه رجل ضرير فشكا إليه ذهاب بصره فقال: يارسول الله ليس لى قائد وقد شق علىّ، فقال رسول الله : ﴿إئت الميضاة فتوضأ ثم صل ركعتين ثم قل: اللهم إنى أسألك وأتوجه إليك بنبيك محمد نبى الرحمة يا محمد إنى أتوجه بك إلى ربك فيجلى لى عن&nbsp;بصرى، اللهم شفعه فى وشفعنى فى نفسى﴾.</p>
<p>قال عثمان: فو الله ماتفرقنا ولا طال بنا الحديث حتى دخل الرجل وكأنه لم يكن به ضر. رواه النسائى وابن ماجة وابن خزيمة والترمذى&nbsp;فى جامعه، وقال الحاكم حديث صحيح.</p>
<p>وأخرج البخارى فى التاريخ وأبو نعيم عن خالد بن سعيد عن أبيه عن جده قال (قدمت -قبيلة- بكر بن وائل مكة فى الحج فعرض رسول الله عليهم الإسلام، فقالوا حتى يجئ شيخنا الحارث، فلما جاء قال إن بيننا وبين الفرس حربا فإذا فرغنا نظرنا فيما تقول فلما التقوا بذى قار قال لهم شيخهم ما اسم الرجل الذى دعاكم؟ قالوا محمد قال فهو شعاركم، فنصروا على الفرس، فقال النبى : (بى نصروا).</p>
<p>وما أورده الإمام البخارى عن ابن عمر قال: أنه لما جاء الأعرابى وشكا للنبى القحط، فدعا الله فانجابت السماء بالمطر، قال : لو كان أبو طالب حيا لقرت عيناه، ومن ينشدنا قوله؟ فقال الإمام على يا رسول الله كأنك أردت قوله:</p>
<p>وأبيض يستسقى الغمام بوجهه</p>
<p>ثمال اليتـامى عصمة للأرامل</p>
<p>فتهلل وجه النبى ولم ينكر إنشاد البيت ولا قوله: (يستسقى&nbsp;الغمام بوجهه).</p>
<p>وكان سبب إنشاء أبى طالب هذا البيت من جملة قصيدة مدح بها النبى أن قريشا تتابعت&nbsp;عليهم سنوات جدب فى حياة عبد المطلب فارتقى ومن معه من قريش جبل أبا قبيس بعد أن استلموا ركن البيت، وقام عبد المطلب واعتضد النبى فرفعه على عاتقه&nbsp;وهو يومئذ غلام، ثم دعا فسقوا فى الحال .. وكذلك استسقى به أبو طالب أيضا بعد وفاة عبد المطلب حين أصاب أهل مكة قحط شديد فأتوا أبا طالب فقالوا له قد أقحط الوادى وأجدب العيال فهلم فاسـتسق، فخرج أبو طالب ومعه النبى وهو غلام فأخذهأبو طالب فألصقه بالكعبة ولاذ الغلام، أى أشار بأصبعه إلى السماء كالملتجئ، ومافى السماء قزعة فأقبل السحاب من ههنا وههنا وأمطرت السماء واغدودق الوادى وكثر قطره وأخصب النادى والبادى وفى هذه يقول أبا طالب بعد بعثة النبى يذكر قريشا يده وبركته عليهم من صغره:</p>
<p>وأبيض يستسقى الغمام بوجهه</p>
<p>ثمال اليتامى عصـمة للأرامل</p>
<p>يلوذ به الهُلاك من آل هاشـم</p>
<p>فهو عنده فى نعمـة وفواضل</p>
<p>وغير ذلك كثير فى التوسل به وأهل بيته والصالحين ويمكنك الاستزادة فى كتب الإمام فخر الدين من بين كتب عديدة</p>

				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
