﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">تساؤلات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page07-2-1" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/faq.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				ما أصل كلمة تصوف في اللغه والدليل؟

			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">السؤال</p>
				<hr/>
				<p class="text-center">
					<b>ما أصل كلمة تصوف في اللغه والدليل؟</b>
				</p>

				<hr/>

				<p class="card-title text-center">الجواب</p>
				<hr/>

<h4>- ما هو التصوف:</h4>
<p>يقول الله عز وجل فى كتابه الكريم ﴿وما خلقت الجن والإنس إلا ليعبدون﴾ الذاريات56-ومنذ أن وجد الإنسان على ظهر البسيطة وهو يسعى لتحقيق سعادته متحيراً فى ذلك، فمن ساع وراء غرائزه البهيمية، ولذاته الجسدية، ومن ساع فى سبيل الله، وأولئك إما مشدد على نفسه قد بالغ فى تقييدها حتى كاد أن يحرم عليها ما أحله الله، واجهد نفسه فى العبادة ما لا تطيق، وإما من بالغ فى الجانب الروحى دون إعطاء العبادات حقها، وأما من اختار خير الأمور وأوسطها، فأخذوا بمنهج يجمع بين تصفية الروح ومجاهدة النفس والإجتهاد فى العبادة وتلقى العلم والاهتمام به، وهذا هو المنهج الناجح الذى يضمن أن لا تمل النفس ولا أن تشطح وأفضل من طبق هذا الأسلوب هم الصوفية الذين اعتمدوا على المراوحة مثل قوله صلى الله عليه وسلم "فأعط كل ذى حق حقه" (رواه البخارى)، وقوله صلى الله عليه وسلم "أريحوا القلوب ساعة بساعة" (رواه أبو داود).</p>
<p>- حول كلمة الصوفية:</p>
<p>إن الكُتاب والمؤرخون اختلفوا فى نشأة التصوف الإسلامى وفى معناه، وقد قالوا أن كلمة (التصوف) يرى البعض أنها اشتقت من كلمة (سوفيا) اليونانية بمعنى (الحكمة) والبعض الآخر يقول أنها مشتقة من (صوفة) وهو اسم شخص كان يعكف على ذكر الله وعبادته عند بيت الله الحرام، وثالث يرى أنها مشتقة من (صوفان) بمعنى أنها تبين مايمتاز به الصوفى من زهد فى المأكل، ورابع يرى أنها من (الصفاء) وخامس يقول أنها نسبة إلى (أهل الصفة) وهم الفقراء الذين كانوا يصطفون فى مسجد رسول الله صلى الله عليه وسلم عقب كل صلاة.</p>
<p>- على أن ابن وازن القشيرى قد أجمل تلك الآراء كلها فى قوله:</p>
<p>إن المسلمين بعد رسول الله صلى الله عليه وسلم لم يتسمَ أفاضلهم فى عصره بتسمية سوى (صحبة رسول الله) إذ لا فضيلة فوقها، فقيل لهم (الصحابة) ولما أدرك أهل العصر الثانى سُمى من صحب الصحابة (بالتابعين) ورأوا فى ذلك أشرف سمة، ثم قيل لمن بعدهم (بأتباع التابعين) ثم اختلف الناس وتباينت المراتب فقيل لخواص الناس ممن لهم شدة عناية بأمر الدين (الزهاد والعباد) فلما ظهرت البدع وحصل التداعى، انفرد خواص أهل السنة المراعون أنفسهم مع الله الحافظون قلوبهم من طوارق الغفلة باسم (التصوف) واشتهر هذا الاسم لهؤلاء الأكابر قبل المائتين من الهجرة.</p>
<p>- وقيل فى معنى كلمة (صوفية) أنها منسوبة إلى:</p>
<p>صفاء قلوبهم لأن تصفية القلب هي موضوع التصوف .. لذلك قال بعض الصوفية:</p>
<p>تنازع الناس في الصوفي واختلفوا</p>
<p> وظنه البعض مشتقاً من الصوف</p>
<p>ولست أمنح هذا الاسم غير فتـى</p>
<p> صافى فصوفي حتى سمى الصوف</p>
<p>ولكن الأقرب فى المعنى أنهم (أهل الله) لقوله صلى الله عليه وسلم: (كفوا عن أهل لا اله إلا الله ، لا تكفرهم بذنب) رواه الطبرانى.</p>
<p>ولم تتغير حقائق التصوف، وان تغيرت أعيانه، والعمل به مستمر، وان كان في أول أفضل، ولكن صار غريباً وأهله غرباء، وقد قال صلى الله عليه وسلم (طوبى للغرباء، أناس صالحون قليل من أناس كثير من يعصيهم أكثر ممن يطيعهم) رواه الإمام أحمد.</p>
<p>- لتعلم أن التصوف كلمة أطلقت على المتصفين بها ولم يطلقوها على أنفسم، ولكن أنسب ما يسمون به هو أهل الله وذلك لاشتغالهم به عمن سواه، وبالتالى فالصحابة هم أولى الناس بهذه التسمية.</p>
<p>والطريقة الصوفية هى أسلوب لعبادة الله على سنة رسوله وعلى علم منه مع المداومة عليها حيث قال رسول الله صلى الله عليه وسلم (أفضل العبادة أدومها وإن قلت)</p>
<p>- فكلمة الصوفية منسوبة إلى واحدة من أربع:</p>
<p>1) نسبة إلى لبس الصوف. لأن أهل الصفة كما وصفوا، عليهم&nbsp;جباب صوف، لم يكن عليهم غيرها وأيضا قد ورد عن سيدنا أنس t قال: " كان رسول الله e يجيب دعوة العبد ن ويركب الحمار، ويلبس الصوف " (رواه&nbsp;مسلم).</p>
<p>2) نسبة إلى أهل الصفة التى كانت لفقراء المسلمين من&nbsp;المهاجرين، (وهذه النسبة ينكرها علماء اللغة).</p>
<p>3) نسبة إلى وقوفهم فى الصف الأول بين يدى الله عز وجل،&nbsp;بارتفاع هممهم وإقبالهم على الله.</p>
<p>4) نسبة إلى صفاء قلوبهم، وهذا هو الأقرب للصواب، لأن تصفية القلب هى موضوع التصوف.</p>
<p>5) وقيل معناه أهل الله، لقوله صلى الله عليه وسلم "كفوا عن أهل&nbsp;لا اله إلا الله، لا تكفرهم بذنب" (رواه الطبرانى).</p>

				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
