﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">تساؤلات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page07-2-1" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/faq.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				هل فعلا الأولياء يتصرفون؟ وهل يتعارض ذلك مع لا إله إلا الله؟
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">السؤال</p>
				<hr/>
				<p class="text-center">
					<b>هل فعلا الأولياء يتصرفون؟ وهل يتعارض ذلك مع لا إله إلا الله؟</b>
				</p>
<p>
<b>بسم الله والسلام عليكم</b><br/>
لدي سؤال وهو هل فعلا الاولياء يتصرفون في الكون وهل هم وكلاء الله وهل يمكن لكم ان تشرحوا لي هذا القول وهل هذا لا يتناقض مع قولنا لا اله الا الله.
والسلام عليكم	
</p>


<hr/>

				<p class="card-title text-center">الجواب</p>
				<hr/>
<p>لا نفهم الربط بين التصرف والألوهية، بمعنى من أين تفهم أن&nbsp;المتصرف هو الإله؛ فالمتصرف يمكن أن يكون من أولياء الله أو من أولياء الشيطان، والتصريف جزء بسيط جدا من قدرة الله سبحانه، ولكن الله الأله الخالق البارئ المصور الأول الآخر الظاهر الباطن ... المعبود بحق صاحب الصفات الإلاهية والأسماء الحسنى سبحانه وتعالى عما يصفون،... لا وجه للمقارنة والعياذ بالله.</p>
<p>اعلم أنه سيأتى زمن يحكم فيه المسيخ الدجال ويجبر الناس على اتباعه والكفر بالله، ويدخل&nbsp;من اتبعه&nbsp;جنته ومن لم يتبعه ناره، ويكون من دخل جنته داخل للنار ومن دخل ناره داخل للجنة، وكما ترى سيكون متصرف تمام التصريف، ولكن هذا لا يرتبط بالألوهية من قريب أو بعيد، وكذلك كان نمروذ سيدنا إبراهيم متصرفا، وقال أنه يحى ويميت حينما حاجه سيدنا إبراهيم، وقال له إن الله يأتى بالشمس من المشرق فإت بها من المغرب، وهنا أيضا كونه متصرف لم&nbsp;يرتبط&nbsp;بالألوهية، وهناك حديث شريف يقول: قال رسول الله :(لو كانت الدنيا تعدل عند الله جناح بعوضة ما سقى كافرا منها شربة ماء)، وروى أيضا عن النبى أنه قال (من هوان الدنيا على الله ألا يعصى إلا فيها ولا ينال ما عنده&nbsp;إلا بتركها)، وعن أبي سعيد الخدري، قال: قال رسول الله : (الدنيا ملعونة ملعون ما فيها إلا ما كان فيها من ذكر الله أو أدى إلى ذكر الله والعالم والمتعلم شريكان في الأجر وسائر الناس همج لا خير فيه) وأخرجه الترمذي عن أبي هريرة، فكون الأولياء متصرفين فى الدنيا موضوع بسيط جدا، بل إنهم فى واقع الأمر لا يفتخرون به مطلقا فهو تكليف، بل وإنهم يخجلون من إظهاره، ولكنهم جميعهم يطمعون فى ما هو أعظم منه، وهو خدمة النبى المصطفى وأمته وأن يشفعهم الله يوم القيامة فى بعض هذه الأمة، وصاحب الفضل الأعلى فى هذا الصدد هو الشفيع الأعظم المصطفى .</p>
<p>وهكذا كما ترى فإن التصريف يشترك فيه أولياء الله وأولياء الشيطان كالسحرة والمردة، وإنما كونه خيرا أو شرا فيعتمد على العقيدة، ونعنى بها عقيدة صاحب التصريف، فإن كان معتقدا ومؤمنا بالله فإنه يكون له وليا وإلا كان للشيطان وليا، والمتأمل فى أحوال الشيطان يجده متصرف أيضا؛ أليس يجرى من الإنسان مجرى الدم، أليس يرانا هو وقبيله من حيث لا نراهم، أليس يوسوس فى صدور الناس جميعا فى كل وقت، وييسر للناس الشر والغواية ومن تبعه أغراه بالدنيا، كل هذا بينما لا نعتقد أن مسلما واحدا يشك فى كون الشيطان إله، وهل تعتقد أن الشيطان أتى بهذا التصرف رغما عن إرادة الله ؟؟؟ اسمع قوله سبحانه وتعالى: ﴿قُلْ مَن كَانَ فِي الضَّلالَةِفَلْيَمْدُدْ لَهُ الرَّحْمَنُ مَدّاً﴾، بمعنى أن&nbsp;المدد حتى للضلالة من الله سبحانه وتعالى، فالله هو الذى جعله متصرف وهو من سمح لأولياء الشيطان بالتصرف، فلماذا ننكر ذلك على أولياءه؟</p>
<p>&nbsp;فالتصرف والألوهية شيئان مختلفان وغير مرتبطان، فبالله عليك ما تعارض ذلك مع لا إله إلا الله.</p>
				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
