﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">تساؤلات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page07-2-1" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/faq.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				ألح فى الدعاء طلبا لشخص معين ولا أريد غيره فكيف أدعو؟
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">السؤال</p>
				<hr/>
				<p class="text-center">
					<b>ألح فى الدعاء طلبا لشخص معين ولا أريد غيره فكيف أدعو؟</b>
				</p>
<p>
<b>السلام عليكم ورحمة الله وبركاته</b><br/>
انا احب شخصا ولم استطع قبول اى شخص غيره مع العلم انة تقدم الى اكثر من شخص وبالحاح شديد وانا ألح فى الدعاء لأنى كنت اريده واريد الغوث والنجاة.
</p>


<hr/>

				<p class="card-title text-center">الجواب</p>
				<hr/>
<p>نحن نرحب بك وندعو معك بالخير فى طريقك إلى الله، فقد خلق الله الإنسان فى أحسن تقويم ثم وضعه على أول الطريق فى أسفل سافلين، وقد فاز الآوابين الراجعين إلى الله الذين آمنوا بالله واتخذوا إليه سبيلا.</p>
<p>والدنيا هى سبيلنا للآخرة وليس العكس، بمعنى أننا نعيش لكى نعبد الله، ونتزوج لكى ننجب أولاد ننشئهم على الصلاح، ونعمل لكى نكسب فننفق فى سبيل الله ونتصدق ونخدم بالمال الأهل والمحتاجين، وهنا يصبح العمل بالنيه الصالحة عبادة.</p>
<p>&nbsp;أما لو كانت عبادتنا لله بهدف أن ننال غرض دنيوى، لا نعرف هل هو فى صالحنا أم فى غير ذلك، فتكون هذه النية عائق بيننا وبين الله ولا يكون عملنا خالصا لوجه الله، بل إنه جاء في الحديث عن المصطفى : (من شغل بذكرى عن مسألتى أعطيته أفضل ما أعطى السائلين)</p>
<p>ولتعلمى أيها الأخت أن الخيرة فيما اختاره الله دائما ولنحذر فيما ندعو، فقد يجيب الله لنا دعوانا ويغير لنا الحال بما نطلبه فنجد أن الأفضل منه ما كنا عليه، والمحبين لله دائما يرضون بما يختاره لهم ولا يختارون لأنفسهم فهو أعلم بالأصلح لهم وهم لا يعلمون،فالفطنة أن نرضى بما قسمه الله لنا بل نشكره عليه لأنه&nbsp;إنما اختار لنا أفضل ما يمكن أن يحدث، ويقول سبحانه وتعالى: ﴿لئن شكرتم لأزيدنكم ولئن كفرتم إن عذابى لشديد﴾، فمن يرضى بما قسمه الله له ويعرف حكمته فيه ويشكره عليه يزيد له الله فى كرمه عليه، وأما من لا يرى نعمة الله عليه ولم يرضى بما قسمه له فقد كفر بالنعمة واستحق غيرها، ولذلك فأفضل الدعاء هو ما وكلت الله فى اختيار الأفضل لك فيه، كأن تقولى: "اللهم أن كان&nbsp;كذا فيه خير لى فيسره لى ..."، وهكذا ... لعل الله أن ييسر لنا الخير وييسرنا له.</p>				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
