﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">تساؤلات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page07-2-1" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/faq.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				اخي ما هو الدليل على وجوب اتخاد الشيخ؟
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">السؤال</p>
				<hr/>
				<p class="text-center">
					<b>اخي ما هو الدليل على وجوب اتخاد الشيخ؟</b>
				</p>
<p>
<br/>
انا احب شخصا ولم استطع قبول اى شخص غيره مع العلم انة تقدم الى اكثر من شخص وبالحاح شديد وانا ألح فى الدعاء لأنى كنت اريده واريد الغوث والنجاة.
</p>


<hr/>

				<p class="card-title text-center">الجواب</p>
				<hr/>
				<p><b>إليك فقرة من كتاب الردود:</b></p>
<p>السير إلى الله</p>
<p>&nbsp;يقول سبحانه وتعالى فى القرآن الكريم: ﴿ففروا إلى الله إنى لكم منه نذير مبين﴾ (الذاريات 50)، ومن الناس من يعبد الله طمعاً فى جنته وخوفاً من عذابه، ومنهم من يعبده إخلاصا ورغبة فى رضاه، وهؤلاء هم الأفضل درجة ومكانة، يقول تعالى: ﴿وما لأحد عنده من نعمة تجزى، إلا ابتغاء وجه ربه الأعلى﴾ (الليل 19-20)، ويقول أيضاً عز وجل: ﴿وما أمروا إلا ليعبدوا الله مخلصين له الدين حنفاء﴾ (البينة 5)، وهذه العبادة الخالصة هى وسيلة للسير إلى الله.</p>
<p>1- ما أنواع السير؟</p>
<p>أ- السير الطبيعى وهو الذى لا اختيار للبشر فيه، وهو التقدم فى مراحل العمر، يقول تعالى ﴿وقد خلقكم أطواراً﴾ (نوح14).</p>
<p>ب- السير الاختيارى،&nbsp;هو السير إلى الله، وهو قصد العبادة من أجل تزكية النفوس وتطهيرها من علائق الدنيا ومداخل الشيطان.</p>
<p>2- ما هو السير إلى الله؟</p>
<p>&nbsp;هو أن يسير الإنسان طائعاً&nbsp;مختاراً إلى الله تعالى، بموافقة الكتاب والسنة وهدى الشريعة الغراء، فى صحبة خبير عالم بالطريق ومسالكه، ممن ينطبق عليه قوله تعالى: ﴿الرحمن فاسأل به خبيراً﴾ (الفرقان 59)، وسنبين معنى الخبير فى موضعه إن شاء الله.</p>
<p>3- ما هى درجات السير إلى الله؟</p>
<p>&nbsp;وضع المولى فى كتابه الكريم درجات السير&nbsp;وأنواعه، وكذلك فى الأحاديث القدسية، فلقد قال سبحانه: ﴿يا أيها الإنسان انك كادح إلى ربك كدحاً﴾ (الانشقاق 6)، والكدح هو السير زحفاً.</p>
<p>وجاء فى الحديث القدسى:</p>
<p>- {من تقرب إلى شبراً تقربت إليه ذراعاً}.</p>
<p>- {ومن تقرب إلى ذراعاً تقربت إليه باعاً}.</p>
<p>- {ومن أتانى يمشى أتيته هرولة}. (رواه الترمذى و الإمام&nbsp;أحمد).</p>
<p>وقال تعالى: ﴿إنى ذاهب إلى ربى سيهدين﴾ الصافات 99</p>
<p>وقال أيضاً: ﴿السابقون السابقون. أولئك المقربون﴾ (الواقعة 10-11).</p>
<p>وقال تعالى مخبراً عن أعلى مراتب السير: ﴿سبحان الذى أسرى بعبده ليلاً من المسجد الحرام إلى المسجد الأقصى الذى باركنا حوله﴾ (الإسراء 1).</p>
<p>وهكذا نجد أن الفرار إلى الله يكون بأداء الفرائض، والاجتهاد فى النوافل قدر الاستطاعة، مع إخلاص النية لله، حتى يصل إلى درجة المحبة، فإذا وصل إلى هذه الدرجة يكون كما قال تعالى فى الحديث القدسي: {ما تقرب إلى عبدى بشيء أحب إلى مما افترضته عليه، ولا يزال عبدى يتقرب إلى بالنوافل، حتى أحبه، فإذا أحببته، كنت سمعه الذى يسمع به، وبصره الذى يبصر به، ويده التى يبطش بها، وان سألنى لأعطينه، ولئن استعاذنى لأعيذنه، وما&nbsp;ترددت عن شئ أنا فاعله ترددى عن نفس عبدى المؤمن، يكره الموت وأنا أكره مساءته} رواه البخارى من حديث سيدنا أبى هريرة .</p>
<p>فائدة الشيخ</p>
<p>يقول تعالى: ﴿فسئلوا أهل الذكر إن كنتم لا تعلمون﴾ (النحل 43/ الأنبياء 7).</p>
<p>أقتضت سنة الله فى الكون وجود مرشد خبير يكون لجماعة من المخلوقات، فسرب الطير لا يطير بغير قائد وكتيبة النمل لا تتحرك بغير قائد، والطفل يشب فى كنف والده ويتعلق به، فلا بد لكل جماعة فى أمر من قائد موجه، والسير إلى الله شأنه من شأن كل الأمور يحتاج إلى مرشد.</p>
<p>1- من هو الخبير؟</p>
<p>يقول تعالى: ﴿الرحمن فاسأل به خبيراً﴾ (الفرقان 59)، الخبير هو رجل يعرف من الله ما لم يعرفه غيره - القرطبى.</p>
<p>2- ما خصائص الخبير؟</p>
<p>يقول تعالى: ﴿قل هذه سبيلى أدعوا إلى الله على بصيرة أنا و من اتبعنى﴾ (يوسف 108)، إذن الخبير لابد أن يكون داعياً إلى نهج رسول الله على بصيرة و لا بد أن يكون:</p>
<p>أ- يعرف منازل السير إلى الله وأصوله فلا بصلح فى الإرشاد عن السير إلى الله إن لم يكن قد&nbsp;سلكه حتى عرف منازله.</p>
<p>ب- يتبع الشريعة السمحة فلا يصلح من لا يتبعها حتى وإن كان ذا كرامة.</p>
<p>ج- لديه القدرة على الإرشاد ومعالجة مصاعبه والأخذ بيد مريده حتى يتخطى معه عقباته.</p>
<p>3- لماذا نتبع الخبير؟</p>
<p>قد أمرنا الله فى القرآن باتباع الخبير فقال عز وجل:</p>
<p>أ- ﴿يا أيها الذين آمنوا اتقوا الله وكونوا مع الصادقين﴾ (التوبة 119)</p>
<p>ب- ﴿الرحمن فسئل به خبيراً﴾ (الفرقان 59).</p>
<p>ج- ﴿فسئلوا أهل الذكر إن كنتم لا تعلمون﴾</p>
<p>د- ﴿يا أيها الذين أمنوا اتقوا الله وابتغوا إليه الوسيلة﴾ (المائدة 355)</p>
<p>&nbsp;وقد بينا أن الأولياء [هم افضل خبير] لديهم العلم عن طريق التدارس والإلهام وهو ما يحتاجه المسلم فى سيره إلى الله.</p>
<p>&nbsp;وكذلك أمرنا رسول الله باتباع إمام فقال (إذا كانوا ثلاثة فى سفر فليؤمهم أحدهم، وأحقهم بالإمامة أقرؤهم) (رواه الطبرانى&nbsp;وأحمد فى مسنده، والدارى والبيهقى).</p>
<p>&nbsp;وفى رواية أخرى قال (إذا اجتمع ثلاثة مسلمين فى سفر فليؤمهم أقرؤهم لكتاب الله، وان كان أصغرهم، فإذا أمهم&nbsp;فهو أميرهم، وذلك أمير أمره رسول الله ) رواه ابن شيبة عن أبى سلمة.</p>
<p>4- ما هى فائدة الخبير [المرشد]؟</p>
<p>- جاء فى القرطبى أن يكون الخبير غير الله أى فسئل عنه خبيراً أى عالماً به أى بصفاته وأسمائه عز وجل، والخبير لا يحتاج أن يسأل غيره بل يسأله غيره.</p>
<p>- يعلم الخبير أيسر الطرق إلى الله وأكثرها ملائمة للشخص فعن أم المؤمنين جويدية بنت الحارث أن رسول الله خرج عنها بكره حين صلى الصبح وهى فى مسجدها - أى فى موضع صلاتها- ثم رجع بعد أن&nbsp;أضحى وما زالت هى جالسة تذكر الله فقال: (ما زالت على حالك الذى&nbsp;فرقتك عليه) قالت: نعم، فقال (لقد قلت بعدك أربع كلمات&nbsp;ثلاث مرات لو وزنت بما قلت منذ اليوم - أى من مطلع الفجر- لوزنتهن)، (سبحان الله وبحمده عدد خلقه، ورضا نفسه، وزنة عرشه، ومداد كلماته) رواه مسلم والترمذى.</p>
<p>&nbsp;ولذلك فان اتباع الخبير يسهل طريق الوصول إلى رضا الله وعن سيدنا سعد بن أبى وقاص أنه دخل مع رسول الله على امرأة وبين يديها نوى - أو حصى- تسبح به. فقال : (أخبرك بما هو أيسر عليك من هذا) - أو أفضل- فقال:&nbsp;(سبحان الله عدد ما&nbsp;خلق فى السماء وسبحان الله عدد ما خلق من الأرض وسبحان الله عدد ما بين ذلك وسبحان الله عدد ما هو خلق والله أكبر مثل ذلك والحمد لله مثل ذلك ولا اله إلا الله مثل ذلك ولا حول ولا قوة إلا بالله مثل ذلك) رواه مسلم والترمذى.</p>
<p>&nbsp;وأولياء الرحمن هم خير من يقومون بدور المرشد الخبير لأن من معنى الولاية القرب من الله وما دام قريباً من الله فهو على بصيرة وأيضاً فهو قد خبر الطريق إلى الله.</p>
<p>المبايعة</p>
<p>قال تعالى: ﴿إن الذين يبايعونك إنما يبايعون الله يد الله فوق أيديهم﴾ (الفتح 10)</p>
<p>البيعة هى الإقرار والالتزام بالطاعة وقد مدح الله صحابة رسوله لالتزامهم بما عاهدوا الرسول عليه، بل لقد كان دخولهم فى الإسلام من خلال المبايعة مثل بيعتى العقبة.</p>
<p>1- ما معنى المبايعة؟</p>
<p>كما سبق هى الالتزام والطاعة ولكن مع شيخ أو مرشد يعرف طريق الوصول إلى الله عز وجل من أجل&nbsp;الاستفادة من خبرته فى هذا المجال.</p>
<p>2- ما دليلك على المبايعة؟</p>
<p>&nbsp;قال تعالى: ﴿إن الذين يبايعونك إنما يبايعون الله﴾</p>
<p>&nbsp;وقال ﴿لقد رضى الله عن المؤمنين إذ يبايعونك تحت الشجرة﴾، وقد بايعوه على الموت.</p>
<p>&nbsp;عن سيدنا عبادة بن الصامت أن رسول الله قال:&nbsp;(بايعونى على ألا تشركوا بالله شيئاً ولا تسرقوا ولاتزنوا ولا تقتلوا أولادكم ولا تأتوا ببهتان تفترونه بين أيديكم وأرجلكم ولا تعصوا فى معروف فمن وفى منكم فأجره على الله ومن أصاب من ذلك شئ فعوقب فى الدنيا فهو كفاءة له ومن أصاب منه شئ ثم ستره الله عز وجل فهو إلى الله إن شاء عفا عنه وان شاء عاقبه فبايعناه على ذلك). رواه البخارى.</p>
<p>3- لماذا تكون المبايعة بالتلقين؟</p>
<p>ثبتت مبايعة رسول الله لأصحابه جماعة بتلقينهم لا اله إلا الله فعن سيدنا شداد بن أوس قال كنا عند رسول الله فقال (هل فيكم غريب) يعنى [أهل الكتاب] قلنا: لا يا رسول الله فأمر بغلق الباب ثم قال : (ارفعوا أيديكم وقولوا لا اله إلا الله) فرفعنا أيدينا وقلنا: لا اله إلا الله، فقال: (الحمد لله، اللهم بعثنى بهذه الكلمة وأمرتنى بها، ووعدتنى عليها الجنة، وانك لا تخلف الميعاد). ثم قال (ألا أبشروا فان الله قد غفر لكم) رواه أحمد والطبرانى.</p>
<p>وبذلك غفر الله لهم بمبايعتهم لرسول الله ، وقد تكرر نفس الشيء مع سيدنا على بن أبى طالب وسيدنا أبى بكر الصديق عندما لقنهم الرسول ، لا اله إلا الله مع تغميض العينيين وسيرد ذلك لاحقاً.</p>
<p>4- هل مبايعة شيخ أو ولى أمر مستحدث؟</p>
<p>لا تعد المبايعة أمر مستحدث وذلك للأدلة التالية:</p>
<p>- العلماء ورثة الأنبياء كما أخبر النبى (رواه الترمذى).</p>
<p>- والأنبياء لا يورثون درهماً ولا متاع.</p>
<p>- فالشيخ العالم عندما يأخذ البيعة على السمع والطاعة إنما هى على النهج الذى شرعه الله وسنة رسوله .</p>
<p>- بل إن الآية قد جاءت صريحة فى أن أخذ الرسول البيعة إنما هى لله وان كانت بيده .</p>
<p>&nbsp;قد ذكرنا فائدة الشيخ ودوره، وانه يدعوا إلى الله، وهو يرشد إلى طرق السير إلى الله، وقد تكفل الله بوجود العلماء العاملين على نهج رسول الله فقال تعالى: ﴿قل هذه سبيلى أدعوا إلى الله على بصيرة أنا ومن اتبعنى﴾ (يوسف &ndash; 1088).</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
