﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">الطريقة البرهانية</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/shaikh.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				أبنـاء الشيخ محمد عثمان عبده البرهانى
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title">الطريقة البرهانية الدسوقية الشاذلية ويشار لها اختصارا (البرهانية)</p>
				<p class="card-title">سبب هذه التسمية هو:</p>
				<p>
					<b>البرهانية:</b><br/>
					مشتقة من كلمة (برهان) إشارة إلى برهان الدين وهى كنية سيدى إبراهيم الدسوقى القطب الكبير المعروف وهو صاحب الطريقة ومنشئها.
				</p>
				<p>
					<b>الدسوقية:</b><br/>
					مشتقة من كلمة (دسوق) نسبة إلى مدينة دسوق بمحافظة كفر الشيخ والتى هى مقر إقامة وعبادة سيدى إبراهيم الدسوقى حتى انتقاله وفيها مقامه المشهور.
				</p>
				<p>
					<b>الشاذلية:</b><br/>
					مشتقة من كلمة (الشاذلى) نسبة إلى خال سيدى إبراهيم الدسوقى وهو القطب الكبير المعروف سيدى أبو الحسن الشاذلى.
				</p>
				<p>
					<b>والطريقة (البرهانية) هى نفسها الطريقة (البرهامية)</b><br/><br/>
					فالبرهامية أيضا نسبة إلى سيدى إبراهيم الدسوقى ومشتقة من كلمة (إبراهيم)
					<br/><br/>
					والاسم المشهور للطريقة فى بلد شيخها ومحييها سيدى فخر الدين محمد عثمان عبده البرهانى وفى كل البلاد العربية والأوربية هو البرهانية
					<br/>
					أما اسمها فى مصر الإمام الحسين بلد سيدى إبراهيم الدسوقى صاحبها ومنشئها فهو البرهامية
				</p>
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
