﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">النسب الشريف</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/shaikh.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				النسب الشريف
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title">إنما يريد الله ليذهب عنكم الرجس أهل البيت ويطهركم تطهيرا</p>
				<p>
					هذا هو النسب الشريف للقطب الفرد الجامع الكبير؛ غوث زمانه (الشيخ إبراهيم) شيخ الطريقة البرهانية الدسوقية الشاذلية، سليل بيت النبوة الكريم، المشرقة شمس مولده   فى 1357هـ - 1938م من وادى حلفا بالسودان، اللاحق بالرفيق الأعلى فى يوم الأربعاء 26 شعبان 1424هـ - 22 أكتوبر 2003م المالكى المذهب كأبيه ومُوَرِّثه مقامه العظيم (الشيخ محمد عثمان عبده البرهانى) المكنى عند أهل التمكين بالإمام فخر الدين؛ الطالعة أنوار ميلاده السعيد   من وادى حلفا أيضا فى 1320هـ - 1902م، والمنتقل إلى غيوب عُلاه ملبياً نداء مولاه فى 21 جمادى الثانية 1403هـ - 4 أبريل 1983م .. فهو السيد إبراهيم بن السيد محمد بن السيد عثمان بن السيدة آسيا بنت كلثومة بنت تكة بنت موسى بن عالم بن خضر بن على بن نصر الله بن موسى بن عيسى بن شريف بن يوسف بن عرك الدين بن نصر الدين بن سراج الدين بن عون بن هوبر بن حسين بن نصر الدين بن قيس بن نافع بن قاسم بن عمر بن عمران بن نور الدين بن مفرج بن الحسين بن إبراهيم بن محمد بن أبو بكر بن إسماعيل (ساكن فاس) بن عمر بن على بن عثمان بن حسين بن محمد بن موسى بن يحيى بن عيسى بن الإمام حسن الخالص الملقب بالحسن العسكرى بن الإمام على الهادى بن الإمام محمد الجواد بن الإمام على الرضا بن الإمام موسى الكاظم بن الإمام جعفر الصادق بن الإمام محمد الباقر بن الإمام على زين العابدين بن سيدنا ومولانا الإمام الحسين بن السيدة فاطمة الزهراء بنت سيدنا ومولانا رسول الله   ورضى الله تبارك وتعالى عنهم أجمعين
				</p>

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
