﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">سيرة الشيخ</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/shaikh.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				مولانا الشيخ والطريقة
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p>
					الطريقة البرهانية الدسوقية الشاذلية هى الطريقة الممزوجة ويرجع أصلها إلى سيدى إبراهيم الدسوقى وانتقلت الطريقة من سيدى أبى الحسن الشاذلى إلى حفيده سيدى أبى المواهب الشاذلى الذى يعتبر أول من أخذ لواء هذه الطريقة الممزوجة وقد سافر   إلى المغرب وفى المغرب أعطى الطريقة لسيدى أحمد زروق المغربى ثم سافر سيدى أحمد زروق إلى السودان وبذلك انتقلت الطريقة من المغرب إلى السودان وأثناء وجود سيدى احمـد زروق بالسودان أعطى عهد الطريقة لسيدى أبى دنانه ومنه لحفيده الشيخ ادريس ومنه للشيخ فضل وهو من أجداد الشيخ ومنه للشيخ عثمان حامد ومنه إلى مولانا الشيخ محمد عثمان عبده البرهانى وتوإلى نشر الطريقة على يد هذه الاسره الكريمة ثم تولى ريادتها ابنه الامام الشيخ إبراهيم ثم استخلف من بعده ابنه الإمام الشيخ محمد  أجمعين وأرضانا بهم ...
				</p>
				
				<p class="card-title">مقابلتى للشيخ عثمان حامد</p>
				<p class="card-title"><small>(الطريق غالى)</small></p>
				<p>
					قول الإمام فخر الدين رضي الله عنه<br/>
					عندما أخذت الطريقة كنت صغيرا وكانت العائلة قد أصرت على تعليمي القراءة والكتابة ولا سيما أخوالي الذين أخذوني معهم إلى جبل الأولياء، حيث التحقت بمدرسة كان يديرها ابن عم الشيخ ماضي، كل ذلك وأنا دون البلوغ  ... وكنت كثير العبادة، أصلى كثيرا وأذكر كثيرا ... ثم وجدت أحد سكان القرية بيده مسبحة ويقرأ أورادا فأسرعت إليه كأنني عثرت على كنز فعرضت عليه أن يعلمني الأوراد ولكنه رفض وأخذت ألح عليه أكثر من شهرين دون فائدة ... وفى يوم اجتمعت العائلة على خبر وفاة أحد الأعمام وأثناء الاتفاق على السفر إلى حلفا لتقبل العزاء ... إذا بي أمام الرجل الذي رفض أن يعطيني الأوراد ويشير لي إلى الشيخ عثمان حامد ويقول اذهب إلى هذا الشيخ ليعطيك الأوراد فتوجهت إليه واستعطفته ليعطيني الإذن بالأوراد والطريقة ... فالتف حوله أخوالي وقالوا: لما لا تعطه الطريقة ألست عمه؟ أليس هو ابننا؟ فقال لهم: الطريق جد لا هزل وإني لم أعط عهد الطريقة إلا لشخصين أحدهما في تركيا والآخر في المغرب، فقالوا: أعط محمدا الطريقة لعله يصبح ذا شأن كبير ... فقبل بعد إلحاح وأعطاني الإذن بالطريقة ثم سافر في اليوم التالي ... ثم تركني ...  
				</p>
				
				<p class="card-title">لقاؤه مع الشيخ المكاشفى</p>
				<p>
					قال الشيخ محمد عثمان: "وقد عاشرت كثيراً من كبار شيوخ الصوفية ومنهم: الشيخ قريب الله والشيخ المكاشفى والشيخ عبدالباقى وكنت دائم الزيارات لهم، وكنت أحظى منهم باهتمام غير عادى رغم حداثة سنى.<br/>
					وكان عند الشيخ المكاشفى المريدين بالآلاف، وحدث أنى قمت بزيارته فوجدته فى استقبالى ومعه أربعة من كبار مرشديه؛ وقابلنى بحفاوة بالغة حتى بلغ العجب منهم أشده، ولما رأى الشيخ الدهشة على وجوه مريديه، خاطبهم قائلا: (هل تعرفون هذا؟ سيكون له شأن ... وسيكون شيخا لطريقته وستنتشر طريقته بما لا يخطر على بال أحد، ويا حظه من سيلحق بزمانه ويعتنق طريقته، ويصبح من أولاده).<br/>
					وقال الشيخ: ومع تحدثى مع الشيخ المكاشفى والتقائى به كثيراً فإننى لم أتلق عنه إرشاداً لأنه كان يسلك طريقة غير طريقتنا، وكذلك بالنسبة للشيخ عثمان حامد الذى أخذت عنه الطريقة فلم أره إلا نادراً ... وعندما علم الشيخ المكاشفى بزيوع صيتى بعض الشئ ومطالبة سيدى إبراهيم لى بالإرشاد وجهنى ذات مرة قائلاً:<br/>
					(يافقير البحر: ألست تقول إن أجدادك كانوا فى الطريقة البرهانية؟ قلت: بلى، قال: هل لديكم كتب؟ قلت: نعم لدينا الكثير والكثير. قال: ولم لاتقرأ فيها؟!.<br/>
					وكانت قولته هذه توجيهاً وإرشاداً منه إلى ضرورة إخراج هذا الكنز من الكتب والأوراد، وهذه الكتب كانت محفوظة لدى جدى؛ الذى كان هو والشيخ إدريس أخوين فى الطريقة، ثم حفظتها جدتى من بعده. وكان الشيخ أحمد ابن شقيق الشيخ المكاشفى وزوج ابنته يحتفظ هو الآخر ببعض الكتب عنده. فأخرجت كتاباً واحداً من كتبى من الموضع الذى كانت محفوظة به بداخل الأرض حيث وضعتها جدتى والتى دفعت بها الحيلة إلى أن تأمر خدمها بجمع هذه الكتب ووضعها فى أزيار ثم دفن هذه الأزيار بإحدى حجرات المنزل خوفاً من الثورة المهدية حيث كان الثائرون يحرقون الكتب. وأخرجت كتاباً واحداً منها فوجدته مخطوطاً باليد، وعرفت الفرق الشاسع عندما قارنت هذا الكتاب بما لدى الشيخ أحمد بن شقيق الشيخ المكاشفى، فأعدت الكتاب فى موضعه ... وقد كان لهذا الكنز من الكتب شأن عظيم بعد ذلك ... 
				</p>
				
				<p class="card-title">لقاءات</p>
				<p>
					لقد التقى   أصناف كثيرة من الناس وكان يجيب كل صنف بمفهومه الخاص به كما قال  : (خاطبوا الناس على قدر عقولهم).<br/>
					يقول رضي الله عنه عن لقاء مع العلماء:<br/>
					عندما كنت فى مصر سألنى بعض العلماء فقالوا: مشايخ الصوفية يقولون أن المحبة تفنى المحب عن حسه، فهل من دليل على ذلك؟ فقلت لهم: طبيعى، والدليل تعرفونه جيدا، ألم تسمعوا قول الحق تبارك وتعالى ﴿وقال نسوة فى المدينة امرأة العزيز تراود فتاها عن نفسه﴾ فامرأة العزيز أعدت وليمة لهؤلاء النسوة وعندما قدمت لهن من الفواكه أعطت كل واحدة منهن سكينا، ثم أمرت سيدنا يوسف أن يخرج عليهن فى أبهى حلة، وهنا يخبرنا الحق سبحانه عن هذا الموقف عندما وقعت عيونهن على سيدنا يوسف فيقول جل شأنه ﴿فلما رأينه أكبرنه وقطعن أيديهن﴾ فهل هناك إنسان عاقل يقطع يديه؟!! لقد تيمهن جمال سيدنا يوسف فوقعن فى غيبوبة محبته لدرجة أنهن قطعن أيديهن دون أن يشعرن ...!!!<br/>
					ويحدثنا أيضا رضي الله عنه  عن لقاء مع الشيوعية فيقول:<br/>
					ذات مرة مررت بجماعة من الشيوعيون، فسألنى أحدهم عن وجود الله؟<br/>
					ومثل هؤلاء لا يصلح مناقشتهم بالآية أو الحديث لأنهم غير مؤمنين، فيجب إقامة الحجة عليهم بمنطقهم، فضربت لهم عدة أمثلة:<br/>
					فقلت لهم: من أين يستخرج السمن؟ قالوا: من اللبن. فقلت لهم: فى أى اتجاه فى اللبن؟ فاحتاروا ولم يردوا جوابا. فقلت: إذاً السمن موجود وغير موجود. فقالوا: نعم. فقلت لهم الروح فى الجسد؟ فقالوا: نعم. فقلت: فى أى اتجاه فى الجسد؟ فاحتاروا ولم يردوا جوابا. فقلت: إذاً الروح موجودة وغير موجودة. فقلت لهم: هذا الكوب صنعه عمال فى مصنع؟ وهناك أيضا من اخترعه؟ فقالوا: نعم. فقلت لهم هل يستطيع هذا الكوب أن يعرف صانعه أو مخترعه؟!!! فاحتاروا ولم يردوا ...  
				</p>

				
				<p class="card-title">مناقب أبى العينين</p>
				<p>
					يقول الشيخ محمد عثمان رضي الله عنه : فى إحدى زياراتى لمصر ذهبت لزيارة سيدى إبراهيم الدسوقى، ولم يكن معى غير عشرة قروش وليس لى أقارب فى القاهرة وإنما كان أقاربى بالأسكندرية، وقد عزمت على أن أزورهم بعد زيارتى لسيدى إبراهيم ولو سعيا على الأقدام.
					<br/>
					وعندما ذهبت إلى دسوق ودخلت مقام سيدى إبراهيم فى الصباح الباكر وجلست فى المكان الذى اعتدت أن أجلس فيه وهو ما بين مقامى سيدى إبراهيم وسيدى موسى أبو العمران، وقبيل الظهر جلس بجانبى شخص يرتدى جوالا وهو من الأولياء ولم يسبق لى أن رأيته، واقترب منى وقال لى: أنت ضيفى فلا ترد ضيافتى، فقبلت ضيافته وكنت أشعر بالخجل لأننى لا أملك غير عشرة قروش.<br />
					وعندما ذهبت معه سرنا مسافة قصيرة وإذا بقصر مشيد وفى غاية الجمال بناءً وأساساً فظننت أن هذا الشخص هو بواب هذا القصر، فإذا به صاحبه وبعد أن دخلنا القصر جلست فى بهوه، واستسمحنى أن يتغيب قليلا، وبعد قليل عاد وهو يرتدى أجمل الثياب وجلس بجانبى وأخذنا نتحدث، ثم قال لى أن موعد نومه قد حل فأذنت له، فغاب عنى ساعة ثم نزل وتوضأ وذهبنا سويا إلى المسجد لصلاة الظهر وبقينا حتى العصر ثم رجعنا إلى القصر وتناولنا الغذاء ... واستمر الحال على ذلك ... وفى اليوم الثالث لى أحببت أن أعرف قصته فقال لى أن أبوه من أبناء سيدى موسى وأمه من بنات سيدى عبد القادر الجيلانى، فسألته عن طريقته فأخبرنى أن طريقته لا يتكلمون عنها وسألته مرة أخرى فى اليوم التالى فكرر ما قاله واستمر الحال خمسة عشرة يوما وهو لا يزيد على ما قاله وعندها قلت له: يا أخى أنت تقيم بجوار سيدى إبراهيم فكيف لا تتحدث عن طريقتك؟ فقال: أنا برهانى الطريقة وسيدى إبراهيم لا يعطى الطريقة إلا لمن يأتيه. فقلت له: يأخى لفد أمرنا المشايخ بالاجتهاد. ولما ضيقت عليه قال لى: اورادى من الصبح إلى الضحى كذا وكذا ... وأوراد الظهر كذا وكذا ... وأوراد العصر كذا وكذا ... وأوراد المغرب كذا وكذا ... والثلث الأخير من الليل كذا وكذا ... ... ... فقلت له: إن كنت تقضى وقتك كله فى الأوراد فكيف تكسب رزقك. فقال لى أن أباه له أراضى كبيرة يعمل فيها فلاحون وله نصيب يأتيه نقدا فى أول كل شهر. ثم بدأ يحدثنى عن مناقب سيدى إبراهيم من أمهات الكتب التى أعرفها وفى نهاية هذه الجلسة أصبحت أعرف منافب سيدى إبراهيم تمام المعرفة رغم أنه كان متحيرا من عدم رغبة سيدى إبراهيم فى نشر مناقبه! ولكن الأولياء لا يحبون أن يتحدثوا كثيرا عن هذه المناقب لأنها يمكن أن تصيب المريد بالغرور وتؤدى إلى تركه الأوراد ...
				</p>

				
				<p class="card-title">نسب الطريقه</p>
				<p>
					كان لسيدى أبى الحسن الشاذلى حفيد اسمه ابو المواهب الشاذلى، الذى يعتبر أول من أخذ لواء الطريقه الممذوجه؛ الطريقه اليرهانيه الدسوقيه الشاذليه، ثم سافر الى المغرب. وفى المغرب أخذ سيدى احمد زروق المغربى هذه الطريقه الممزوجه، ثم سافر الى السودان، وأثناء وجوده فى السودان أعطى الطريقه لسيدى أبى دنانه وسمى كذلك لأن ذكر القلب لديه كان عاليا ومسموعا، واستطاع أن ينشر الطريقه بين الجعليين وفى شرق السودان، ثم رجع سيدى احمد زروق مره اخرى إلى المغرب. وقد أنجب سيدى أبو دنانه تسع بنات وولدا، ثم تزوجت البنات وتزوج الأبن، ثم أنجبت كل واحده منهن عشره أبناء، و أنجب الابن عشرة أبناء فيكون سيدى أبو دنانه أبا لعشره وجدا لمائه، وجميع أحفاده أولياء ومنهم سيدى أدريس الارباب، ومقامه كبير، وقد دفن فى العيلفون، وسيدى سوار الدهب وقد دفن بدنقله، وسيدى حسن ومقامه غير معروف، أما الأبن العاشر فاسمه غير معروف ولكنه إشتهر بالشيخ البيتى وطريقته تسمى بالبيتيه لانه انقطع للعباده فى بيته.<br />
					وقد ذهب أبناء وأحفاد أبى دنانه إلى المغرب وشاركوا سيدى أحمد زروق فى نشر الطريقه، ثم أمرهم بالرجوع إلى السوادن لنشر الطريقه بها. ومن ذلك أنه قال للشيخ ادريس، لتذهب إلى دنقله وتقابل الشيخ فضل وعليك أن تسلمه الطريقه "والشيخ الفضل من أجداد مولانا الشيخ محمد عثمان عبده البرهانى"، وطلب منه كذلك أن يستقر بالخرطوم، وقد نفذ سيدى ادريس ماقيل له، حيث سلم الطريقه للشيخ فضل فى دنقله ثم سافر الى العيلفون واقام بخلوه. ودفن بها، وقد قام الشيخ فضل بنشر الطريقه فى دنقله وبذلك تعتبر دنقله أول مدينه فى السودان تدخلها الطريقه البرهانيه الدسوقيه الشاذليه، ثم انتقلت الطريقه من الشيخ فضل الى مولانا الشيخ محمد عثمان عبده البرهانى عن طريق أجداده، وكان كل يوم يشاهد عليه من الخلع النورنيه مايبهر كل مستمع وناظر لدروسه ويندهش له كل ذى لب "وان الفضل بيد الله يؤتيه من يشاء" وانتشرت الطريقه على يديه فى كل البقاع، ومن آخركلامه رضى الله عنه قبل انتقاله: "بنى الله للاحباب بيتا، سماؤه هموم وجدرانه الحزن والضر"، ثم أردف قائلا: كونوا كما كنت فإنى مسافر "ولله ما فى السموات وما فى الارض وكفى بالله وكيلا"، وكان نشر الهدى على يدى حامل الامانه من بعده أمينه ووصيه سيدى الشيخ ابراهيم نجله الاكبر حيث توسعت الطريقه على يديه فى البلاد الاوربيه والافريقيه ولله الحمد ...
				</p>

				
				<p class="card-title">جدتى</p>
				<p>
					يقول سيدى فخر الدين :<br />
					 كانت جدتى تعرف منطق الطير، ومما يدل على ذلك أنها كانت تجلس ذات يوم لتدرس الفقه للرجال، فمر عليها غراب, وأخذ يصيح, فقالت لهم: قوموا من مجلسكم، فقالوا لها: لماذا؟ قالت إن هذا الغراب يقول: إن فلانا يسرق القش الخاص بك.<br />
					وكانت كثيرا ما تقرأ أورادا بالرطانة – وهى لغة أهل جنوب مصر وشمال السودان – وكانت تدعو، ومن دعائها ما ترجمته: يا الله، يامن لا تنفد خزائنه، يا الله اذْكُرنا أو ذَكِّرنا أو اقبلنا، يا الله ألهبنا بمحبتك وأفننا فيك، فأنت فينا ونحن بعيدون عنك، يا الله يامن تُفْرِح من يُفْرِح عبيدك، ويامن تقسو على من يقسو على عبيدك، وأخيرا كانت تقول: الحمد لله لأنه ليس ابن عم لأحد.<br />
					والكثير من الأولياء كانوا يرهبون جدتى - الرهبة هنا هى الإحترام - لان لديها أورادا بالرطانة - وهى لغة شمال السودان - ولأنها كانت على درجة سامية من التقوى والصلاح، وكان لديها الغريب من العلوم الدينية، ومن ذلك ما حكت لى في يوم من الأيام، إن إبراهيم الرشيد تلميذ الشيخ احمد بن إدريس قدم لزيارة بعض إتباع الطريقة، وكان فيهم شيخ يسمى بيرم، وكان قد أخذ مكانه في المجلس بعد أن قيد حماره بقيد محكم على شاطئ النيل، وعندما ذهبت جدتى لتتوضأ للصلاة، وجدت الحمار ينهق وهو بعيد عن الماء والعشب فقامت بفك القيد وذهبت به إلى الماء فارتوى ثم جاءت إلى الظل حيث القش الكثير، ثم أخذت تنادى وتقول: يا بيرم وإذا ببيرم يأتي مسرعا مرتعدا قائلا: مالك ياسيدتى؟ قالت له إنك لا تخاف الله، فقال لها: وكيف؟ فقالت: عندما تفك قيد حمارك وتطعمه وتسقيه تكون بذلك قد تقربت إلى الله بعملك هذا، فخوفك من الله يجعلك ترضى خلق الله.
				</p>


			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
