﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">شراب الوصل</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/shaikh.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				رشفة من شراب الوصل
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<h2 class="card-title text-center">منة الله</h2>
				<p class="text-center">

هُـمْ مِنَّةُ اللهِ الـعَـلِىُ لِــخَـلـقِهِ<br/>
هُمْ عَاقِلِى هُمْ نـاظِـرِى وَلِـسانِى<br/><br/>
أطْــفى بِهِـمْ  حَرَّ اللَّظَى وَسَـعِيرهَا<br/>
لَوْلا مَحَبَّتُهُمْ يُقـــالُ بِثَـــانِ<br/><br/>
لَوْلَا هَوَاهُمْ فِـى القُلُـوبِ وَفِى الْحَشا<br/>
مَا ذَاقَ قَــلْبٌ لَذَّةَ الإِيْمَـــانِ<br/><br/>
بِهِـمُ  اسْـتَبَانَ الْحَقُّ حَقًّا  وَانْجَـلَتْ<br/>
عَن كُلِّ مَكْـرُوبٍ هُمُومُ العَــأنِى<br/><br/>
رَوَتِ  الحَظَائِرُ فِـى  الْبَصَائِرِ نُــورَهَا<br/>
بَدَتْ الغُيُــوبُ بِحُبِّهِمْ تِبْــيانِى<br/><br/>
هَـلْ مِـنْ  مُحِـبٍ  لِلدِّيَـارِ يَؤُمُّهَا ؟<br/>
أَوْ مَنْ يَبيـعُ الرُّوحَ بِالرَّيْحَــان؟<br/><br/>
أسـعَى  إِلَى اللهِ الـكَــرِيمِ  بِنُورِهِمْ<br/>
وَلَما  أَخَـافَ  الْكُلَّ فَهْـوَ  أَمَـانِى<br/><br/>
نَعْـتُ  الأَمَـاجِدِ  كَالنُّجُومِ  وَنُورِهَـا<br/>
بِهِمُ اهْتَـدَى مَـن ضَلَّ فِى الوِدْيَانِ<br/><br/>
يَاأَيُّهَا النَّاسُ الرَّسُــولُ أَمَــدَّهُـمْ<br/>
هُـمْ مُنْيَـــتى  وَالدِّيـنُ  لِلدَّيَّانِ
				
				</p>
				
				<h2 class="card-title text-center">مولد سيدنا الحسين</h2>
				<p class="text-center">

قـل يا إمـامـاً لِلأَئِمَّةِ سَيـِّدًا<br/>
يـا مِـنْحَـةَ  الزَّهْرَاءِ  وَالنَّبَوِيَّةِ<br/><br/>

عُقِدَ الرَّجَاءُ عَلَيْكَ يَابْنَ المُصْطَفَى<br/>
يَاصِـنْوَ  فَيْضِ  النَّفْحَةِ  الْحَسَنِيَّةِ<br/><br/>

وَأَبًا لـزيـن الْعَابِدِينَ وَعِنْدَكُمْ<br/>
جَـــبْرُ الْكَسِيرِ بِزَيْنَبٍ وَرُقَيَّةِ<br/><br/>

فَالْخَيْرُ مـا شِئْتُمْ وَمَا شِئْتُمْ يَكُنْ<br/>
طَوْعـا فَأَنْتُمْ سـادَتِى وَوَسِيلَتِى<br/><br/>

فَاحْلُلْ بِفَضْلِكَ عَنْ لِسَانِى عُقْدَةً<br/>
كَىْ يَفْقَهُوا دُرَرًا بِفَضْلِكَ قِـيْلَتِ<br/><br/>

عَقِمَتْ نسـاءٌ أَنْ تَلِدْنَ مَثِيلَكُمْ<br/>
أَوْ كَالَّذِى جُــدْتُمْ عَلَيْهِ بِنَفْحَةِ<br/><br/>

فَلَعَلَّهُ مِـن بعـد ذَلِكَ  يَمْنَحَنْ<br/>
سِـرًّا بِهِ  تُشْفَى  الصُّدُورُ فَتَقْنُتِ<br/><br/>

وَلَعَلَّ جَدْبَاءَ  القُــلُوبِ  بِغَيْثِهِ<br/>
تَهْتَزُّ شُـــكْرًا ثُمَّ عِلْمًا تُنْبِتِ<br/><br/>

وَلَعَلَّهَا  تُؤْتِى ثِـمــاراً  بَعْدَمَا<br/>
تُجْدِى  الْوَسِـيلَةُ  بِالإِمَامِ وَعِتْرَةِ<br/><br/>

فَهْوَ الَّذِى أَعْطَى الْعُبَيْدَ زِمَـامَها<br/>
كَــرَمًا  وَيَعْلَمُ  مَبْدَئِى  وَنِهَايَتِى<br/><br/>

وَلَدَيْهِ مِـفْـتاحُ  الْمَعَانِى  جُمْلَةً<br/>
حَـاشَـا يُمَارَى بِالَّذِى أَوْ بِالَّتِى<br/><br/>

لَوْلا يُفَنِّدُنِى اللَّئِيمُ لأَظْـهَـرَتْ<br/>
مَأْثُورَتِى كُلَّ  الْغُيُوبِ  وَأفْشَـتِ<br/><br/>

لَكِنَّهَا  مَـبْـطُونَةٌ  فِى ذَاتِــهَا<br/>
كَلِمَاتُهَا  تَنْفِى  وَحِـــيْناً تُثْبِتِ<br/><br/>

فَالنَّفْىُ وَالإِثْـبَـاتُ تَوْحِيدُُ وَمَا<br/>
غَيْرُ الْمُوَحِّدِ قَــالَ مِثْلَ مَقَالَتِى<br/><br/>

فَـبِـهِ اْنتَفَى جَهْلُُ وَأُثْبِتَ عِلْمُهُ<br/>
فِى مُحْكَمَاتِ صُدُورِ أَهْلِ مَحَبَّتِى<br/><br/>

وَإِذَا انتَفَى عِــــلْمٌ بِغَيْرِيَّاتِهِ<br/>
تَمَ  الْمُرَادُ  لِمَــنْ تَرَدَّى بُرْدَتِى<br/><br/>

				</p>
				
				<h2 class="card-title text-center">زيارة سيدنا الحسين</h2>
				<p class="text-center">

مَاذَا تَقُولُ  إِذَا  قَصَـدْتَ  رِحَـابَهُ<br/>
مَاذَا تَقُولُ وَفِى حَشَاكَ ضِرَامُ<br/><br/>

مَاذَا تَقُـولُ وَأَنْتَ أَنْتَ وَمَـنْ هُوَ<br/>
أَنَّى تَرَاهُ وَقَدْ  عَــلاهُ  لِثَامُ<br/><br/>

قُلْ يَا أَبَـا الإِكْـرَامِ  هَذِى حَالَتِى<br/>
أَنْتَ الرَّجَا الْمَأْمُولُ أَنْتَ إِمَامُ<br/><br/>

قُلْ يَا أَبَا الإِنْعَـامِ إِنَّـا فِى الْحِمَى<br/>
هَذَا  حِمَـاكُمْ رَوْضَةٌ  وَمَقَامُ<br/><br/>

قُلْ يَا عَطَــاءَ اللهِ مَـنْ دَانَتْ لَهُ<br/>
كُلُّ الرِّقَابِ  لِتُوصَلَ  الأَرْحَامُ<br/><br/>

أَشْكُـو إِلَيْكَ وَلَسْتُ أُفْشِى خَافِيًا<br/>
عَنْكُمْ  فَأَنْتُمْ  لِلأَنَـامِ زِمَـامُ<br/><br/>

يَا ثَـانِىَ اثْنَـيْنِ الْبَتُولُ تَمَخَّضَتْ<br/>
عَنْكُمْ  لِتَلْقَى سَعْـدَهَا  الأَيَّامُ<br/><br/>

تَاللهِ مَا حَنَـثَ  الْيَمِـينُ  فَإِنَّـكُمْ<br/>
أَنْتُمْ أَمَـانُ الْكَوْنِ أَنْتَ سَلامُ<br/><br/>

يَا سَيِّـدًا مِـنْ سَيِّـدٍ  وَمُبَجـَّلٍ<br/>
يَا مَلْجَأَ الأَحْبَابِ حَيْثُ أَقَامُوا<br/><br/>

فَلَكُمْ  حَبِيـبَ اللهِ عَيْـنُ  عِنَـايَةٍ<br/>
وَلَوَاحِـظٌ  تُرْمَى  بِهِنَّ  سِهَامُ<br/><br/>

أَنْتُمْ  مَعِـينُ  الشَّـارِبِينَ  جَمِيعِهِمْ<br/>
وَعُيُونُ  رِىٍّ  مِسْـكهُنَّ خِتَامُ<br/><br/>

عَشِـقَتْكَ عَيْنِى فَابْتُلِيتُ بِصَحْوَتِى<br/>
حَاشَا  لِعَيْنٍ  شَـاهَدَتْكَ  تَنَامُ<br/><br/>

يَا نِعْمَ بَطْـنٍ قَدْ  حَـوَاكَ  وَيَا  لُهُ<br/>
نَسَبُُ لَهُ أَهْلُ السَّمَـا خُدَّامُ<br/><br/>

وَقَدْ اصْطُفِيتُ وَأَنْتَ أَنْتَ مُؤَيِّدِى<br/>
وَلِبَـاسِىَ التَّقْرِيبُ وَالإِحْرَامُ
				</p>
				
				<h2 class="card-title text-center color-black">العلم والمكابرة</h2>
				<p class='card-title'>  يقول سيدى فخر الدين رضي الله عنه :</p>
				<p class="text-center">

ويصغر فى عين الأكابر كل من<br/>
يكـابر جهلا فى شرائع ربـه<br/><br/>

ويشرب من صـافى المنائح كل<br/>
من يعظم  أهل الله طوعا  بقلبه 
</p>
<p class='card-title color-black'>ويقول أيضا سيدى فخر الدين رضي الله عنه :</p>
<p class="text-center">

العلم كنـز والصدور منازل<br/>
وبغيره تبـدوا  الصدور قفارا<br/><br/>

وإذا  أميط الستر  عند بلوغه<br/>
أوج الكمـال يجانب الأغيارا<br/><br/>

فى كل مرقى نستقيه منـابع<br/>
عطشــى إليه صغائرا وكبارا<br/><br/>

صدر حوى علما لدنـيا  به<br/>
بعـض العطايا يصدق الإخبارا<br/><br/>

أهل العطايا أثقلت أجيادهم<br/>
لكنهم ما جــاوزوا الأستارا<br/><br/>

من كل بـاب يدخلون بإذنه<br/>
لبسوا إذا شاءوا الولوج دثارا<br/><br/>

مدثرين لكل أمــر بالذى<br/>
يعطون منـه إذا  دعوا  أسرارا<br/><br/>

ومحلقين رؤوسـهم فعقولهم<br/>
قـد أسلمت والليل صار نهارا<br/><br/>

ومقصرين الحول لمـا يؤمروا<br/>
قـد  سلموا  الإقبال والإدبارا<br/><br/>

صدق الرسول مبلغا عن ربه<br/>
كــان القرى والدار والديارا<br/><br/>

				</p>
				
				<h2 class="card-title text-center">طعمـوا غـراما</h2>
				<p class="text-center">

أهل العنـاية إن تولـوا سـيدا<br/>
لغدا متـاعا يشـترى ويبـاع<br/><br/>

طعموا غراما والصبابة مشـرب<br/>
والحب سلواهم ظموا أو جاعوا<br/><br/>

باتـوا  وعـين الله ناظـرة لهم<br/>
إن يفـزع الثقـلان لا يرتاعوا<br/><br/>

حملوا من الورق  المـؤرق ما به<br/>
نزلـوا بأخراهم شروا وابتاعوا<br/><br/>

ومن اكتسى حلل الرضا من ربه<br/>
فالزهد خـز والقشـيب رقاع<br/><br/>

ومن اعتلى أمـواج بحـر محبتى<br/>
فأنا السـفينة  والغرام شـراع<br/><br/>

ملك تتوجـه  العنـاية بالبـها<br/>
والكل  مـأمـور وثم  مطـاع<br/><br/>

ثملا ترنحـه الصبـابة  لو بـدا<br/>
من شمس حسن الواصلين شعاع
				
				</p>	

				<h2 class="card-title text-center">سـيدات نساء العالمين</h2>
				<p class="text-center">

ســيدات الكون كل<br/>
أعطـيت فضلا  حبيا<br/><br/>
فالتى طــلبت نجـاة<br/>
قد حبـاها موسـويا<br/><br/>
أخت هـارون حبـاها<br/>
الله  نورا عيســويا<br/><br/>
فهى أخت لى وأم الطهر<br/>
ما  كــانت  بغيـا<br/><br/>
أمنا الزهـراء ذات ال<br/>
إجتبـا  نـورا ثنـيا<br/><br/>
بنت من خصت بخير ال<br/>
خلـق بـدءا أوليـا<br/><br/>
يا رســول الله يا من<br/>
خص  بالـزهرا  عليا<br/><br/>
أعطت  الزهرا عظيمين<br/>
ومـا انتبـذت قصيا
				
				</p>
				
				<h2 class="card-title text-center">السيدة زينب</h2>
				<p class="text-center">

تبارك من أفنى الدهـور بقاؤه<br/>
يقلبـنا فى عــزة  سـرمـدية<br/><br/>

ويمنحنا فضلا  يضىء  غيـوبنا<br/>
فينفحـنا من  نفـحة  زينبــية<br/><br/>

نرتل  آيـات  الثنـاء  ببـابها<br/>
فيكشف عن بعض الستور الرخية<br/><br/>

نقلب ماشئـنا الوجوه بكرمها<br/>
فنشـهد آيـات البطـون الخفية<br/><br/>

فأولهـا لا يبـلغ الختـم بدءه<br/>
وغاية سـؤلى فى بلـوغ  الرضية<br/><br/>

وآخرهـا لا يبـلغ العلم سره<br/>
ولكنـها  ترعى رعـاة  الرعـية<br/><br/>

فننهل من نبـع الهدايـة تارة<br/>
ونكرع من  فيـض الهبات  العلية<br/><br/>

ونشرب مما راق حول  مقامها<br/>
ونسبح فى بحر  الصفـات  السنية<br/><br/>

ونرتع مما رق سـتر خـدوره<br/>
ونمرح فى سـوح الرمـوز الندية<br/><br/>

ونقرأ فى طور السنـين عجائبا<br/>
ونرزق  من رقم السطور  الخفـية<br/><br/>

بزينب الكـبرى سألتك جدها<br/>
دوام حبيـات الأمـان لعـترتى
				
				</p>
				

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
