﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">البرهانية</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/burhaniyat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
			
      <div class="list-block media-list">
        <ul>
          <li>
            <a href="1-1.html" class="item-link item-content">
              <div class="item-media"><img src="images/lists/001.jpg" width="44"/></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">الطريقة البرهانية</div>
                </div>
                <div class="item-subtitle">طريقة سيدى إبراهيم القرشى الدسوقى</div>
              </div>
			 </a>
          </li>
          <li><a href="1-2.html" class="item-link item-content">
              <div class="item-media"><img src="images/lists/002.jpg" width="44"/></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">نسب الشيخ</div>
                </div>
                <div class="item-subtitle">النسب الشريف للقطب الفرد الجامع الكبير</div>
              </div>
			 </a>
		  </li>
          <li><a href="1-3.html" class="item-link item-content">
              <div class="item-media"><img src="images/lists/003.jpg" width="44"/></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">سيرة الشيخ</div>
                </div>
                <div class="item-subtitle">مولانا الشيخ والطريقة</div>
              </div>
			 </a>
		  </li>
           <li><a href="1-4.html" class="item-link item-content">
              <div class="item-media"><img src="images/lists/004.jpg" width="44"/></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">شراب الوصل</div>
                </div>
                <div class="item-subtitle">أبيات من ديوان شراب الوصل</div>
              </div>
			 </a>
		  </li>
        </ul>
      </div>

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
