﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">الأوراد مكتوبة ومسموعة</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page02" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
		<div class="list-block media-list mt-0">
			<ul>
				<li>
					<a href="awrad/1.html" class="item-link item-content">
						<div class="item-media"><img src="images/lists/a01.jpg" width="80"/></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">الأسـاس</div>

							</div>
							<div class="item-subtitle">الأوراد المربوطة للطريقة</div>
							<div class="item-text">تقرأ مرة فى الصباح ومرة فى المساء</div>
						</div>
					</a>
				</li>
				<li>
					<a href="awrad/2.html" class="item-link item-content">
						<div class="item-media"><img src="images/lists/a02.jpg" width="80"/></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">التحصين الشريف</div>

							</div>
							<div class="item-subtitle">الأوراد المربوطة للطريقة</div>
							<div class="item-text">تقرأ مرة فى الصباح ومرة فى المساء</div>
						</div>
					</a>
				</li>
				<li>
					<a href="awrad/3.html" class="item-link item-content">
						<div class="item-media"><img src="images/lists/a03.jpg" width="80"/></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">الحزب الكبير</div>

							</div>
							<div class="item-subtitle">الأوراد المربوطة للطريقة</div>
							<div class="item-text">تقرأ مرة فى الصباح ومرة فى المساء</div>
						</div>
					</a>
				</li>
				<li>
					<a href="awrad/4.html" class="item-link item-content">
						<div class="item-media"><img src="images/lists/a04.jpg" width="80"/></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">الحزب الصغير</div>

							</div>
							<div class="item-subtitle">الأوراد المربوطة للطريقة</div>
							<div class="item-text">تقرأ مرة فى الصباح ومرة فى المساء</div>
						</div>
					</a>
				</li>
				<li>
					<a href="awrad/5.html" class="item-link item-content">
						<div class="item-media"><img src="images/lists/a05.jpg" width="80"/></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">الصلاة الذاتية</div>

							</div>
							<div class="item-subtitle">الأوراد المربوطة للطريقة</div>
							<div class="item-text">تقرأ مرة فى الصباح ومرة فى المساء</div>
						</div>
					</a>
				</li>
				<li>
					<a href="awrad/6.html" class="item-link item-content">
						<div class="item-media"><img src="images/lists/a06.jpg" width="80"/></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">صلاة ابن بشيش</div>

							</div>
							<div class="item-subtitle">الأوراد المربوطة للطريقة</div>
							<div class="item-text">تقرأ مرة فى الصباح ومرة فى المساء</div>
						</div>
					</a>
				</li>
				<li>
					<a href="awrad/7.html" class="item-link item-content">
						<div class="item-media"><img src="images/lists/016.jpg" width="80"/></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">الفواتح</div>

							</div>
							<div class="item-subtitle">الأوراد المربوطة للطريقة</div>
							<div class="item-text">تقرأ مرة فى الصباح ومرة فى المساء</div>
						</div>
					</a>
				</li>
				<li>
					<a href="awrad/8.html" class="item-link item-content">
						<div class="item-media"><img src="images/lists/018.jpg" width="80"/></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">الحزب السيفى</div>
							</div>
							<div class="item-subtitle">من الأوراد التكميلية</div>
							<div class="item-text">تقرأ مرة فى الصباح ومرة فى المساء</div>
						</div>
					</a>
				</li>
			  
			  
        </ul>
      </div>
	

    </div>
  </div>
</div>
