﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">الأوراد</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page02" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
			
			  <div class="list-block media-list">
				<ul>
				  <li>
					<a href="2-1.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/005.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">الأوراد نصية و صوتية</div>
						</div>
						<div class="item-subtitle">الأوراد المربوطة للطريقة مكتوبة و مسموعة</div>
					  </div>
					 </a>
				  </li>
				  <li><a href="#" class="item-link item-content open-book-gallery">
					  <div class="item-media"><img src="images/lists/006.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">كتاب الأوراد</div>
						</div>
						<div class="item-subtitle">الأوراد المربوطة للطريقة مصورة</div>
					  </div>
					 </a>
				  </li>

				</ul>
			  </div>

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
