﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page03" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
			
      <div class="list-block media-list">
        <ul>
          <li>
            <a href="letters/1.html" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2016</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الثالثة والثلاثين.</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="letters/2.html" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2015</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الثانية والثلاثين.</div>
              </div>
			 </a>
          </li>
          <li><a href="letters/3.html" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2014</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الواحد والثلاثين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2013.html" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2013</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الثلاثين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2012.html" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2012</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية التاسعة والعشرين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2011.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2011</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الثامنة والعشرين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2010.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2010</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية السابعة والعشرين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2009.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2009</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية السادسة والعشرين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2008.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2008</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الخامسة والعشرين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2007.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2007</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الرابعة والعشرين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2006.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2006</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الثالثة والعشرين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2005.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2005</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الثانية والعشرين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2004.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ محمد فى ابريل 2004</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الحادية والعشرين.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2003.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ إبراهيم فى ابريل 2003</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية العشرون.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2002.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ إبراهيم فى نوفمبر 2002</div>
                </div>
                <div class="item-subtitle">بمناسبة زيارة أبناءه فى الإمارات.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2002-2.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ إبراهيم فى ابريل 2002</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية التاسعة عشر.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2001.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ إبراهيم فى ابريل 2001</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية الثامنة عشر.</div>
              </div>
			 </a>
		  </li>
          <li><a href="letters/2000.html" class="item-link item-content">

              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">خطاب مولانا الشيخ إبراهيم فى ابريل 2000</div>
                </div>
                <div class="item-subtitle">بمناسبة الحولية السابعة عشر.</div>
              </div>
			 </a>
		  </li>


        </ul>
      </div>

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
