﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">المكتبة</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page02" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/lib.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
			  <div class="list-block media-list">
				<ul>
				  <li>
					<a href="lib/1.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/llib01.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">الكتب والمجلات</div>
						</div>
					  </div>
					 </a>
				  </li>
				  <li><a href="lib/2.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/llib02.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">الشرائط والاسطوانات</div>
						</div>
					  </div>
					 </a>
				  </li>
				  <li><a href="lib/3.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/llib03.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">الصور</div>
						</div>
					  </div>
					 </a>
				  </li>
				  <li><a href="lib/4.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/llib04.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">الكتيبات المطبوعة</div>
						</div>
					  </div>
					 </a>
				  </li>
				  <li><a href="lib/5.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/llib05.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">قصائد صوتية</div>
						</div>
					  </div>
					 </a>
				  </li>
				</ul>
			  </div>

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
