﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">الموالد والمناسبات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page03" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/molid.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title">موالد أهل البيت</p>
				<p>
					<b>قال تعالى ﴿قل لا أسألكم عليه أجرا إلا المودة فى القربى﴾</b><br/>
					<b>قال صلى الله عليه وسلم (مثل أهل بيتى كمثل سفينة نوح من ركب فيها نجا ومن تخلف عنها غرق)</b><br/>
					احتفالات موالد أهل البيت فى مصر هى موائد خير ممدودة ونفحات من أيام الدهر، ويحتفل أهل الله فى مصر بموالد أهل البيت فى مواعيد سنوية ثابتة إلى حد ما:
				</p>
				<p>
				فهناك موالد ثابتة هجريا كمولد النبى   (12 ربيع الأول).
				</p>
				<p>
					وهناك موالد مرتبطة بتاريخ هجرى معين وليس تاريخ الميلاد نفسه كمولد السيدة زينب رضي الله عنها ، فالسيدة زينب رضي الله عنها ولدت فى شهر شعبان فى السنة الخامسة الهجرية ودخلت مصر فى أواخر شهر رجب سنة 61 هجرية وتوفيت فى منتصف شهر رجب سنة 62 هجرية ويتم الاحتفال بمولدها يوم الثلاثاء الأخير من شهر رجب وذلك لأن هذا الحين يوائم دخولها مصر بل وانتقالها فيه أيضا إلى الرفيق الأعلى.
				</p>
				<p>
					كما أن هنالك موالد حددتها الدولة بالسنة الميلادية لأن التواريخ الهجرية تتعارض مع مواسم أخرى كموسم جمع القطن والحصاد مثلا، وهكذا.
				</p>
				<p>
					وهاك جدول يبين مواعيد الاحتفال ببعض موالد ساداتنا أهل البيت الأكرمين رصي الله عنهم  والتى يتم تحديثها دوريا حسب التواريخ المحددة من وزارة الأوقاف المصرية
				</p>
			
      <div class="list-block media-list">
        <ul>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد سيدى أبى الحسن الشاذلى</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 2 ذى الحجة 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الجمعة 9 ذى الحجة</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">رجبية سيدى على زين العابدين</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 13 المحرم 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> السبت 20 المحرم</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">المولد النبوى الشريف</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> أول ربيع أول 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الإثنين 12 ربيع أول</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد السيدة فاطمة النبوية</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 21 ربيع أول 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الأربعاء 5 ربيع ثان</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">حولية سيدى فخر الدين</div>
                </div>
				<div class="item-title">وسيدى الشيخ إبراهيم</div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 22 جماد أول 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الخميس 3 جماد ثان</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد مولانا الإمام الحسين</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 18 ربيع ثان 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الثلاثاء 25 ربيع ثان</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد سيدى السلطان أبو العلا</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 19 ربيع ثان 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الأربعاء 26 ربيع ثان</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">رجبية سيدى أحمد البدوى</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 11 جماد الآخر 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الخميس 17 جماد الآخر</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">رجبية سيدى إبراهيم الدسوقى</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 25 جماد الآخر 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الخميس 2 رجب</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد السيدة سكينة</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 16 جماد أول 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الأربعاء 25 جماد أول</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد السيدة نفيسة</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 30 جماد أول 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الأربعاء 9 جماد الآخر</div>
              </div>
			 </a>
          </li>
		  
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد السيدة رقية</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 30 جماد أول 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الخميس 10 جماد الآخر</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title"> ميلاد السيدة فاطمة الزهراء</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 20 جماد الآخر 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الأحد 20 جماد الآخر</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد سيدى على زين العابدين</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 5 جماد الآخر 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> السبت 19 جماد الآخر</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد السيدة زينب</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 4 رجب 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الثلائاء 28 رجب</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">الإمام الشافعى</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 27 رجب 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الأربعاء 6 شعبان</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">السيدة عائشة</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 1 شعبان 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الجمعة 15 شعبان</div>
              </div>
			 </a>
          </li>
		  
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">ميلاد سيدنا الحسين</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 4 شعبان 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الإثنين 4 شعبان </div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">ميلاد السيدة زينب</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 5 شعبان 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الثلاثاء 5 شعبان </div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">ميلاد سيدى على زين العابدين</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 6 شعبان 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الأربعاء 6 شعبان</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد مولانا الإمام الحسن</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 15 رمضان 1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> السبت 15 رمضان</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">مولد سيدى أحمد البدوى</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 16 ذى الحجة  1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الخميس 22 ذى الحجة</div>
              </div>
			 </a>
          </li>
          <li>
            <a href="#" class=" item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">سيدى إبراهيم الدسوقى</div>
                </div>
                <div class="item-subtitle color-black"><b>الافتتاح:</b> 30 ذى الحجة  1435</div>
				<div class="item-subtitle color-black"><b>الليلة الختامية:</b> الخميس 6 المحرم</div>
              </div>
			 </a>
          </li>
          

        </ul>
      </div>

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
