﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">عالم البرهانية</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page02" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/world.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title">عالم البرهانية يخبرك عن الزوايا حول العالم وكيفية الإتصال بها .</p>
				<br/>
			  <div class="list-block media-list">
				<ul>
				  <li>
					<a href="world/asia.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/asia.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">اسيا</div>
						</div>
						<div class="item-subtitle">الطريقة البرهانية فى أسيا</div>
					  </div>
					 </a>
				  </li>
				  <li><a href="world/euro.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/euro.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">أوروبا</div>
						</div>
						<div class="item-subtitle">الطريقة البرهانية فى أوروبا</div>
					  </div>
					 </a>
				  </li>
				  <li><a href="world/afri.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/afri.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">أفريقيا</div>
						</div>
						<div class="item-subtitle">الطريقة البرهانية فى أفريقيا</div>
					  </div>
					 </a>
				  </li>
				  <li><a href="world/amri.html" class="item-link item-content">
					  <div class="item-media"><img src="images/lists/amri.jpg" width="44"/></div>
					  <div class="item-inner">
						<div class="item-title-row">
						  <div class="item-title">أمريكا الشمالية</div>
						</div>
						<div class="item-subtitle">الطريقة البرهانية فى أمريكا الشمالية</div>
					  </div>
					 </a>
				  </li>

				</ul>
			  </div>

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
