﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">تساؤلات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page07-2" class="page">
  
    <div class="page-content hide-bars-on-scroll">
	
		<div class="list-block media-list mt-0">
			<ul>
				<li>
					<a href="7-2-1.html" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حسن حسين</div>
							<div class="item-title-row">
								<div class="item-title">أدركوا الإسلام</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">راين عماد</div>
							<div class="item-title-row">
								<div class="item-title">هل الأولياء أعلى من الأنبياء؟</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حسين</div>
							<div class="item-title-row">
								<div class="item-title">هل نكره سيدنا عمر؟</div>

							</div>
							<div class="item-text">مزين ناصر</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حسن حسين</div>
							<div class="item-title-row">
								<div class="item-title">ما معنى القطب الغوث؟</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">محمد عطية</div>
							<div class="item-title-row">
								<div class="item-title">ما أصل كلمة تصوف في اللغه والدليل؟</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حورما عبده</div>
							<div class="item-title-row">
								<div class="item-title">هل فعلا الأولياء يتصرفون؟</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">فهد حسين</div>
							<div class="item-title-row">
								<div class="item-title">ألح فى الدعاء طلبا لشخص معين ولا أريد غيره فكيف أدعو؟</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حورما عبده</div>
							<div class="item-title-row">
								<div class="item-title">ما هو الدليل على وجوب اتخاد الشيخ؟</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">زينب</div>
							<div class="item-title-row">
								<div class="item-title">اعتقاد المريد فى شيخه وحدود تسليمه له?</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">المبارك محمد</div>
							<div class="item-title-row">
								<div class="item-title">تفسير (وكونوا مع الصادقين)؟</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="80"/></div>
						<div class="item-inner">
							<div class="item-subtitle">فادى رفعت</div>
							<div class="item-title-row">
								<div class="item-title">يقال أن المدد وتمجيد الشيخ حرام وشرك بالله؟</div>

							</div>
							<div class="item-text">سؤال</div>
						</div>
					</a>
				</li>
				
			  
			  
        </ul>
      </div>
	

    </div>
  </div>
</div>
