﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">عم يتساءلون</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/faq.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				تساؤلات
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
			
		<div class="list-block media-list mt-0">
			<ul>
				<li>
					<a href="faq/1.html" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="64"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حسن حسين</div>
							<div class="item-title-row">
								<div class="item-title">سؤال</div>

							</div>
							<div class="item-text color-black bold">أدركوا الإسلام</div>
						</div>
					</a>
				</li>
				<li>
					<a href="faq/2.html" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="64"/></div>
						<div class="item-inner">
							<div class="item-subtitle">راين عماد</div>
							<div class="item-title-row">
								<div class="item-title">سؤال</div>

							</div>
							<div class="item-text color-black bold">هل الأولياء أعلى من الأنبياء؟</div>
						</div>
					</a>
				</li>
				<li>
					<a href="faq/3.html" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="64"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حسين</div>
							<div class="item-title-row">
								<div class="item-title">سؤال</div>

							</div>
							<div class="item-text color-black bold">هل نكره سيدنا عمر؟</div>
						</div>
					</a>
				</li>
				<li>
					<a href="faq/4.html" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="64"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حسن حسين</div>
							<div class="item-title-row">
								<div class="item-title">سؤال</div>

							</div>
							<div class="item-text color-black bold">ما معنى القطب الغوث؟</div>
						</div>
					</a>
				</li>
				<li>
					<a href="faq/5.html" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="64"/></div>
						<div class="item-inner">
							<div class="item-subtitle">محمد عطية</div>
							<div class="item-title-row">
								<div class="item-title">سؤال</div>

							</div>
							<div class="item-text color-black bold">ما أصل كلمة تصوف في اللغه والدليل؟</div>
						</div>
					</a>
				</li>
				<li>
					<a href="faq/6.html" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="64"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حورما عبده</div>
							<div class="item-title-row">
								<div class="item-title">سؤال</div>

							</div>
							<div class="item-text color-black bold">هل فعلا الأولياء يتصرفون؟</div>
						</div>
					</a>
				</li>
				<li>
					<a href="faq/7.html" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="64"/></div>
						<div class="item-inner">
							<div class="item-subtitle">فهد حسين</div>
							<div class="item-title-row">
								<div class="item-title">سؤال</div>

							</div>
							<div class="item-text color-black bold">ألح فى الدعاء طلبا لشخص معين ولا أريد غيره فكيف أدعو؟</div>
						</div>
					</a>
				</li>
				<li>
					<a href="faq/8.html" class="item-link item-content">
						<div class="item-media"><img src="images/q_icon.svg" width="64"/></div>
						<div class="item-inner">
							<div class="item-subtitle">حورما عبده</div>
							<div class="item-title-row">
								<div class="item-title">سؤال</div>

							</div>
							<div class="item-text color-black bold">ما هو الدليل على وجوب اتخاد الشيخ؟</div>
						</div>
					</a>
				</li>

				
			  
			  
        </ul>
      </div>


			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
