﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">التذكيرات</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="settings" class="page">
  
    <div class="page-content">

		<div class="content-block-title card-title">التذكيرات اليومية</div>
		<div class="list-block mb-sm">
			<ul>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Books" checked="checked"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">التذكير صباحا</div>
				  </div>
				</label>
			  </li>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Movies"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">التذكير مساءا</div>
				  </div>
				</label>
			  </li>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Books" checked="checked"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">تذكير بالحزب السيفي</div>
				  </div>
				</label>
			  </li>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Books" checked="checked"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">تذكير بورد القرآن</div>
				  </div>
				</label>
			  </li>
			</ul>
		</div>
		<div class="content-block-title card-title">تذكيرات أسبوعية</div>
		<div class="list-block mb-sm">
			<ul>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Books" checked="checked"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">تذكير بالحضرة</div>
				  </div>
				</label>
			  </li>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Movies"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">تذكير بالتدارس</div>
				  </div>
				</label>
			  </li>
			</ul>
		</div>
		
		<div class="content-block-title card-title">مناسبات سنوية</div>
		<div class="list-block mb-sm">
			<ul>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Books" checked="checked"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">تذكير بعيد الفطر</div>
				  </div>
				</label>
			  </li>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Movies"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">تذكير بعيد الأضحى</div>
				  </div>
				</label>
			  </li>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Movies"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">تذكير بالمولد النبوي الشريف</div>
				  </div>
				</label>
			  </li>
			  <li>
				<label class="label-checkbox item-content">
				  <input type="checkbox" name="ks-checkbox" value="Movies"/>
				  <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				  <div class="item-inner">
					<div class="item-title">تذكير بحولية الإمامين</div>
				  </div>
				</label>
			  </li>

			</ul>
		</div>
	

    </div>
  </div>
</div>
