﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">عالم البرهانية</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page02" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/world.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title">الطريقة البرهانية فى أفريقيا</p>
				<p>
					توجد الطريقة البرهانية فى كل دول شمال أفريقيا
				</p>
				<p>
					لأخذ المزيد من المعلومات عن نشاط الطريقة الرجاء الأتصال بالعناوين المذكورة أدناه 
				</p>
				<p class='text-center'><b>هواتف و عناوين الإتصال فى أفريقيا</b></p>



<p class="card-title"><strong>مصـر</strong></p>
<p><strong>محمد محمد البيسى</strong></p>
<ul>
<li><strong>هاتف:</strong><strong>+</strong><strong>20502253762</strong></li>
<li><strong>فاكس:</strong><strong>+20502267118</strong></li>
<li><strong>محمول</strong><strong>: </strong><strong>+20105456633</strong></li>
<li><strong>بريد الإلكترونى :</strong></li>
</ul>
<p><strong>burhaniya_egypt@hotmail.com</strong></p>
<p><strong>إبراهيم سلامة المصرى</strong></p>
<ul>
<li><strong>هاتف:</strong><strong> </strong><strong>+</strong><strong>2026354518</strong></li>
<li><strong> محمول</strong><strong>: +</strong><strong>20101290138</strong></li>
<li><strong>بريد الإلكترونى :</strong></li>
</ul>
<p><strong>burhaniya_massr@hotmail.com</strong></p>
<p class="card-title"><strong>لـيـبـيا</strong></p>
<p><strong>&hellip;</strong></p>
<ul>
<li><strong>هاتف :</strong></li>
<li><strong>فاكس:</strong></li>
<li><strong>بريد الإلكترونى :</strong></li>
</ul>
<p class="card-title"><strong>تـونـس</strong></p>
<p><strong>&hellip;</strong></p>
<ul>
<li><strong>هاتف :</strong></li>
<li><strong>فاكس:</strong></li>
<li><strong>بريد الإلكترونى :</strong></li>
</ul>
<p class="card-title"><strong>الجـزائـر</strong></p>
<p><strong>&hellip;</strong></p>
<ul>
<li><strong>هاتف :</strong></li>
<li><strong>فاكس:</strong></li>
<li><strong>بريد الإلكترونى :</strong></li>
</ul>
<p class="card-title"><strong>المغـرب</strong></p>
<p><strong>&hellip;</strong></p>
<ul>
<li><strong>هاتف :</strong></li>
<li><strong>فاكس:</strong></li>
<li><strong>بريد الإلكترونى :</strong></li>
</ul>
			
				

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
