﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">عالم البرهانية</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page02" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/world.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title">الطريقة البرهانية فى أمريكا الشمالية</p>
				<p>
					الطريقة البرهانية موجودة حالياً فى أمريكا الشمالية و كندا.

				</p>

				<p class='text-center'><b>هواتف وعناوين الإتصال فى أمريكا الشمالية</b></p>



<h2 class="card-title"><strong>الولايات المتحدة الأمريكية</strong></h2>
<p><strong>&middot;</strong> مرحبا بالجميع، يسرنا أن تشاركونا فى برنامجنا الإسبوعى من الدروس والعبادات والحضرة، حيث تقدم الدروس تعميق للمفاهيم الإسلامية، وتتضمن الدروس: التصوف والشريعة وفهم القصائد (الأشعار الصوفية الروحية)</p>
<p class="card-title"><strong>&nbsp;زاوية نيويورك :</strong></p>
<p><strong>252 South 10th Avenue<br/>Mt Vernon, New York 10550 U.S.A</strong></p>
<p><strong>موسى البدوى : Musa Al Bedawi</strong></p>
<p><strong>email</strong><strong>: </strong><strong>malbedawi1@verizon.net</strong></p>
<p><strong>Tel: 1-347-581-3497</strong></p>
<p><strong>داؤود سوريلو : </strong><strong> Daud Surrillo</strong></p>
<p><strong>email</strong><strong>: </strong><strong>surillodawud@yahoo.com</strong></p>
<p><strong>Tel: 1-917-886-6356</strong></p>
<p><strong>&middot;</strong> تبدأ الدروس والحضرة يوم السبت الساعة 8:00 مساءً .</p>
<p><strong>زاوية </strong><strong>نيوجيرسى :</strong></p>
<p><strong>214 Smith Street<br/>Suite 201<br/>Perth Amboy, New Jersey, 08861</strong><strong> U.S.A</strong></p>
<p><strong>عبد المؤمن فرانس</strong><strong> : </strong><strong>Abdul Mu'min Frans</strong></p>
<p><strong>email: nj.zawiyah@gmail.com <br/>Tel: 1-732-688-0568</strong></p>
<p><strong>&middot;</strong> الدروس والحضرة يوم الأحد الساعة 5:00 مساءً .</p>
<p><strong>&middot;</strong> المراقبة يوم الجمعة الساعة 8:00 مساءً .</p>
<br/>
<h2 class="card-title"><strong>كــــندا</strong></h2>
<p><strong>&middot; بدأ انتشار الطريقة فى كندا مع بداية الثمانينات، توجد الزاوية الرئيسية للطريقة فى مدينة مونتريال.</strong></p>
<p><strong>&middot; تقام الحضرة مساء كل سبت كما تقام صلاة الجمعة فى الزاوية أيضاالساعة الواحدة ظهرا.</strong></p>
<p><strong>&middot; ونلتقى أيضا فى المناسبات الدينية والإحتفالات.</strong></p>
<p>&nbsp;أتصل بـ:</p>
<p><strong>&nbsp; إدريس</strong></p>
<p><strong>5933 Avenue Du Parc<br/>Montreal Quebec<br/>Canada<br/>Tel: 514-277-9868</strong><br/><strong>Contact: Idriss Jason Sparkes</strong></p>
<p><strong>&middot;</strong><strong>البريد الإلكترونى:</strong></p>
<p><strong>email: sparkesj@hotmail.com</strong></p>

			
				

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
