﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">عالم البرهانية</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page02" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/world.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title">الطريقة البرهانية فى أسيا</p>
				<p>
					توجد الطريقة البرهانية حالياً فى غرب  و وسط أسيا 
				</p>
				<p class='text-center'><b>هواتف و عناوين الإتصال فى أسيا</b></p>


<p class="card-title"><strong>المملكة العربية السعودية</strong></p>

<ul>
<li><strong>هاتف :</strong></li>
<li><strong>فاكس:</strong></li>
<li><strong>بريد الإلكترونى :</strong></li>
</ul>

<p class="card-title"><strong>الأردن</strong></p>

<ul>
<li><strong>هاتف :</strong></li>
<li><strong>فاكس:</strong></li>
<li><strong>بريد الإلكترونى :</strong></li>
</ul>

<p class="card-title"><strong>سوريا</strong></p>

<p><strong> سامر حليمه</strong></p>
<p><strong> دمشق</strong></p>
<ul>
<li><strong>بريد الإلكترونى : </strong><br/><strong>alburhan@mail.sy</strong></li>
</ul>

<p class="card-title"><strong>اليمن</strong></p>

<ul>
<li><strong>هاتف :</strong></li>
<li><strong>فاكس:</strong></li>
<li><strong>بريد الإلكترونى :</strong></li>
</ul>


<p class="card-title"><strong>الإمارات العربية المتحدة</strong></p>

<ul>
<li><strong>العنوان البريدى:</strong></li>
</ul>
<p><strong> على يوسف السويدى</strong></p>
<p><strong>ص.ب:25343 , أبوظبى , الإمارات العربية المتحدة</strong></p>
<ul>
<li><strong>هاتف الزوايا: أبو ظبى : 0097124490799</strong></li>
</ul>
<p><strong> العين : 0097137624563</strong></p>
<p><strong> دبى : 0097142857553</strong></p>
<ul>
<li><strong>بريد الإلكترونى : </strong><br/>burhaniya_emirates@hotmail.com</li>
</ul>

<p class="card-title"><strong>الكويت</strong></p>

<p><strong> عمر عثمان السيد عمر</strong></p>
<p><strong> الكويت - محافظة حولى - منطقة حولى - شارع تونس -</strong></p>
<p><strong> مجمع الرحاب - الدور الرابع - شقة (403)</strong></p>
<ul>
<li><strong>هاتف</strong><strong> : 009652657883</strong></li>
<li><strong> موبايل</strong><strong> : 009659655462 - 009657981063</strong></li>
<li><strong>بريد الإلكترونى : </strong><br/><strong>burhaniya_kuwait@hotmail.com</strong></li>
</ul>


<p class="card-title"><strong>باكستان</strong></p>


<p><strong> م. خالد برهانى</strong></p>
<ul>
<li><strong>بريد الإلكترونى : </strong><br/><strong>burhani_pak@yahool.com</strong></li>
</ul>


<p class="card-title"><strong>لبنان</strong></p>

<p><strong> فارس غندور</strong></p>
<p><strong>مبنى غندور - الدور السادس</strong></p>
<p><strong>المزارع - شارع صليبا</strong></p>
<p><strong>مقاطعة - أوزاعى</strong></p>
<p><strong>بيروت - لبنان</strong></p>
<p><strong>ص ب: 155144</strong></p>
<ul>
<li><strong>تليفون: </strong><strong>+9611- 654909</strong></li>
<li><strong>موبايل: </strong><strong>+961-3-952982</strong></li>
<li><strong>بريد الإلكترونى: </strong><br/><strong>burhaniyalebanon@hotmail.com</strong></li>
</ul>				
				

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
