﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">عالم البرهانية</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page02" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/world.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">

		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title">الطريقة البرهانية فى أوروبا</p>
				<p>
					جد الطريقة البرهانية حالياُ فى كل من : السويد، النرويج ، الدنمارك، ألمانيا، هولندا، لوكسنبرج، سويسرا، إيطاليا وبريطانيا. كما يوجد مركز البرهانية الأوربى فى شنيدا-ألمانيا
				</p>
				<p>
					لأخذ المزيد من المعلومات عن نشاط الطريقة الرجاء الأتصال بالعناوين المذكورة أدناه
				</p>
				<p class='text-center'><b>هواتف و عناوين الإتصال فى أوروبا</b></p>


<p><strong>&nbsp;مركز البرهانية بأوروبا</strong></p>
<p class="card-title"><strong>قصر شنيدا</strong> <strong>Haus Schnede</strong></p>
<p><strong>Haus Schnede<br/>D-21376 Salzhausen<br/>Tel: +49&nbsp;-&nbsp;4172&nbsp;-&nbsp;961611/12 +49&nbsp;-&nbsp;4172&nbsp;-&nbsp;961611/12 <br/>Fax: +49 - 4172 - 961613<br/>E-mail: Haus.Schnede@t-online.de<br/>www.haus-schnede.de</strong></p>
<strong class="card-title">ألمانيا</strong>
<p><strong>Mariam Zepter <br/>Tel: ++49 - 89 - 34 58 98 <br/>Fax: ++49 - 89 - 34 58 50 <br/>E-mail: maria.zepter@t-online.de </strong>&nbsp;</p>
<strong class="card-title">إنجلترا</strong>
<p><strong>Tawfiq Abdallah Mohammed Idris <br/>46 Odger Street <br/>London SW11 5AF <br/>Tel.: +44&nbsp;-&nbsp;7931&nbsp;363&nbsp;576 +44&nbsp;-&nbsp;7931&nbsp;363&nbsp;576 <br/>E-mail: tawfig_m@hotmail.com</strong></p>
<strong class="card-title">إيطاليا</strong>
<p><strong>Abdul Ghafur Franco Grassi Orsini<br/></strong><strong>via dei Giuochi Istmici 18<br/>I-00194 ROMA<br/>Tel: +39&nbsp;063293318 +39&nbsp;063293318 <br/>Fax: +39 063291709<br/>E-mail: burhanyaitaly@tele2.it <br/><br/>Rome Zawiya: viale di Valle Aurelia, 112, I-00167, Roma</strong></p>
<strong class="card-title">فرنسا</strong>
<p><strong>Fathi Sebai <br/>Tel: ++33 - 06 22 09 49 40 <br/>E-mail: france@burhaniya.info</strong></p>
<strong class="card-title">دانمارك</strong>
<p><strong>Tariqa Burhaniya <br/>Damhus Boulevard 65<br/>DK-2610 R?dovre <br/>Tel: +45&nbsp;-&nbsp;36&nbsp;417&nbsp;417 +45&nbsp;-&nbsp;36&nbsp;417&nbsp;417 <br/>Fax: +45 - 38 338 339<br/><br/>Contact: Sagib Hussain (&nbsp;+45&nbsp;40&nbsp;504&nbsp;504 +45&nbsp;40&nbsp;504&nbsp;504 ;sagib@imw.dk ) or <br/>Asif Mahmood (&nbsp;+45&nbsp;40&nbsp;306&nbsp;306 +45&nbsp;40&nbsp;306&nbsp;306 ; asif@imw.dk )</strong></p>
<strong class="card-title"><strong>لوكسمبرج</strong></strong>
<p><strong>Abdel Karim<br/>Luxembourg<br/>Tel: +352-485267 +352-485267 <br/>E-mail: burhaniya.sec@numericable.lu <br/>E-mail: Ot.somali@village.uunet.lu</strong></p>
<strong class="card-title">هولندا</strong>
<p><strong>Mahdi Frank van den Kommer</strong><br/><strong>E-mail: f.vandenkommer@wanadoo.nl&nbsp;</strong></p>
<p><strong>Zawiya Adres: Hogendijk 147, Zaandam<br/>De zawiya (het soefi-centrum) is geopend op iedere zondagmiddag vanaf 14.00 uur (open every Sunday after 2 p.m.)</strong></p>
<p class="card-title"><strong>روسيا</strong></p>
<p><strong>Ibrahim Mohammed Elamin<br/>St. Petersburg 195265<br/>P.O. Box 19<br/>E-mail: burhaniya@yahoo.com <br/>E-mail: burhaniya@onebox.com</strong></p>
<p class="card-title">السويد</p>
<p><strong>E-mail: sweden@burhaniya.info <br/>Chokri Chebbi<br/>Tel: +46&nbsp;-&nbsp;54564155 +46&nbsp;-&nbsp;54564155 <br/>alburhaniya_sweden@hotmail.com</strong></p>
<p class="card-title">سويسرا</p>
<p><strong>Konstantin M&uuml;ller<br/>E-mail: SWISS@burhaniya.info <br/>Tel: +41&nbsp;-&nbsp;61&nbsp;2731010 +41&nbsp;-&nbsp;61&nbsp;2731010 / 61 7016393<br/>Fax: +41 - 61 2730808</strong></p>
<p><strong>Zawiya: Brosiweg 33, CH-4143 Dornach</strong></p>
			
				

			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
