﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">الكتب والمجلات</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    <div class="page-content hide-bars-on-scroll">
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/lib.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				الكتب والمجلات
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="">
					لما كنا نحتاج باستمرار إلى كتب السابقين الغير محرفة، ولما كثر التحريف بفعل قلة غير مسئولة تقوم بإصدار الكتب المحرفة وإنزالها فى الشبكة العالمية للمعلومات، وسواء كان ذلك يتم بحسن نية أو بغيرها، فقد ظهرت الحاجة إلى البحث عن المصادر الصحيحة فى هذه الشبكة لكتب الصالحين وعلوم السابقين، ونحن هنا نرشح لك المواقع الصديقة التى يمكنكم الحصول منها على ما تحتاجونه من كتب وعلوم السابقين التى حاول البعض أن يخفوها ولكن يأبى الله إلا أن يتم نوره ولو كره المغرضون:
				</p>
				<hr/>
				<div class="list-block media-list mt-15">
					<ul>
					  <li>
						<a href="http://alturath.info/" class="item-link item-content external">
						  <div class="item-media"><img src="images/lists/site01.jpg" width="60"/></div>
						  <div class="item-inner">
							<div class="item-title-row">
							  <div class="item-title">موقع التـراث</div>
							</div>
							<div class="item-text">هو موقع يجمع كتب كثيرة فى الفقة والقرآن والتفاسير والحديث والتصوف وغير ذلك وهو يقدم دائما مع كل كتاب تلخيص وتحقيق مختصر عنه</div>
						  </div>
						 </a>
					  </li>
					  <li>
						<a href="http://al-nabi.com/" class="item-link item-content external">
						  <div class="item-media"><img src="images/lists/site02.jpg" width="60"/></div>
						  <div class="item-inner">
							<div class="item-title-row">
							  <div class="item-title">موقع النـبى</div>
							</div>
							<div class="item-text">هو موقع يتحدث عن حياته وصفاته فى محاولة لتوضيح قبس من شعاع من نوره</div>
						  </div>
						 </a>
					  </li>
					  <li>
						<a href="http://al-ahbab.com/" class="item-link item-content external">
						  <div class="item-media"><img src="images/lists/site03.jpg" width="60"/></div>
						  <div class="item-inner">
							<div class="item-title-row">
							  <div class="item-title">موقع الأحباب</div>
							</div>
							<div class="item-text">هو موقع يلقى بعضا من الضوء على بعض الأنبياء والصحابة وأهل البيت أحباب الله ورسوله الكريم</div>
						  </div>
						 </a>
					  </li>
					</ul>
				</div>
				
				<hr/>
				
				<div class="list-block media-list mt-15">
					<ul>

						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book01.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">شراب الوصل</div>
								</div>
								<div class="item-subtitle">أبريل 2001</div>
								<div class="item-subtitle color-black">قصائد الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class="item-content">
							  <div class="item-media"><img src="images/lists/book02.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">ديوان إبتسام المدامع</div>
								</div>
								<div class="item-subtitle">أبريل 2001</div>
								<div class="item-subtitle color-black">كتاب يجمع قصائد القوم</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book03.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">المعجم المفهرس لألفاظ ديوان شراب الوصل</div>
								</div>
								<div class="item-subtitle color-black">أبناء الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book04.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">شراب الوصل المجلد</div>
								</div>
								<div class="item-subtitle">أبريل 2003</div>
								<div class="item-subtitle color-black">قصائد الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book05.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">سلسلة كتب علموا عنى</div>
								</div>
								<div class="item-subtitle">آخر إصدار (5) - أبريل 2005</div>
								<div class="item-subtitle color-black">تفريغ شرائط دروس الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book06.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">شرح أوراد الطريقة البرهانية الدسوقية الشاذلية</div>
								</div>
								<div class="item-subtitle color-black">عن الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book07.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">سلسلة كتيبات أولياء وأنبياء الله</div>
								</div>
								<div class="item-subtitle">أبريل 2005</div>
								<div class="item-subtitle color-black"> آخر إصدار (أنبياء الله  1)</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book08.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">إنتصار أولياء الرحمن على أولياء الشيطان</div>
								</div>
								<div class="item-subtitle color-black">للإمام فخر الدين</div>
							  </div>
						  </a>
						</li>

					</ul>
				</div>
				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
