﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">شرائط واسطوانات</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    <div class="page-content hide-bars-on-scroll">
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/lib.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				شرائط واسطوانات
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="">
					يحتوى هذه الصفحة على مجموعة أيكونات لشرائط واسطوانات من منتجات الطريقة، و يمكنك أن تستمع لدقائق من كل شريط
				</p>
				<p class="card-title text-center">
					(كل الحقوق محفوظة لدى الطريقة البرهانية - الخرطوم).
				</p>
				<hr/>
				
				<p class="card-title text-center color-black">
					الإنشاد
					<br/><small class='color-black'>
					أغسطس 99
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd01.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd01.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					قصائد الحضرة
					<br/><small class='color-black'>
					مارس 2000
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd02.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd02.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>
				

				<p class="card-title text-center color-black">
					شريط أوراد الطريقة البرهانية
					<br/><small class='color-black'>
					ديسمبر 2000
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd03.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd03.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					شريط الحولية  2000 الخرطوم
					<br/><small class='color-black'>
					أبريل 2000
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd04.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd04.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					قصائد الحولية 2001 
					<br/><small class='color-black'>
					الخرطوم أبريل 2001
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd05.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd05.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					حضرة
					<br/><small class='color-black'>
					الخرطوم 2002
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd06.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd06.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					ما كتاب الله إلا جمعنا
					<br/><small class='color-black'>
					لخرطوم 2002
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd07.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd07.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					كل ينادى يا نبى يا نبى
					<br/><small class='color-black'>
					قصائد الحولية 2003 الخرطوم
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd08.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd08.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					فى حضرة المحبوب 1
					<br/><small class='color-black'>
					2003
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd09.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd09.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					فى حضرة المحبوب 2
					<br/><small class='color-black'>
					2003
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd10.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd10.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					فصلينا بتسليم وشكر
					<br/><small class='color-black'>
					الخرطوم 2003
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd11.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd11.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					أيا حبيب صلاة
					<br/><small class='color-black'>
					قصائد الحولية 2003 الخرطوم
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd12.gif" />
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/cd/cd12.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					عظـيم الجناب
					<br/><small class='color-black'>
					قصائد حولية 2004
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd13.jpg" />
				</p>
				
				<hr/>

				<p class="card-title text-center color-black">
					قـرة الأعيان
					<br/><small class='color-black'>
					قصائد حولية 2004
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd14.jpg" />
				</p>
				
				<hr/>

				<p class="card-title text-center color-black">
					هـو ذا النـور
					<br/><small class='color-black'>
					حضرة حولية  2004
					</small>
				</p>
				<p class="text-center">
					<img src="audio/cd/cd15.jpg" />
				</p>
				
				<hr/>
				
				
				
				
				<hr/>
				
				<div class="list-block media-list mt-15">
					<ul>

						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book01.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">شراب الوصل</div>
								</div>
								<div class="item-subtitle">أبريل 2001</div>
								<div class="item-subtitle color-black">قصائد الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class="item-content">
							  <div class="item-media"><img src="images/lists/book02.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">ديوان إبتسام المدامع</div>
								</div>
								<div class="item-subtitle">أبريل 2001</div>
								<div class="item-subtitle color-black">كتاب يجمع قصائد القوم</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book03.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">المعجم المفهرس لألفاظ ديوان شراب الوصل</div>
								</div>
								<div class="item-subtitle color-black">أبناء الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book04.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">شراب الوصل المجلد</div>
								</div>
								<div class="item-subtitle">أبريل 2003</div>
								<div class="item-subtitle color-black">قصائد الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book05.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">سلسلة كتب علموا عنى</div>
								</div>
								<div class="item-subtitle">آخر إصدار (5) - أبريل 2005</div>
								<div class="item-subtitle color-black">تفريغ شرائط دروس الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book06.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">شرح أوراد الطريقة البرهانية الدسوقية الشاذلية</div>
								</div>
								<div class="item-subtitle color-black">عن الأمام فخر الدين</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book07.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">سلسلة كتيبات أولياء وأنبياء الله</div>
								</div>
								<div class="item-subtitle">أبريل 2005</div>
								<div class="item-subtitle color-black"> آخر إصدار (أنبياء الله  1)</div>
							  </div>
						  </a>
						</li>
						<li>
						  <a href="#" class=" item-content">
							  <div class="item-media"><img src="images/lists/book08.jpg" width="65"/></div>
							  <div class="item-inner">
								<div class="item-title-row">
								  <div class="item-title color-theme">إنتصار أولياء الرحمن على أولياء الشيطان</div>
								</div>
								<div class="item-subtitle color-black">للإمام فخر الدين</div>
							  </div>
						  </a>
						</li>

					</ul>
				</div>
				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
