﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">ألبومات الصور</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="photo_albums" class="page">
  
    <div class="page-content hide-bars-on-scroll">
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/lib.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				صور ولقطات فى مناسبات مختلفة للطريقة
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<div class="list-block media-list">
					<ul>
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_01">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											اجتفالات حولية الخرطوم رقم 26 لعام 2009
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_02">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفال المولد النبوى 1430
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_03">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفالات الحولية 25
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_04">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفال المولد النبوى بالخرطوم 1429
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_05">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفال المولد النبوى بالأسكندرية 1429
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_06">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفال المولد النبوى بالقاهرة 1429
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_07">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفالات الحولية 24
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_08">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفال المولد النبوى بالخرطوم 1428
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_09">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفالات البرهانية
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_10">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفال المولد النبوى بالخرطوم 1427
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_11">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											احتفالات الحولية 23
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_12">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											صور مقام سيدى الإمام فخر الدين الشيخ محمد عثمان
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_13">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											صور مسجد الإمام على بن أبى طالب
										</div>
									</div>
								</div>
							</a>
						</li>
					  
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_14">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											بعض الصور النادرة للمشايخ
										</div>
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="#" class="item-link item-content album_trigger" album="album_15">
								<div class="item-media"><img src="images/lists/photos.png" width="30"/></div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">
											صور متنوعة
										</div>
									</div>
								</div>
							</a>
						</li>
					  
					</ul>
				</div>
				
		
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
