﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a>
    </div>
    <div class="center sliding">الكتيبات المطبوعة</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="books" class="page">
  
    <div class="page-content hide-bars-on-scroll">
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/lib.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				كتيبات مطبوعة بمناسبة المولد النبوى والحولية
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<div class="list-block media-list mt-15">
					<ul>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="habibi.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">كتيب حبيبى رسول الله</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="1.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">هذا العطاءه</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="2.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">لذة الإيمان</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="3.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">ينابيع الحكمة</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="4.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">صراط المصطفى</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="5.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">نبع الصفيات</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="6.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">سهام الليل</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="7.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">شعاع الهداية</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="8_2.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">كواشف الظلمات</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="9.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">عمارة الأوقات</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="10.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">كريم المولدين</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="11.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">منة الله</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link item-content pdf_trigger" pdf="12.pdf">
								<div class="item-media"><img src="images/lists/pdf.png" width="28"/></div>
								<div class="item-inner"> 
									<div class="item-title">أهل الحمى</div>
								</div>
							</a>
						</li>
						

					</ul>
				</div>
				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
