﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">قصائد صوتية</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    <div class="page-content hide-bars-on-scroll">
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/lib.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				قصائد صوتية
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					من شرائط القصائد
				</p>
				<hr/>
				
				<p class="card-title text-center color-black">
					فإن ضياها
					<br/><small class='color-black'>
					المنشد : 
					محمود
					<br/>
					الشريط :
					الإنشاد
					<br/>
					تاريخه :
					أغسطس 99
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A01.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					با أيها الناس - ولذ بحمانا
					<br/><small class='color-black'>
					المنشد : 
					محمود - فخر الدين
					<br/>
					الشريط :
					قصائد الحضرة
					<br/>
					تاريخه :
					مارس 2000
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A02.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>
				

				<p class="card-title text-center color-black">
					لفخر الدين يا من
					<br/><small class='color-black'>
					المنشد : 
					ياسر القادرى
					<br/>
					الشريط :
					الحولية - الخرطوم
					<br/>
					تاريخه :
					أبريل 2000
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A03.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					بثوا إليه وآل أحمد
					<br/><small class='color-black'>
					المنشد : 
					محمد عثمان
					<br/>
					الشريط :
					قصائد الحولية
					<br/>
					تاريخه :
					أبريل 2001
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A04.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					ليلى بوجهك مشرق
					<br/><small class='color-black'>
					المنشد : 
					سيد أحمد قرافى
					<br/>
					الشريط :
					حضرة - الخرطوم
					<br/>
					تاريخه :
					2002
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A05.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					ولو كانت قلوب الناس
					<br/><small class='color-black'>
					المنشد : 
					معاذ الزين
					<br/>
					الشريط :
					ما كتاب الله إلا جمعنا
					<br/>
					تاريخه :
					2002
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A06.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					طابق إنشاد
					<br/><small class='color-black'>
					المنشد : 
					الفاتح نور الجليل
					<br/>
					الشريط :
					كل ينادى يا نبى يا نبى
					<br/>
					تاريخه :
					أبريل 2003
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A07.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					ذات تجلت كمالا
					<br/><small class='color-black'>
					المنشد : 
					سيدى فخر الدين
					<br/>
					الشريط :
					فى حضرة المحبوب
					<br/>
					تاريخه :
					2003
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A08.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					عج على الوادى المقدس
					<br/><small class='color-black'>
					المنشد : 
					سيدى فخر الدين
					<br/>
					الشريط :
					فى حضرة المحبوب 2
					<br/>
					تاريخه :
					2003
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A09.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					هذه أثوابهم والحلل
					<br/><small class='color-black'>
					المنشد : 
					الصادق الزين
					<br/>
					الشريط :
					فصلينا بتسليم وشكر
					<br/>
					تاريخه :
					2003
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A10.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					فذانك إبراهيم بيتى
					<br/><small class='color-black'>
					المنشد : 
					إبراهيم حسن
					<br/>
					الشريط :
					أيا حبيب صلاة
					<br/>
					تاريخه :
					أبريل 2003
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A11.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					لو دعا الداعى لذكر
					<br/><small class='color-black'>
					المنشد : 
					الحوت - الصادق
					<br/>
					الشريط :
					ملجأ الشفعاء
					<br/>
					تاريخه :
					أبريل 2004
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A12.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					طابق جماعى
					<br/><small class='color-black'>
					المنشد : 
					السر عوض - الصادق
					<br/>
					الشريط :
					قصائد الحضرة 2
					<br/>
					تاريخه :
					أبريل 2004
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A13.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					وإن صبا نجد
					<br/><small class='color-black'>
					المنشد : 
					الصادق الزين
					<br/>
					الشريط :
					لواء حبيبى
					<br/>
					تاريخه :
					أبريل 2003
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A14.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
				<hr/>

				<p class="card-title text-center color-black">
					استمسكوا الحبل المتين
					<br/><small class='color-black'>
					المنشد : 
					معاذ الزين
					<br/>
					الشريط :
					منح المصطفى
					<br/>
					تاريخه :
					أبريل 2003
					</small>
				</p>
				<audio controls style="width:100%;direction:ltr;">
					<source src="audio/audio/A15.mp3" type="audio/mpeg"/>
					خطأ .. لا يمكن تشغيل المادة الصوتية
				</audio>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
