﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				خطاب مولانا الشيخ محمد  فى ابريل 2016 بمناسبة الحولية الثالثة والثلاثين.
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء السبت التاسع من شهر أبريل عام 2016</p>
				<hr/>
				<p class="text-center bold">
					<b>بسم الله الرحمن الرحيم</b>
				</p>
				<p>
					الحمد لله الواحد الأحد خالق الخلق من العدم لا إله معه ولا معبود سواه، اللَّهُمَّ لك الحَمْدُ كُلُّهُ، وإلَيْك يَرْجِعُ الأمْرُ كُلُّهُ، عَلانِيَتُهُ وسِرُّهُ، فَحَقٌّ أنْتَ أنْ تُعْبَد، وحَقٌّ أنْتَ أنْ تُحْمَد، يا مالك الأرض والسماء، سميع الدعاء، كاشف الضر والبلاء، أرسل رسوله رحمة للأمة جمعاء وأصحابه الأوفياء وأهله الكرام الشرفاء.
				</p>
				<p>
					<b>الأحباب فى الله ..</b><br/>
					<b>السلام عليكم ورحمة الله تعالى وبركاته</b><br/>
				</p>
				<p>يقول الهادى البشير والسراج المنير صلوات ربى وسلامه عليه ﴿صلاح آخر هذه الأمة بصلاح أولها علماءها وأمراءها﴾ أولها رسول الله e أعلم علماءها وأكبر أمرائها، لم تبدأ الدعوة بنص القرآن ولا بنص الحديث، أى لم تكن نصوصا ولا كتبا، بل بدأت بقرآن يمشى (الصادق الأمين) هكذا عرف بين قومه، فلما أمر بالرسالة نادى بطون قريش فاجتمعوا إليه وسألهم، أو لو أخبرتكم أن خلف هذا الجبل خيلا يطلبونكم أأنتم مصدقى؟ قالوا نعم فأنت الصادق الأمين.</p>

<p>هكذا بدأت الدعوة إلى الله ولم تبدأ بنص من كتاب ولا بنص يثبت أو يكذب، هكذا بدأت الدعوة بصفة النبى e وفعله .</p>

<p>ولما تنزلت عليه آيات الكتاب مفرقة كانت ]قُمِ اللَّيْلَ[ 2 المزمل - أسبق فى التنزيل من ]قُمْ فَأَنْذِرْ[ 2 المدثر - لتكون نبراسا للدعاة بأن قيام الليل والاجتهاد فى العبادة لصلاح نفس الداعية لابد أن يكون أسبق من الاجتهاد فى الدعوة إلى الله.</p>

<p>وكذلك علم الحبيب صلوات ربى وسلامه عليه أصحابه فبدأت العبادات بتطهير القلوب والأبدان وتزكية الأرواح، مع ركن الاعتقاد الأوحد وهو ركن الشهادة، طيلة وجوده بمكة قبل الهجرة، إلى أن كانت رحلة الإسراء والمعراج وفرضت الفرائض ليلتها، وبعد ذلك أتت النواهى عما حرم الله فى المأكل والمشرب والملبس.</p>

<p>فإذا أردنا صلاح آخر هذه الأمة فعلى العلماء أولا صلاح أحوالهم وقلوبهم قبل انتقاء النصوص وتزيين الكلام وتحسين الملبس والهيئة، وكذلك نقول لمن ولى أمرا من أمور هذه الأمة أن يرفق بهم ليرفق الله بك.</p>

<p>ولقد حصر القرآن الكريم الإرشاد متلازما مع الصدق والأمانة كما بدأت، فقال ]وَمَنْ يُضْلِلْ فَلَنْ تَجِدَ لَهُ وَلِيًّا مُرْشِدًا[ 17 الكهف - ولقد فصل الحبيب صلوات الله وسلامه عليه بين صنفين من الناس الذين يعملون فى مجال الإرشاد فقال صلوات الله وسلامه عليه ﴿إِنَّكُمْ أَصْبَحْتُمْ فِى زَمَانٍ كَثِيرٍ فُقَهَاؤُهُ قَلِيلٍ خُطَبَاؤُهُ، قَلِيلٍ سَائِلوه، كَثِيرٍ مُعْطوه، الْعَمَلِ فِيهِ خَيْرٌ مِنَ الْعِلْمُ، وسَيَأتِى عَلَى النَاس زَمَنٍ قَلِيلٍ فُقَهَاؤُهُ، كَثِير خُطَبَاؤُهُ، قَلِيلٍ مُعْطوه، كَثِير سَائِلوه، الْعِلْمُ فِيهِ خَيْرٌ مِنَ الْعَمَلِ﴾ جامع بيان العلم - ولما كانت أشرف الأعمال على الإطلاق هى الدعوة إلى الحق تبارك وتعالى اختار لها أشرف الخلق e وشَرَّف آل بيته بالنسب إليه وشَرَّف الأتقياء بالحسب عليه، وشرف النسب لا مراء فيه وأن الحق تبارك وتعالى قد اذهب عنهم الرجس وطهرهم تطهيرا.</p>

<p>لما خلق الله الخلق، وقَدِم سيدنا آدم على الأرض مكث الناس بعده عشرة قرون يعبدون اللهَ وحده، فزيَّن الشيطان لبعض خلقه عبادةَ الأصنام فعبَدوها، فأرسل الله الرسل وأنزل معهم الكتب ليرجع الناس إلى عبادة الله وحده، ومن رأفته بخلقه جعل فِطَره موافقا لما خلقهم له، فكل مولودٍ يُولَد على فطرة إفراد الله بالعبادة، وأنه المعبود وحده دون من سواه، قال عز وجل ]فِطْرَتَ اللَّهِ الَّتِى فَطَرَ النَّاسَ عَلَيْهَا[ 30 الروم - والشيطان يسعى دائما لإفساد فِطَرة الخلق ليحرم العبادَ من رضا الرحمن، ومن النعيم المُقيم المُعَدّ لهم فى الجنان، قال e: ﴿قال الله عز وجل: إنى خلقتُ عبادى حنفاء كلهم، وإنهم أتتهم الشياطين فاجتالَتْهم عن دينهم، وحرَّمَت عليهم ما أحللتُ لهم، وأمَرَتهم أن يُشرِكوا بى ما لم أُنزِّل به سلطانًا﴾ رواه مسلم</p>

<p> </p>

<p>الجمع الكريم ..</p>

<p>لا يخفى عليكم أن اختلاف الخلق فى الطبائع والمنازل والصفات وغيرها، إنما هو إختلاف رحمة، فى قوله تعالى فى محكم التنزيل ]يَا أَيُّهَا النَّاسُ إِنَّا خَلَقْنَاكُمْ مِنْ ذَكَرٍ وَأُنْثَى وَجَعَلْنَاكُمْ شُعُوباً وَقَبَائِلَ لِتَعَارَفُوا إِنَّ أَكْرَمَكُمْ عِنْدَ اللَّهِ أَتْقَاكُمْ إِنَّ اللَّهَ عَلِيمٌ خَبِيرٌ[ 13 الحجرات - وقال e ﴿يا أيها الناس، ألا إن ربكم عز وجل واحد، ألا وإن أباكم واحد، ألا لا فضل لعربى على عجمى، ألا لا فضل لأسود على أحمر إلا بالتقوى، ألا قد بلغت؟ قالوا: نعم، قال : ليبلغ الشاهد الغائب﴾ فكان الأصل فى العلاقة بين الناس التعارف والمحبة والإخاء والسلامة، وبذلك تكون الحروب والفتن أمرا عارضا، شُرِّعَ دفاعا عن النفوس والأديان عامة حتى غير المسلمين لقوله تعالى ]وَلَوْلا دَفْعُ اللَّهِ النَّاسَ بَعْضَهُمْ بِبَعْضٍ لَهُدِّمَتْ صَوَامِعُ وَبِيَعٌ وَصَلَوَاتٌ وَمَسَاجِدُ يُذْكَرُ فِيهَا اسْمُ اللَّهِ كَثِيراً[ 40 الحج - وقال تعالى ]وَقَاتِلُوا فِى سَبِيلِ اللَّهِ الَّذِينَ يُقَاتِلُونَكُمْ وَلا تَعْتَدُوا إِنَّ اللَّهَ لا يُحِبُّ الْمُعْتَدِينَ[ 190 البقرة.</p>

<p>كما قال الله تعالى ]آمَنَ الرَّسُولُ بِمَا أُنْزِلَ إِلَيْهِ مِنْ رَبِّهِ وَالْمُؤْمِنُونَ كُلٌّ آمَنَ بِاللَّهِ وَمَلَائِكَتِهِ وَكُتُبِهِ وَرُسُلِهِ لَا نُفَرِّقُ بَيْنَ أَحَدٍ مِنْ رُسُلِهِ[ 285 البقرة - ويتضح لنا أن الكتب السماوية كلها تنص على التوحيد، والإيمان التام بكافة الأنبياء والرسل، وتجدها تبشر بقدوم النبى e، ولما كانت قبائل وأجناس شتى تعيش فى مدينة الحبيب آنذاك، قال الله تعالى مخاطبا المسلمين ]وَلَا تُجَادِلُوا أَهْلَ الْكِتَابِ إِلَّا بِالَّتِى هِى أَحْسَنُ إِلَّا الَّذِينَ ظَلَمُوا مِنْهُمْ وَقُولُوا آمَنَّا بِالَّذِى أُنـزلَ إِلَيْنَا وَأُنـزلَ إِلَيْكُمْ وَإِلَهُنَا وَإِلَهُكُمْ وَاحِدٌ وَنَحْنُ لَهُ مُسْلِمُونَ[ 46 العنكبوت - أى أن علينا نحن المسلمين أن نبيِّن لهم –لليهود وللنصارى– حقيقة ديننا الذى يعترف بنبوَّة جميع الأنبياء الذين أرسلهم الله تعالى لهداية البشر، وبتصديق جميع الكتب التى أنـزلها عليهم، ومنها التوراة والإنجيل اللذان أُنـزلا على سيدنا موسى وسيدنا عيسى عليهما السلام، وبعد ذلك تجد من يظن أن الإسلام نشر بالسيف وفى تدبر معنى الآية الكريمة: ]قُلْ يَا أَهْلَ الْكِتَابِ تَعَالَوْاْ إِلَى كَلِمَةٍ سَوَاء بَيْنَنَا وَبَيْنَكُمْ أَلاَّ نَعْبُدَ إِلاَّ اللّهَ وَلاَ نُشْرِكَ بِهِ شَيْئاً وَلاَ يَتَّخِذَ بَعْضُنَا بَعْضاً أَرْبَاباً مِّن دُونِ اللّهِ فَإِن تَوَلَّوْاْ فَقُولُواْ اشْهَدُواْ بِأَنَّا مُسْلِمُونَ[ 64 آل عمران - وقوله تعالى: ]لاَ إِكْرَاهَ فِى الدِّينِ قَد تَّبَيَّنَ الرُّشْدُ مِنَ الْغَىِّ[ 256 البقرة - يبين لنا المبدأ العام فى الدعوة إلى الإسلام، وقوله تعالى: ]وَقُلِ الْحَقُّ مِن رَبِّكُمْ فَمَن شَاء فَلْيُؤْمِن وَمَن شَاء فَلْيَكْفُرْ[ 29 الكهف - وقوله تعالى: ]إِنَّ الَّذِينَ يَكْفُرُونَ بِاللَّهِ وَرُسُلِهِ وَيُرِيدُونَ أَنْ يُفَرِّقُوا بَيْنَ اللَّهِ وَرُسُلِهِ وَيَقُولُونَ نُؤْمِنُ بِبَعْضٍ وَنَكْفُرُ بِبَعْضٍ وَيُرِيدُونَ أَنْ يَتَّخِذُوا بَيْنَ ذَلِكَ سَبِيلًا % أُولَئِكَ هُمُ الْكَافِرُونَ حَقًّا وَأَعْتَدْنَا لِلْكَافِرِينَ عَذَابًا مُهِينًا % وَالَّذِينَ آمَنُوا بِاللَّهِ وَرُسُلِهِ وَلَمْ يُفَرِّقُوا بَيْنَ أَحَدٍ مِنْهُمْ أُولَئِكَ سَوْفَ يُؤْتِيهِمْ أُجُورَهُمْ وَكَانَ اللَّهُ غَفُورًا رَحِيمًا[ 150 : 152 النساء - وللأسف تجد العداء الواضح للإسلام من غير المسلمين وجهلة الدين، أتدرى ماذا فعل النبى e عندما رفض الكافرون بوحدانية الله الاستجابةَ لدعوته، وامتنعوا عن القبول بعبادة الله وحده، وأصروا على عباداتهم الضالَّة؟ لم يجرِّد عليهم سيفاً، ولم يعنف بهم، ولم يحاول اكراههم بأى وسيلة، إنما التجأ إلى ربه، يدعوه ويستخيره فيما يفعل أو يقول بشأن هؤلاء الكافرين المعاندين، فنـزلت الآيات القرآنية: ]قُلْ يَا أَيُّهَا الْكَافِرُونَ % لَا أَعْبُدُ مَا تَعْبُدُونَ[ 1 ، 2 الكافرون - فكان e يستفتح يومه بالتوحيد، فيقرأ فى ركعتى الفجر بسورتى الكافرون والإخلاص، ويختمه به، فيقرأ فى الشفع والوِتر بالكافرون والإخلاص، ووصَّى به أمَّتَه.</p>

<p> </p>

<p>الأحباب الكرام ..</p>

<p>قال الله تعالى: ]ادْعُوا رَبَّكُمْ تَضَرُّعًا وَخُفْيَةً إِنَّهُ لَا يُحِبُّ الْمُعْتَدِينَ % وَلَا تُفْسِدُوا فِى الْأَرْضِ بَعْدَ إِصْلَاحِهَا وَادْعُوهُ خَوْفًا وَطَمَعًا إِنَّ رَحْمَتَ اللَّهِ قَرِيبٌ مِنَ الْمُحْسِنِينَ[ 55، 56 الأعراف - قال الله تعالى فى الحديث القدسى ﴿يَا عِبَادى، لَوْ أنَّ أوَّلَكُمْ وَآخِرَكُمْ وَإِنْسَكُمْ وَجنَّكُمْ قَامُوا في صَعِيدٍ وَاحِدٍ فَسَألُوني فَأعْطَيتُ كُلَّ وَاحِد مِنْهم مَسْألَتَهُ مَا نَقَصَ من ذلِكَ مِمَّا عِنْدِي إلاَّ كما يَنْقصُ المِخْيَطُ إِذَا أُدْخِلَ البَحْر﴾.</p>

<p>فسبحان الله مجيب الدعوات مع تنوع المطالب والحاجات فى جميع الأوقات قال الله تعالى: ]يَسْأَلُهُ مَنْ فِى السَّمَوَاتِ وَالْأَرْضِ كُلَّ يَوْمٍ هُوَ فِى شَأْنٍ[ 29 الرحمن - فعن سيدى أبى الدرداء رضى الله تعالى عنه قال إن النبى e قال ﴿كل يوم هو فى شأن من شأنه أن يغفر ذنبه ويكشف كربه ويجيب داعيه ويرفع قوما ويضع آخرين﴾ وعن سيدنا عمر بن الخطاب رضى الله تعالى عنه أنه قال: إنى لا أحمل هم الإجابة، إنما أحمل هم الدعاء، فإذا ألهمت الدعاء فهناك الإجابة.</p>

<p>وقال بعض السلف نظرت فإذا الخير كله فى الطاعة، ثم نظرت فإذا جميع الخير كله فى الدعاء، ومن العجز والغبن أن يزهد العبد فى الدعاء فيفوته الخير الكثير، أو يدركه شر كثير.</p>

<p>واحرصوا اخوتى فى الله أن يكون الدعاء منا خالصا مبذول وإلى ربنا مرفوع مقبول بإذن الله، فعن سيدنا عبادة بن الصامت رضى الله تعالى عنه أن رسول الله e قال ﴿مَا عَلَى الْأَرْضِ مِنْ رَجُلٍ مُسْلِمٍ يَدْعُو اللَّهَ بِدَعْوَةٍ إِلَّا آتَاهُ اللَّهُ إِيَّاهَا، أَوْ كَفَّ عَنْهُ مِنَ السُّوءِ مِثْلَهَا مَا لَمْ يَدَعُ بِإِثْمٍ أَوْ قَطِيعَةِ رَحِمٍ، فَقَالَ رَجُلٌ مِنَ الْقَوْمِ: إِذًا نُكْثِرُ، قَالَ: اللَّهُ أَكْثَرُ﴾ وفى رواية الحاكم ﴿أَوْ يَدَّخِرَ لَهُ مِنَ الْأَجْرِ مِثْلَهَا﴾ وشأن الدعاء عظيم وآثاره معلومة ومشهودة، فقد أغرق الله الكفار بدعوة سيدنا نوح عليه السلام، قال الله تعالى: ]فَدَعَا رَبَّهُ أَنِّى مَغْلُوبٌ فَانْتَصِرْ[ 10 القمر - وهزم الأحزاب وكفار قريش ببدر بدعوة النبى e، وأكرم الله هذه الأمة بدعوة أبينا وسيدنا إبراهيم عليه السلام، فبعث فيهم سيد البشر سيدنا محمدا e، ووهب سيدنا زكريا يحيى عليهما الصلاة والسلام بعد كبر الزوجين، وأنجى الرسل عليهم الصلاة والسلام ومن آمن معهم من ظلم المكذبين بالدعاء.</p>

<p>فالدعاء مرغوب فيه للمسلم فى كل وقت وحتى الكافر إذا ظُلِم استجيب له، عن سيدنا فضالة بن عبيد عن النبى e قال ﴿إِذَا صَلَّى أَحَدُكُمْ فَلْيَبْدَأ بِتَحْمِيدِ اللهِ، وَالثَّنَاءِ عَلَيْهِ، ثُمَّ لْيُصَلِّ عَلَى النَّبِى e ثُمَّ لْيَدْعُ بَعْدُ بِمَا شَاءَ﴾ رواه الترمذى وابو داود والنسائى - وللدعاء آدابه أن لا يستعجل الإجابة، عن أبى هريرة t أن النبى e قال ﴿يُسْتَجابُ لأَحَدِكُمْ مَالَمْ يَعْجَلْ، يقُولُ: دَعَوْتُ فَلَمْ يُسْتَجبْ لى﴾ رواه الشيخان - ومن آدابه أن يقدم بين يديه صدقة وأن يستقبل القبلة ومن أعظم شروط الدعاء الرزق الحلال وطيب المطعم والمشرب والملبس، قال النبى e لسيدنا سعد بن أبى وقاص ﴿يَا سَعْدُ أَطِبْ مَطْعَمَكَ تَكُنْ مُسْتَجَابَ الدَّعْوَةِ﴾ فكان كذلك، واعلم أن تأخير الاستجابة يعنى أن الحق عز وجل يريد أن يراك أطول مدة ببابه سبحانه وتعالى.</p>

<p> </p>

<p>الجمع الكريم ..</p>

<p>إن المتتبع والملامس للواقع الطلابى والشبابى على مستوى الوعى والمفاهيم والأهداف، يرى العديد من أوجه الانغلاق الفكرى والمعرفى والمتمحور حول الحياة المعيشية الفردية والمحصورة فى أمور الزواج والعمل أو الوظيفة، ويأتى هذا الواقع كنتيجة سلبية ناتجة عن العملية التربوية والتعليمية المختلفة والتى يشوبها الكثير من النقص وانعدام التطوير وتحتاج إلى هيكلة فعلية تتم بواسطة ذوى الاختصاص والعلم.</p>

<p>ولا يخفى علينا قول أحد المستشرقين، قوله:</p>

<p>إذا أردت أن تهدم حضارة أمة فهناك وسائل ثلاثة:</p>

<p>الأولى هدم اﻷسرة:</p>

<p>بتغييب دور (اﻷم) بأن تجعلها تخجل من وصفها بــ"ربة بيت" وهذا ما حدث عند من نادى بالتحرر والسفور، وغياب رب الأسرة لما فيه من أثر عظيم فى تربية الأبناء وتقويمهم.</p>

<p>الثانية هدم التعليم:</p>

<p>ويكون بتهميش دور المعلم فى المجتمع وتقليل مكانته حتى يحتقره طلابه، وعدم الإهتمام بتنشئة الأجيال القادمة ورعايتها وإعطائها الفرص الجيدة للتعليم مما يزيد من التطور والعطاء.</p>

<p>الثالثة: سقوط القدوة والمرجعية بالتشكيك فى العلماء والأولياء والطعن فيهم.</p>

<p>فإذا اختفت (اﻷم الواعية) واختفى (المعلم المخلص) وسقطت (القدوة والمرجعية) فمن يربى النشئ على القيم ويرشدهم للمبادئ والقيم؟!!</p>

<p> </p>

<p>أحبابى فى رسول الله ..</p>

<p>قال تعالى: ]وَمَا أَرْسَلْنَاكَ إِلَّا رَحْمَةً لِلْعَالَمِينَ[ 107 الأنبياء - نبى الرحمة الذى حض على استعمال الرَّحْمَة والعطف على جميع الخلق من جميع الكائنات والحيوانات، على اختلاف أنواعها فى غير حديث، وأشرفها الآدمى وإن كان كافرًا، لأن ذلك مما يغفر الله به الذنوب، ويستر به العيوب ويقربنا للمحبوب إن شاء الله، فكن راحما لنفسك رحيمًا لغيرك، ولا تستبد بخيرك، فارحم الجاهل بعلمك، والذَّليل بجاهك، والفقير بمالك، والكبير والصغير بشفقتك ورأفتك، والعصاة بدعوتك، والبهائم بعطفك، فأقرب النَّاس من رحمة الله أرحمهم بخلقه، فمن كثرت منه الشفقة على خلقه، والرَّحْمَة على عباده، رحمه الله برحمته، وأدخله دار كرامته، ووقاه عذاب قبره، وهول موقفه، وأظله بظله إذ كل ذلك من رحمته.</p>

<p>إن المُتأمل للواقع المُخجِل الذى تعيشه الأمة لَتعتريه حسرات، وتُبلّل قلبَه عبرات، من هرولةٍ فارغة نحو ثقافات الغير، بدعوى التنوير والتحرُّر، وكأننا مُصفَّدون بأغلال الدِّين والعياذ بالله؛ فالمؤمن يرى فى منهج السلف والتسليم به نبراسًا لحياته، فهو يراه العنوان الأمثل لحياته، ولِمَ لا وهو المنهجُ الذى دلَّنا عليه القرآن الكريم، وأرشَدنا إليه خير الأنام صلوات الله وسلامه عليه؟! قال الله تعالى: ]يَا أَيُّهَا الَّذِينَ آمَنُوا اسْتَجِيبُوا لِلَّهِ وَلِلرَّسُولِ إِذَا دَعَاكُمْ لِمَا يُحْيِيكُمْ[ 24 الأنفال - فالتقرب إلى الله بالطاعات والابتعاد عن المعاصى والاجتهاد فى العلم والعمل يمثل الحصن المنيع ضد انحرافات الفكر والسلوك، كما أن محاولات التغريب المستمرة لهويتِنا ومبادئنا الإسلامية السامية، بدعوى التحرُّر من قيود، يراها المهرولون نحو الغرب أدواتِ تعجيز، مع أنها فى الأصل أدواتُ إعجاز يميِّز دينَنا وقِيَمَنا، ويضع الإنسانيةَ شكلًا وموضوعًا موضعَ تقديرٍ وتوقيرٍ واحترام، مع مراعاةِ مواكبة الثقافات المعاصرة، بالقدر الذى يُضيف ولا ينقص، ويعلو ولا يهبط، ويساير ولا يغاير، ثوابتنا وثقافتنا، فلا شىء يعلو فوق الدِّين، بل لا شىء يُضاهيه؛ إذ المنطقُ يقتضى من المؤمن التسليمَ لله تعالى ورسوله e فكمالُ التسليمِ من كمالِ العقل، والمخالفة تدلُّ على اتباع الهوى، قال الله تعالى ﴿بَلِ اتَّبَعَ الَّذِينَ ظَلَمُوا أَهْوَاءَهُمْ بِغَيْرِ عِلْمٍ فَمَنْ يَهْدِى مَنْ أَضَلَّ اللَّهُ وَمَا لَهُمْ مِنْ نَاصِرِينَ[ 29 الروم.</p>

<p>ولمّا كان أشرف الأعمال على الإطلاق (الدعوة إلى الله) فاختار لها أشرف الخلق.</p>

<p>فالطريق إلى الله أيها الأحباب (حبٌ وطاعةٌ) لأن الطاعة القائمة على الحب تأتى من القلب وليس (سمعاً وطاعةً) فقط، لأن الطاعة المبنية على السمع بغير حب قد تؤدى إلى النفاق، والنفاق يؤدى إلى الشقاق والعياذ بالله، وصدق الله العظيم حين قال ]فَلَا وَرَبِّكَ لَا يُؤْمِنُونَ حَتَّى يُحَكِّمُوكَ فِيمَا شَجَرَ بَيْنَهُمْ ثُمَّ لَا يَجِدُوا فِى أَنْفُسِهِمْ حَرَجًا مِمَّا قَضَيْتَ وَيُسَلِّمُوا تَسْلِيمًا[ 65 النساء.</p>

<p>ثم نجد البعض قد خلط ما بين الطاعة والمودة فى كتاب الله تعالى، فالكتاب الكريم قد حصر الطاعة لثلاثة (الله ورسوله وأولى الأمر) فجمع سبحانه ذاته مع الحبيب فقال جل شأنه فى عدة آيات:</p>

<p>]أَطِيعُوا اللَّهَ وَالرَّسُولَ[ 32 آل عمران</p>

<p>وتارة أخرى جمع ما بين ذاته وحبيبه وأولى الأمر فقال عز من قائل ]أَطِيعُوا اللَّهَ وَأَطِيعُوا الرَّسُولَ وَأُولِى الْأَمْرِ مِنْكُمْ[ 59 النساء</p>

<p>وتارة أنزلها لحبيبه فقط e فقال سبحانه ]وَأَطِيعُوا الرَّسُولَ[ 56 النور.</p>

<p>أما المودة فقال سبحانه وتعالى ]قُلْ لَا أَسْأَلُكُمْ عَلَيْهِ أَجْرًا إِلَّا الْمَوَدَّةَ فِى الْقُرْبَى[ 23 الشورى - فلماذا الخلط ما بين الطاعة والمودة، فالطاعة كل الطاعة لله وللرسول وأولى الأمر، أما أهل البيت فحقّت لهم المودة، وصدق الحبيب صلوات ربى وسلامه عليه حين قال ﴿الشيخ فى قومه كالنبى فى أمته﴾ فهلا وجدتم سابقا من ساوى بين الحبيب وغيره سواء من الصحابة أو من أهل البيت!!</p>

<p>وما أكثر الحديث عن (توحيد القبلة) ولكن هيهات هيهات .. كلٌ يؤولها بفكره بل ويعضد كلامه ببعض من أبيات الإمام على مراده لا على مراد الإمام .. فلقد مررنا بفترة كثر الحديث فيها عن أهل البيت ولم يعلق أحد على هذا الكلام، وفى فترة انتشار الحديث عن (توحيد القبلة) كثر الكلام واللغط .. بل وزاد التأويل فنجد من أضاف بحسن الظن منقصة، الأمر الذى نهانا عنه الإمام فخر الدين t، فنجد من قال عن توحيد القبلة "كلهم واحد" فجعل للطريقة أشياخ نتيجة للخلط، وقلنا سابقاً:</p>

<p class="text-center bold">صَاحِبُ الْعَزْمِ وَاحِدٌ لَا بِعَزْمٍ &nbsp; &nbsp; &nbsp; &nbsp;
مَا إِلَى غَيْرِهَا يَجُوزُ انْثِنَاءُ
</p>

<p class="bold">فلماذا ولمصلحة من؟ هل عصبية أم قبلية أم أردتم بها بضعٌ وسبعين، فكفوا ثم كفوا فالهوى أهوى كثيرا.</p>

<p> </p>

<p class="bold">أيها الكرام ..</p>

<p>من الرحمة الألفة والموافقة، وقال فيهما الحبيب المحبوب صلوات ربى وسلامه عليه ﴿الأرواحُ جنودٌ مجنَّدَةٌ، فما تعارَفَ منها ائتلَفَ، وما تناكَرَ منها اختَلَفَ﴾ الإمام أحمد في المسند - وكنى بعض العلماء عن الألفة فقال: إن الله تعالى خلق الأرواح، ففلق بعضها فلقا، وأطافها حول العرش فأى روحين من فلقتين تعارفا هناك فالتقيا تَوَاصَلا فى الدنيا.</p>

<p>إذً الائتلاف والتعارف ينتج عن تناسب فى الطباع والأخلاق، وعن سيدنا معاذ بن جبل: قال سمعت رسول الله e يقول: المتحابون فى الله فى ظل عرش الله يوم لا ظل إلا ظله يفزع الناس ولا يفزعون ويخاف الناس ولا يخافون.</p>

<p>إن الحب فى الله والبغض فى الله أمران لا ينكشفان إلا بالصحبة، وهى المجالسة والمخالطة والمجاورة، ونجد الطباع هى التى تكشف عن المؤمن والمنافق، وكل منهم ينجذب لمثله فلو أن مؤمنا دخل مجلسا فيه مئة منافق ومؤمن واحد، لجاء حتى يجلس إليه، ولو أن منافقا دخل إلى مجلس فيه مئة مؤمن ومنافق واحد، لجاء حتى يجلس إليه.</p>

<p>فالصحبة لا تصلح لكل إنسان، فالمرء على دين خليله، ويقول الإمام الفضيل (نظر الرجل إلى وجه أخيه على المودة والرحمة عبادة) فالخير كل الخير للرحماء أصحاب الأخوة والألفة، وهذه الرحمة لا ينزعها الله إلا من قلب شقى، فكونوا أصحاب ألفة ومودة ورحمة فالخير كل الخير للرحماء لأن غاية الرحمة الوصول إلى التوحيد الخاص، لأنه e الرحمة الخاصة للعالمين عامة ويقول سيدى أبو العباس المرسى: الأنبياء خلقوا من الرحمة ونبينا e هو عين الرحمة.</p>

<p>فأين التراحم يا بنى فإنه عذب صفى من شراب الكمل، فمن لم يجد قلبا له أو وجهة يخشى عليه، فانظروا فإن من رحمته سبحانه وتعالى أن قال ]وَمَا كَانَ اللَّهُ لِيُعَذِّبَهُمْ وَأَنْتَ فِيهِمْ[33 الأنفال - ومازال فينا سنةً وخلافةً .. وصدق الإمام فخر الدين رضى الله تعالى عنه (كن راحما فالخير للرحماء) فلتعقلوا يا أيها الثقلان ودعوا الراعى يقود إلى الثواب.</p>

				<p class="text-center color-theme">
					<b>وصل اللهم على سيدنا محمد وعلى آله وصحبه وسلم</b>
				</p>
				<p class="text-center">وكل عام وأنتم بخير
				</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
