﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				خطاب مولانا الشيخ محمد  فى ابريل 2015 بمناسبة الحولية الثانية والثلاثين.
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء الثامن من شهر أبريل عام 2015</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				</p>
				<p>
					الحمد لله الذى بيده الإيجاد والإنشاء والإماتة والإحياء، كتب على نفسه البقاء وعلى الدنيا الفناء، ومن سلك طريق الهدى كُتِبَ له الرضا، أحمده سبحانه وأشكره، مالك الـمُلْك يؤتى الـمُلْك مَنْ يشاء وينزع الـمُلْك ممَّن يشاء، والصلاة والسلام على حبيبه ومصطفاه سيدنا محمد   من خُلِقَت لأجله الأشياء، صاحب اللواء ومنبع الصفاء، مزيل الردى المبعوث رحمة إلى يوم النداء والشفيع يوم اللقاء، وعلى آله الكرام الأتقياء أهل السماحة والأمانة والحياء وأصحابه نجوم الاهتداء، منهم على التحقيق الصديق الصاحب فى الشدة والرخاء، والفاروق من ذلت له الأعداء، وذو النورين الصابر على البلاء، وزوج البتول الكرار من حصل له دون الكل الإخاء
				</p>
				<p>
					<b>الأحباب من كل مكان ...</b><br/>
					<b>السلام عليكم ورحمة الله تعالى وبركاته</b><br/>
				</p>
				<p>
					
					إن الإسلام دين الرحمة والتسامح والعفو والمغفرة، والتصوف بدوره يدعو دائما للتناصح والتوازن والاعتدال والسمو والرفعة، وجاء فى الحديث الشريف <b>﴿أفضل العبادة انتظار الفرج﴾</b><small>السيوطى فى جمع الجوامع والبيهقى فى الشعب.</small>
				</p>
				<p>
					ظللنا نراقب عن قرب ما شغل الأذهان والألباب .. تلك الظاهرة المؤلمة التى كثر الحديث عنها فى الأيام الماضية من تجاوزات فى المنهج القويم الذى وضعه ساداتنا أهل الطريق، الذى تميزّ بالسماحة والسير ورفع الحرج عن أتباعه ومع هذا الوصف لهذه الأمة المتصوفة، إلا أن أقواماً خالفوا مقصد الشارع الحكيم وخرجوا عن سَمْتِهِ وانحرفوا عن المنهج الصحيح، ونزعوا إلى الغلو والتشدد والتعصب، مما أعطى فرصة للبعض بشن حملة ظالمة من الافتراءات والمزاعم التى أرادت أن تلصق بالطريق تهم التعصب والتنازع وعدم التسامح وغير ذلك من الدعاوى التى لا أصل لها ولا سند، وكانت تلك العصبة -بقصد منهم أو بغيره- عونا لأعدائنا على تحقيق مرادهم فى النيل من أهل الطريق، الذين قال فيهم سيدى فخر الدين
				</p>
				<p class="text-center">
					<b>لَمْ يُذْكَرُوا إِلَّا بِطِيبِ فِعَالِهِمْ</b> &nbsp;&nbsp;&nbsp; <b>وَمَلَائِكُ الْبُشْرَى تَقُولُ سَلَامَا</b>
				</p>
				<p>
					<b>أحبابنا الكرام ..</b><br/>
				</p>
				<p>
					قال الحق سبحانه وتعالى <b>﴿مَنْ عَمِلَ صَالِحًا مِنْ ذَكَرٍ أَوْ أُنْثَى وَهُوَ مُؤْمِنٌ فَلَنُحْيِيَنَّهُ حَيَاةً طَيِّبَةً وَلَنَجْزِيَنَّهُمْ أَجْرَهُمْ بِأَحْسَنِ مَا كَانُوا يَعْمَلُونَ97﴾</b> <small>النحل.</small>
				</p>
				
				<p>
					من الناس من يفعل المعروف طمعاً فى السمعة أو جَرْياً وراء العادة أو إمعانا فى التسلية أو التغيير.
				</p>
				
<p>اعلم أخى الكريم أن كل عمل تقوم به يجب أن يكون خالصاً لله سبحانه، اعمل لتكن بخير من أجل من لا تطيق أن يرى الحزن بين عينيك.</p>

<p>من منطلق الإيمان بالعمل ذاتهِ والتزام الفرد بالعمل المشترك مع الآخرين، وذلك بدافع من شعور وجدانى عميق ينبع من أصل العقيدة، وهذا الشعور لم يتركه القرآن الكريم ولم تتخلَّ عنه السنة النبوية المطهرة، بل خُصِّصَ وتجلى فى أسمى معانى (الأخوة) فى قوله تعالى ﴿إِنَّمَا الْمُؤْمِنُونَ إِخْوَة10﴾ٌ الحجرات، وليس المراد بالأخوة رباط النسب، وإنما أخوة تعلو على كل هذا، وهى أخوة المتاحبين فى الله، تلك التى أشار إليها الحبيب المصطفى بقوله ﴿إن من عباد الله عباداً ليسوا بأنبياء، يغبطهم الأنبياء والشهداء، قيل: من هم لعلنا نحبهم؟ قال: هم قوم تحابوا بنور الله من غير أرحام ولا أنساب، وجوههم نور على منابر من نور، لا يخافون إذا خاف الناس، ولا يحزنون إذا حزن الناس﴾ ثم قرأ ﴿أَلَا إِنَّ أَوْلِيَاءَ اللَّهِ لَا خَوْفٌ عَلَيْهِمْ وَلَا هُمْ يَحْزَنُونَ62﴾ يونس.</p>

<p>ولكى تستمر روح التعاون بين المتآخين وجب عليهم شحذ هممهم بالمحبة والذكر والخدمة حتى لا يقوى على فصم عراها تعصب أفراد أو مجموعات ترغب فى شقاق أو تنازع.</p>

<p>اخوانى وأخواتى ..</p>

<p> (النصيحة) والدعوة إليها من أسس وآداب الصحبة، تلك التى رَغَّبَ فيها ديننا الحنيف، حيث جعل النبى الدين مساوياً للنصيحة فقال صلوات ربى وسلامه عليه ﴿الدين النصيحة...﴾.</p>

<p>والنصيحة تتطلب الرفق واللين وألا تكون على ملأ، وحينما يقع ممن تنصحه خطأ فعليك أن تحدد له هذا الخطأ أولاً، ثم تعملا سويا على تقويمه، وذلك إبراءً للذمة، فالحب هو المطلوب حالياً، فلو كان موجوداً ماكان ماكان.</p>

<p>وفى هذا يقول سيدى عمر بن الفارض :</p>

<p>مُخَالَفَتىِ فَاخْتَرْ لِنَفْسِكَ مَا يَحْلُو<br />
 </p>

<p> </p>

<p>نَصَحْتُكَ عِلْمَاً بِالْهَوَىَ وَالَّذِىِ أَرَىَ<br />
 </p>

<p>أيها الأحباب:</p>

<p>يقول سيدى الإمام فخر الدين :</p>

<p>وَهُوَ الْمُكَنَّى غَائِبـًا</p>

<p> </p>

<p>بِالسِّينِ يَسْبِقُهَا النِّدَا<br />
 </p>

<p>اعلم هداك الله أن البارى تبارك وتعالى (كنى) عن حبه لمصطفاه فى (الحواميم ويــس وطــه والطواسين) و(كنى) عن دوام وصاله لأوليائه فى ]سَلَامٌ قَوْلًا مِنْ رَبٍّ رَحِيمٍ[58 يس.</p>

<p>لذا .. كانت (الكناية) سُنةً وسِمَةً بارزة ومَعْلَماً ظاهراً فى دينِنَا الحنيف، حتى أن (الكُنْيَةَ) تُغَيِّبُ اسم الصحابى أو التابعى أو الولى رضوان الله عليهم أجمعين، وتاج الأدلة على ذلك أن المسلمين لا يذكرون اسم أول من أسلم بل يذكرون كنيته وهو الصديق الأكبر وكان اسمه (عتيقاً) وكَنَّاهُ الرسول بأبى بكر فكانت أحب إليه من اسمه, وكانت كُنية (أبى تراب) أحب للإمام على كرم الله وجهه من اسمه، وإذا رَوَيتَ حديثاً عن سيدنا (جُنْدُب بن جُنَادَة) لوجدت كثيراً من الناس يجهلون أنه الصحابى الجليل سيدنا (أبو ذر الغفارى) ...</p>

<p>لذا .. فإننا نحب ما أحب الله ورسوله من الكُنى والكِنايات لأحبابه، وهذا ما فعله سيدى محمد القصبى فى قصيدته (العصماء) التى توسل فيها ببرهان الدين سيدى أبى العينين الدسوقى:</p>

<p>قَدْ قَلَّ أَنْ تَلِدِى وَمِثْلُكِ مَاجِداً<br />
 </p>

<p> </p>

<p>يُحْكَى أَبَا الْعَيْنَيْنِ أَعْظَـمَ مَاجِدِ<br />
 </p>

<p>والبرهان هو الدليل القاطع الناصع الذى لا يُمَارَى، على صحة الإسلام وعز أوليائه .. وها هو صاحب سر الطريقة (البرهانية الدسوقية الشاذلية) كما ورد فى كتاب (السيد إبراهيم الدسوقى) الصادر عن لجنة التعريف بالإسلام:</p>

<p>يطلق على طريقته (البرهانية) نسبة إلى لقبه (برهان الدين) إبراهيم والإبراهيمية أو البرهامية نسبة إلى اسمه المبارك و(الدسوقية) نسبة إلى الشهرة المكانية.</p>

<p>أما النسبة إلى (الشاذلية) فقد ورد فى نفس الكتاب.</p>

<p>ورضى الله تبارك وتعالى عن شيخنا برهان الدين فهو القائل فى قصيدته (نوافح الجود):</p>

<p>الزُّهْدُ رَاحَتُنَا وَالذِّكْرُ حِرْفَتُنَا<br />
 </p>

<p> </p>

<p>وَلاَ تَنَمْ كَسَلاً فَالزُّهْدُ فِيهِ غِنىَ<br />
 </p>

<p>وَالْعِلْمُ صَنْعَتُنَا نَقْرَا وَنُقْرِيهِ<br />
 </p>

<p>ولقد اتخذ المتصوفون من الذكر بالاسم المفرد حرفة لهم، لتتزكى سموات أرواحهم وتتطهر أرضية أجسادهم، كما أخبر البارى تبارك وتعالى فى قوله ﴿اللَّهُ نُورُ السَّمَوَاتِ وَالْأَرْضِ35﴾ النور، وقال ﴿قَدْ أَفْلَحَ مَنْ تَزَكَّى ` وَذَكَرَ اسْمَ رَبِّهِ فَصَلَّى14﴾، 15 الأعلى، وعن سيدنا أبى هريرة قال قال رسول الله ﴿سَبَقَ الْمُفَرِّدُون﴾ مسند أحمد.</p>

<p>ولم يقتصر فعلهم على ذلك بل جَسَّدُوا الـمَثَلَ الذى ضربه البارى تبارك وتعالى فى قوله ]مَثَلُ نُورِهِ كَمِشْكَاةٍ[ فالمشكاة هى القفص الصدرى فى الإنسان ويمثلها سبع خوصات، وهى كناية عن الأنفس الواجب قتلها، والتى تحيط بالمصباح وهو القلب الذى فى زجاجة الذى يوقد من الشجرة المباركة التى هى كناية عن النبى ، فالفانوس شعيرة من شعائر الحضرة وذكره الإمام عبد الوهاب الشعرانى فى كتابه (لواقح الأنوار القدسية).</p>

<p>وعودٌ على بدء لحديث الكناية فإن (السلطنة) فى عالم التصوف أشهر من (نار على علم) وقد لُقِّبَ كثير من الأولياء بلقب (السلطان) منهم على سبيل المثال لا الحصر سيدى إبراهيم الدسوقى وسيدى السلطان أبو العلاء وسيدى السلطان الحنفى رضى الله عنهم أجمعين، ومما قاله القطب الدسوقى عن نفسه:</p>

<p>حَتَّىَ تَعُمُّ الْمَشْرِقَيْنِ طَرِيقَتىِ<br />
لأَنِّىِ أَنَا السُّلْطَانُ سِرُّ الْوِلاَيةِ<br />
 </p>

<p> </p>

<p>وَلاَ تَنْتَهِىِ الدُّنْيَا وَلاَ أَيَّامُهَا<br />
وَمَنْ كَانَ فىِ شَكٍّ فَقَدْ خَابَ ظَنُّهُ<br />
 </p>

<p> أبنائى وبناتى ..</p>

<p>يقول الحق سبحانه وتعالى ﴿مَنْ يَهْدِ اللَّهُ فَهُوَ الْمُهْتَدِ وَمَنْ يُضْلِلْ فَلَنْ تَجِدَ لَهُ وَلِيًّا مُرْشِدًا17﴾ الكهف، إذ إن للإرشاد دورًا أساسيًا فى بناء المريد عقيدةً وسلوكًا، ولذلك أوصى سيدى فخر الدين رضى الله عنه المرشد بأن: يلقن المريد الذكر حتى يحسن مخارج الحروف.</p>

<p>وعندما سُئِلَ مولانا الإمام الشيخ إبراهيم عن النصيحة لعموم الإخوان والنصيحة لمسؤولى الإرشاد كانت إجابته تعجباً من ابن الطريقة الذى لم يعط أبناءه الطريقة.</p>

<p>وفى ذلك إصلاح للشباب والبعد بهم عن مواطن الرزيلة والغفلة والانشغال بالدنيا، وكذلك البعد عن الأفكار الهدامة للجماعات الإرهابية التى يعانى منها الإسلام فى مشارق الأرض ومغاربها، وهى من أهم واجبات رب الأسرة لكى تكون ذريته من الذاكرين كما كان يشير إليهم بقوله: (رد الشاردين إلى الله).</p>

<p>أما مسئول الإرشاد فلا يتعدى حدود عمله ألا وهى (الإشارة إلى الشيخ) ثم ضرب مثالا بشرطى المرور الذى يرشد السيارات بإشارة من يده فى اتجاه السير الصحيح فتنتظم حركة السير، ولكن إذا أشار إلى نفسه اتجهت السيارات إليه فيكون ضحية الإشارة الخاطئة التى صدرت منه.</p>

<p>أبنائى وبناتى ..</p>

<p>إذا أحْبَبْتَ يوْماً، فكُنْ عَلى قَدرْ المَسئوليّة؛ لأن العَبث بالمَشاعِر أسوَأ جَريمَة، جريمة لا يُعاقِب عَليْهَا القَانُون بل يُعاقِب عَليْهَا القَدر؛ فأصعب الأشياء التى تؤثر فى حياة الإنسان هو فراق شخصٍ عزيزٍ عليه .. شخص كان يُعْتَبَر مصدر الأمان، مصدر الإلهام، وكاتم الأسرار، كان يُمَثِّل العون عند الملمات، أعطيته كل شئ وكنت مستبعِداً فكرة أنك ستفارقه ولو ثوانٍ .. وفى (لحظة) يرحل: لغلطةٍ .. لذلةٍ .. لسوء فهمٍ .. أو لأى سبب كان، وتنقطع بينكم كل وسيلة للاتصال، فى هذه اللحظة تنفطر القلوب، وتدمع العيون؛ لأن الصديق أو الحبيب الذى تلجأ إليه قد تركك لتبدأ العيش فى هذه الدنيا (وحيداً) مهموماً، وحينها يبدأ الألم والملل، والأرق يعصر قلبك، وأنت تحاول انتشال نفسك من هذه المرحلة، ولكن لا تستطيع اجتيازها إلا بصعوبة عندما تبدأ الذكريات تجتاح مُخَيِّلَتَك، تتذكر ذاك الصديق .. ذاك القريب .. فتتردد عليك ضحكاته وصوته وحكاياه، عندها يبدأ الحزن من جديد ولا تدرى متى يتوقف، فما أصعب الفراق.</p>

<p>فيما يروى عن سيدى فخر الدين أنه لحظة وداع الوفد الألمانى الذى زاره فى الخرطوم أواخر سبعينات القرن الماضى قال:</p>

<p>إن يوم الفراق أحرق قلبى أحرق الله قلب يوم الفراق</p>

<p>فيا أحباب رسول الله ثوبوا إلى رشدكم ورشادكم وإرشادكم: </p>

<p>من تنفع الذكرى لديه يفـز بها<br />
يا سعد لقنهم حلاوة طاعـة<br />
 </p>

<p>وإذا تـولى ما له حســاد<br />
كم كل فيها النصح والإرشاد<br />
 </p>

<p>أيها الأحباب ..</p>

<p>يقول سبحانه وتعالى ﴿وَلَا تَقْفُ مَا لَيْسَ لَكَ بِهِ عِلْمٌ إِنَّ السَّمْعَ وَالْبَصَرَ وَالْفُؤَادَ كُلُّ أُولَئِكَ كَانَ عَنْهُ مَسْئُولًا36﴾ الإسراء، اعلم وفقنا الله وإياك أن العُمرَ أنفاسٌ معدودة، وأوقاتٌ محدودة، وضياعُ الوقتِ إضاعةٌ للعُمر، وإهدارُ الأوقات إهلاكٌ للنفوس، وهذا الضياعُ والإهدارُ ينعكِسُ على الإنسان أمراضًا فى النفس، وضجَرا فى الحياة، وسُوءًا فى الأخلاق والسلوك، واضطِرابًا فى العلاقات، وضعفًا فى التحصيل، وضياعًا للمسؤوليات .. فوسائل التواصل الحديثة لها من المنافع الكثير والكثير مثل نقل المعلومة وسرعة التواصل، ومع ذلك فإن لها كثيرا من المسالب، فلا يصح أن تُنْشَر أو تُبَث الخصوصيات من خلال وسائل التواصل الاجتماعى، فليس كل ُما يُعْلَم يُكتَب، ولا كل ما يُعلَم يُقال، وليس كلُّ ما يُرَى يُصَوَّر، ولا كل ما يُصَوَّر يُنشَر -لا دينًا ولا مروءةً ولا حِكمةً- فإن مُريدَ الخيرِ لا تُعجِزُه الطرقُ النافِعة، أو الوسائلُ المفيدة لنفعِ نفسِه، وإفادَة غيرِه، ومن سلبيَّات هذه الوسائِل أيضا: الـمُجاهرةُ بالذنوبِ والمعاصِى، ومقترفها مُشيعٌ لفاحشةٍ، وناشِرٌ لمعاصٍ ﴿يَسْتَخْفُونَ مِنَ النَّاسِ وَلَا يَسْتَخْفُونَ مِنَ اللَّهِ وَهُوَ مَعَهُمْ إِذْ يُبَيِّتُونَ مَا لَا يَرْضَى مِنَ الْقَوْلِ وَكَانَ اللَّهُ بِمَا يَعْمَلُونَ مُحِيطًا108﴾النساء، وقد تكونُ الـمُجاهَرةُ بالإثم أعظمَ من فِعلِه؛ ذلكم لأن مقصودَ المنع من الـمُجاهَرة تعظيمُ الذنب، وعدمُ الاستِخفاف به أو التهاوُن فيه، لما فى الـمُجاهَرة من دعوةِ الناس إلى الفُجور، وتسهيلِ الإثم، وفى الحديث ﴿كُلُّ أُمَّتِى مُعَافًى إِلاَّ الْمُجَاهِرِينَ وَإِنَّ مِنَ الإِجْهَارِ أَنْ يَعْمَلَ الرَّجُلُ فِى اللَّيْلِ عَمَلاً ثُمَّ يُصْبِحُ وَقَدْ سَتَرَهُ رَبُّهُ فَيَقُولُ يَا فُلاَنُ عَمِلْتُ الْبَارِحَةَ كَذَا وَكَذَا وَقَدْ بَاتَ يَسْتُرُهُ رَبُّهُ يَبِيتُ فِى سِتْرِ رَبِّهِ وَيُصْبِحُ يَكْشِفُ سِتْرَ اللَّهِ عَنْهُ﴾ انظر صحيح البخارى ومسلم، وعملاً بقوله ﴿حدثوا الناس بما يعرفون، أتحبون أن يكذب الله ورسوله) وعن ابن مسعود قال ﴿ما أنت بمحدث قوما حديثا لا تبلغه عقولهم إلا كان لبعضهم فتنة﴾.</p>

<p>أيها الأحباب ..</p>

<p>يقول الله تعالى ﴿قُلْ أَئِنَّكُمْ لَتَكْفُرُونَ بِالَّذِى خَلَقَ الْأَرْضَ فِى يَوْمَيْنِ وَتَجْعَلُونَ لَهُ أَنْدَادًا ذَلِكَ رَبُّ الْعَالَمِينَ ` وَجَعَلَ فِيهَا رَوَاسِىَ مِنْ فَوْقِهَا وَبَارَكَ فِيهَا وَقَدَّرَ فِيهَا أَقْوَاتَهَا فِى أَرْبَعَةِ أَيَّامٍ سَوَاءً لِلسَّائِلِينَ9 ﴾، 10 فصلت، يعانى العالم اليوم من مشاكل كثيرة فى الموارد الطبيعية لاسيما المياه العذبة، ولكن تبقى الفرص لإيجاد حلول شافية متاحة إذا عملت الدول على ذلك، ويتضح لنا من النص القرآنى بأن الحق سبحانه وتعالى خلق الكون بقدر معلوم وحساب دقيق، وكلنا يعلم أن أكثر شىء يواجه الاقتصاديين اليوم هو سوء استخدام الموارد الطبيعية، فالله عز وجل بارك فى هذه الأرض وجعل فيها أقواتها بحيث تكون ممهدة مهيأة للإنسان تكفيه، فلا يحتاج إلى غيرها متى ما نشط وعمل فيها، ولذلك ما يسمى فى عالم الاقتصاد «بِنُدْرِة الـمَوارد» وهى فكرة اقتصادية تعبر عن العلاقة بين الرغبات الإنسانية وبين وسائل اشباعها ليس على إطلاقه، فإن السلوك البشرى يعتمد فى كثير من نشاطه على «سوء استخدام الموارد».</p>

<p>ونذكر هنا قول عالم إقتصاد (توماس مالتوس) الذى أطلق نظرية تتصل بالتكاثر السكانى يذكر فيها أن عدد السكان يزيد وفق متوالية هندسية فى حين أن الإنتاج الزراعى يزيد وفق متوالية حسابية، وهذا يعنى أنه مع الوقت جزء كبير من سكان الأرض لن يجدوا فوق هذه الأرض غذاء يكفيهم.</p>

<p>كما يتضح لنا من نص الآية ﴿وَلَا تُفْسِدُوا فِى الْأَرْضِ بَعْدَ إِصْلَاحِهَا56 ﴾ ، 85 الأعراف، بأن الفساد الذى يضر بحياة الناس على هذه الأرض هو فساد الجماعة لا فساد الأفراد، ذلك أن فساد الجماعة يتحول إلى فساد منتظم ممنهج، وممارس بشكل واسع لينذر بخطر مَاحِق لحياة البشر، أما فساد الأفراد فيبقى فى نطاق ضيق ولا يمثل نظاماً ولا ثقافة، كما لا يمكن أن يسلم منه مجتمع، بالإضافة إلى أن الدولة أو الجماعة باستطاعتها السيطرة عليه ومعالجته.</p>

<p>أيها الأحباب ..</p>

<p>فى هذا الزمان الذى طغت فيه الماديات، المختلفة فيه الأولويات، نصادف يومياً فى مسارِ الحياة مشاهد الصورة المعكوسة التى تجعل الباطِلَ هو الحقّ، والحقّ موضع الشك، فيعم الفساد، ويغلب العباد، وتستمرِئُ الأمةُ أبوابَ الحرام، وطُرقَ الإجرام، والجُرأة على الآثام، فتُشتِّتُ كل مجموع، وتكدِّرُ كل يَنبوع، وتُبيحُ كلَّ ممنوع، مُروَّجَةً بعباراتٍ خَلاَّبة، ومعانِى مُـمَوَّهةً كذَّابة، فنعيب الظروف التى وضعناها.</p>

<p>فعلى سبيل المثال يطلب اليهود الألمان من المستشارة الألمانية الاعتراف بدولة فلسطين، وأمريكا تدعى الديمقراطية ولكنها فى دعوى حربها على الإرهاب تضرب بكل المواثيق والعهود عرض الحائط (إتفاقية جنيف) وتستبيح لنفسها ما تحرمه لغيرها.</p>

<p>صورة أخرى فى الفرق بين المجاملة والنفاق فى المعاملة، فبينما تكون المجاملة إظهار إيجابيات الشخص وتحاشى ذكر السلبيات مما يوثق العلاقة ويقرب، نجد المنافق يُـحَوِّل تلك السلبيات وببراعة لُغَوِيَّة إلى إيجابيات لنيل مراده من الـمُتَلَقِّى.</p>

<p>وهاهو الغرب يعمل على تنظيم وتحديد الأسرة فى الشرق، بينما يدعم ويساند الإنجاب فى الغرب.</p>

<p>وكثيرٌ من الناس يعرف المعضلة أو المشكلة ولكن ليس لديه القدرة على حلها أو الحيلة على تجاوزها.</p>

				<p>
					<b>أحبائى ..</b><br/>
				</p>
				<p>
					لا يسعنا فى هذا المحفل العلى بين من تآلفت قلوبهم من أمة السيد العلى، بمناسبة الاحتفال بأصحاب العزم الأكيد والعون السديد والركن الشديد .. حفظاً للعهد وإبراءً للذمة لمن آلت إليه الخلافة من بيت المصطفى ليصبح:
				</p>
				<p class="text-center color-theme">
					<b>آل بيت المصطفى أهل الحمى</b>
				</p>
				<p class="text-center">
كل العام وأنتم فى الحمى وإنا لدى الله العظيم سنلتقى
<br/>
<br/>
والسلام عليكم ورحمة الله تعالى وبركاته
				</p>
				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
