﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    <div class="page-content hide-bars-on-scroll">
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					نص خطاب مولانا الشيخ ابراهيم الشيخ محمد عثمان عبده البرهاني شيخ الطريقة البرهانية الذي وجهه الي الامة الاسلامية مساء الاربعاء الخامس من ابريل 2000
				</p>
				<hr/>
				<b class='text-center'>بِسـم اللهِ الرّحمنِ الرّحيـمِ</b>
				<br/>
<p>وصلي الله علي المبعوث رحمة للعالمين وعلي آله الطيبين الطاهرين<br />
 قال تعالي ﴿يا أيها الناسُ قد جاءكم بُرهانُُ من ربِكُم و أنزلنا إليكُم نوراً مبيناً * فأما الذين آمنوا باللهِ واعتصموا ِبهِ فَسَيُدخِلَهُم في رحمةٍ منه وفضلٍ ويهديهِم إليهِ صراطاً مستقيماً﴾ صدق الله العظيم ..<br />
إخواني وأخواتي - ابنائي وبناتي <br />
السلام عليكم ورحمة الله وبركاته<br />
أُحييكم في هذه الليلة المباركة ونحن نحتفل بذكري العارف بالله الشيخ محمد عثمان عبده البرهاني, نستعرض فيها مناقبه وحياته التي افني جُلّ عمره مجاهداً فيها في سبيل الله, داعياً إلى الله بالحق .. فصحح المفاهيم وارسي لنا وللامة جمعاء الأساس والركائز لهداية الأمة وإنارة الطريق وإزاحة أستار الظلام من الوجود, فكان حقاً فخرالدين في الحضرتين وكان حقاً فخراً لطريقته التي اصطفاها سيدي إبراهيم القرشي الدسوقي منذ الازل لنشر الدين وهداية العالمين, حيث يقول سيدي إبراهيم الدسوقي في إحدى قصائده ..<br />
ولا تنتهي الدنيا ولا ايامها حتي تعم المشرقين طريقتي<br />
 إخواني .. أخواتي .. أبنائي وبناتي<br />
لعل هذه فرصة طيبة لنلقي بعض الضؤ علي الطريقة البرهانية الدسوقية الشاذلية فهي إحدى طرق الأصول وتنتهي لسيدي الشيخ إبراهيم القرشي الدسوقي رابع الأقطاب الأربعة ..<br />
اما نسب الطريقة<br />
فقد كان لسيدي أبى الحسن الشاذلي حفيد اسمه أبو المواهب الشاذلي الذي يعتبر أول من اخذ لواء الطريقة الممزوجة .. الطريقة البرهانية الدسوقية الشاذلية (البرهانية الدسوقية لسيدي إبراهيم الدسوقي, والشاذلية لسيدي أبى الحسن الشاذلي) ثم سافر إلى المغرب, وفي المغرب اخذ سيدي احمد زروق المغربي هذه الطريقة الممزوجة ثم سافر إلى السودان وبذلك انتقلت الطريقة معه من المغرب إلى السودان .. واثناء وجود سيدي احمد زروق في السودان أعطى الطريقة إلى سيدي أبى دنانة وسُمّي كذلك لان ذكر القلب لديه كان عاليا ومسموعا لدي من يحيطون به .. استطاع سيدي ابودنانة أن ينشر الطريقة بين الجعليين وفي شرق السودان, ثم رجع سيدي احمد زروق مرة أخرى إلى المغرب .. وقد انجب سيدي ابودنانة تسع بنات وولدا, ثم تزوجت البنات وتزوج الابن, ثم أنجبت كل واحدة منهن عشرة أبناء وانجب الابن عشرة أبناء فيكون سيدي ابودنانة أباً لعشرة وجداً لمائة, وجميع أحفاده أولياء ومنهم سيدي إدريس ود الارباب ومقامه كبير, وقد دفن في العيلفون بالقرب من الخرطوم, وسيدي سوار الدهب وقد دفن في دنقلا .. وقد ذهب أحفاد ابودنانة الي المغرب وشاركوا سيدي احمد زروق في نشر الطريقة بها, وقد طلب سيدي احمد زروق من الشيخ إدريس أن يذهب إلى دنقلا لمقابلة الشيخ فضل (أحد أجداد الشيخ محمد عثمان عبده البرهاني) وان يقوم بتسليمه الطريقة, وقد حدث ذلك بالفعل, واستلم الشيخ فضل الطريقة وقام بنشرها في مدينة دنقلا, ومن الشيخ فضل انتقلت إلى مولانا الشيخ محمد عثمان عبده البرهاني ..<br />
وقد اشتهرت الطريقة في السودان في عهد العارف بالله حُجة عصره وزمانه القطب الفرد الجامع الكبير مولانا الشيخ محمد عثمان عبده البرهاني المكني بفخر الدين .. المالكي المذهب المولود في سنة 1902 .. والذي انتقل إلى جوار ربه في الحادي والعشرين من جمادى الثانية سنة 1403 الموافق الرابع من أبريل 1983 .. وهو الذي ارسي دعائم الطريقة وبَذَر حِنطة انتشارها في كافة أنحاء العالم .. تبحر في علوم الدين وارجع علوم التصوف الي الكتاب والسنة الشريفة .. وقام بتأليف كتاب تبرئة الذمة في نصح الأمة وكتاب انتصار أولياء الرحمن علي أولياء الشيطان وسُجِّلت له مئات من أشرطة الدروس والتي تمت طباعتها مؤخرا في شكل كتب واسطوانات مدمجة, كل هذه العلوم والكتب وفرت السند الشرعي والدليل القاطع والبرهان العلمي والعملي للتصوف .. كانت حلقات دروسه مرجعا لكبار العلماء من العالم الإسلامي وعلي رأسهم شيوخ الأزهر وأساتذة الجامعات والعلماء في أوربا وأمريكا واستراليا وغيرها, فكان بحق منبراً للإسلام الصوفي الصحيح وحجة قاطعة تستند علي الكتب والسنة الشريفة .. وقد نظم لأحبابه اوراداً تشتمل علي الذكر والصلاة علي الحبيب المصطفي لقوله تعالي ﴿يا ايها الذين آمنوا اذكروا الله ذكراً كثيراً وسبحوه بكرة واصيلاً﴾ وقوله (ما من قومٍ يذكرون الله إلا حفتهم الملائكة وغشيتهم الرحمة ونزلت عليهم السكينة) وبإرجاع التصوف إلى الكتاب والسنة الشريفة يكون الشيخ محمد عثمان قد قطع كثيراً من اللغط الذي كان وما زال يدور حول كنه التصوف ووجوب محبة النبي وآل بيته الطيبين الطاهرين مصداقاً لما جاء في القرآن الكريم ﴿إنما يُريد الله لِيُذهِب عنكم الرِجس آل البيت ويُطَهِرَكم تطهيرا﴾ وايضاً قوله ﴿قل لا أسألكم عليه أجراً إلا المودة في القربى﴾ <br />
وما ورد في السنة الشريفة عن وجوب محبتهم والتي نورد منها (مَثَلُ أهلَ بيتي كمَثلِ سفينة نوح من ركبها نجا ومن تعلق بها فاز ومن تخلف عنها غَرِق) رواه ابن عباس ..<br />
 وعن سيدنا علي , ان رسول الله قال (أربعة أنا شفيع لهم يوم القيامة .. المُكرِم لذريتي .. والقاضي لهم حوائجهم .. والساعي في امورِهم عند إضطرارهم اليه .. والمُحِبُ لهم بقلبه ولسانِهِ)<br />
كان برغم علمه الغزير وينبوعه الذي لا ينضب خافياً علي الناس .. جاء إليه يوما بعض مشاهير العلماء المصريين لمحاورته في التصوف, فاجلسهم في مقاعد الضيوف, استصغره أولئك العلماء لما وجدوه فيه من ملبس بسيط ومن تواضعٍ جم, وبعد أن بدأ الحديث إليهم في علوم الدين, فوجئ الجميع بِدُررٍ ولؤلؤٍ من العلوم تنساب من بين شفتيه, حديثًا لطيفاً راقيًا عالياً تهفوا له الوجدان وتتلقفه القلوب بفطرة الله التي فطرها عباده, تبُث في النفوس الطمأنينة والسكينة, ولم تمر دقائق إلا وجلس أولئك العلماء علي الأرض احتراما وتوقيرا وتقديرا له .. وقد كان هذا شأنه مع أساتذة الجامعات والعلماء من كافة جنسيات العالم ومن كافة التخصصات العلمية والذين اعتنقوا الإسلام علي يديه .. كانت حياته كلها جهادا في سبيل الله إلى أن انتقل إلى المولي عز وجل بعد أن أورث الأمة الإسلامية بل العالم اجمع علوما ومنهجا يشكل الأساس لارشاد وهداية الأمة ورَد الشاردين إلى الله في وقت تقدم فيه العالم ماديا وتأخر روحيا وبدأ يلجأ فيه الناس للدجل والشعوذة والسحر لسد الفراغ الروحي, وبظهور الطريقة البرهانية الدسوقية الشاذلية وجد العالم ضالته لسد الفراغ الروحي وربْط الأرض بالسماء .. وإذا كنا منصفين حقا فان الشيخ محمد عثمان عبده البرهاني يشكل بلا فخر شخصية القرن العشرين في الناحية الدينية وكيف لا وقد جعل محيط أعماله كل العالم ولم يتقيد بالسودان فحسب .. واستطاع دون غيره وعبر زاويته الصغيرة بالخرطوم ثلاثة من دخول قلوب كثيرة لم تري الله خالقا فعرفته قبائل وشعوب وعلماء أمريكا وأوربا وآسيا وإفريقيا واستراليا .. توحدت القلوب عنده وتغيرت حياتهم تغييرا جذريا بواسطته, فبكوه عند مماته اكثر من أهله وأحبابه في السودان ..<br />
بعد وفاته انتظمت الطريقة في العديد من دول العالم وازدادت انتشاراً لتشمل كافة أنحاء العالم بقاراته الستة .. ومن الدول التي انتشرت فيها الطريقة .. الدول العربية, وإن سأل سائل ماذا يعني دخول الطريقة في بلد مسلم؟ فنقول يعني تصحيح العقائد في رسول الله ووجوب محبته وآل بيته الأطهار الطيبين وإيقاظ الغافلين عن ذكر الله, ورد الشاردين الي الله, فانتظمت الطريقة في جزيرة العرب وبلاد الحجاز والإمارات العربية وقطر وفي اليمن السعيد وعُمان والأردن والكويت وامتدت الطريقة إلى العراق حيث عراقة التصوف .. وتنسمت بلاد المغرب العبير البرهاني فانتشر الأرَج في ليبيا وتونس والمغرب والجزائر .. ومن الشمال العربي امتدت لتشمل افريقيا من الصومال وارتريا حتى جنوب إفريقيا<br />
ولقد كان قصَب السبْق للاخوة في امريكا الشمالية فانتشرت الطريقة علي امتداد الولايات المتحدة ثم مونتريال واوتاوا بكندا ومنها الي الجنوب الامريكي في شيلي وبوليفيا البرازيل .. فنزويلا وغيرهم .. اما في استراليا فقد انتشرت الطريقة وبدأت في الازدهار .. وعلي الصعيد الاوربي فقد انتشرت الطريقة في .. ألمانيا .. سويسرا .. إيطاليا .. فرنسا .. إنجلترا .. النمسا .. هولندا .. بولندا .. بلجيكا .. إسبانيا .. الدنمارك .. السويد .. النرويج .. الجمهوريات السوفيتية سابقا .. وتواصل نور الهداية ليشمل الدومينيكان .. جزر الهاواي .. الصين .. اليابان .. إندونيسيا .. الهند .. باكستان ..<br />
إخواني .. أخواتي .. أبنائي وبناتي<br />
لقد اصبح من الطبيعي أن يتحدث الناس عن انتشار الطريقة البرهانية عالميا واصبح الاحتفال السنوي الذي تقيمه الطريقة بالخرطوم والذي يؤمه مريدي الطريقة من كافة أنحاء العالم فيما يزيد عن أربعين دولة حدثا مألوفاً .. علما بان هذا الاحتفال يعتبر أحد المناسبات الدولية التي تنظمها الطريقة في كافة أنحاء العالم .. فهناك مناسبات دولية تقام سنويا في أوربا وتحديدا في مبني شنيدة بألمانيا وهو مقر المركز الدولي للبحوث والدراسات الاستراتيجية والشئون العلمية التابع للجنة الدولية للطريقة, كما تقام مناسبات دولية أخرى في الولايات المتحدة الأمريكية والدنمارك وايطاليا ..كل هذه المناسبات تشكل مؤتمرات للتشاور في أمور الطريقة والتخطيط للمراحل التالية .. <br />
والطريقة البرهانية لها شيخ واحد في كل أنحاء العالم وهو يتولي عمليات الإرشاد عبر مقر الطريقة الرئيسي بالخرطوم ومن خلال الزيارات المتواصلة لمراكز الطريقة في القارات الستة<br />
ولكن مع ضخامة المهام ومع كثرة المريدين والزيادة الكبيرة في زوايا الطريقة ومراكزها فقد قمنا بإصدار تنظيم إداري للطريقة يقع في ما يزيد علي السبعمائة صفحة من الحجم الكبير وهو ينظم أعمال الطريقة في مستواها الدولي وعلي مستوي الدولة والمدينة والقرية والحي, وهو يعتبر بلا شك مرجع علمي لنظم الإدارة ويمكن أن يدرس لطلبة الجامعات في تخصص الإدارة .. وهو أمر كان لابد منه حتى تتمكن الطريقة من التعامل مع شبكة زواياها المنتشرة في بقاع العالم والتي تعد بالمئات, واستطاعت الطريقة عبره من بناء نظام إداري يحتذي به.<br />
من معالم هذا النظام انه ينقسم إلى أربعة مستويات .. المستوي الدولي .. والقومي و مستوي المدينة ثم الحي والقرية .. ولضمان وجود التنسيق الدولي فقد اشتمل النظام لعدد م المؤسسات الدولية مثل المكتب الدولي للإرشاد والمكتب الدولي للخدمات والمكتب الدولي للإعلام الخ ومن أهم تلك المؤسسات الدولية هو المركز الدولي للدراسات الاستراتيجية والشئون العلمية بشنيدة وهو أحد المباني التاريخية في ألمانيا قرب مدينة هامبورج, يشرف علي هذا المركز مساعد السكرتير العام للبحوث والدراسات والشئون العلمية, وتتبع له عدد من الإدارات الدولية منها الإدارة الدولية للتأليف والترجمة ومقرها إيطاليا, الإدارة الدولية للتوثيق والمكتبات ومقرها القاهرة, الإدارة الدولية لتقنية المعلومات ومعلومات البث الفضائي ومقرها بازل بسويسرا, الإدارة الدولية للإنتاج السينمائي والإذاعي ومقرها هامبورج بألمانيا, الإدارة الدولية لاجازة النصوص ومقرها الخرطوم السودان وهناك العديد من الإدارات مثل الإدارة الدولية للإصدارات الصحفية والإدارة الدولية للبحوث والدراسات والإدارة الدولية للتدريب والتعليم ..<br />
إخواني – أخواتي _ أبنائي وبناتي<br />
يتحدث العالم الإسلامي عن مخاطر العولمة الثقافية وكيفية مواجهتها, أما بالنسبة لنا في الطريقة فإننا نري أن الشيخ محمد عثمان عبده هو أول من حطم الحواجز الجغرافية بين الدول في هذا القرن .. فالطريقة لم تنتشر في السودان فحسب وإنما في العالم اجمع, بل أن مريديها خارج السودان بالملايين, فالنهج الإسلامي الصوفي الراقي والإرشاد العالي لمشايخ الطريقة جعلها تنساب وسط شعوب العالم وأقول تنساب ولا أقول تغزو فالفرق كبير بين الكلمتين, حيث نجد أن الإرشاد العالي منهج الطريقة وسلوك أبناءها الذي يجسد روح الدين بالممارسة وليس قولاً, حباً وكرماً وأخلاقاً رفيعة وسلوكاً رفيعاً متفرداً وانفعالاً بالآخرين وحب الخير لهم, مدعوماً بعلوم راقية تقبلها الفطرة قبل العقل وغيره, قد جعل الطريقة تنساب وسط تلك الأمم .. إذن لا خوف من العولمة بالنسبة لنا في الطريقة البرهانية بل أن الطريقة البرهانية بالمنطق والواقع العملي تنوب عن العالم الإسلامي في إدارة الحوار الحضاري مع شعوب العالم في وقت أساء فيه الكثيرين للإسلام سواء من المسلمين أنفسهم أو المنظمات المعادية للإسلام حتى تحول فيه الإسلام إلى ديانة منبوذة لا تُذكر إلا ويذكر معها الموت والدم والإرهاب, فكان أن جسد النهج الصوفي الراقي المتميز للطريقة البرهانية بعثاً حضارياً استقبلته شعوب العالم بحفاوة بالغة ..<br />
ولعل الكثيرين يتساءلون عن سر الانتشار الهائل للطريقة البرهانية, أقول لهؤلاء أن وراء ذلك جانبان الأول باطني والآخر ظاهري أما بالنسبة للجانب الباطني وهو أمر يعلمه شيوخ المتصوفة, فالسر يعود لكون الزمان زمانها وكما هو معروف لكل طريقة زمانها الذي تنتشر وتعُم وتسود فيه .. وهذا الزمان هو زمن سيدي إبراهيم الدسوقي قطب الطريقة البرهانية ورابع الأقطاب, أما بالنسبة للجانب الظاهري فأود أن أقول هنا أن الطريقة البرهانية تتولى حاليا مسئولية تاريخية ألا وهي إدارة عمليات الحوار الحضاري بين الإسلام (الصوفي الصحيح) والعالم اجمع بكياناته وشعوبه وثقافاته ودياناته .. وقد لا يستوعب الكثيرين هذا العمل الضخم الذى تتولاه الطريقة فكما هو معروف ليس من السهولة التعامل مع عالم متقدم علميا وتقنيا, متعدد الأديان والأعراق والثقافات والتقاليد, فكان المحك الأساسي للطريقة هنا هو منهجها وسلوكها وعلومها الراقية وارشادها العالي وغيرها من العوامل التي سبق وتحدثت عنها يضاف لذلك بعد هام جدا وهو النهج العلمي فالطريقة تباشر أعمالها ونشاطاتها وفقاً لارقي الأساليب والمناهج العلمية وتستخدم آخر ما توصلت إليه التكنولوجيا .. ولعل النجاح المنقطع النظير لتجاوب شعوب العالم مع الطريقة يقف دليلاً علي ما ذكرت<br />
إخواني .. أخواتي .. أبنائي وبناتي<br />
ونحن نخطو نحو الألفية الثالثة حاملين رسالة النور كان لابد من وقفة أساسها أن لكل عصرٍ لغته, ولغة هذا العصر هي التقنية المتقدمة والاتصالات فكان لابد من استعمال نفس اللغة, فكانت هناك شبكة الإنترنت كمثال لذلك, علماً بان الطريقة قد انضمت للشبكة منذ سنوات طويلة ونسبة لتأخر دخولها للسودان فقد لجأت الطريقة للاشتراك فيها عبر مركزنا في مدينة بازل بسويسرا ومركزنا في مدينة هامبورج بألمانيا الاتحادية وبالتالي فهي أول مؤسسة تنضم للشبكة الدولية بالسودان, كما انضمت كافة زوايا الطريقة في كافة أنحاء العالم للشبكة وتجري خلالها عمليات الاتصال والتنسيق والإرشاد والاجتماعات عبر الشبكة كما يتم من خلالها بث الخطابات والدروس وتعليمات الإرشاد ..<br />
مثال آخر هو الإرشاد عن طريق الكميبوتر وهو نظام يتيح لكل من يود أن يحاور أو يتعلم أو يستفسر عن الإسلام اللجؤ لنظام المرشد عبر الكمبيوتر إما عبر البريد الإلكتروني أو الاتصال الهاتفي عبر الشبكة أو نظام الاجتماعات عبر الشبكة .. وهناك كمية ضخمة من الاتصالات تتلقاها الطريقة عبر هذا الأسلوب وهو أسلوب قد أتاح الفرصة لإجراء عمليات الحوار الحضاري إرسالاً واستقبالاً, وعبر هذا الأسلوب انتفت الحدود الجغرافية واصبح طبيعيا أن يجري حوار بين طرفين تكون المسافة بينهما ما يزيد علي ال14 ساعة طيران ولدينا أمثلة عديدة لذلك ..<br />
مثال آخر هو مركز المعلومات الدولي وهو مركز ضخم للمعلومات يحتوي علي كل المعلومات المتعلقة بالدين الإسلامي من فقه وحديث وسيرة وعلوم وغيرها .. وذلك بوسائل متعددة من أفلام سينمائية ومحاضرات مصورة وفقه مصور وما إلى ذلك باللغات الرئيسية الخمسة .. يقف عليه بالإشراف متخصصون وخبراء بمستويات نستطيع أن نقول أنها مستويات خبراء دوليين<br />
أما الأطفال في الطريقة فهم يجسدون أهم شريحة وقد شملت أبحاث الطريقة هذا المجال, وتوجد مراكز للطفل في عدد من زوايا الطريقة خارج السودان, تعتني به وبتعليمه وتنشئته التنشئة الإسلامية الصوفية الصحيحة, ولدينا حصيلة كبيرة من مؤلفات الأطفال, كما سيشهد المستقبل القريب ولادة العديد من البرامج والألعاب الحديثة التعليمية والترفيهية باستخدام الكمبيوتر, وهي من وسائل التعليم المنتشرة خارج السودان.<br />
إخواني .. أخواتي .. أبنائي وبناتي<br />
إن الحديث عن الطريقة يطول, وانما هذه قطوف من هنا وهناك نتنسم بها عبير ذكري مولانا الشيخ محمد عثمان عبده البرهاني , سائلين الله أن يعيدها علينا وعليكم وعلي جميع المسلمين في بقاع العالم باليُمن والخيرِ والبركات<br />
أحبائي <br />
هذه أيام طيبات مباركة نلتقي جميعاً من كل حدب و صوب حول معلمنا وراعينا سيدي فخر الدين شاكرين ومقدرين بما افاض به علينا من نعمة يُحسد عليها الملوك, نعمة الطريقة نعمة الهداية والإرشاد وحول ذلك ندندن .. إنها أيام عيد لنا جميعاً نتعرف فيها علي بعضنا البعض ونتشاور ونتدارس فيها ونقلب فيها امورنا .. نحاسب فيها انفسنا لنحسن ما اكملنا ونكمل ما بدأنا ونصلح ما اخطأنا فيه ونخطط ونبدأ فيما عزمنا عليه العزم معتمدين في ذلك علي رعاية مشايخنا الكرام وإرشاداتهم وعلي المحبة التي جمعتنا في صعيد واحد علي اختلاف الواننا وقبائلنا وبلادنا ..<br />
يقول الوالد رضي الله عنه:<br />
وغاية القصد حسن القصد لا عوج ووحدة الصف عندي عمدة الدين<br />
فأجمعوا امركم والله عاصمكم من الشتات لدي بضع وسبعين<br />
 ***<br />
إذا اجتمعتم علي حب ومرحمة فأيقنوا الوصل ان الله معطيني<br />
***<br />
فأسلموا إن إبراهيم بينكم ولي يمين من الغر الميامين<br />
الحمد لله أهل المجد والثنا سبحانه القائل ﴿إنا فتحنا لك فتحاً مبيناً * ليغفر لك الله ما تقدم من ذنبك وما تأخر * وينصرك الله نصراً عزيزاً﴾ والقائل سبحانه وتعالي ﴿قل جاء الحق وزهق الباطل إن الباطل كان زهوقا﴾<br />
يقول الوالد في تائيته:<br />
وجئ بها مصراً وبيعت رخيصة <br />
وذا عجب أن يزهدوا في البشارة</p>

<p>واكرم مثـواها بدار رحـيبة <br />
ومرتع خـير جـد اهل العناية</p>

<p>كما قال ايضاً:<br />
صبراً فما هو غير ما كتبت يدي <br />
ولبعد حـين يفتـح الفتـاح</p>

<p>أبشركم بأن الزاوية والحضرة في رحاب سيدنا الحسين قد اكتملت إجراءاتها والسجادة في مراحلها الاخيرة, وسوف يقدم أخونا محي الدين تفاصيل ما دار بالأرض الحبيبة مصر<br />
أحبائي ..<br />
الطريقة اليوم غطت العالم كله, لا يخلو قطر من أقطار العالم من النور البرهاني, وانتم تدركون جيداً المسئولية الكبيرة التي علي عاتقنا من إرساء قواعد العقيدة السليمة والشريعة السمحاء وإرشاد وهداية هذه الأمة كافة من عرب وعجم أمة المصطفي .. ألم يقل الوالد :<br />
عدنا كما عادت الأيام أولها تأذّن المصـطفي يُنبي مثانينا<br />
عاد الإخاء كما لم يفنه زمن وأُشهِد الكون آياً من تآخينا<br />
العمل كبير وعلي قدر أولى العزم تأتي العزائم وقد قيل اصبر كما صبر اولي العزم من الرسل ومنح المصطفي وتم العطاء, فأصبح واجباً علينا أن نرتقي إلى قدر المسئولية ونستفيد بكل ما لدينا من طاقات وقدرات ونستغل كل الوسائل العصرية والتكنلوجيا الحديثة لاداء مهمتنا.<br />
يقول الوالد :<br />
العلم شـأني والمعـلم قدوتي والغيب عنـدي اكمل الإعلام<br />
وغراس علمي في القلوب كأنه لعـلوه النخـل ذو الاكمـام<br />
***<br />
جـل مـن يحي علوماً بعد مـا بلغت عتيـا<br />
أيها الاحبـاب هاكم مـن كمـالاتي فتيـاً<br />
كـل مـا يدعي بعلم دون عـلم الله غيـا<br />
إن عـلمي في الاعالي كـان اسـما او سميا<br />
من عـلومي في الفيافي يطـلب الظمـآن ريا<br />
طي مـا احبـوه علم فيه يطـوي الكل طيا<br />
من يروم العـلم عندي يجتـني رطبـا جنيـا<br />
قد حـبيت العـلم لما كنت في المهد صبيـا<br />
فاتبعـني يا مـريدي اهـدك العلم السويا<br />
وعلي هذا المنوال ومتابعة لما بذره الوالد من علوم فقد قررنا قيام جامعة عالمية باسم (جامعة البرهان العالمية) حاملة اسم المعلم سيدي فخر الدين الشيخ محمد عثمان عبده البرهاني, والحمد لله حصلنا علي الأرض المطلوبة ونحن الآن بصدد تكوين لجنة عالمية من الأخوان إن شاء الله تدريجيا سوف تحتوي علي جميع أنواع الكليات مثالها مثال الجامعات العالمية الكبيرة ولكنها تختلف في ان طلابها سوف يمثلون جميع أقطار العالم علي اختلاف لهجاتهم ولغاتهم, وسوف يكون هناك سنتين اعداديتين يتم فيهما تدريس لغات وعلوم اساسية وشريعة وتصوف, وسوف يتم الاختيار لهذه الجامعة مثل الجامعات السودانية من الشهادة السودانية العامة وما يعادلها من دول العالم الأخرى, إخواننا في إيطاليا سعوا في هذه البادرة, واخونا عبد الغفور سوف يخبرنا بما وصلوا إليه, وقد قررنا أيضا قيام مطبعة كبيرة حديثة لتفي بمتطلبات الجامعة والطريقة معا.<br />
يقول الشيخ :<br />
ولتنشروا رايات عزي بعد ما <br />
طـلع النهار وتنشروا اعلامي</p>

<p>أحبائي ..<br />
مع هذا الانتشار والتوسع للطريقة في العالم فقد حان الأوان لقيام محطة فضائية خاصة بالطريقة يبث من خلالها دروس وكتب وحضرات مولانا الشيخ الإمام فخر الدين كما ويتم من خلالها ومن خلال صفحتنا في الانترنت الاتصال مع بعضنا البعض ومع بقية العالم, الكثير يمكن أن يجني من قيام هذه المحطة, ولقد كونت لجنة لهذا الغرض في سفري الأخير وأخونا حسن رالف من ألمانيا سوف يقوم بعرض ما توصلوا إليه ..<br />
أخيرا وليس آخراً عليكم أحبائي بالاوراد .. من لا ورد له لا وارد له, ولا رقي إلا بها, ولا تدني إلا عنها, بها تقوي المحبة والعقيدة وبفضلها يعم القلب نور اليقين والحقيقة وتطمئن القلوب قلا غِل ولا حسد ولا سخط ولا ضجر بل صبر وقناعة ويقين ..<br />
يقول الوالد <br />
وكل محب يسأل الله حاجة <br />
إذا قرأ الاوراد يغنم فوائدي</p>

<p>وكل سنة وانتم طيبين ..<br />
 وصلي الله علي سيدنا محمد وآله وسلم<br />
سبحان ربك رب العزة عما يصفون وسلام علي المرسلين والحمد لله رب العالمين</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
