﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    <div class="page-content hide-bars-on-scroll">
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					نص خطاب مولانا الشيخ ابراهيم الشيخ محمد عثمان عبده البرهاني شيخ الطريقة البرهانية الذي وجهه الي الامة الاسلامية مساء الاربعاء الرابع من ابريل 2001
				</p>
				<hr/>
				<b class='text-center'>بِسـم اللهِ الرّحمنِ الرّحيـمِ</b>
				<br/>
<p>وصلي الله علي اشرف المرسلين سيدنا محمد و آله و اصحابه اجمعين<br />
اخواني .. اخواتي .. ابنائي وبناتي ..<br />
السلام عليكم جميعاً .. نزلتم اهلاً وحللتم سهلاً .. التحية والتهنئة لجميع ابناء الطريقة والمحبين وجميع المسلمين في جميع انحاء العالم الحاضرين والذين لم يتثني لهم الحضور .. اخواننا بالمانيا الس قوتي واخواننا في فرنسا فِلِستا سيو واخواننا بايطاليا بوني فستا واخوتنا في الدنمارك تلِوقا واخوتنا في سويسرا بست فنشي واخوتنا في انجلترا والامريكتين happy return واخواننا في بقية العالم والدول العربية كل سنة وانتم طيبين .. اعاد الله علينا وعليكم جميعاً وعلي جميع المسلمين هذه الايام بالخير والبركة والسعادة <br />
قال تعالي في محكم تنزيله: ﴿إذا جاء نصر الله والفتح و رأيت الناس يدخلون في دين الله افواجاً فسبح بحمد ربك واستغفره انه كان تواباً﴾ صدق الله العظيم<br />
وقال سيدي فخر الدين <br />
عدنا كما عادت الايام اولها <br />
تأذّن المصطـفي ينبي مثانينا</p>

<p>عاد الإخاء كأن لم يُفنِه زمن <br />
واُشهِد الكون آياً من تأخينا</p>

<p> اتحدث اليكم الليلة و نحن نستشرف العام الهجري الجديد الذي تزامن هذا العام مع احتفالاتنا بصاحب الفرح سيدي الشيخ محمد عثمان عبده البرهاني .الذي كانت حياته كلها هجرة الي الله حيث قال في احدي قصائده:<br />
وتم لي هجـرة في طي هجـرته واصبح الآل و الاصحاب انصاري<br />
 تزامنت هذه الافراح ببداية العام الهجري الجديد الذي يحمل البشريات الطيبات .. فرجاً بعد ضيق .. ويسراً بعد عُسر .. وعدلاً بعد ضيم .. وسروراً وافراحاً بعد همٍ وغم ..<br />
قال سيدي فخر الدين :<br />
قد وعدنا فارتقب فتحاً قريباً بعـده فتحاً نري نوراً مبيناً<br />
ذاك يوم يجعل الولدان شيباً فيه إطلاق الفتوح بدا يقيناً<br />
احييكم في هذه الليلة السعيدة المباركة وقد جئتم من كافة انحاء العالم جماعاتٍ وافراداً الي الخرطوم للمشاركة في احتفالاتنا السنوية بمولانا الامام الشيخ محمد عثمان عبده البرهاني .. يسبقكم اليها الشوق والحنين والمحبة .. وهو شوق يقابله شوق وحباً يقابله حب ..<br />
نلتقي هذه الايام في رِحاب سيدي فخر الدين .. ولا يجمعنا الا حب المصطفي وآل بيته الطيبين الاخيار في مودة وتراحم نسترجع العبر والدروس من حياته التي بذلها كلها نشراً للهدي النبوي الشريف وتصحيحاً للمفاهيم والعقائد في لطفٍ ولينٍ ورحمة ووضعاً لاساسٍ متين لبناء اعظم دولة ينتظرها اهل هذا الزمان دولة العدل والخير والرحمة والإحسان .. دولة ابا العينين سيدي ابراهيم القرشي الدسوقي قطب الاقطاب وعروس المملكة ولسان الحضرات .. وقد آن للناس ان يشهدوا ميلاد الفجر الجديد وآن للناس ان يفرحوا ويستبشروا ..<br />
اخواني .. اخواتي .. ابنائي وبناتي ..<br />
ونحن نعبر الي الالفية الثالثة .. الي عصر العولمة الثقافية حيث زوال الحدود امام الفكر الانساني وزوال سيطرة الدولة وسيادتها علي الثقافة والعلوم, فاننا نجد ان مواجهة الغزو الفكري الغربي وادارة عمليات الحوار الثقافي والحضاري تتطلب نهجاً دقيقاً ومتقناً يمكننا ليس في مواجهة ذلك الغزو الفكري فحسب وانما يعمل علي تنظيم بعثاً حضارياً يعكس الهدي النبوي الشريف ليزيل استار الظلام في تلك الاصقاع من العالم ويؤسس لبناء عالم تسوده المحبة والإلفة والعدل ..<br />
إن النهج العلمي والتقدم المذهل في التقنية ووسائل الاتصال والمعلومات قد اصبحت لغة هذا العصر وسلاحه في نفس الوقت, ولعل الفترة المقبلة ستشهد تطوراً اكبر في مجال البث الفضائي قد يقود الي امكانية إلتقاط الارسال بالهوائي العادي الشئ الذي يعني ان بيوتنا ستكون مفتوحة امام هذا الغزو الفكري الاجنبي مما يعني ان يتم التفكير لمواجهة هذا الامر باسلوب مختلف عما ظل يتعامل به العالم الاسلامي في الفترة الماضية ..<br />
اخواني .. اخواتي .. ابنائي وبناتي ..<br />
اذا استعرضنا حياة سيدي الشيخ محمد عثمان عبده البرهاني فاننا نستطيع ان نتبين بوضوح انه انتهج نهجاً جديداً قام من خلاله بتأسيس مدرسة جديدة في عصرها فريدة في اسلوبها اهتم من خلالها بتربية الانسان وبنائه روحياً حتي يتخرج إنساناً سوياً ممارساً للدين عملاً وقولاً .. سلوكاً حميداً .. واخلاقاً رفيعة .. وقلباً صافياً ممتلئاً بالحب والايمان .. مدرسةً تعيد الانسان الي فطرته الاولي حتي يري بنور الله وحقاً كما قال تعالي ﴿كبُرَ مقتاً عند الله ان تقولوا ما لا تفعلون﴾ وفاقد الشئ لا يعطيه ..<br />
إن الشيخ محمد عثمان عبده البرهاني كما اهتم بتأسيس تلك المدرسة, فقد اهتم ايضاً بجمع كل العلوم والمعارف فعكف كل عمره في سبيل ذلك وجمع عدداً من الكتب وقدّم الآلاف من الدروس والمحاضرات التي كانت تحمل علماً راقياً فريداً عالياً لم يألفه الناس من قبل, ورد كل علومه تلك الي الكتاب والسنة الشريفة ليعلم الناس بعد جهلٍ ان التصوف هو لُب الدين وان المصطفي هو الصوفي الاول ..<br />
لم يكن الشيخ محمد عثمان عبده البرهاني ريد ان تنحصر هذه العلوم والمعرفة والارشاد العالي في السودان فكان ان خرج بها الي دول العالم في آخر مراحل نهجه العصري الجديد, فكانت البداية بمصر والدول العربية واوربا وتواصل المد الصوفي بعد ذلك ..<br />
وطفت بلاد الله شرقاً ومغرباً بذرت باقطار الاعاجم حِنطتي<br />
لتتحول زاويته الصغيرة في الخرطوم ثلاثة الي مركزٍ يشع منه نور الهداية ..<br />
إذن فالشيخ محمد عثمان عبده البرهاني هو اول من تعامل مع ما يسمونه اليوم بالعولمة الثقافية بل وكان سابقاً لعصره في بناء النظام المثالي للتعامل مع تطورات القرن الحادي والعشرين .. ولا سبيل للعالم اليوم الا اتباع هذا النهج الفريد وهذا الاسلوب الراقي .. وقد قمنا بوضع اللبنات الاولي والاساس المطلوب من آليات ووسائل تنفيذ هذه الرسالة حيث قمنا بتصميم النظام الاداري للطريقة والذي باكتمال تطبيقه واكتمال الوسائل المطروحة من خلاله نكون قد دخلنا مرحلة هامة من مراحل ارشاد الامة ونشر دين المصطفي .. ولعل اهتمامنا بالنظام الاداري كان نابعاً من هذا المنطلق .. ولعلكم جميعاً قد تابعتم الانجازات التي تمت من خلال النظام الاداري بالرغم من قِصر المدة من استغلال لشبكة الانترنت ووسائل الاتصال والتقنية .. ولا زلنا نسعي لتطوير ما بدأناه من اعداد برامج الارشاد عبر الكمبيوتر او انتاج الافلام او الاسطوانات المُدمجة او برامج الاطفال وما الي ذلك ..<br />
لقد شهد هذا العام إجازة الخطة الدولية للعام 2001 ولعلها تعتبر تجسيداً واقعياً وممارسة عملية للنظام الاداري تمكن الاخوان والاخوات بموجبها من الاشتراك في التخطيط لامور طريقتهم, وبالرغم من المشاركة لم تكن بالحجم المطلوب الا انها تشكل بداية جادة للدخول في مراحل متقدمة من تطبيق النظام, وبهذه المناسبة فانني اوصيكم جميعاً خاصة الاخوان والاخوات اعضاء لجان الدول ان يلتفوا حول هذا النظام ويعملوا علي تفعيله وزيادة حلقات الارتباط باللجنة الدولية بالخرطوم والتي تشكل وسيلة الاتصال بنا, وارجوا ان تتسع مساهماتكم في ما تبقي من خطة لهذا العام وتكثيف اتصالاتكم باللجنة الدولية العليا فيما يختص بهذا الامر حتي نصل الي فهمٍ وادراكٍ موحدٍ تجاه قضايا واهتمامات الطريقة في المرحلة المقبلة بما يؤدي الي تناسق وتكامل الجهود تجاه تحقيق اهداف الطريقة بايسر الطرق وافضلها ..<br />
اخواني .. اخواتي .. ابنائي وبناتي ..<br />
لعل اهم ثمرات الخطة الدولية للعام 2001 هو صدور وصحيفة رايات العز والمجلة الدولية للطريقة (البرهان) باللغتين العربية والانجليزية, والتي ستكون باذن الله تعالي صحيفة التصوف الدولية الاولي في العالم, وهي علاوة علي كونها وسيلة من وسائل نشر الدين والارشاد فهي ايضاً وسيلة لربط الاخوان من كافة انحاء العالم ببعضهم البعض .. انني ارجوا منكم كلا منكم في دولته العمل علي دعم هذين المشروعين بالكتابة او الترجمة او التحرير او التصميم او اي مقترحات من شأنها دعم وتطوير هذه المطبوعات وذلك بالتنسيق مع اللجنة الدولية للاعلام بالخرطوم .. ولعل صدور هذه المطبوعات يتزامن مع وقت احوج ما يكون الناس فيه لبروز الطريقة وانتشارها بمعدلات اوسع مما مضي حتي نستطيع ان نواجه امراض العصر و فتنه و مشكلاته ..<br />
 اخواني .. اخواتي .. ابنائي وبناتي .. <br />
لعلكم جميعاً تنتظرون اخبار الطريقة بمصر وارجوا ان اطمئنكم جميعاً باننا قد قطعنا شوطاً كبيراً وحاسماً في هذه القضايا ولا اود ان اخوض في تفاصيل الظروف والاشكالات والمعوقات التي ادت الي هذا التأخير, ولكننا بحمد الله تعالي قد انهينا كافة المشاكل المتعلقة بالامن العام وكذلك كافة المشاكل المتعلقة بالملف السياسي وهي ملفات ظلت معلقة طوال السنين الماضية ولم يكن بالامكان السير في خطوات تجاه الحل الجذري لمشاكل الطريقة الا بعد حسم هذين الملفين المهمين .. ونحن علي وشك انهاء الترتيبات النهائية التي بموجبها يتم رفع الحظر علي بيت السادة البرهانية ابناء الشيخ محمد عثمان عبده البرهانى والذي ستتم المصادقة عليه بواسطة المجلس الصوفي وبالتالي فتح الزاوية وممارسة نشاطنا قانوناً .. ولعل من اهم ثمرات مجهوداتنا خلال السنة الماضية هو تصحيح المفاهيم المغلوطة لدي الجهات المختصة بمصر عن الطريقة ونشاطها والتي كان مصدر معلوماتها كيدي او تقف وراءه مصالح او مآرب لا تمت الي الدين بصلة, وقد آن الاوان لأن تعود الامور الي وضعها الصحيح والمنطقي ..<br />
اخواني .. اخواتي .. ابنائي وبناتي ..<br />
إن المسئولية الملقاة علي عاتقنا كبيرة وهي بالضرورة تتطلب ان ندركها ونعيها حتي نستطيع ان نتعامل معها, ولقد حدثتكم عن اهمية التنظيم الاداري وتوفير الوسائل والآليات العصرية حتي نتمكن من انجاز مهمتنا إلا ان الاهم من ذلك كله هو توحيد القبلة والمواظبة علي المراقبة والاوراد والصفا بين الاخوان فالصفا مفتاح كما قال سيدي فخر الدين, اياكم والتنازع ..<br />
باب التنازع إن طرقتم تفشلوا هذا كـلامي فاجعـلوه إذاراً<br />
 وقال ايضاً<br />
مثل الظلم و التظالم عندي <br />
كخـبيثين جفوة والجفاء</p>

<p>كما قال ايضاً<br />
وليس بلوغ القصد ما قد ترونه <br />
فإن بلوغ القصد فض التشارك</p>

<p>واخيراً اود ان اشكركم جميعاً واخص بالشكر الشيخ سعيد الظبياني علي عونه الكبير في بناء الجامع ولمشاركته لنا في ايام عيدنا, كما اشكر جميع الاخوان والاخوات الذين شاركوا مادياً ومعنوياً وبخدمتهم وعرق جبينهم واخص بالشكر اخونا علي السويدي في إبداعاته في كتب الاوراد والقصائد واخونا صلاح محمد علي لمشاركته الكبيرة, وكذلك اللجنة المسؤولة واللجان المساعدة, جعلكم الله جميعاً ذخراً دوماً للطريقة.<br />
اللهم بأنوار كل شئ وهداه انت الذي أضاء كل الظلمات نورك اسألك ان تُنوِّر قلوبنا بحق احديتك ووحدانيتك, اللهم اصبغنا بانوار نبيك المصطفي وقربنا اليه زلفي, اللهم تعطف علي قلوبنا بمحبتك وتجلي علي ارواحنا بمشاهدتك واستعمل كل ذرة من اجسادنا وارواحنا للقيام بواجب الذكر والشكر, واعِنّا علي اداء حقوق عبوديتك, اللهم خلِّصنا كل الاخلاص اللهم الّف بين قلوبنا بمحبتك ياودود يا هادي اللهم آتِ نفوسنا هداها والهمها رشدها وتقواها وزكها فانت خير من زكّاها وتولها فانت خير من تولاها اللهم نتوسل اليك بأحب خلقك عندك سيدنا محمد احمدك المحمود المحبوب وبحق محبتك له ومحبته لك وبحق السر الذي بينك وبينه وبحق اسمائك الحسني كلها ان تصبغنا وابناء طريقتنا بانوار نبيك المصطفي وتقربنا اليه زُلفي اللهم أجبنا بروح قُدُسِك المؤيد بامرك القائم بالسبع المثاني والقرآن الكريم .. آمين .. آمين ..<br />
ربنا تقبل منا إنك سميع عليم<br />
وكل عام وانتم بخير<br />
 وصلي الله علي سيدنا محمد وآله وسلم<br />
سبحان ربك رب العزة عما يصفون وسلام علي المرسلين والحمد لله رب العالمين</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
