﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    <div class="page-content hide-bars-on-scroll">
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					نص خطاب الإمام الشيخ إبراهيم محمد عثمان عبده البرهانى شيخ الطريقة البرهانية الذي وجهه الي الامة الاسلامية مساء الاربعاء الثالث من ابريل 2002
				</p>
				<hr/>
				<b class='text-center'>بِسـم اللهِ الرّحمنِ الرّحيـمِ</b>
				<br/>
<p>اللهم صلي علي من منه انشقت الأسرار وانفلقت الأنوار وفيه ارتقت الحقائق و تنزلت علوم آدم فأعجز الخلائق وله تضاءلت الفهوم فلم يدركه منا سابق ولا لاحق فرياض الملكوت بزهر جماله مونقة وحياض الجبروت بفيض أنواره متدفقة ولا شئ الا وهو به منوط إذ لولا الواسطة لذهب كما قيل الموسوط ..<br />
اخواني اخواتي .. ابنائي وبناتي في الطريقة البرهانية الدسوقية الشاذلية أحيـيكم و احيي عبركم أمة المصطفي صلي الله عليه وسلم في مشارق الارض ومغاربها أنِ السلام عليكـم ورحمة الله تعالي وبركاتـه ، يسعدني في هذه الليلة المباركة ونحن نحتفل بسيدي العارف بالله الإمام الشيخ محمد عثمان عبده البرهاني في ذكراه التي تصادف اول السنة الهجرية كما تصادف مرور مائة عام علي مولده الشريف ، ان اتقدم إليكم بالتهنئة الحارة والامنيات الطيبة .. نسأل الله ان يجعل ما بعدها فرجاً وفتحاً مبيناً ..<br />
 اخواني اخواتي .. ابنائي وبناتي<br />
 قال تعالي في محكم تنزيله ... ﴿قال اهبطا منها جميعا بعضكم لبعض عدو فإما يأتينكم منى هدى فمن اتبع هداى فلا يضل ولا يشقى * ومن أعرض عن ذكرى فإن له معيشة ضنكا ونحشره يوم القيامة أعمى﴾ صدق الله العظيم ...<br />
اتحدث إليكم الليلة عن أحد هموم العالم الرئيسية إن لم يكن أهمها و أخطرها وهي ظاهرة التطرف الديني التي عاني منها العالم طويلاً خلال الخمسين عاماً الماضية والتي ساهمت التطورات الدولية التي شهدها العالم مؤخراً في بلورتها وإبراز خطرها الذي يقود للإرهاب وقتل الأبرياء و تدمير الأرض بدلاً من إعمارهـا، ولعل هذا هو النتيجة الطبيعية لعدم فهم التحذير الوارد فى هذه الآية الكريمة، فمنذ أن هبط الإنسان على وجه الأرض وكفل له الله كل وسائل المعيشة ويسّر له كل السبل الكريمة، فقد طالبه بالذِكر وحذره من الإعراض عنه، إلا أن بنى آدم قد انشغلوا بما خُلِق لهم وأعرضوا عما خُُلقِوا له ﴿عبدى خلقتك لنفسى وخلقت الدنيا لك فشُغلت بما خلقته لك عما خلقتك له﴾ حديث قدسى ... ونحن هنا لا نقف عند وصف العلة كما يفعل الكثير من الخطباء وعلماء الكلام فشرح تفاصيل المرض وخطورته أمر لايهم المريض بقدر ما يهمه معرفة سبب علته وكيفية الشفاء منها ثم الوقاية كى لا يعود مرة أخرى وكل هذا يندرج تحت حديث واحد للرسول الكريم صلوات الله وسلامه عليه إذ يقول (صلاح آخر هذه الأمة بصلاح أولها علمائِها وأمرائِها).<br />
وعلي هذا فإنه يجدر بنا ان نستعرض العبرة والعظة من دروس و توجيهات مولانا الشيخ محمد عثمان عبده البرهاني رضوان الله عليه، الذي نبه العالم قبل اكثر من ستة عقود من الزمان من خطر العولمة الثقافية و التطرف الديني، بل إن ما بذله في حياته كلها لم يعدو ان يكون الأساس و الوسيلة لحسن إدارة الارض وتقويم النفس وتهذيبها وربط الارض بالسماء، لقد بني الشيخ محمد عثمان عبده البرهاني نظاماً استراتيجياً محكماً يرتكز علي بناء الفرد (الوحدة) بما يجعل من المريد ممارساًَ للدين الحق قولاً وفعلاً سلوكاً راقياً واخلاقاً رفيعة صادقاً اميناً بالذكر والصلاة علي النبي صلي الله عليه وسلم، الشئ الذي يؤدي الي تحقيق السلام داخل الفرد ويشيع التوازن داخله، و بالتالي صلاح وتوازن الجماعة ومن ثم صلاح وتوازن المجتمع الذي يقود الي تحقيق التوازن والسلم الدوليين والعكس صحيح.<br />
 لقد شهد العالم الإسلامي خلال العقود الماضية العديد من التجارب الدعوية الدينية انتظمت معظم انحاء العالـم ، و الآن وبعد مرور اكثر من خمسين عاماً علي نهاية الحرب العالمية لم يجني العالم غير إضافة همٍ جديد الي هموم العالم الا وهو التطرف الديني الذي يمكن ان يقود الي إفساد عقائد الناس وتهديد مستقبل الارض والإنسانية، وأمام هذا الخطر الجديد وقف العالم حائراً فنتائج تجارب الماضي أصبحت تفرض تغييراً استراتيجياً، ولكن ما هو هذا التغيير وما طبيعته وما هو الخطأ؟ <br />
الاخوة و الأخوات<br />
 من المعروف للكثيرين ان الشيخ محمد عثمان عبده قد ارجع التصوف الي الكتاب والسنة و اثبت ان التصوف هو لُبُّ الدين، ولعل من أهم واخطر ما تناوله الشيخ محمد عثمان هو موضوع مسئولية الإرشاد والدعوة، فقد شرح من خلال دروسه وكتبه النظام الذي ارتضاه المولي عز وجل للدعوة وإرشاد الخلق حدد بموجبه المسئولية في ذلك للرسل والأنبياء والأولياء الصالحين، ولم يترك الامر كما هو مفهوم لدي الكثيرين للاجتهاد البشري ومحل شوري اهل الارض في إنشاء الجماعات للدعوة وابتداع الوسائل والأساليب لهداية الناس دون ارتباطٍ بالنظام الإلهي الذي يحكم ذلك، حيث ان عهد الولاية والأئمة المعتمدين قد بدأ بعد نهاية عهد الرسل ... يدل علي ذلك النص الشريف (يُبعث علي رؤوس الأشهاد في كل مائة عام إمام يجدد للناس امر دينهم) والنص يقول يُبعث، والبعث ليس للخلق خِيار فيه.<br />
اخواني اخواتي .. ابنائي بناتي<br />
 إن الضمان الوحيد للمحافظة علي الارض و حمايتها من الفساد و التدمير الناتج عن أي خللٍ بشري مثل تلك الممارسات الدعوية المتطرفة وغير الرشيدة التي انتشرت في بقاع الارض بل وحماية الدين نفسه من العبث والتشويه ، يكمن في وجود اتصال بين الارض والسماء ، ولن تأمن الارض الا عبر هذا، وهو ما يقود الي اهمية من اصطفاهم الله وزكّـاهم واذِن لهم من الأولياء والصالحين لسياسة خلقه و تعليمهم أمور دينهم و تربيتهم، وقد قال تعالي ﴿قل هذه سبيلي ادعوا الي الله علي بصيرة ٍ أنا ومن اتبعني﴾ والبصيرة هي فراسة المؤمن التي قال فيها المصطفي صلي الله عليه وسلم (اتقوا فراسة المؤمن فانه يري بنور الله) ...، ولعله من المهم للعالم اليوم الانتباه الي هذه الحقيقة المهمة والتي كان لمجافاتها كل هذا الخلل و الفساد الذي أصاب العالم اليوم، فكما ان الإرادة الإلهية قد اقتضت إرسال الرسل الي البشرية في مرحلة من المراحل فقد اقتضت ايضاً إسناد مهام الدعوة والإرشاد بعد انتقال المصطفى صلي الله عليه و سلم للأولياء الصالحين عبر نظام محكم، ولعل هذا يلتقي مع المنهج العلمي الذي يدعو لإسناد العمل للخبير المختص، إذ ان الدعوة للدين يجب ان يتصدي لها الخبير المختص الذي يؤهلـه علمـه وصلاحـه نتيجة للتقرب بالعبادة والذكر ﴿الرحمن فسئل به خبيراً﴾ وهو امر يطول شرحه الا ان مولانا الشيخ محمد عثمان قد أوضحه في دروسه وكتابيه انتصار أولياء الرحمن وتبرئة الذمة في نصح الامة حيث اثبت تلك الحقيقة وأرجعها الي الكتاب والسنة ... وقد كان هذان الكتابان بمثابة رنين أجراس الخطر الداهم للامة يشد الآذان ويطرق أبواب القلوب والناس في غفلة معرِضون حتى أفاق الناس على أصوات الرصاص والقنابل يقتل الأبرياء فى مختلف بقاع الارض ...<br />
ومن هنا تتضح خطورة تولي أمر الدعوة بواسطة من هم غير مؤهلين لذلك وعبر مناهج دينية و تربوية لا تلتقي مع تعاليم الدين الإسلامي السمحة بل تعمل ضدها وما أكثر غير المؤهلين ممن يتخذون من حديث رسول الله صلى الله عليه وسلـم (بلغوا عنى ولو آية) ذريعة لإرشاد الناس فى هذا الدين الحنيف بالقول بالرأى وعدم الاعتراف بفضل الأئمة المجتهدين فى الشريعة وإنكار فضل علماء الصوفية الأفاضـل، وقد صدق فيهم قول سيدنا عمر بن الخطاب رضى الله عنه {إياكم وأصحاب الرأى فإنهم قوم أعجزتهم الحيلة على حفظ أحاديث النبى صلى الله عليه وسلم}، ولكنهم لم يقفوا عند هذا الحد بل ظلوا يعمون الناس عن قدر المصطفى صلى الله عليه وسلم ويرفعون من أقدار مشايخهم، ونسوا الآية الشريفة ﴿لتعزروه وتوقروه﴾ التي قال فيها الإمام الشافعي رضي الله عنه {علمتنا هذه الآية ان احترام النبي أولى من اتباعه}.<br />
وقال صلي الله عليه وسلم (مثل اهل بيتي فيكم كسفينة نوح من ركبها نجا ومن تخلف عنها هلك) و قال ايضاً (إني أوشِك ان اُدعي فأجيب وإني تارك فيكم الثقلين كتاب الله، حبل ممدود من الارض الي السماء وعترتي اهل بيتي وإن اللطيف اخبرني انهما لن يفترقا حتي يردا علي الحوض يوم القيامة فانظروا بما تخلفونني فيهما) رواه الإمام احمد.<br />
ومما قاله الإمام الشافعي رضي الله عنه في هذا الصدد<br />
يـا آلَ بيـتِ رسـولَ اللهِ فرض مِنَ اللهِ في القرآنِ أنزلهُ<br />
يكفيكمُ ُمِن عظيمِ الفخرِ أنَّكُمُ مَن لم يُصلِّ عليكم لا صلاة له<br />
وقال سيدي فخر الدين :<br />
ولِئن سألتم ما الكتابِ فإنه مِمـا رواهُ امــاجِدُ الاعـلامِ<br />
نِعم الهداةَ حقائقاً قد سطروا فهُمُوا اُولِي القدرِ الجليلِ السامي<br />
اخواني اخواتي .. ابنائي بناتي<br />
 لم يقف الامر عند هذا الحد فقد حملوا راية العداء لأولياء الله الصالحين رضوان الله عليهم وأنكروا عطاء الله لنبيه من شفاعة وحرّموا على الأمة التوسل والتبرك، إنه داء العصر، وان النتيجة الواقعية التي يعيشها العالم نتيجة ذلك، هي تلك السمعة السيئة التي اُلصِقت بالإسلام وهو برئ منها، وبروز ظاهرة التطرف التى تقود إلى الإرهاب والحجر علي عدد من حقوق الإنسان التي كفلها الله وإظهار الإسلام كأنه دين متخلِّف لا صِلة له بالعلم والتقنية والتطور ولا يراعي حقوق الإنسان .<br />
اخواني اخواتي .. ابنائي و بناتي <br />
 لقد استشري هذا الداء ... داء العصر والعالم الإسلامي يقبل علي عصر العولمة الثقافية ويواجه فيه مخاطر الغزو الثقافي الغربي في وقت اعمل فيه الفقر بكل معاوله لهدم البنية الاجتماعية لجانب كبير من الامة الاسلامية الشئ الذي يهدد بانهيار ثقافة وسلوك وحضارة الامة الاسلامية خلال سنوات قليلة مما يقتضي بالضرورة الاستعداد المناسب لذلك.<br />
 ولعله من البديهي ان مواجهة ذلك لا يتم الا باتباع اساليب ذات أبعاد ومرتكزات استراتيجية ليس لتبادل الحوار مع العالم فحسب بل والإرسال بقوة، ولعله من المهم للعالم الإسلامي وهو يخطط للتصدي لمهام العصر القادم فانه يجدر به استعراض تجربة الطريقة البرهانية الدسوقية الشاذلية التي طرحت نموذجاً إسلامياً صوفياً راقياً يشكل دواء العصر بكل المقاييس، وباشرت عملياً عولمة الاسلام و قامت بتحطيم الحدود الجغرافية بين الدول مما ادي الي انسياب النور البرهاني الإسلامي الصوفي في معظم انحاء العالم حتي في أوربا والولايات المتحدة وغيرها من بلاد الغرب التي تعاني الان من ويلات التطرف والممارسات الدعوية الخاطئة والمنحرفة، فيما يزيد عن الخمسين دولة واستطاعت الطريقة ان تغزو القلوب في تلك المناطق في لطفٍ ولينٍ ويسرٍ ومحبةٍ واكتسبت حب الناس حتي صارت مضرباً للأمثال، وقد تم كل ذلك رغم تباين الظروف البيئية والتطور التكنلوجي الهائل في تلك البقاع من العالم وتعدد اللهجات واللغات والعادات والتقاليد لتصبح الخرطوم محوراً ومرتكزاً بل ومرجعاً أساسياً لتبادل الحوار مع شعوب العالم، وسيكون من غير المنطقي الا يستفيد السودان والعالم الإسلامي من هذه التجربة الفريدة.<br />
اخواني اخواتي .. ابنائي بناتي<br />
 ان مواجهة المخططات الأجنبية ومخاطر العولمة الثقافية والغزو الفكري الغربي في ظل غياب او عدم الاهتمام بالإرشاد او عبر جهات غير مؤهلة لذلك يؤدي الي كشف صدر الامة الإسلامية عارياً بالكامل امام سهام المخططات الأجنبية الثقافية والدينية المسمومة.<br />
 ولعله آن الاوان للعالم الإسلامي لتقاسم الأدوار بين الدولة والطرق الصوفية تتولي بموجبه الطرق الصوفية مسئولية (التنمية الاخلاقية) تزكية النفوس وتربيتها وصبغها بالقيم النبيلة من صدق وامانة والتزام الخ عبر الاسلوب والوسيلة التي ارتضاها المولي سبحانه وتعالي، بينما تتولي الدولة ( التنمية العقلية) أي عملية التأهيل العلمي للمواطن بجانب قدر من برامج التربية، وان ذلك سيؤدي الي لقاء ثمرة التنمية العقلية والتنمية الاخلاقية لتشكل المواطن الإسلامي الصالح الذي سيصبح فيما بعد الركيزة الاساسية للنهضة الاسلامية الشاملة ويشكل الوحدة الراسخة المتماسكة المتزنة داخل الجماعة التي تقود الي السلم والأمن الدوليين ... وان أي إنسانٍ ذاكرٍ ذو قلبٍ ملئ بالحب لن يشع منه الا الحب والخير للبشرية ويسعي الي خير الناس وإعمار الارض بدلاً من تدميرها، وعلي هذا فان الأساس المتين لحماية الناس وحسن إدارة الارض يكمن في التربية الاخلاقية التي يجسدها التصوف الإسلامي الذي ظل ولا زال وسيظل يحمل اسس وتعاليم وقيم الدين الإسلامي الأصيلة دون تحريف او تشويه ...<br />
 لقد حاول البعض التشكيك فى التصوف وإظهاره فى ثوب الخارج على الدين والشرع، وما التصوف إلا الترقى بين مراتب الدين إسلامه وإيمانه وإحسانه، وقد ميز علماء الصوفية الذين هم أعلام الفقه فى كل زمان ومكان بين هذه المراتب التى يؤدى الخلط بينها إلى الهاوية التى وصل الناس إليها الآن من فشل فى أساليب الدعوة التى لا يستجيب لها أحد اللهم إلا شارد.<br />
 أما المتصوفين الذين شغلوا بالمناقب وتركوا الأوراد فقد تخلى عنهم الإمداد وصاروا يحملون أسماء الأباء من غير ميراث، ونحن هنا نبين للناس أن التصوف علم وعمل<br />
 اخواني اخواتي ... ابنائي وبناتي ... قال سيدي فخر الدين رضي الله عنه:<br />
 من كمال العطاء من فيض وهب أيـها النـاس جـاءكم إبراهيم<br />
 فالعلم المفروض على كل مسلم ومسلمة هو علم الفرائض التى لا يستقيم شرع مسلمٍ ولا ولىٍ إلا بها، حيث يأخذ الشيخ بيد المريد ليعلمه النوافل، وكما أن النافلة ظِل للفريضة وكما أن الشهادة لله والرسول باب الإسلام فإن نافلة الشهادة {ذكر الله والصلاة علي النبي صلي الله عليه وسلم} تشكِّل باب الإيمان وهى باب السير إلى الله ﴿ثم اتقوا وآمنوا ثم اتقوا وأحسنوا والله يحب المحسنين﴾ المائدة، ... والإيمان بضع وسبعون شعبة أدناها إماطة الأذى عن الطريق إلى الله وهى النفس الأمارة بالسوء.<br />
أمارة بالسوء بئس شرابها فهو الزعاف وقمة البلواءِ<br />
فى قتلها نعم الثواب لقاتل عنكم أماط مصادر الإيذاء<br />
وأعلاها شهادة أن لا إله إلا الله شهادة عيان لا شهادة لسان ...<br />
من شاهد الوجه الكريم فهل له أن يسـتسيغ الراح بالقيعان<br />
 اخواني اخواتي .. ابنائي بناتي<br />
 إن الدين هو مصدر الهداية للناس ومصدر التشريع ولكنه ليس مِحور سيادة دولة علي دولة أو تسلط فئة علي مجتمع، وان الاسلام الصوفي وجد القبول عند عامة الناس في شتي بقاع العالم حيث وحدت الطرق الصوفية الكثير من الشعوب والقبائل وذلك لاعتمادها علي قيم الإسلام التي تساوي بين البشر، إن الإسلام قد إنساب بلطف في معظم أرجاء العالم عبر القرون الماضية ليس فيه قسر ولا إكراه ولا عنف ولا يعرف الغلظة ولا الفظاظة ولا القسوة ولا العنف وتمكن من وجدان المسلمين بل واصبح ضرورة اجتماعية بجانب انه مصدر للهداية ومصدر للقيم الفاضلة والأخلاق الكريمة التي هي أساس المعاملة بل ان الدين الإسلامي الصوفي تجسَّد في المعاملة، واثبت عملياً ان العبادات ليست حركات شكلية و إنما أدوات لتزكية الأخلاق تعمل لبناء الشخصية الإنسانية السوية والإنسان الصالح المتصف بالصدق والأمانة والعِـفـة والتواضـع نتيجة للذكر والصلاة علي النبي صلي الله عليه وسلم والقدوة الحسنة, لا بالقهر التشريعي ولا العقاب القانوني ولا سلطان الدولة ﴿ولو شاء ربُك لآمَنَ مَن في الارضِ كُلهم جميعاً أفأنتَ تُكـرِهُ الناسَ حتي يكونوا مؤمنيـن﴾ ﴿ولـو كُنتَ فظَّـاً غليظَ القلبِ لانفضّوا مـــِن حولك﴾ ﴿اُدعُ الي سبيلِ رِّبكَ بالحِكمةِ والموعظةِ﴾ ﴿فسألوا اهلَ الذِكرِ إن كُنتم لا تعلمون﴾.<br />
الاخوة والاخوات ... لقد تحدثت عن داء العصر وخطورة تولي مسئولية الارشاد لمن هم غير مؤهلين لذلك، واضحت انعكاسات ذلك علي الحياة البشرية، الا ان هذا لا يعني انه لا توجد اسباب اخري تهدد الحياة في الكرة الارضية ... فالارهاب هو ناتج للتطرف ولا يمكن ان يربط بدينٍ ما او عرقٍ ما او ايدلوجيةٍ معينـة وقد شهد العالم إرهاباً ممن يدينون بدياناتٍ اخري، وسيكون من غير المنطقي و نحن نتحدث عن سلامة الكرة الارضية وحسن ادارةٍ الارضٍ دون ان نتطرق لسلبيات النظام العالمي خلال الخمسين عاماً الماضية وازدواجية المعايير وما يقف خلفها من مخططات طمعية ساهمت بصورة رئيسية في مفاقمة الاوضاع في العالم وادت الي هذا الخلل والارتباك الذي يعيشه العالم اليوم، وان المدخل الصحيح للولوج الي عالم آمِن مطمئن يكمن في مدي النجاح في التوصل لصيغة لادارة العالم يجتمع فيها العلم و التقنية مع العدالة و المبادئ الانسانية والاخلاقية.<br />
 أخواني اخواتي .. ابنائي وبناتي<br />
 مع انتشار النور فى غرب السودان فقد تلألأت أنوار أبا العونين فى جنوب السودان وبلاد النوبة حيث أشرقت أنوار الطريقة البرهانية فى كل أرجاء السودان وعم النور أطراف الوعاء.<br />
إن الحُبُ فى اللهِ هو السبيل الوحيد لجمع أبناء السودان شماله وجنوبه وجمع أبناء الوادى شماله وجنوبه على صعيد واحد ﴿ … لو أنفقتَ ما فى الأرضِ جميعا ما ألّـفت بينَ قلوبِهِم ولكنَّ اللهَ ألـَّف بينهُم﴾ الأنفال.<br />
وفي هذا الصدد ارجوا ان احيي عبركم اخوتنا في مؤتمر وادي النيل برئاسة الدكتور حسين ابوصالح وهم يحملون هم الامة و معاناتهـا ... آمالهـا وطموحاتها ... يعملون في صمتٍ علي إرساء اسس ومفاهيم جديدة لممارسة السياسة وإدارة الدولة لطالما ظلت مفقودة في بلادنا تقوم علي المنهجية العلمية وترتكز علي الصدق والامانة ومصلحة الوطن، مستندةٍٍ علي كوادر قيادية تلقت ارقي أنواع التأهيل والتنمية الاخلاقية علي يد مولانا الشيخ محمد عثمان عبده البرهاني رضي الله عنه فأصبحت بذلك السند والضمان الأكيد لتحقيق النجاح وبناء نظام سياسيٍ وإداريٍ جديد يقوم علي العلم والأخلاق وكيف لا وهو يجسد نهج المصطفي صلي الله عليه وسلم الذي قام بتربية صحابته بالذكر والصلاة علي النبي قبل ان يوكل إليهم امر الدولة ... وان هذا النهج سينعكس خيراً ليس علي السودان فحسب و إنما وادي النيل ايضاً ... و سيحقق مؤتمر وادي النيل ما بشر به مولانا الشيخ محمد عثمان عبده البرهاني من ان مصر والسودان سيتوحدان، وهو امر باطني سيتحق دون شك او ريب ... <br />
اخواني اخواتي .. ابنائي بناتي<br />
 من خلال حديثي هذا تدركون خطورة داء العصر، كما أنكم تدركون دواء العصر، الشئ الذي يعني تعاظم المسئولية الملقاة علي عاتقنا جميعاً في المرحلة المقبلة ونحن نتصدي لاهم مشكلات العصر وهمومه، مما يجعلني اطلب منكم جميعاً بذل المزيد من الجهد والاستعداد للمرحلة القادمة بكل جدٍ وهمةٍ وحبٍ وصـفا، ولتعلموا بان مرحلة بذر البذور قد مضي عهدها وحان موعد الانتشار ... ومع ارتفاع مآذن مسجد سيدي فخرالدين التي بدأت تعانق فضاء القرن الحادي والعشرين، فإن العالمَ علي موعدٍ مع مرحلةٍ من اهمِ مراحل التاريخ البشري الا وهي ظهور دولة سيدي ابراهيم القرشي الدسوقي الي الوجود ...<br />
هذه دولتنا قد حضرت دولة العِزِّ و كنز الفرحِ<br />
قال تعالي في محكم تنزيله ...<br />
 ﴿إذا جاءّ نصرُ اللهِ و الفتح و رأيتَ الناسَ يدخلون في دينِ الله افواجاً فسبح بحمد ربك واستغفره إنه كان توابا﴾<br />
إلهي نسألك بمسائلك و نرغب إليك بك في بركات ما أنطقتنا به من حمدك ووفقتنا له من شكرك وتمجيدنا لك فما ايسر ما كلفتنا به من حقك واعظم ما وعدتنا به من نعمائك ومزيد الخير علي شكرك ... ابتدأتنا بالنعم فضلاً وطولاً وأمرتنا بالشكر حقاً وعدلاً ووعدتنا عليه أضعافاً ومزيداً وأعطيتنا من رزقك واسعاً كثيراً اختياراً ورضاً وسألتنا عنه شكراً يسيراً ... لك الحمد اللهم علينا إذ نجيتنا وعافيتنا برحمتك من جهد البلاء ودرك الشقاء ولم تسلمنا لسؤ قصدك وبلائك وجعلت ملبسنا العافية وأوليتنا البسطة والرخاء وشرعت لنا ايسر القصد وضاعفت لنا اشرف الفضل مع ما عبدتنا به من المحجة الشريفة وبشرتنا به من الدرجة العالية الرفيعة واصطفيتنا بأعظم النبيين دعوة وأفضلهم شفاعة وارفعهم درجة وأقربهم منزلةً وأوضحهم حجةً محمدٍ صلي الله عليه وعلي آله وسلم وعلي جميع الأنبياء والمرسلين وأصحابه الطيبين الطاهرين ...</p>

<p>وصلي الله علي سيدنا محمد و آله وسلم<br />
سبحان ربك رب العزة عما يصفون و سلام علي المرسلين و الحمد لله رب العالمين</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
