﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    <div class="page-content hide-bars-on-scroll">
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					نص خطاب الامام الشيخ ابراهيم محمد عثمان عبده البرهاني شيخ الطريقة البرهانية الذي وجهه الي أبنائه خلال زيارته إلى دولة الإمارات العربية
				</p>
				<hr/>
				<b class='text-center'>بِسـم اللهِ الرّحمنِ الرّحيـمِ</b>
				<br/>
<p>الحمد لله الذى لا آله الا هو الواحد الاحد الفرد الصمد له الأسماء الحسنى الذى ليس كمثله شىْء وصلى الله علىٍ نور النور السراج المنير والصراط المستقيم للأولين والأخرين رحمةً للعالمين وعلى الذىٍ منه وبه المصطفى والمقتدى صراط المصطفى ونجيِهِ ووارثهُ بعضاً وجملةًً</p>

<p>القائل:<br />
وَمَالِكُ يَوْمِ الدِّينِ مَنْ دَامَ مُلْكُهُ<br />
 <br />
أَفَـاضَ عَلىَّ خِـلْعَةَ الْمَـالِكِيَّةِ<br />
إِذِ النَّاسُ فِى أُمِّ الصَّلاةِ تَضَرَّعُوا<br />
 <br />
إِلَى اللهِ حَتَّى يِهْـتَدُوا بِهِـدَايَتِى<br />
فِإِنَّ صِرَاطِى مُسْتَقِيمُُ وَتَابِـعِى<br />
 <br />
عَلَى أَثَرِى يَسْعَى إِذَا النَّاسُ ضَلَّتِ<br />
وَإِنِّى صِـرَاطُ الْمُصْطَفَى وَنَجِيُّهُ<br />
 <br />
تَفَرَّقَ حُسَّادِى عَـلَى كُلِّ فِـرْقَةِ</p>

<p>الذى أعطى فأكمل ومنح فأفاض وأمهل وَصَفَحَ وكذلك يفعل الذى إن شطحنا ماعسانا إلا أن نقول :</p>

<p>وعلى تفنن واصـفيه بحسـنه <br />
يفنى الزمان وفيه ما لم يوصف</p>

<p>· إخوانى وأخواتى أبنائى وبناتى بالإمارات<br />
 تحية طيبة مباركة لكم والشكر الجزيلٍ على إستقبالكم العظيم وضيافتكم الكريمه وقد نزلنا أهلاً وحللنا سهلاً جزيتم خيراً ودمتم دخراً لإخوانـكـم وللمسلمين جميعا فحقاً ما قاله الوالد:<br />
مَنْ ذَاقَ مِنْ يَنْبُوعَ فَضْلِىَ شَرْبَةً<br />
 <br />
يُوقَى النِّفَاقَ وَمَـالَهُ تَقْتِيرُ<br />
مَنْ كَانَ فِى كَفَّيْهِ بَعْضُ مَكَارِمِى<br />
 <br />
طَـالَتْ يَدَاهُ وَمَالَهَا تَقْصِيرُ<br />
· أحبائى<br />
 الحمد لله وبفضل الله ومشايخنا الكرام البذرة التى بذرها الوالد قد ترعرعت ورأت النور فى كل ركن من أركان المعموره وقوله ولتنشروا رايات عزى نصبُ أعيوننا ومنهجهُ دأبناُ وشأونا وغايته غايتنا<br />
· فهو القائل:<br />
وَمَازِلْتُ أَوْ لازِلْتُ مَازَالَ عِزُّنَا<br />
 <br />
وَتُوقَدُ مِنْ زَيْتِ الْحَبِيبِ فَتِيلَتِى<br />
 الى يوم كرامته يوم يقول الحق مقالته.<br />
· قوله الحق وهو القائل:<br />
أُودِعَ السِّرَّ وَالسَّرَائِرُ غَيْبُُ<br />
 <br />
كَاظِـمُُ عِلْمَهُ وَنِعْمَ الْكَظِيمُ<br />
مَنْ رَآنِى لَـدَيْهِ فَازَ بِسِرِّى<br />
 <br />
فِى جَنَى جَنَّتَيْهِ سِرُّ كَتِيـْمُ<br />
فِى جَنَاحَيْهِ رَحْمَـتِى وَلَدَيْهِ<br />
 <br />
عِوَضُ الْوَالِدَيْنِ يَلْقَى اللَّطِيمُ<br />
فِى يَمِينَيْهِ قُوَّتِى وَمِـرَاسِى<br />
 <br />
بِلِسَـانَيْهِ عَـالِمُُ وَعَـلِيمُ<br />
وَرِيَاحُ اللِّقَاحِ لَوْ ذَاتَ يَوْمٍ<br />
 <br />
عَدِمَتْ حُـبَّهُ فَرِيـحٌ عَقِيمُ<br />
وَعلَى اللهِ بَعْدُ قَصْدُ سَبِيلِى<br />
 <br />
هِبَةُ اللهِ حَـيْثُ هَبَّ النَّسِيمُ<br />
وَعَلَى كَاهِلِ الأَمِينِ مَتَاعِى<br />
 <br />
وَعَلَـيْهِ الأَمَانُ وَهُوَ الصَّرِيمُ<br />
· تقويم هذا العمل الكبير الذى على عاتقه هداية أُمة المصطفى صلى الله عليه وسلم يحتاج الى عزيمةٍ صادقهٍ وهمهٍ عاليةٍ وترابطُ وتكافل من أبناء هذه الطريقة كيدٍ واحدهٍ، وأعـلموا أبنائى أن فى هذا الفضل لكل واحدٍ منكم دَورِ يقوم به وعمل خُصّ به ومنكم وبكم يتم المنشود فى كل مكان وزمان وبخلاف ما كان معروفا فالعمل والفضل يقوم به أبناء الطريقة جسداً وروحاً لا بعون الملائكة، وقصة الملائكة الكبار اللذين وهبهم سيدنا ومولانا الحسين لمولانا الشيخ لخدمة الطريقة خير دليل.<br />
· إعلموا أن مسؤلية هذه الطريقة الأم التى يؤل إليها أمر كل الطرائق مسؤليتىِ. أمرٌ, وقدرٌ محكمٌ, وقديم. - وأنا لها -<br />
 وبفضل الله ومشايخنا لها حافظ أمين ولا يحيد بينى وبينها كائن أو كان لحظة ليل أو نهار ولا مرضٍ ولا سقامٍ أوبعد سفرٍ أو مكان. وعلى قدر أُولى العزم تأتى العزائم.<br />
 ولولا قوله أخفض جناحك يابنى ... أولم يقل دعوا الراعِى يقود الى الصواب.<br />
· أعلموا ابنائى إن الرحمه أصلاً سابقة. والمهلةٌ والعفو شامل وبين الرجال عُرفنا بالصفحات، ولكن لا تنسوا قوله تعالى:<br />
﴿ إن الذين امنوا ثم كفروا ثم امنوا ثم كفروا ...﴾<br />
· وقوله رضى الله عنه:<br />
قُلْتُمْ كَـرِيمًا يَــومَ مَكَّةَ إِنَّنِى<br />
 <br />
أَعْفُو وَأَصْفَحُ وَالسَّبِيلُ يُضَاءُ<br />
أَفَلا أَجُودُ وَقَدْ وَرَثْتُ خِصَالَكُمْ<br />
 <br />
يَا أَهْـلَ خَوْضٍ أَنْتُمُ الطُّلَقَاءُ<br />
فَإِنِ انْتَهَـيْتُمْ بَعْـدَ ذَلِكَ نَنْتَهِى<br />
 <br />
وَإِذَا رَجَعْـتُمْ بَعْـدَهَا فَلِقَاءُ<br />
 من جائنا وأطاعَنا وَتبَع إرشادنا ينجوا وينجى أهلهُ بنجاتهِ. وهذا قولٌ لو تعلمون عظيم - وأنعم به سفرٌ وجلَّ سفير - فما بال قومٍٍ جاؤا من أجل الهداية والإرشاد طالبين النجاةَ يعيثوا فساداً وتفرقةً ويرضونَ بالدنيةِ مغنم ُيشبعون نفوسهم وقد أَُُمروا بقتلها يستغلون طيبة ومحبة أبناء الطريقة لأغراضهم الخاصة يؤذونهم ويعكرّون صفوهم – أزلهم الشيطان وخاب ظنهم وإنى ُمظهرُ ما كان فى الكتمان.<br />
 والتاريخ دائماً يعيدُ نفسه وأمثلة الذين َزلّت قدمهُم وَطَغت نفوسهم فى تاريخ الطريقة موجود والعاقل من إتعظ من أخـطـاء وزلات غيره ومازلتُ أذكّر فى مختلف المناسبات مثل هذه وغيرها عن قصص مثل هؤلاء كيف أخطؤا وكيف الحماية من ذلك الخطأ.<br />
 إعلموا أبنائى إن الطريقة حُسن إستماع وحُسن إتباع. وهذا يقوم أولا على المحبه وهى أصلاً من المشايخ كما قال تعالى ﴿ يحـبهم ويحـبونه ﴾ وشرط المحبة الطاعة كما قال الوالد قوام طريق القوم حبُ وطاعةُ ومحبة المريد للشيخ هى المهمة وليست محبة الشيخ للمريد. ثم العقيدة الصادقة النابعة من القلب وليس من اللسان وكثيرون جَهِلوا ولاية مولانا الشيخ رُغم إصطحابهم له سنين. لقد أخفى الوالد نفسه وكان الخفاء مزيته ووقايته جَعَلتهُ يجد العذر بحجة لا يعلمون ولكن الوضع يختلف الاّن فقد ذكر وأظهََر الوالد فى جميع قصائده ما لا يجعل عذر لأحد قط. وإذا تدارستم وتمعنتم وتحققتم فى شراب الوصل لما ضلَّ عنكم فى سماءِ الغيب نجمٌ ثاقب – ولكن لا ينفع الأعمى ولا المتعامى. فالمحبة والعقيده قاعدة حسن الإستماع وحسن الإتباع وللحفاظ عليهما وتقويتهما الإجتهاد فى الأوراد. ومدد الأوراد منها وفيها. ومن ليس له ورد ليس له وارِد. والإجتهاد والاستفادة من الوقت وعدم مضيعته فى القيل والقال واجب لذا سمى بالجهاد الاكبر – واذا أردتم نوال البر فأنفقوا مما تحبون.<br />
يقول المصطفى صلى الله عليه وسلم: (بعثت لاتمم مكارم الأخلاق)، فمن عمل بما عَلِمَ حسُن خُلُقَهُ. والصوفى حَسُن الخُلق. أذكِّركُم بما قاله الوالد:<br />
· يقول فى الهمزيه:<br />
لاخَيْرَ فِى قَوْمٍ يُحَـقِّـرُ بَعْضُهُمْ<br />
 <br />
بَعْضاً وَتِلْكَ عَلامَةُ السُّفَهَاءِ<br />
شَأْنُ الْكِـرَامِ عَـنِ اللِّئَامِ تَرَفُّعُُ<br />
 <br />
هِىَ ذِى بِحَقٍّ شِيمَةُ الْعُظَمَاءِ<br />
مَاسَرَّنِى يَوْمًا سِـوَى قَوْلٍ خَلا<br />
 <br />
مِـنْهُ الرِّيَاءُ وَلَوْ بِهِ إِطْرَائِى<br />
· وكما قال فى الرجيه:<br />
وَتَيَمَّمُوا عَذْبَ الْحَـديثِ فِإِنَّهُ<br />
 <br />
شَأْنُ الأَحِبَّةِ مِنْ أُولِى الإِقْدَامِ<br />
مَا ضَرَّ لَوْ بَاتَ الْمُحِبُّ وَقَدْ عَفَا<br />
 <br />
إِنَّ التَّظَالُمَ بُـؤْرَةُ الإِظْلامِ<br />
مَا سَرَّ لَوْ بَاتَ الْمُحِبُّ مُغَاضِبًا<br />
 <br />
وَعَلَيْهِ جَفْوَةُ قَاطِعِى أَرْحَامِى<br />
· الى أن قال:<br />
عِفُّوا اللِّسَانَ عَنِ الْمَحَارِمِ إِنَّ ذَا<br />
 <br />
هُـوَ مَـوْرِدُ الْهَمَّازِ وَالنَّمَّامِ<br />
وَإِذَا بَسَطْتُمْ كَفَّ صَفْحٍ فَامْسَحُوا<br />
 <br />
دَمْعَ الْمُسِىءِ وَدُونَ مَا إِيلامِ<br />
· وكما قال:<br />
فَأَجْمِعُوا أَمْـرَكُمْ وَاللهُ عَاصِمُكُمْ<br />
 <br />
مِنَ الشَّتَاتِ لَدَى بِضْعٍ وَسَبْعِينِ<br />
وَحَاذِرُوا مِنْ وَسِيطِ السُّوءِ بَيْنَكُمُ<br />
 <br />
وَأَيْقِظُوا هِمَّةً فِيْـهَا رَيَـاحِينِى<br />
إِذَا اجْتَمَعْتُمْ عَلَى حُبٍّ وَمَـرْحَمَةٍ<br />
 <br />
فَأَيْقِنُوا الْوَصْـلَ إِنَّ اللهَ مُعْطِينِى<br />
· وقال ايضا:<br />
عِبَـادُ اللهِ قَوْمُُ فِى صَـفَاءٍ<br />
 <br />
لِهَذَا مَا قَسَـوْتُ وَمَا جَفَوْتُ<br />
عِبَادَ اللهِ إِنْ رُمْتُـمْ عَطَـائِى<br />
 <br />
فَإِنَّ الفَصْلَ فِيكُم مَا حَكَمْتُ<br />
وَإِلا فَالطَّرِيقَةُ فِـى سَـمَاءٍ<br />
 <br />
لَهَا أَرْضُُ سِـوَاكُمْ وَاسْتَتَرْتُ<br />
فَلا تَعْثَوْا فَسَادًا فِى طَرِيقِى<br />
 <br />
فَحَقًّا جِئْتُ لا دَخَـلا زَعَمْتُ<br />
تَصَافَحْتُمْ وَلا صَفْحُُ لَدَيْكُمْ<br />
 <br />
تَوَاصَيْتُمْ نَقَائِـضَ مَا أَرَدْتُ<br />
تَسَـامَرْتُمْ بِقَوْلِى فِى جَفَاءٍ<br />
 <br />
فَقَطَّعْتُم أَوَاصِـرَ مَـا بَنَـيْتُ<br />
· الى أن قال:<br />
وَكُفُّوا ثُمَّ كُفُّوا ثُمَّ كُفُّوا<br />
 <br />
فَإِنِّى مِنْ هِجَاكُمْ قَـدْ بَرِئْتُ<br />
 أبنائى توادوا وتحابوا وكونوا فى اللهِ إخوانا وأحذروا من وسيطِ السؤ بينكم فهذه النعمة التى لا حدود لها جُعلَ الشكر عليها التأخى<br />
· يقول الشيخ رضى الله عنه:<br />
فَلِى جَمَالُُ وَمَوْصُـولُُ وَلِى رَحِمُُ<br />
 <br />
مُعَـايَنُُ حَـاضِرُُ يَا أَهْلَ مِلَّتِنَا<br />
وَمِنْ قَـدِيمٍ لَـنَا عِزُُ وَمَفْـخَرَةٌ<br />
 <br />
وَبَـيْنَ أَحْبَـابِنَا صَحَّتْ رِوَايَتُنَا<br />
لَـنَا سِـمَاتٌ وَأَوْصَافُُ أُعَدِّدُهَا<br />
 <br />
أُولُو قِصَاصٍ لَدَى إِنْكَارِ نِعْمَتِنَا<br />
أُولُو سَلامٍ عَلَى قَـوْمٍ قَدِ اتَّصَلُوا<br />
 <br />
أُولُو سَخَـاءٍ لِمَنْ يَرْجُو إِغَاثَتَنَا<br />
لَنَا جَـلالُُ غَـدَا بِاللهِ وَاهِـبِهِ<br />
 <br />
وَرَحْمَةُ الْمُصْطَفَى نُورًا لِصُحْبَتِنَا<br />
نطُوفُ بِالرَّحْمَةِ الأَكْوَانَ أَجْمَعِهَا<br />
 <br />
نُلَقِّنُ الْوَالِـدَاتِ بَعْضَ رَحْمَتِنَا<br />
· الى أن قال:<br />
بَنِىَّ كُفُّوا فَمَا كُفْـرَانُ نِعْمَتِنَا<br />
 <br />
يُفِيدُكُمْ وَالتَّآخِى شُكْرُ نِعْمَتِنَا<br />
· أبنائى اعلموا ان أمرٌ الخلافة أمرٌ قديم أزلى لا يقبل التغير والتبديل وغيرة المشايخ من الغيرة الالهيه لا تقبل أى شىء معها وهو مقصد توحيد الوجهة والعقيدة الصادقه. تَذكُرون ما قاله رسـول الله صلى الله عليه وسلم للصحابى الذى تأخر عن الحضور وقال للنبى صلى الله عليه وسلم شغلتى محبه الله فقال له صلى الله عليه وسلم محبه الله محبتى. فسلسلة المشايخ هى نسبنا الروحى وهى محل عقيدتنا ونحترم و نقدر الغير. وعند ما سألَ المصطفى صلى الله عليه وسلم الشيخ المجذوب ما يريد, رد حتى أسأل شيخى. فنال الحسب و النسب. <br />
· يقول الوالد:<br />
وَمَا كُنْتُ الْمُثَنَّى حَـيْثُ أَقْضِى<br />
 <br />
فَإِنَّ الْجَـوْرَ إِبْخَـاسُُ وَغُبْنُ<br />
إِذَا أَمْسَكْتُ فَالإِعْـرَاضُ مِنْكُمْ<br />
 <br />
وَإِنْ أَعْطَيْتُ فَالْمُعْطُونَ نَحْنُ<br />
فَوَصْلِى أَوْ خِلافُ الْوَصْلِ شَأْنِى<br />
 <br />
وَمِلْءُ كِنَـانَتِى غَـيْنُُ وَعَيْنُ<br />
وَعِلْمِى لا كَدَعْـوَاكُمْ بِظُـلْمِ<br />
 <br />
فَـإنَّ عَطِيَّتِى كَيْـفُُ وَأَيْـنُُ<br />
مُرَادِى إِنْ سَمِـعْتُمْ أَنْ تَقُولُوا<br />
 <br />
أَطَعْـنَا جَاهِرِينَ وَلا تَظُـنُّوا<br />
عَسَى أَلا يَكُونَ الْبَدْءُ مِنْـكُمْ<br />
 <br />
فَإِنَّ إِرَادَتِى خَيْــرُُ وَيُمْـنُ<br />
 <br />
وصلي الله علي سيدنا محمد و آله وسلم<br />
سبحان ربك رب العزة عما يصفون و سلام علي المرسلين و الحمد لله رب العالمين</p>


				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
