﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					نص خطاب الإمام الشيخ إبراهيم محمد عثمان عبده البرهانى للأمة الإسلامية فى حولية الإمام فخر الدين إبريل 2003
				</p>
				<hr/>
				<b class='text-center'>بِسـم اللهِ الرّحمنِ الرّحيـمِ</b>
				<br/>
<p>الحمد لله الوهاب الذى يؤتى الملك من يشاء وينزع الملك ممن يشاء وهو على كل شئ قدير القائل فى محكم التنزيل ﴿ولقد كتبنا فى الزبور من بعد الذكر أن الأرض يرثها عبادى الصالحون ¤ إن فى هذا لبلاغا لقوم عابدين ¤ وما أرسلناك إلا رحمة للعالمين﴾ (الأنبياء 105 : 107) اللهم صل وسلم وبارك على حبيبك ونبيك المبعوث رحمة للعالمين من السابقين والحاضرين واللاحقين، صلاة تليق بك منك بما هو أهله الهادى البشير والسراج المنير وعلى آله وأصحابه الطيبين الطاهرين، ورضى الله تبارك وتعالى عن سائر الأولياء الصالحين حملة مشاعل النور المحمدى، قلوبهم مصابيح الدجى يخرجون من كل غبراء مظلمة وهذه هى حكمة الخلاق العليم.</p>
<p>فَأَوَّلُ قِبْـلَةِ السُّـجَّادِ طِـينُ</p>

<p>عَلَـيْهِ أَشِعَّةُ النُّورِ العَلِىْ</p>

<p>تَـوَلَّتْهُ الْعِنَايَةُ بَعْـدَ جَهْـلٍ</p>

<p>عَلَى عِلْمٍ فَأَنْعِمْ مِنْ وَلِىْ</p>

<p>وَدَاوُدُ الْخَلِيـفَةُ مـِنْ هُدَاهَا</p>

<p>وَعَلَّمْنَاهُ صَنْعَةَ كُلِّ شَىْ</p>

<p>وَفَهَّمْنَا سُلَيْــمَانَ اقْتِضَاهَا</p>

<p>وَعَلَّمْنَاهُ مَنْطِـقَ كُلِّ شَىْ</p>

<p>وَلَمْ تُكْشَفْ وَلَمْ تُعْلَمْ وَلَكِنْ</p>

<p>تَجَلَّتْ فِـى نَبِىٍّ أَوْ وَلِىْ</p>

<p class='text-center'><b>إخوانى أخواتى .. أبنائى وبناتى فى الطريقة البرهانية الدسوقية الشاذلية<br />
الأخوة والأخوات الحضور<br />
السلام عليكم ورحمة الله وبركاته - وكل عام وانتم بخير</b></p>

<p>ها نحن نلتقى فى الحولية العشرين لسيدى فخر الدين الشيخ محمد عثمان عبده البرهانى ونستكمل سوياً من هديه ما استشكل علينا من أمور الدين والدنيا، وكنا قد أشرنا فى خطابنا السابق من العام الماضى إلى داء العصر ودواؤه وكان مجمل القول فى خطورة الفكر الوهابى الذى أخذ الناس بعيداً عن كل ما هو صحيح فى العقيدة الإسلامية السليمة وركّزوا على العبادات والمعاملات بحجة أنها الشىء النافع الوحيد فى الدنيا والآخرة وان كل ما سواها بِدع وخرافات وقللوا بل همّشوا بل أماتوا العقائد فى حب النبى وآل بيته الطيبين الطاهرين وقالوا أن ذلك شِرك بالله وقصروا العقائد على لا إله إلا الله ونسوا أن سيدنا محمد رسول الله هى الجزء المتمم للشهادة حتى أن الإمام الشافعى قال (لو نطق الإنسان أشهد أن محمدا رسول الله بصوت منخفض عن النطق بلا إله إلا الله لا تصح له شهادة) وفى هذا المقام يقول سيدى الشيخ محمد عثمان عبده البرهانى</p>

<p>أَمَّا عَنِ الإِسْلامِ فَاعْلَمْ أَنَّهُ</p>

<p>بَيْتُ الأَمَانِ وَمَوْئِلُ التِّبْيَانِ</p>

<p>فَشَهَادَةٌ ِللهِ ثُمَّ لأَحْـمَدٍ</p>

<p>مِنْ غَيْرِ تَثْنِيَةٍ، فَمَا الإِثْنَانِ ؟</p>

<p>
فى حولية الإمام فخر الدين إبريل 2003</p>

<p> العـودة <br />
بِسـم اللهِ الرّحمنِ الرّحيـمِ<br />
 <br />
 الحمد لله الوهاب الذى يؤتى الملك من يشاء وينزع الملك ممن يشاء وهو على كل شئ قدير القائل فى محكم التنزيل ﴿ولقد كتبنا فى الزبور من بعد الذكر أن الأرض يرثها عبادى الصالحون ¤ إن فى هذا لبلاغا لقوم عابدين ¤ وما أرسلناك إلا رحمة للعالمين﴾ (الأنبياء 105 : 107) اللهم صل وسلم وبارك على حبيبك ونبيك المبعوث رحمة للعالمين من السابقين والحاضرين واللاحقين، صلاة تليق بك منك بما هو أهله الهادى البشير والسراج المنير وعلى آله وأصحابه الطيبين الطاهرين، ورضى الله تبارك وتعالى عن سائر الأولياء الصالحين حملة مشاعل النور المحمدى، قلوبهم مصابيح الدجى يخرجون من كل غبراء مظلمة وهذه هى حكمة الخلاق العليم.<br />
فَأَوَّلُ قِبْـلَةِ السُّـجَّادِ طِـينُ</p>

<p> </p>

<p>عَلَـيْهِ أَشِعَّةُ النُّورِ العَلِىْ</p>

<p>تَـوَلَّتْهُ الْعِنَايَةُ بَعْـدَ جَهْـلٍ</p>

<p> </p>

<p>عَلَى عِلْمٍ فَأَنْعِمْ مِنْ وَلِىْ</p>

<p>وَدَاوُدُ الْخَلِيـفَةُ مـِنْ هُدَاهَا</p>

<p> </p>

<p>وَعَلَّمْنَاهُ صَنْعَةَ كُلِّ شَىْ</p>

<p>وَفَهَّمْنَا سُلَيْــمَانَ اقْتِضَاهَا</p>

<p> </p>

<p>وَعَلَّمْنَاهُ مَنْطِـقَ كُلِّ شَىْ</p>

<p>وَلَمْ تُكْشَفْ وَلَمْ تُعْلَمْ وَلَكِنْ</p>

<p> </p>

<p>تَجَلَّتْ فِـى نَبِىٍّ أَوْ وَلِىْ</p>

<p>إخوانى أخواتى .. أبنائى وبناتى فى الطريقة البرهانية الدسوقية الشاذلية<br />
الأخوة والأخوات الحضور<br />
السلام عليكم ورحمة الله وبركاته - وكل عام وانتم بخير<br />
 ها نحن نلتقى فى الحولية العشرين لسيدى فخر الدين الشيخ محمد عثمان عبده البرهانى ونستكمل سوياً من هديه ما استشكل علينا من أمور الدين والدنيا، وكنا قد أشرنا فى خطابنا السابق من العام الماضى إلى داء العصر ودواؤه وكان مجمل القول فى خطورة الفكر الوهابى الذى أخذ الناس بعيداً عن كل ما هو صحيح فى العقيدة الإسلامية السليمة وركّزوا على العبادات والمعاملات بحجة أنها الشىء النافع الوحيد فى الدنيا والآخرة وان كل ما سواها بِدع وخرافات وقللوا بل همّشوا بل أماتوا العقائد فى حب النبى وآل بيته الطيبين الطاهرين وقالوا أن ذلك شِرك بالله وقصروا العقائد على لا إله إلا الله ونسوا أن سيدنا محمد رسول الله هى الجزء المتمم للشهادة حتى أن الإمام الشافعى قال (لو نطق الإنسان أشهد أن محمدا رسول الله بصوت منخفض عن النطق بلا إله إلا الله لا تصح له شهادة) وفى هذا المقام يقول سيدى الشيخ محمد عثمان عبده البرهانى:<br />
أَمَّا عَنِ الإِسْلامِ فَاعْلَمْ أَنَّهُ</p>

<p> </p>

<p>بَيْتُ الأَمَانِ وَمَوْئِلُ التِّبْيَانِ</p>

<p>فَشَهَادَةٌ ِللهِ ثُمَّ لأَحْـمَدٍ</p>

<p> </p>

<p>مِنْ غَيْرِ تَثْنِيَةٍ، فَمَا الإِثْنَانِ ؟</p>

<p>ومن قال أن دور رسول الله قد انتهى بانتقاله إلى الرفيق الأعلى فقـد ضلّ ضلالاً بعيداً والعياذ بالله، ونحن هنا نذكِّر الأمة ببعض وظائف الحبيب التى وردت فى آية واحدة من الذكر الحكيم الذى نزل إجماله وتفصيله على الحبيب ومن أجل الحبيب إذ يقول عز من قائل ﴿إنا أرسلناك شاهدا ومبشرا ونذيرا ¤ وداعياً إلى الله بإذنه وسراجاً منيراً﴾ (الأحزاب 45 : 46) فالشاهد على الأمة كيف تصِح شهادته على أمته وقد انقطعت صلته بموته؟!! ومن قال أن السراج المنير الذى يستمد نوره من النور الإلهى يطفأ والله مُتِم نوره ولو كره الكافرون، وأدهى من ذلك وأمر من ينهى عن زيارة الحبيب مع فريضة الحج مدّعياً أنه شرك بالله، ونحن نقول هنا أن فقه العبادات وفقه المعاملات قد ملأ الكتب والصِحاف ولابد لنا من العناية بفقه العقائد لإصلاح المفاسد والضلالات التى ملأت الكتب والصحف والإذاعة المسموعة والمرئية وفى هذا يقول سيدى فخر الدين:<br />
إنى براء من الدعوى وقد كثُرت<br />
 <br />
بلا حـياء وإن الله منجـينى<br />
ولذا نعود لنكرر أن سيدى فخر الدين لم يهتم بالتأليف والكتابة إلا فى العقائد فأتى كتابيه تبرئة الذمة وانتصار أولياء الرحمن خير ناصح للأمة للخروج من دياجير الجهل والظلام إلى نور البدر التمام صلوات الله وسلامه عليه.<br />
ولكننا بدورنا نكشف الستار هذا العام عن ضلالة أخرى يروج لها المبطلون ألا وهى إظهار الأحاديث النبوية التى يرون أنها تخدم عقائدهم الفاسدة وتضعيف الأحاديث الأخرى ونضرب المثال بحديثين للحبيب المصطفى عليه الصلاة من الله وأزكى السلام وكلاهما صحيح وهما (تركت فيكم ما إن تمسكتم به لن تضلوا بعدى .. كتاب الله وسنتى) وهذا الحديث لم يروه إلا الحاكم فى المستدرك، أما الحديث (تركت فيكم ما إن تمسكتم به لن تضلوا بعدى .. كتاب الله وعترتى أهل بيتى) فقد رواه مسلم فى الصحيح ورواه الإمام الترمذى فى السنن والإمام أحمد بن حنبل فى المسند حتى أن محمد بن عبد الوهاب جعله من أهم الأحاديث التى أعتبرها أصول التوحيد فى كتابه (أصول الإيمان) المطبوع بالرياض وبالمقارنة من حيث الإخراج والإسناد فإن حديث (عترتى أهل بيتى) أصح سنداً وأكثر إخراجاً ولكن كل المتحدثين بلسان الإسلام آثروا الحديث الأول عليه إتباعاً للهوى وإضلالاً الناس عن مكانة أهل البيت وضرورة الإقتداء بهم وحبهم والولاء لهم، فكان الحديث كلمة حق أريد بها باطل وفى هذا يقول سيدى فخر الدين :<br />
وَأَحْرَى أَنْ يَحِلَّ بِهـمْ وَفِيهِمْ<br />
 <br />
شَرِيكُُ لَوْ دَعَاهُمْ مَا دَعَانَا<br />
إِذَا مَــا ضَـلَّ أَبْنَـاءُ النَّبِىِّ<br />
 <br />
تُرَى مَنْ لِلْهِدَايَةِ بَعْدُ كَانَ؟<br />
فَهَـلْ أَبْنَاءُ طَـهَ غَيْرُ قَـوْمٍ<br />
 <br />
يُطَهِّرُنَا الَّذِى كَانَ اصْطَفَانَا<br />
لِيُذْهِبَ كُلَّ رِجْسٍ أَىَّ رِجْسٍ<br />
 <br />
فَهَلْ تَكْفِـيرُنَا يُرْضِى أَبَانَا<br />
وبالرغم من أن الحديث الأول (كتاب الله وسنتى) به دلالة قوية على أن الدين كاملاً هو النبى لأن المقصود بالكتاب هو القرآن الكريم، والسيدة عائشة أم المؤمنين لما سُـئِلت عن أخلاق النبى قالت (كان قرآنا يمشـى) ومن هذا فالنبى هو القرآن، وان السنة المطهرة ما هى إلا قوله وفعله وإقراره صلوات الله وسلامه عليه .. ومن أراد فصل أحدهما عن الآخر إنما هو صاحب معول لهدم الدين حتى ولو تسمى باسم (الإسلامى أو السنى).<br />
لعل الله يُحدِث بعد هذا<br />
 <br />
أمورا حيث أهل العلم حاروا<br />
فإن النار للموصول نور وإن النـور للمقطوع نـار<br />
ويقولون بعدم زيارة قبور الصالحين والتقبيل وما شابه ذلك لسد الذرائع، وهو قول مردود لأنه لو كانت القاعدة عامة، لم يحِل لنا استقبال الكعبة وهى من الحجارة والطين ولا الطواف حولها ولا تقبيل الحجر الأسود ولا مس الركن اليمانى ولا رمى الجمار وهى حصى ولا السعى بين الصفا والمروة وهما جبلان. لأن ذلك أيضاً ربما يؤدى إلى الشرك بالمفهوم الخاص بهم فالذى فرض علينا ذلك هو الذى سنّ لنا الزيارة وسنّ لنا التوسل وسنّ لنا التقبيل وسنّ لنا التبرك .. كذلك فإن الحق أمرنا بتعظيم واحترام كل شعيرة. وشعائر الله عبارة عن أمكنة مقدسة مباركة يتضاعف فيها الثواب، وأعتقد أنهم لا يستطيعون أن ينكروا هذه الأمور فلماذا إذًا توقفت البركة والاحترام والتعظيم عند الصالحين .. ولماذا قُيِدَت البركة فى الأحجار التى جعلها الله لنا شعائر وجب تعظيمها، أيهما أقرب للشرك تقبيل الركن اليمانى أم تقبيل يدِِ نبى أو ولى. ثم لننظر ونتأمل قول الحق سبحانه وتعالى ﴿يخرج من بطونها شراب مختلف ألوانه فيه شفاء للناس﴾ (النحل 69) فالذى وضع البركة والشفاء فى العسل هو الذى وضعها فى المؤمن الصالح .. وكذلك قميص سيدنا يوسف سبباً فى رد بصر سيدنا يعقوب، فليس الأمر أمر تقبيل حجر من كونه حجر ولكن لأمر آخر أسمى وأعلى وراء هذه المظاهر، وهذا هو الإمام فخر الدين الشيخ محمد عثمان عبده البرهانى ينفى بحقٍ وتحقيق هذه .. عن أتباعه ومحبيه فيقول فى أحد قصائده من ديوان شراب الوصل وهى أيضاً لكل من يقف على طريق الحق:<br />
يا أيها الناس حج البيت للسارى<br />
 <br />
وميتُ القلبِ لا تشجيه أوتارى<br />
الحج لله فـى مـجلاه مكرُمـة وبيـتُه بيتُه من غـيرِ إظهـارِ<br />
ولم يكن بيـته طيـنا ولا لبـنا وليس مقصود قومى لثم أحجارِ<br />
وهذا هو الإمام أحمد يسأله ابنه سيدنا عبد الله عن الرجل يمس منبر رسول الله صلى الله عليه وآله وسلم تبركاً بمسه وتقبيله ويفعل بالقبر الشريف مثل ذلك رجاء ثواب الله. فقال الإمام أحمد لا بأس به.<br />
اخوانى .. أخواتى .. أبنائى وبناتى .. الأخوة والأخوات الحضور ..<br />
لقد حان الوقت لأقف بكم قليلاً عند معنى الشرك فى أمة النبى صلى الله عليه وآله وسلم .. أخرج الطبرانى عن سيدنا أنس .. قال: قال رسول الله صلى الله عليه وآله وسلم (أتخوف على أمتى الشرك والشهوة الخفية، قال سيدنا أنس: أتشرك أمتك من بعدك؟ قال: أجل إلا إنهم لا يعبدون شمساً ولا قمراً ولا وثناً ولا حجرًا وإنما يُراءون بأعمالِهم .. والشهوة الخفية ان يصبح المرء صائما فتعرض له شهوة من شهواته فيترك صومه) فالشرك كما وصـفه الحديث هو الرياء .. يرأون أى يقصدون الرياء بأعمالهم متظاهرين أمام الناس بأنهم على الهدى أو أنهم محسنون.<br />
فاعلموا أن القول باللسان والعمل بالجوارح إذا لم يتوفر بحضور القلب مع كل حرف وكل فعل فيكون كالسراب .. من أجل هذا كان اهتمام الصالحين الزاهدين بتطهير قلوب محبيهم لأن تطهير القلب وتزكيته من أساسيات الدين .. فالحق سبحانه وتعالى علّق النجاة على سلامة القلب .. قال تعالى ﴿يومَ لا ينَفعُ مال ولا بنون ¤ إلا من أتى اللهَ بقلبٍ سليم﴾ (الشعراء 88 : 89) وخصه النبى بالذكر فقال صلى الله عليه وآله وسلم (ألا وأن فى الجسد مضغة إذا صلحت صلح الجسد كله وإذا فسدت فسد الجسد كله ألا وهى القلب) فالقلب محل نظر الله .. وتعظيم شعائر الله مرتبطة كل الارتباط بتقوى القلوب فإذا تعلق القلب بالِسوَى ومحبة الغير فهى عبودية لغير الله، وقال عليه الصلاة والسلام (تَعِسَ عبد الدنيا تَعِسَ عبد الدرهم تَعِسَ عبد الخميصة تَعِسَ عبد القطيفة تَعِسَ وانتكس) فلابد من تحرر الإنسان من عبودية الأشياء .. وقد أشار الشيخ محمد عثمان عبده إلى هذا المعنى فقال:<br />
َتعساً لعــبد الفهمِ بِئس إناؤه<br />
 <br />
مِن ناضحٍ بالـرى للظمآنِ<br />
تعساً لعبد الوهمِ ضلّ وما اهتدى ضل الطريق وباء بالخُسرانِ<br />
يـا بِئس عـبد المال مالت رحله وبَنَت غَشَاوتُه بِـناءا فانى<br />
وهذا هو نبى الله سيدنا عيسى يمر على قوم يعبدون الله فسألهم ماذا تفعلون؟ قالوا: نعبد الله، قال: لماذا؟ قالوا: طمعاً فى جنته وخوفاً من ناره .. فقال: لهم مخلوقاً طمِعتم ومخلوقاً خِفتم، فما كان طمعهم فى الله ولا خوفهم من الله. ومرّ على قوم يعبدون الله فسألهم ماذا تفعلون؟ قالوا: نعبد الله .. قال: لماذا؟ قالوا: حباً فى الله .. فقال أنتم أولياء الله وأمِرت أن أكون معكم.<br />
فالرياء على قسمين أحدهما الرياء بالعمل لأجلِ غيرِ الله وهذا نوع من الشرك، والثانى أن ترَ لِنفسك عملاً وتقول أنا عابد مجتهد .. قال تعالى ﴿قل هل نُنَبِئكم بالأخسرين أعمالا ¤ الذين ضلّ سعيهم فى الحياة الدنيا وهم يحسَبون أنهم يُحسِنون صنعاً﴾ (الكهف 103 : 104) وقال أيضاً ﴿مثل الذين اتخذوا من دونِ الله أولياء كَمَثلِ العنكبوت اتخذت بيتاً وإن أوهن البيوتِ لبيت العنكبوت لو كانوا يعلمون﴾ (العنكبوت 41) فالأولياء فى الآية ولاية باطل وعلو غير حقيقى كعلو فرعون ﴿أنا ربكم الأعلى﴾ (النازعات 24) فليس هذا بِعِلو ولكن انظر إلى عُلو سيدنا موسى فهو عُلو تحقيق ﴿إنك أنت الأعلى﴾ (طه 68) هكذا قال الإمام فخر الدين الشيخ محمد عثمان عبده البرهانى فالولاية فى الآية ليست ولاية تحقيق لأنها ولاية دون الله .. أما ولاية التحقيق فهى بالله .. كما أن الآية ليس المعنى فيها مقتصر على من يعبد الصنم والشمس والقمر وغير ذلك، بل إذا ركن الإنسان على نفسه أو ماله أو هواه فقد اتخذ من دون الله أولياء، فهؤلاء الولاة مثل بيت العنكبوت فيظن انه اعتمد على شئٍ ثابت وهو لا شئ، فلو اتكل الإنسان على عمله حتى ولو عمل عملاً لم يعمله أحد وعبَد عبادة الأنبياء والأولياء واتكل عليه فقد اتخذ من دون الله أولياء، لأنه ظن أن عمله ينجيه كمثل العنكبوت اتخذ بيتاً فهل يقيه من الحر والبرد؟ والحديث (لن يدخل أحد منكم الجنة بعمله فقالوا ولا أنت يا رسول الله قال ولا أنا إلا أن يتغمدنى الله برحمة منه وفضل) .. والحق سبحانه وتعالى يقول ﴿قل بفضل الله وبرحمته فبذلك فليفرحوا هو خير مما يجمعون﴾ (يونس 58) صدق الله العظيم .. وقال بعض الصالحين لبعضهم: بِمَ تلقَ الله؟ قال: بفقرى وفاقتى .. قال: تلقاه إذاً بالصنم الأعظم .. قال: فبِمَ ألقاه؟ قال القَهُ بِهِ .. فهو سبحانه وتعالى الجوّاد الكريم يعطى عبده فوق ما يظن به.<br />
وأخرج القرطبى عن مجاهد .. أن رجلاً جاء إلى النبى صلى الله عليه وآله وسلم فقال إنى أتصدق وأصِل الرحِم ولا أصنع ذلك إلا لله تعالى .. فقال فيذكر ذلك منى واُحمد عليه فيسرنى ذلك وأعجب به .. فسكت النبى ولم يقل شيئا فنزل قوله تعالى ﴿فمن كان يرجوا لقاء ربه فليعمل عملاً صالحاً ولا يشرك بعبادة ربه أحدا﴾ (الكهف 110).<br />
وأخرج القرطبى أيضاً عن شهر بن حوشب .. كان عبادة بن الصامت وشداد بن أوس جالسين فقالا: إنا نتخوف على هذه الأمة من الشرك والشهوة الخفية فأما الشهوة الخفية فمن قِبـَل النساء. وقالا: سمعنا رسول الله صلى الله عليه وآله وسلم يقول: من صلى صلاة يرائى فيها فقد أشرك ومن صام صيام يرائى فيه فقد أشرك .. ثم تلى قوله تعالى ﴿فمن كان يرجوا لقاء ربه فليعمل عملاً صالحاً ولا يشرك بعبادة ربه أحدا ﴾(الكهف 110).<br />
وهاهو الأشعث بن قيس وقد صلى فخفف، فقيل له: خففت الصلاة .. فقال: انه لم يخالطها رياء .. فسبحان من قرّب أقوام لحضرته وحَجَبهم عنِ الأغيار وأبعد آخرين فضربهم بسيفِ البُعد .. فكم من أناس صلوا وملئوا المساجد بالعبادات فلم ينفعهم ما جمعوا .. قطعوا أيامهم فى الشهوات فوقعوا فى شباك الغفلة فحُجِبَت عنهم أنوار الإيمان.<br />
يعبدون الله خوف من لظى<br />
 <br />
فلظى قد عبدوا لا ربنا<br />
ولدار الخُلدِ صلّوا لا لـهُ مثل قومٍ يعبدون الوثنا<br />
اخوانى .. أخواتى .. أبنائى وبناتى .. الأخوة الحضور ..<br />
قصدت من حديثى هذا وما سبقه من حديث فى خطابى العام الماضى أن أذكر الأمة بعددٍ من الحقائق التى تجسد جوهر الدين وأساسه، والتى كان لمجافاتها ومخالفتها ما ظل يعانى منه عالم اليوم عموماً والأمة الإسلامية خصوصاً .. عسى أن يعود بعضنا إلى الرشاد والطريق المستقيم وأن تعود الأمة الإسلامية موحدة راسخة البناء قوية العقيدة.<br />
إن الفوضى سادت عالم اليوم ونزعة السيطرة أصبحت هى سمته الرئيسية فيما أصبح العالم الإسلامى هو الهدف الرئيسى لقوى الاستعمار .. وما يواجهه العراق الآن من قبل أمريكا، وإصرارٍ عنيد على اشعال الحرب بسبب أو بدونه يؤكد ما ذكرت .. وان ما يجرى على الساحة الدولية الآن هو استهداف واستباحة للأمة الإسلامية بالدرجة الأولى يتم من خلاله تحقيق أهداف استعمارية تسعى للسيطرة على موارده الطبيعية وأهداف أخرى تسعى لإطفاء نور الله .. واللهُ مُتِم نوره ولو كرِه الكافرون .. ويمكرون و يمكر الله .. والله خير الماكرين.<br />
إن الأمة الإسلامية تواجه العديد من المخاطر ذكرت منها خطر العولمة الثقافية فى خطابى إليكم العام الماضى وها نحن نشهد الآن مرحلة عملية لتنفيذ مخططات أجنبية متقنة لن تتوقف .. وان النظرة البعيدة المتجذرة لعلاج ومواجهة تلك المخاطر هو توحيد الأمة الإسلامية وفق أسس سليمة تبدأ قبل كل شئ بتصحيح العقائد والمفاهيم الخاطئة التى ظلت تسود جانب من عالمنا الإسلامى .. واتباع المنهج الصحيح فى الدعوة والإرشاد والرجوع إلى من اختصهم الله لهذه المهمة من الأولياء والصاحين .. وقد تحدثت عنها فى خطابى العام الماضى وأكملتها إليكم اليوم.<br />
اخوانى .. أخواتى .. أبنائى وبناتى .. <br />
إن دورنا فى المرحلة القادمة بالغ الأهمية .. وان كل منا مسئول بحمل الرسالة .. رسالة التصحيح .. تصحيح العقائد والمفاهيم .. ومن هنا فإننى أوجه لجان وإدارات الطريقة بكافة أنحاء العالم لبذل المزيد من الجهود فى المرحلة المقبلة لتحقيق هذا الهدف العظيم .. كما أوجه اللجنة الدولية للإعلام ولجان الإعلام والشئون الخارجية بالدول المختلفة للاضطلاع بجهد أكبر فى سبيل تحقيقه، والتنسيق مع لجنة الإرشاد والمركز الدولى للبحوث والدراسات الاستراتيجية بألمانيا.<br />
كما يحدونا أمل كبير فى أن تعطى الحكومات العربية والإسلامية دوراً أكبر ومزيدًا من التسهيلات للطرق الصوفية حتى تتمكن من الاضطلاع بدورها بصورة أفضل فى تحقيق هذه الرسالة .. رسالة التصحيح وبناء الفرد المسلم على نموذج الهدى القرآنى السليم .. وإذا كانت منظمات المجتمع المدنى فى دول أوروبا والولايات المتحدة تتقاسم الأدوار مع حكومات دولها لتحقيق مصالحها الوطنية وتمرير وتنفيذ مخططاتها، فما بالنا نقيد منظماتنا المدنية وعلى رأسها الطـرق الصوفية وهى الأكثر شيوعاً وانتشاراً فى بلاد العالم، والأقرب إلى وجدان الناس، أما آن الأوان لأن يتم تقاسم الأدوار بين حكومات الدول الإسلامية والعربية والطرق الصوفية لمواجهة العصر القادم بكل تحدياته ومخاطره.<br />
اخوانى .. أخواتى .. أبنائى وبناتى ..<br />
لا يمكننا أن نتحدث عن التغيير والتصحيح دون أن نخص بالذكر مصر الحسـين قلب الأمة الإسلامية وضميرها وكيف لا .. وهل للجسد أن يعمل دون قلب، ولعل فى كلامى هذا رسالة خاصة إلى أبنائى وبناتى فى مصر الحسين للاضطلاع بدورهم الطليعى والطبيعى فى قيادة حركة التصحيح .. وقد قمت بحمد الله تعالى بزيارة مصر الشهر الماضى وان كان ذلك قد تم بعد طول غياب فعزاؤنا أن ذلك كان من أمر القدَر وإن مقبل الأيام لن تلِد إلا ما فيه خير مصر والسودان والإسلام .. وقد قمت بفضل الله تعالى بزيارة سيدنا ومولانا الإمام الحسين والسيدة زينب وسيدى إبراهيم الدسوقى وكوكبة من آل البيت الأتقياء الأطهار .. والتقيت بالآلاف من أحبابنا الذين كانت تسبقهم الأشواق إلينا ويشدنا الحنين إليهم .. وسوف أعود إليها مرة أخرى بعد المولد الشريف بإذن الله تعالى لقضاء وقت أرحب وتنظيم العمل وترتيب البيت.<br />
اخوانى .. أخواتى .. أبنائى وبناتى ..<br />
شهدت بلادنا فى الفترة الماضية العديد من الأحداث والفتن آخرها ما جرى بدارفور وما يجرى بمناطق أخرى من السودان .. وقد آن للسودان أن ينعم بالأمن والسلام والطمأنينة وتحقيق نهضته الشاملة .. ومن هنا فإننى وانطلاقاً من تعاليم ديننا الحنيف التى لا تنحاز إلى لون أو جنس أو قبيلة، أدعوا أبناءنا فى دارفور وكافة قطاعات حزام السافنا للعمل جميعاً لإطفاء نار الفتنة وإفشال كافة المخططات الأجنبية التى ظلت ولازالت تزرع الفتن بين أبناء الوطن الواحد فى سبيل تحقيق مآربهم الطمعية والاستغلالية .. وإذا كانت تلك المخططات فى طى السر والكتمان ردحاً من الزمان، فإن ما يشهده العالم اليوم من ممارسات قد كشف عن الأقنعة الحقيقية وأظهر بوضوح المآرِب الحقيقية لتلك المخططات، وإذا كنا قد أدركنا ذلك فانه جدير بنا أن نلتقى على رؤية وطنية نحدد من خلالها مصالحنا ونجهض بها فتن الاستعمار الجديد ونزعات العصبية والمصالح الشخصية ونحقن بها دماء الأبرياء ونعبر من خلالها فوق كل سلبيات وأخطاء وأحزان وآلام وضغائن الماضى نحو مستقبل زاهر بعون الله نحتكم فيه إلى منهج العلم ولغة المنطق يكون أساسه العدل والشورى والمساواة .. وإننا نستبشر كثيراً بالاتفاق الوطنى الاستراتيجى الذى جمع مؤخراً بين مؤتمر وادى النيل والمؤتمر الوطنى باعتباره خطوة واسعة تجاه ما ندعوا له، وان ما حواه من رؤى ومرتكزات فكرية واستراتيجية تجعل منه نواة لعمل وطنى كبير يمكن أن يوحد الأمة على أسس متينة ويقودها إلى بر الأمان ويحقق مصالحها ويحمى أرضها، وإننا ندعوا كل الأسر السودانية الكبيرة للالتقاء حوله والعمل على دعمه و تطويره.<br />
قال رسول الله (إنى والله ما أخاف عليكم أن تشركوا من بعدى ولكن أخاف عليكم أن تنافسوا الدنيا) أخرجه البخارى ومسلم وأحمد والطبرانى.<br />
اللهم افتح بيننا بالحق وأنت خير الفاتحين .. آمين ..<br />
وصلى الله على سيدنا محمد وعلى آله وصحبه وسلم<br />
سبحان ربك رب العزة عما يصفون وسلام على المرسلين والحمد لله رب العالمين<br />
والسلام عليكم ورحمة الله وبركاته</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
