﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء السابع من شهر أبريل عام 2004
				</p>
				<hr/>
				<b class='text-center'>اخوانى وأخواتى ... الجمع الكريم ... السلام عليكم ورحمة الله وبركاته</b>
				<br/>
				<p>الحمدُ لله على مُوجِباتِ حمدِه والشكرُ للهِ نعملُ به بأمرِه القائل فى مُحكمِ تنزيلِه فى ســورة يونس ﴿أَلا إِنَّ أَوْلِيَاء اللّهِ لاَ خَوْفٌ عَلَيْهِمْ وَلاَ هُمْ يَحْزَنُونَ،الَّذِينَ آمَنُواْ وَكَانُواْ يَتَّقُونَ لَهُمُ الْبُشْرَى فِى الْحَياةِ الدُّنْيَا وَفِى الآخِرَةِ لاَ تَبْدِيلَ لِكَلِمَاتِ اللّهِ، ذَلِكَ هُوَ الْفَوْزُ الْعَظِيمُ﴾ والصلاةُ والسلامُ على عبدِ الذاتِ ورسولِ الأسماءِ والصفات، صاحبِ الذاتِ المحمديَّة اللطيفةِ الأحديَّة منْ منِْه انشقتِ الأسرارُ وانفلقتِ الأنوارُ وفيهِ ارتقتِ الحقائق وتنزَّلت علومُ آدمَ فأعجز الخلائق، فصلِّ اللهم به مِنهُ فيهِ عليهِ وسلم الذى قال وقوله الحق بغيرِ شكٍّ بروايةِ البُخارى عن أبى هريرةَ قالَ قال رسول الله : (إن الله تبارك وتعالى قال: من عادى لى وليا فقد آذنتُهُ بالحربِ ومَا تقرَّب إلى عبدى بشىءٍ أحب إلى مما افترضتُ عليهِ وما يزالُ عبدى يتقرَّبُ إلى بالنوافلِ حتى أُحبَّه فإذا أحْببتُه كُنتُ سمعَهُ الذى يَسمعُ به وبَصرَه الذى يُبصرُ به ويَدَه التى يَبطِشُ بها ورِجلَه التى يَمشى بها ولَئِنْ سأَلنى لأُعطينَّهُ ولئنْ استعاذنى لأُعيذَنَّهُ وما تردَّدتُ عن شىءٍ أنا فَاعلُه تردُّدى عن قَبضِ نَفسِ المُؤمن يَكرهُ الموتَ وأنا أَكرهُ مساءتَه) وقال أيضا (الدُّنيا سِجنُ المؤمنِ وجَنةُ الكافر) مسلم، فالأولياءُ من أمَّة الحبيبِ يُمضون حياتهم مَطيَّةً للآخرة ويتشوَّقون إلى لقاءِ المولى تباركَ وتعالى تشوَّق الصادى إلى الماءِ والعليلِ إلى الشفاءِ ولذا يقول الإمام فخر الدين :<br />
قَضيتُ سِنيَّاً أَرتَجى ساعةَ اللِّقا<br />
 <br />
لِذاكَ تَعـانقنا عِنـاقَ الأحبَّةِِ<br />
وإنَّ من أشراطِ الإيمانِ؛ الإيمانُ الكاملُ بالقضاءِ والقَدرِ خيرِه وشرِّه، حُلوِهِ ومُرِّهِ:<br />
وعِندَ زَوالِ الحِسِّ فالْجُرحُ فَرحةٌ<br />
 <br />
فِذى رُتبٌ فيها اتسـاع المَداركِ<br />
فلقد كان انتقالُ الحبيبِ المصطفى ، من أشدِّ المصائب على أصحابه رضوان الله عليهم فمِنهم من ثَبتَ وتَمسَّك بإيمانِه ومِنهم مَن تَعلَّق بالحبيبِ ولم يصدِّق عينيه، فسيِّدنا عمرُ بن الخطاب وهو أشدُّ الناس عريكةً وأكثرُهم فراسةً حَملَ السيفَ على كلِّ من قالَ بموتِ حبيبِه، حتى جاء الصدِّيقُ الذى كان يتحرَّق كبدُه بنار الشوق إلى حبيبِه حتَّى ولَو فرَّقت بينهم المضاجع وأوقاتُ الراحات ليُعلن قولَ الحقِّ ويُعيدُ الناسَ إلى رُشدهم وصوابِهم وتلى عليهم قولَ الحقِّ من سورة آل عمران ﴿وَمَا مُحَمَّدٌ إِلاَّ رَسُولٌ قَدْ خَلَتْ مِن قَبْلِهِ الرُّسُلُ أَفَإن مَّاتَ أَوْ قُتِل انقَلَبْتُمْ عَلَى أَعْقَابِكُمْ وَمَن يَنقَلِبْ عَلَىَ عَقِبَيْهِ فَلَن يَضُرَّ اللّهَ شَيْئًا وَسَيَجْزِى اللّهُ الشَّاكِرِينَ﴾144 وهنا يقول الفاروقُ : كأنى أسمعُها لأول مرة. ويقف الصدِّيق ويقول ﴿يا أيها الناسُ من كانَ يَعبدُ محمدا فإنَّ مُحمدا قد ماتَ ومن كانَ يَعبدُ اللهَ فإنَّ اللهَ حى لا يموت﴾.<br />
ولنا فى رسولِ اللهِ وأصحابِه الكرامِ رضوانُ اللهِ عليهم الأسوةُ والقدوةُ فى مصابنا الجللِ بانتقال سيِّدِنا ومولانا الإمام الشيخ إبراهيم الشيخ محمد عثمان عبده البرهانى رضى الله تعالى عنه الذى تشوَّق وأحبَّ لقاءَ اللهِ فأَحبَّ اللهُ لقاءَه، ثم تبعَهُ من أحبَّهم وأحبُّوه من أهلِ البيت إلى الرَّفيق الأعلى فكان أوَّلَ لاحقٍ به الشيخ محمد عثمان خيرى ابنُ السيدة فاطمة الشاذلية أختِ مولانا الشيخ إبراهيم رضوان الله عليهما، ثم لَحِقتْ بهم الصدِّيقةُ الطَّاهرةُ الحاجة زينب أحمد عثمان زوجةُ الإمام فخر الدين الشيخ محمد عثمان عبده البرهانى ذاتُ الأيادى البيضاءِ على كلِّ من انْتسَبَ للطريقةِ أو أتاها زائراً رضى الله عنهم ونَفعَنا اللهُ ببركَتِهم وزِيارتِهم فإنَّك قريبٌ مُجيب ياأرحم الراحمين اللهم آمين.<br />
والطريقةُ البُرهانية الدُّسوقية الشاذلية صاحبُها وسرُّها هو سيدى إبراهيم الدسوقى أبوالعينين، أبوالعونين، أبوالشرفين، أبوالسَّيفين والرمحين ، صاحب الدعوة المستجابة {البيضةُ منَّا بفرخٍ والفرخُ منَِّا لا يُقوَّم} صاحبُ الراية البيضاء رايةُ الشريعة السمحاء.<br />
ولواءُ الرحمةِ فيها الإمامُ الشاذلى أبو الحسن الذى دعا لأعدائه بأن يكونوا أولياءَ كاملين لما فوَّضه اللهُ عزَّ وجلَّ فيهم ولذا قال {لايستكمل ولى إلا إذا تشذَّل} صاحبُ الرايةِ الصفراءِ رايةِ العلومِِ اللدنيَّة.<br />
وشيخُ المشايخِ فيها سيدى عبد السلام بن بشيش القائل لربِّه وراجيه {اللهمَّ لا تجمعْ بنا شقيَّاً وإذا جمعتَنا به فشفِّعْنا فيهِ}.<br />
ثم جاء الابن البكر لسيدى إبراهيم الدسوقى ألا وهو الإمام فخر الدين الشيخ محمد عثمان عبه البرهانى القائل:<br />
أُكنَّى بفَخـرِ الدين بين أحبَّتى<br />
 <br />
ولى فى سماواتِ الغيوبِ مناقبُ<br />
الذى أعاد الذكر بعد فواتٍ فأحيا اللهُ به الأرضَ بعد مواتٍ فأحيا الطريقَ وأبانَ معالمَه واضحةَ جليَّة، وترك ميراثا من العِلم أحياهُ بعد أن بَلغ عتيَّا، ثم أرسلَ إلينا فَرائدَهُ البرزخيَّة نَطربُ لسماعِِها ونَسْكرُ من رَشفِ سُلافها، دَحضَ الباطلَ بحُجَّته ونصرَ الحقَّ بدعوتِهِ، هادياً إلى صراطِ اللهِ المستقيم بالتمسُّك بكتابِ الله العظيمِ وبسنَّة نبيِّه الكريم ثم اختار جِوار ربِّه مطمئناً لوصيِّه وفَلذةِ كَبِده.<br />
ووصَّيتُ إبراهيمَ أنِّى اصطفيتُه<br />
 <br />
وكلُّ نجاةٍ كَتـمُ سِـرِّ النجيَّةِ<br />
فكان خيرَ خلفٍ لخيرِ سلفٍ حَملَ الرايةَ ورَفعَ القواعدَ وَوَضعَ الأحبابَ تحتَ جَناحيهِ وأَرشدهم بلسانيهِ ووقاهم بيمينيهِ.<br />
فى يَمينيـهِ قوَّتى ومِراسى<br />
فى جَنـاحيهِ رَحمتى ولدَيهِ<br />
 <br />
بلِســانيهِ عَـالمٌ وعَـليمُ<br />
عِوضَ الوَالدينِ يَلقى اللطيمُ<br />
وضع قواعد الإرشاد فى مَحلِّها من العمل بها، وكان الأُسوةَ والقدوةَ فقد طافَ الأرضِ مَشرقا ومَغربا ليَروى الحِنطة التى بذرَها سيدى فخر الدين فى الشرق والغرب وكان حظُّ المريدين من وقتِه أكثرَ من حظِّ أهلِ بيته، رفعَ القواعدَ من ظاهرِ الأمرِ وباطنِه، فقد شيَّد أكبرَ المساجدِ والساحاتِ فى السودان وهى تربو على العشراتِ من المساجدِ والمئاتِ من الزوايا ودورِ العبادةِ فى إفريقيا وآسيا وأوروبا وأمريكا وكندا واستراليا.<br />
كما أشرف على انتشار علوم السادة الصوفية بالمواظبةِ على طباعةِ كتبِ الأوراد وكتابى "تَبرئةِ الذمَّة" و"انتصار أولياءِ الرحمن على أولياء الشيطان" وديوانى "بطائن الأسرار" و"ابتسام المدامع "، كما أَعدَّ الدارسينَ لعلومِ الفِقهِ والتصوَّفِ وانتشر بهم فى الساحات والمساجد لإرشاد الناس إلى إحياءِ السُّنَن النبوية التى قد أُميتت ومقاومةِ الفئاتِ التى بالدين قد عاثت.<br />
ثم انعطف إلى إرشاد من سمَّاهم الشاردين إلى الله وقال: ليس لنا إلا ما وضعه سيدى فخر الدين من أساس فى الإرشاد من ترك الكلام فى المناقب والإقبال على الذكرِ والصلاةِ على الحبيبِ المصطفى وقال: إنَّ واجبات المرشد فى الطريق أنْ يُعلِّم أخَاهُ الذى يخدمُه بعد الفرائض:<br />
ذكرَ القلب بعد ذكرِ اللسانِ حتى يَحصل له الاطمئنان.<br />
الإنفاقَ فى سبيلِ اللهِ من مالِه ووقتِه بكلِّ رخيصٍ وغال.<br />
دوامَ المحافظةِ على المُراقبةِ فى كلِّ الأحوال.<br />
وعلَّمَنا أنَّ المشكلاتِ اليوميَّة ما هى إلا نقصٌ فى الأوراد والعبادات فبدلا من اشتغال المريد بأمورِه الخاصَّةِ عليه الاشتغالُ بأوراده فكما قال الحبيب المصطفى عن ربِّ العزة جل وعلا (من شَغلَه ذكرى عنْ مسألتى أَعطيتُه أفضلَ ما أُعطى السائلين) أخرجه البخارى عن سيدنا عمر .<br />
فكنْ يامُـريدى للكـرامِ مُقـلِّدا<br />
فإنْ جنحتْ للسَّلمِ فاجنحْ لسَلمِها<br />
 <br />
فليسَ أمـانٌ فى جنـاحِ البَعوضةِ<br />
وإنْ جَمحتْ فالذكرُ عينُ الحمايةِ<br />
وقد قال سيدى فخر الدين : إنَّ الجهادَ فى اللهِ هو الجهادُ الأكبر فالمُجاهدُ فى سبيل الله وهو الجِهادُ الأصغرُ يَحتاجُ إلى درعٍ يَحميهِ وسيفٍ يَضربُ به وحِصانٍ يَمتطيهِ وقد أُعطينا بفضلِ اللهِ الإذنَ الأعلى بالحزبِ السَّيفى والقِدْحِ المُعَلَّى بذكر الاسمِ "الله" فأين خيلُكم وهى هِممُكم وقد قال الحبيب المصطفى وكان سيِّدُنا سلمانُ الفارسى يجلس بجوارِه فضرب على فَخذهِ وقال (والذى نفسى بيده لو كانَ الإيمانُ مَنوطاَ بالثُّريا لنالَهُ هؤلاء) رواه الترمذى من حديث أبى هريرة ، كما أرجو ألا تكونوا كمن قيل فيهم:<br />
أيا هممٌ كلَّت عنِ السيرِ فى الضُّحى<br />
 <br />
يَخيبُ بهـا من يرتضـى برقادِكِ<br />
كما علَّمَنا أنَّ قراءةَ الأورادِ خيرٌ من القيلِ والقال وكثرةِ السؤال فإنَّ كثرةَ السؤال قد أهلكتِ الأممَ من قبلِنا كما قال الحبيبُ المصطفى فعن أبى هريرة ؛ أنه سمعَ النبى يقول: (ما نَهَيْتُكُمْ عَنْهُ فاجْتَنِبُوهُ، وَما أمَرْتُكُمْ بِهِ فافْعَلُوا مِنْهُ ما اسْتَطَعْتُمْ فإنَّما أهْلَكَ الَّذينَ مِنْ قَبْلِكُمْ كَثْرَةُ مَسائِلِهِمْ وَاخْتِلافهُمْ على أنْبِيائِهِمْ).<br />
وما غَيرى بدُنياكُمْ عليمٌ<br />
 <br />
وما قُمتُمْ بأُخراكُم مَقاَمى<br />
ومن هذا الحديث نفهم أنَّ على الأحباب السعى الدائمُ فى إنجازِ ما كُلِّفوا به من العملِ وليس عليهمْ إدراك النَّجاح لأنه بيدِ الله جل وعلا، وألاَّ يُكثِروا من الاستفسار فى المسألة الواحدة لأنَّه يُضيِّق عليهم ويُصعِّب مَهامَهم وهو دأبُ بنى إسرائيلَ فى أمرِ البَقرةِ فى أوائلِ سُورِ القرآن. كما أنَّ القيلَ والقالَ هو دأبُ خاوى القلبِ من الذكرِ، وقد تعلَّمنا من مشايخِنا أنَّ الفرقَ بين التصديقِ والتكذيبِ هو ما تراهُ بعينِك لاما تَسمعُه بأُذْنِكَ كما قال سيدى فخر الدين :<br />
وأَلسُنُ أهـل القيـلِ والقالِ إنَّما<br />
 <br />
تُكَبُّ على النيران بئـسَ الحَصائد<br />
أمَّا بالنسبةِ للخدمةِ فى الطريقةِ فمن كُلِّفَ بشئٍ أُعِينَ عليه، والخِدمة تكليفٌ وليستْ تشريفاً، وعلى المُكلَّفِ أنْ يَخدِمَ إخوانَه لا أنْ يتمََشيخَ عليهم فإنَّ للطريقةِ شيخاً واحداً دائما وأبدا لايُعجِزُه خدمةُ أبنائه بنفسِه وإنَّما أرادَ إشراكَنا فى الخير{فالدالُّ على الخيرِ كفاعلِه} والتسلُّط على الإخوانِ لم يكُنْ أبداً من شيمِ مَشايخِنا الكرام.<br />
طَريقى فى كلِّ الطرائقِ مأمنٌ<br />
 <br />
وما عرفتْ ترهيبَ صَيدٍ بصائدِ<br />
ونود أن نقول إنَّ استبدالَ العملِ بالأعذارِ أمرٌ غيرُ مقبولٍ لأنَّه من بحثَ عن عذرٍ وجدَ ألفَ عذرٍ ولكنَّ العملَ فى الطريقِ يَحتاجُ إلى التَّفانى وأنْ يكونَ المريدُ كألفٍ وصدق سيدى أبو الحسن الشاذلى حين قال {ربَّ مريد كألف ورب ألف كهُفٍّ}.<br />
والباب مفتوحٌ للجميع للخدمة وليس لدينا بِطانةٌ أوحجابٌ تَمنع واحداً وتُدخلُ آخرَ ولسنا إلا أُذْنَ خيرٍ كما كانَ أسلافُنا الكرامُ، تربطُنا بإخواننا عَلاقةُ الحبِّ المَمزوجةِ بطاعةِ الأمرِ للهِ والرسول:<br />
قِوامُ طريقِ القومِ حبٌّ وطاعةٌّ<br />
 <br />
وكلُّ مقـامٍ قـامَ بالاستقامةِ<br />
وقد قال سيدى الإمامُ جعفرُ الصادق {إنَّ أثقلَ الإخوانِ على قلبى من يتكلَّفونَ لى فأتحفَّظ منهم وإنَّ أحبَّ الإخوانِ من أكونُ معَهم كما أكونُ معَ نفسى} والعَلاقةُ فى الزياراتِ نظَّمها المولى تبارك وتعالى فى سورة الحجرات فلننظر إلى ماجاء فى الشرع الشريف، ليس هذا حَجْراً على الأحبابِ ولكنْ لتنظيمِ الوقتِ وعدمِ ضَياعِهِ فى الأُنسِ بالناسِ وكما قال سيدى أحمد البدوى {الائتناسُ بالناسِ علامةُ الإفلاس}.<br />
أمَّا عن حلقاتِ العلمِ والتدارسِ فإنَّ الصفاء أهمُّ من الجلوس للتدارس فإنَّ التشاحنَ لايولِّد إلا التباغضَ وهذا عكس قضية لما قاله سيدى فخر الدين :<br />
لِيجمَعَكمْ مكانٌ فيه صَفوٌ<br />
 <br />
وإلاَّ عَـنْ تلاقيكم أَفلتُ<br />
كما أنَّ جَلساتِ التَّدارُسِ ليستْ لممارسةِ القولِ بالرأى والتعنُّتِ فى قَبولِ آراءِ الآخرين فذلك بابٌ للهوى وتنميةِ الأَنْفُسِ بدلا من مُحاربتِها وقد قال سيِّدُنا عبد الله بن عباس حبرُ الأمة {من قالَ فى القرآنِ برأيه فأصابَ فقد أخطأَ} ونرى أنَّ اتَّخاذَ مَنهجِ سيدى فخرِ الدينِ فى مجالسِ العلمِ هو الحلُّ الأوحدُ لِما أشكلَ على المُتدارِسينَ ولدينا سِفْراهُ الجليلان "تبرئةُ الذِّمة فى نُصح الأُمَّة" و"انتصارُ أولياءِ الرحمنِ على أولياءِ الشيطان" وكذلك سلسلةُ "علِّموا عنِّى" معِيناً كَافياً لمن أرادَ التعلُّم.<br />
وليس مساغا من لَدنْ أهلِ مِنَّتى<br />
 <br />
تَحوُّلُهم عن مـائِِها مِن عُيونِها<br />
ويقول أيضا:<br />
فلِى علومٌ نضيدٌ طَلعُها كرماً<br />
وإنَّها عِندكمْ فيكـمْ مُعتَّقةُ<br />
 <br />
وحـدُّها لا يُناهى فى عُبودَتنا<br />
فإن نضَحنْا بها كُونوا سَريرتَنا<br />
كما أنه من الأساسيات لمجالس العلم التفقُّه فى العبادات التى لا يَصِحُّ الطريقٌ بدونِها ونعوذُ باللهِ من شرِّ التفسُّق والتزندُّق، ولقد كان الإمام فخر الدين يَحضُرُ دروسَ الفِقهِ ويُواظبُ عليها كطالبِ عِلمٍ بالرغم من كَونِه من أعلمِ عُلماءِ عَصرِه تشريعا وتحقيقا.<br />
ثم نأتى إلى الودِّ والتآلفِ والتَّزاورِ والتكاتفِ والتَّصافى وقد قال الله تعالى فى مُحكمِ التنزيل ﴿يَا أَيُّهَا الَّذِينَ آمَنُوا لَا يَسْخَرْ قَومٌ مِّن قَوْم عَسَى أَن يَكُونُوا خَيْرًا مِّنْهُمْ وَلَا نِسَاءٌ مِّن نِّسَاءٍ عَسَى أَن يَكُنَّ خَيْرًا مِّنْهُنَّ وَلَا تَلْمِزُوا أَنفُسَكُمْ وَلَا تَنَابَزُوا بِالْأَلْقَابِ بِئْسَ الاِسْم الْفُسُوقُ بَعْدَ الْإِيمَانِ وَمَن لَّمْ يَتُبْ فَأُوْلَئِكَ هُمُ الظَّالمون﴾.<br />
وعن أبى هريرة قال قال رسول الله : (لا تَحاسَدُوا، وَلا تَناجَشُوا، وَلا تَباغَضُوا، وَ لاَ تَدَابَرُوا، وَ لا يَبْغِ بَعْضُكُمْ على بَعْضٍ وكُونُوا عِبادَ اللَّهِ إخْواناً، المُسلِمُ أخُو المُسْلِمِ لا يَظْلِمُهُ وَلا يَخْذله وَلا يَحْقِرُهُ، التَّقْوَى هَاهُنا - ويشيرِ إلى صدره ثلاثَ مرات - بِحَسْبِ امْرىءٍ مِنَ الشَّرّ أنْ يَحْقِرَ أخاهُ المُسْلِمَ، كُلُّ المُسْلِمِ على المُسْلِمِ حَرَامٌ: دَمُهُ ومَالُهُ وَعِرْضُهُ) صحيح مسلم.<br />
والتواصل والتراحم لا نَقصِدُ بهِ أبناءَ الطريقةِ البُرهانيةِ بعضُهم البعض فقط ولكن أيضاً أبناءَ العمومة من الطرقِ الصُّوفية فى كلِّ أنحاء العالم فإنَّ حُبَّ رسول الله يَجمعُنا ويَوحِّد القلوب مَهَما اخْتلفتِ المَشاربُ ويقولُ الإمامُ البوصيرى :<br />
وكلُّهُم مِن رسولِ اللهِ مُلتـمِسٌ<br />
 <br />
غَرفاً من البحرِ أو رَشفاً من الدِّيمِ<br />
وفى هذا يقول سيِّدى فخر الدين :<br />
أينَ التَّراحـمُ يا بَـنى فـإنَّهُ<br />
 <br />
عَذبٌ صَفى من شَرابِ الكُمَّلِ<br />
وحذَّرنا من القطيعةِ والتجافى وبيَّن أسبابها بقوله:<br />
لا تركنوا للظَّــالمينَ فإنَّهم<br />
عِفُّوا اللسانَ عنِ المحارمِ إنَّ ذا<br />
 <br />
مَـزجٌ مـن القُطَّاعِ واللُوَّامِ<br />
هـو مـوردُ الهَمّـازِ والنَّمَّامِ<br />
ثم إلى هذا التساؤلِ الذى يَودُّ كل منَّا أن يَطرحَه على نفسِه:<br />
أيا نارُ نورى فى قلـوبِ أحبَّتى<br />
 <br />
ترى أينَ من يُزكيك أين زكاتُكِ<br />
اخوانى أخواتى ...<br />
تمر منطقتنا العربية والإفريقية بمرحلة بالغةَ الدقة والتعقيد، تواجه فيه المخططات الأجنبية التى تستهدف هويتها وإرثها الحضارى فضلاً عن المصالح الاقتصادية، والسودان بموقعه الجغرافى المتميز كجسرٍ يربط بين القارة السمراء والعالم العربى، و بما حباه الله من ثروات طبيعية هائلة، قد وجد نفسه فى خِضَم صراع تلك المصالح الدولية فى المنطقة.<br />
وإننا ندرك بان المرحلة المقبلة تتطلب على المستوى القطرى والإقليمى وحدةً للرؤى وتخطيطاً استراتيجياً متقناً ومنهجاً علمياً، إلا أن أى تخطيط لمواجهـة تحديات المرحلة لـن يكتب لـه النجاح إن لم يستند على البناء الأخلاقى للأفراد الذين يشكلون نواة المجتمع، وقد تحدث مولانا الإمام الشيخ إبراهيم الشيخ محمد عثمان عبده البرهانى عن هذا الموضوع عدة مرات حيث أشار إلى أن بناء الفرد المسلم وتسليحه بسلاح الإيمان، وتزكية نفسه وتربيتها و صبغها بالقيم النبيلة هو الأساس لبناء المواطن المسلم الصالح الذى سيصبح فيما بعد الركيزة الأساسية للنهضة الإسلامية الشاملة، ويشكل الوحدة الراسخة المتماسكة المتزنة داخل الجماعة التى نستطيع من خلالها مواجهة التحديات التى تواجه الأمة.<br />
اخوانى أخواتى ...<br />
كما تعلمون فإن التصوف الإسلامى يجسد الإسلام الصحيح الذى يقوم على المحبة والتعاطف والمودة والتراحم بين الناس ويرتكز على إصلاح القلوب وإعمارها بذكر الله والصلاة على النبى، ولعل انتشار الطريقة البرهانية والقبول الشعبى لمنهج سيدى إبراهيم فى معظم دول العالم بتباينها واختلاف عقائدها وثقافاتها وبيئتها... لمؤشر للدور المهم للطرق الصوفية فى استراتيجيات المرحلة المقبلة.<br />
اخوانى أخواتى ...<br />
إن التصوف يشكل التيار الشعبى لغالب شعب وادى النيل، وان السلوك الصوفى الذى يقوم على المحبة ومودة آل البيت هو السائد فى شمال الوادى وجنوبه، وان التحام هذا التيار الشعبى عبر وحدة وادى النيل لن يشكل قوة سياسية فحسب وإنما يشكل أيضاً قوة روحية هائلة يفتقدها العالم الإسلامى اليوم، فضلاً عن أن ارتكاز التكتل الإقليمى لوادى النيل على قاعدة شعبية تقوم على السلوك الصوفى بكل ما يحمله التصوف الإسلامى من معانٍ، يعنى تشكيل اللبنة الأولى لمواجهة تحديات العصر بل والعبور فوق ذلك نحو التأسيس لنهضة إسلامية شاملة تؤسس لبناء عالم تسوده قيم الإنسانية والمحبة والعدل والخير والإحسان.<br />
وقد ظل سيدى الإمام فخرالدين إلى أن انتقل إلى الرفيق الأعلى يتحدث عن أهمية وحدة وادى النيل، وكان كثيراً ما يتحدث فى دروسه عن حتمية وحدة مصر والسودان لأنها قد خُتِم عليها فى الحضرة النبوية الشريفة ، وقد سبق أن رفض عرضاً تقدم به الإنجليز إبان حكمهم للسودان، بان يؤسس مجلساً صوفياً بالسودان يكون هو رئيسـاً لـه، حيث كان يرى أن وجود مجلسين صوفيين بكل من السودان ومصر يجسد لمبدأ الانفصال، وقد كان موقفه ذلك سبباً فى قرار المجلس الأعلـى للطرق الصوفية بمصر فى 3/3/1955 بتعيينه وكيلاً عاماً له بالسودان والأقطار الإسلامية المجاورة.<br />
وجاء من بعده سيدى الإمام الشيخ إبراهيم الشيخ محمد عثمان عبده البرهانى داعياً لقيام وحدة وادى النيل على أسس علمية لتكون نواة لوحدة عربية وسنداً مهماً لبناء مستقبل الأمة، واتخذ العديد من الخطوات المهمة فى هذا الصدد.<br />
اخوانى أخواتى ... <br />
إن الاستراتيجيات الجديدة التى وُضِعت لحكم العالم فى القرن الواحد والعشرين تستند على تعزيز دور منظمات المجتمع المدنى و إضعاف دور الدولة، وعلى هذا الأساس تمت صياغة الاتفاقات والخطط والبرامج، ولعله من المفيد ونحن نتحدث عن بناء المستقبل أن نشير إلى دعوة سيدى الإمام الشيخ إبراهيم الشيخ محمد عثمان عبده البرهانى بضرورة تقاسم الأدوار فى هذه المرحلة بين {الطرق الصوفية} باعتبارها أهم منظمات المجتمع المدنى فى العالم الإسلامى، و{الدولة} بحيث تقوم الطرق الصوفية بالتصدى للجانب الأساسى للحوار الحضارى بين الإسلام وشعوب العالم وعمليات التنمية الأخلاقية وبناء الأفراد الممارسين للدين قولاً وعملاً، فيما تقوم الدولة بمؤسساتها وأحزابها وأجهزتها {الاجتماعية والسياسية والاقتصادية} بعمليات التنمية العقلية والبناء والتعمير، ليشكلا معاً الوطن والمواطن الصالح اللذان يستطيعان التعامل مع متطلبات العصر، ولعله قد آن الأوان لأن ندرك أهمية تقاسم الأدوار بين الطرق الصوفية والدولة باعتبار أن الطرق الصوفية تشكل أهم منظمات المجتمع المدنى التى تمثل غالب أهل السودان ومصر وتحمل قيم مجتمعنا وإرثه وحضارته، وتبشر بالفكر الصوفى الإسلامى الذى يجسد الدواء والبلسم لداء العصر، وهى بذلك تستطيع أن تسد الثغرة التى تعمل المخططات الأجنبية للنفاذ من خلالها.<br />
ومن هذا المنظور وإدراكاً للمخاطر التى تواجه بلادنا فإننا نبارك أى خطوات للتكامل والتوحد بين مصر والسودان ونرجو أن ينظر الجميع لوحدة وادى النيل على أنها عمل استراتيجى بالغ الأهمية يجسد الخيار الوحيد لمواجهة التحديات الجسيمة التى تواجه الأمة، وهو بذلك يستوجب الاتفاق وتوحيد الإرادة الوطنية حوله بل دعمه وتأييده، وإننا نرى أن صراع المصالح الدولية وتعارض بناء كتلة وادى النيل مع الاستراتيجيات الأجنبية فى المنطقة يحتم أن تستند الجهود المبذولة لتحقيق وحدة وادى النيل على قاعدة التيار الصوفى الجارف فى شطرى الوادي، الشئ الذى يعنى دعم تلك الخطوات وتعزيزها وتوفير القوة الروحية والسند الشعبى لها ويشكل بالتالى أهم العوامل المطلوبة لحماية وتأمين جهود بناء كتلة وادى النيل.<br />
اخوانى أخواتى ...<br />
قال سيدى فخر الدين :<br />
وصرحى باسم الله بوأت ركنه<br />
 <br />
وآية إبراهيـم رفـع القواعد<br />
يطيب لى فى ختام خطابى هذا أن أتقدم إليكم والى الأمة الإسلامية جمعاء بالتهنئة الخالصة بمناسبة افتتاح مجمع سيدى الإمام على بن أبى طالب كرم الله وجهه والذى يتم فى وقت نتسم فيه عبير المولد النبوى الشريف.<br />
ولعل فى اكتمال هذا الصرح العملاق الذى أرسى قواعده ورفع بنيانه سيدى الشيخ إبراهيم وبروزه إلى حيز الوجود فى هذا التوقيت لمؤشر ومدلول بليغ على ملامح المستقبل وطبيعة المهمة الكبيرة التى تنتظرنا، وهى مهمة لن يتأتى لنا القيام بها إلا بالجد والعمل والمثابرة والتعاون والتوادد والتراحم والسمو فوق الصغائر، وقبل ذلك كله الاجتهاد فى الأوراد والمراقبة.<br />
قال سيدى فخر الدين :<br />
فأجمِعوا أمركم والله عاصِـمَكم<br />
وحاذروا من وسيط السؤ بينكُمُ<br />
إذا اجتمعـتم على حُبٍّ ومرحمةٍ<br />
 <br />
من الشتات لدى بِضعٍ وسبعينِ<br />
وأيقظـوا هِمّـةً فيها رياحينى<br />
فأيقنـوا الوصلَ إن الله معطينى<br />
وصلى الله على سيدنا محمد وعلى آله وصحبه وسلم<br />
سبحان ربك رب العزة عما يصفون وسلام على المرسلين والحمد لله رب العالمين</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
