﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء السادس من شهر أبريل عام 2005
				</p>
				<hr/>
				<p>الحمد لله الذى أعطانا فأرضانا وطهر مبتدانا، واصطفى على العالمين آل عمران وآل إبراهيم ومن آل إبراهيم اصطفانا، وصفانا من الأغيار بعد إذ هدانا، وأحفظنا كتابه بعد أن اجتبانا، وألبسنا ثوب سنة حبيبه بعد أن جعلت رجانا ومرتجانا، وصلاةً وسلامًا دائمين متلازمين على المصطفى ممن قد اصطفى منها مصابيح الدجى تشرق إذا ما الصبح اندحى والليل انمحى. يقول الحق تبارك وتعالى فى محكم تنزيله من سورة النحل، أعوذ بالله من الشيطان الرجيم ﴿ادع إلى سبيل ربك بالحكمة والموعظة الحسنة وجادلهم بالتى هى أحسن إن ربك هو أعلم بمن ضل عن سبيله وهو أعلم بالمهتدين ¤ وإن عاقبتم فعاقبوا بمثل ما عوقبتم به ولئن صبرتم لهو خير للصابرين ¤ واصبر وما صبرك إلا بالله ولا تحزن عليهم ولا تك فى ضيق مما يمكرون ¤ إن الله مع الذين اتقوا والذين هم محسنون﴾النحل 125 : 128.<br />
من هذه الآيات البينات يتضح السبيل والكيفية فى الدعوة إلى الله سبحانه وتعالى التى لا تتأتى إلا بالحكمة والموعظة الحسنة والجدال بالتى هى أحسن وفى هذا كله إغلاق الباب أمام الخصومة التى هى ألد أعداء الدعوة إلى سبيل الله جل وعلا وما رأينا شيئاً أذهبَ للدين ولا أقصَ للمروءة ولا أضيعَ للذة ولا أشغلَ للقلب من الخصومة، فإن قلتَ: لابُدَّ للإِنسان من الخصومة لاستبقاء حقوقه، فالجوابُ ما أجابَ به الإِمامُ الغزالى أن الذمَّ المتأكّدَ إنما هو لمن خاصمَ بالباطل أو غير علمٍ، ويدخلُ فى الذمّ أيضاً مَن يطلبُ حَقَّه لكنه لا يقتصرُ على قدرِ الحاجة، بل يظهرُ اللددَ والكذبَ للإِيذاء والتسليط على خصمه، وكذلك من خَلَطَ بالخصومة كلماتٍ تُؤذى، وليس له إليها حاجة فى تحصيل حقه، وكذلك مَن يحملْه على الخصومة محضُ العِناد لقهر الخصم وكسره، فهذا هو المذموم، وأما المظلومُ الذى ينصرُ حُجَّتَه بطريق الشرع من غير لَدَدٍ وإسرافٍ وزيادةِ لجاجٍ على الحاجة من غير قصدِ عنادٍ ولا إيذاء، ففعلُه هذا ليس حراماً، ولكن الأولى تركُه ما وجد إليه سبيلاً، لأنَّ ضبطَ اللسان فى الخصومة على حدِّ الاعتدال متعذّر فما بالك بضبط اليد، والخصومةُ تُوغرُ الصدورَ وتهيجُ الغضبَ، وإذا هاجَ الغضبُ حصلَ الحقدُ بينهما حتى يفرح كل واحد بمساءةِ الآخر، ويحزنُ بمسرّته ويُطلق اللسانَ فى عرضه، فمن خاصمَ فقد تعرّضَ لهذه الآفات، وأقلُّ ما فيه اشتغالُ القلب حتى أنه يكون فى صلاته وخاطره معلقٌ بالمحاجّة والخصومة فلا يَبقى حالُه على الاستقامة؛ والخصومةُ مبدأ الشرّ، وكذا الجِدال والمِراء، فينبغى أن لا يفتحَ عليه بابَ الخصومة إلا لضرورة فى الدين لابُدَّ منها، وعند ذلك يَحفظُ لسانَه وقلبَه عن آفات الخصومة، ‏وكذلك فإن الخصومة تفتح باب النفاق لأن التتابع للأفعال وردودها قد يؤدى إلى الفجور والمغالاة فى معاملة الخصم وقد ورد عن عبد اللّه بن عمرو بن العاص رضى اللّه عنهما؛ أن النبى قال: (أَرْبَعٌ مَنْ كُنَّ فِيهِ كانَ مُنافِقاً خالِصاً، وَمَنْ كَانَتْ فِيهِ خَصْلَةٌ مِنْهُنَّ كَانَتْ فِيهِ خَصْلَةٌ مِنْ نِفاقٍ حتَّى يَدَعَها: إِذَا ائتُمِن خانَ، وَإذَا حَدَّثَ كَذَبَ، وَإِذَا عاهَدَ غَدَرَ، وَإِذَا خاصَمَ فَجَرَ).<br />
ومن الأولى التخلى عن الخصومة والتحلى بالإحسان فى الآية الكريمة وكذلك قول الحبيب أنه قال: (أمرنى ربى بتسع .. الإخلاص فى السر والعلانية والعدل فى الرضا والغضب والقصد فى الغنى والفقر وأن أعفو عمن ظلمنى وأصل من قطعنى وأعطى من حرمنى وأن يكون نطقى ذكرا وصمتى فكرا ونظرى عبرة).<br />
وكذلك من حديث علقمة بن وائل عن أبيه قال: كنا قعودا عند النبى فجاء رجل فى عنقه نسعة فقال يا رسول الله إن هذا وأخى كانا فى جب يحفرانه فوقع المنقار فضرب به رأس صاحبه فقتله فقال له النبى : (اعف عنه)، فأبى، ثم قام فذكر مثل الكلام فقال له النبى : (اعف عنه)، فأبى، فقال له النبى : (اذهب به فإن قتلته كنت مثله) فخرج به حتى جاوز فناديناه ألا تسمع ما يقول رسول الله فرجع فقال رسول الله : (إن قتلته كنت مثله) قال: نعم أعفو عنه فخرج يجر نسعته حتى خفى علينا‏.<br />
ولنا العبرة والعظة من باب مدينة العلم قالَ فى ابن مُلْجِمٍ بَعْدَ مَا ضَرَبَهُ: أطعموه واسْقُوه وأحْسِنُوا أسَارِه فَإِنْ عِشْتُ فأنَا وَلِى دَمِى أعْفو إنْ شِئْتُ وإنْ شِئْتُ استقدمت وإنْ مت فقتلتُمُوهُ فَلاَ تُمَتِّلُوا به، ما أروع العفو فى ألد الخصومة، وفى معناه ما رواه العسكرى عن الأصمعى قال: أتى أعرابى قوما فقال لهم هل لكم فى الحق أو فيما هو خير منه؟ قالوا وما خير من الحق؟ قال التفضل والتغافل أفضل من أخذ الحق كله، وقال الأصمعى تقول العرب خذ حقك فى عفاف وافيا أو غير واف.<br />
قال وأنشدنى عمى بأثر هذا:<br />
وقومى إن جهـلت فسـائليهم<br />
هل أعفو عن أصول الحق فيهم<br />
 <br />
كفى قومى بصاحبهم خبيرا<br />
إذا عثرت وأقتطع الصدورا‏<br />
وقد قال سيدى فخر الدين مرشدا ومبينا ما هو أروع فى الخصومة من نسيانها كأن لم تكن لأن تذكرها لا يسر ونسيانها لا يضر والكلمة الطيبة أقوى من السيوف والرماح: <br />
ما سر لو بات المحب مغـاضبا<br />
ما ضر لو بات المحب وقد عفى<br />
 <br />
وعليه جفوة قاطعى أرحامى<br />
إن التظـالم بؤرة الإظـلام<br />
وأما الذين سبقونا بالإيمان فلهم منا التقدير والإحترام لشيبة شابت فى الإسلام وفى الطريق، ورد فى صحيح مسلم، عن أبى هريرة قال: قال رسول اللّه : (لا تَحاسَدُوا، وَلا تَناجَشُوا، وَلا تَباغَضُوا، وَ لاَ تَدَابَرُوا، وَلا يَبْغِ بَعْضُكُمْ على بَعْضٍ وكُونُوا عِبادَ اللَّهِ إخْواناً، المُسلِمُ أخُو المُسْلِمِ لا يَظْلِمُهُ وَلا يَخْذُلُهُ وَلا يَحْقِرُهُ، التَّقْوَى هَاهُنا -ويشير إلى صدره ثلاثَ مرات- بِحَسْبِ امْرىءٍ مِنَ الشَّرّ أنْ يَحْقِرَ أخاهُ المُسْلِمَ، كُلُّ المُسْلِمِ على المُسْلِمِ حَرَامٌ: دَمُهُ ومَالُهُ وَعِرْضُهُ) وفى هذا الحديث ختام لموضوعنا الأول وبدايةً لموضوعنا الثانى ألا وهو احترام الإخوة القدامى الذين عاصروا وناصروا الطريق فى عهده الأول مع سيدى فخر الدين الشيخ محمد عثمان عبده البرهانى أو فى زمن الوالد الكريم مولانا الشيخ إبراهيم رضى الله عنهما وقد نرى البعض يستخدم الحكم الصوفية فى غير محلها كمن يقول: ليس الطريق لمن سبق ولكن الطريق لمن صدق. وليس معنى هذا أن كل من سبق لم يصدق بل قد يكون قد سبق وصدق، وإن احتج البعض بما عرفوا من الزلات أو الهفوات فإن التاريخ يعيد نفسه وقد سبق قول الحبيب المصطفى ليحسم مثل هذه الأمور بقوله عن ابن عمر أن رسول الله قال: (من حفظنى فى أصحابى ورد على حوضى ومن لم يحفظنى فى أصحابى لم يرنى يوم القيامة إلا من بعيد) قال رسول الله : (إذا ذكر أصحابى فأمسكوا) قال ابن عباس: أمر الله تعالى بالاستغفار لأصحاب محمد هو يعلم أنهم سيفتنون. وقالت السيدة عائشة: أمرتم بالاستغفار لأصحاب محمد فسببتموهم، سمعت نبيكم يقول: (لا تذهب هذه الأمة حتى يلعن آخرها أولها) وقال ابن عمر: سمعت رسول الله يقول: (إذا رأيتم الذين يسبون أصحابى فقولوا لعن الله أشركم). وقال العوام بن حوشب: أدركت صدر هذه الأمة يقولون: اذكروا محاسن أصحاب رسول الله حتى تألف عليهم القلوب، ولا تذكروا ما شجر بينهم فتجسروا الناس عليهم. وقال الشعبى: تفاضلت اليهود والنصارى على الرافضة بخصلة، سئلت اليهود: من خير أهل ملتكم؟ فقالوا: أصحاب موسى. وسئلت النصارى: من خير أهل ملتكم؟ فقالوا: أصحاب عيسى. وسئلت الرافضة من شر أهل ملتكم؟ فقالوا: أصحاب محمد، أمروا بالاستغفار لهم فسبوهم، فالسيف عليهم مسلول إلى يوم القيامة، لا تقوم لهم راية، ولا تثبت لهم قدم، ولا تجتمع لهم كلمة كلما أوقدوا نارا للحرب أطفأها الله بسفك دمائهم وإدحاض حجتهم. أعاذنا الله وإياكم من الأهواء المضلة ﴿ولا تجعل فى قلوبنا غلا للذين آمنوا ربنا إنك رءوف رحيم﴾الحشر 10 ... أى حقداً وحسداً ﴿ربنا إنك رءوف رحيم﴾ الآية ﴿والذين جاءوا من بعدهم يقولون ربنا اغفر لنا ولإخواننا الذين سبقونا بالإيمان ولا تجعل فى قلوبنا غلا للذين آمنوا ربنا إنك رءوف رحيم﴾ وقوله تعالى: ﴿والذين جاءوا من بعدهم﴾ يعنى التابعين ومن دخل فى الإسلام إلى يوم القيامة.<br />
قال ابن أبى ليلى: الناس على ثلاثة منازل: المهاجرون، والذين تبوءوا الدار والإيمان، والذين جاءوا من بعدهم. فاجهد ألا تخرج من هذه المنازل. وقال بعضهم: كن شمساً، فإن لم تستطع فكن قمراً، فإن لم تستطع فكن كوكباً مضيئاً، فإن لم تستطع فكن كوكباً صغيراً، ومن جهة النور لا تنقطع، ومعنى هذا: كن مهاجريا، فإن قلت: لا أجد، فكن أنصاريا، فإن لم تجد فاعمل كأعمالهم، فإن لم تستطع فأحبهم واستغفر لهم كما أمرك الله. وروى مصعب بن سعد قال: الناس على ثلاثة منازل، فمضت منزلتان وبقيت منزلة؛ فأحسن ما أنتم عليه أن تكونوا بهذه المنزلة التى بقيت. وعن جعفر بن محمد بن على عن أبيه عن جده على بن الحسين ، أنه جاءه رجل فقال له: يا ابن بنت رسول الله ما تقول فى عثمان؟ فقال له: يا أخى أنت من قوم قال الله فيهم: ﴿للفقراء المهاجرين﴾الحشر 8 ... الآية؟ قال لا، قال: فوالله لئن لم تكن من أهل الآية فأنت من قوم قال الله فيهم: ﴿والذين تبوءوا الدار والإيمان﴾الحشر 9 ... الآية؟ قال لا، قال: فوالله لئن لم تكن من أهل الآية الثالثة لتخرجن من الإسلام وهى قوله تعالى: ﴿والذين جاءوا من بعدهم يقولون ربنا اغفر لنا ولإخواننا الذين سبقونا بالإيمان﴾ الآية.<br />
وقد قيل: إن محمد بن على بن الحسين روى عن أبيه: أن نفرا من أهل العراق جاءوا إليه، فسبوا أبا بكر وعمر ، ثم عثمان فأكثروا؛ فقال لهم: أمن المهاجرين الأولين أنتم؟ قالوا لا. فقال: أفمن الذين تبوءوا الدار والإيمان من قبلهم؟ فقالوا لا. فقال: قد تبرأتم من هذين الفريقين! أنا أشهد أنكم لستم من الذين قال الله عز وجل: ﴿والذين جاءوا من بعدهم يقولون ربنا اغفر لنا ولإخواننا الذين سبقونا بالإيمان ولا تجعل فى قلوبنا غلا للذين آمنوا ربنا إنك رءوف رحيم﴾ قوموا، فعل الله بكم وفعل.‏<br />
ونخلص من كل هذا إلى قول بيّن يقطع الشك باليقين ويبطل الظن ويحسن العمل أن من سبقنا بالطريق علينا احترام شيبة شابت فى الإسلام وفى الطريق إلى الله ولا تظن أنك أحرص منه على مصلحة الطريق فإن الراعى واعى وهو مالك أمرها فهيهات أن تظن مهما بلغت بك الوظائف والرتب فى الطريق أنك تملك سهما فى حمايتها أو فى عطائها وإلا أدخلت نفسك فيما لا يحمد عقباه فى هذه الدار أو دار القرار:<br />
من ظـن أنى قد أضـن فإنه<br />
من قال أنى لست مالك أمرها<br />
 <br />
يرمى بنقص فى العطاء الأكمل<br />
تبت يداه بكـربة لا تنجـلى<br />
ومن هذه الأبيات ننطلق إلى مايلى من المهام التى أخبر الله عز وجل عنها فى مستهل القرآن من سورة البقرة ﴿وإذ قال ربك للملائكة إنى جاعل فى الأرض خليفة قالوا أتجعل فيها من يفسد فيها ويسفك الدماء ونحن نسبح بحمدك ونقدس لك قال إنى أعلم ما لا تعلمون﴾لبقرة 30 ... الآية، وهذه الآية توضح أن الأمر فى يد أمينة واحدة لا تقبل التثنية ونحن نرى البعض قد أطلق يده فى التصرف فى أمور الطريقة دون الرجوع إلينا فى شخصنا وهذه شراكة لا يقبلها الحق تبارك وتعالى تحت أى مسمى، فالبعض قد اتخذ المرشد شيخا فى أمور دينه ودنياه ونحن لا ننكر حق المرشد فحقه كما أوضحه شيخنا وقدوتنا الشيخ محمد عثمان عبده البرهانى هو كحق الوالد من التعزير والتوقير والإحترام والطاعة فيما يرضى الله ورسوله على أن لا يكون حجابا بين المريد وشيخ الطريقة الواحد المعتمد من أهل السلسلة.<br />
كما أن البعض قد اتخذ من أهل البيت وسيلة ليرتقى بها رقاب الناس وقصر مفهوم أهل البيت الوارد فى الكتاب والسنة على أهل بيت الشيخ وهذا مخالف لما ورد فى الكتاب الكريم والسنة المطهرة فقد أخرج ابن أبى شيبه وأحمد والترمذى وحسنه وابن جرير وابن المنذر والطبرانى والحاكم وصححه وابن مردويه عن أنس ، أن رسول الله كان يمر بباب فاطمة رضى الله عنها إذا خرج إلى صلاة الفجر ويقول: (الصلاة يا أهل البيت الصلاة إنما يريد الله ليذهب عنكم الرجس أهل البيت ويطهركم تطهيرا).<br />
وأخرج مسلم عن زيد بن أرقم أن رسول الله قال (أذكركم الله فى أهل بيتى)، فقيل لزيد : ومن أهل بيته، أليس نساؤه من أهل بيته؟ قال: نساؤه من أهل بيته، ولكن أهل بيته من حرم الصدقة بعده آل على، وآل عقيل، وآل جعفر، وآل عباس.<br />
فهذا هو المفهوم الصحيح لكلمة أهل البيت، ومع كل الإحترام والتقدير لكل آل البيت الطاهرين المكرمين فإنه ليس من حق أى من المرشدين أو المسئولين أو أهل البيت التصرف فى أى أمر من أمور الطريقة دون الرجوع إلينا شخصيا وذلك غير المسموح به فى الإرشاد العام من الأوراد والحضرة حمانا الله وإياكم من التفرق والشتات لدى بضع وسبعين وعموما فإن الطريقة بيد قوية وأمينة ولكنها لم تتخذ الترهيب وسيلة لتخويف الناس أو إجبارهم على فعل ما لا يريدون:<br />
طريقى فى كل الطـرائق مأمـن<br />
وكـل فتى لو أم دارى يحتـمى<br />
 <br />
وما عـرفت ترهيب صيد بصائد<br />
يطيب بها عيشا وما خاب قاصدى<br />
اخوانى .. اخواتى ..<br />
تحدثنا العام الماضى عن التحديات التى تواجه منطقتنا العربية والإفريقية وعلى رأسها المخططات الأجنبية، ولعل الساحة الإسلامية على وجه العموم ومنطقة الشرق الأوسط على وجه الخصوص، بدأت تشهد تطبيق مراحل متقدمة من تلك المخططات التى ظلت تقف خلف معظم ما يجرى فى العالم الإسلامى.<br />
والسودان لم يكن بمعزل عما يجرى، فقد تسارعت فيه الأحداث بصورة كبيرة، فبينما تنفس الناس الصعداء بوقف الحرب فى جنوبنا الحبيب، إذا بالأوضاع تتفجر غرباً وشرقاً، لتدخل البلاد فى مرحلة غاية فى الخطورة، تزايدت فيها فعالية الاستراتيجيات الأجنبية فى تشتيت وإنهاك الجبهة الوطنية.<br />
اخوانى .. اخواتى ..<br />
لقد ظل مولانا الشيخ إبراهيم وعبر خطاباته السنوية يضع الركائز الأساسية لمواجهة تحديات العصر، وقد ظل يعمل لتوسيع المدارك والفهوم للتعامل ليس مع المخططات الأجنبية فحسب، وإنما أيضاً العبور من خلالها نحو ارساء دعائم الهدى النبوى الشريف فى أرجاء العالم باعتباره البلسم الشافى لأدواء العصر والحل الناجع لمشكلاته.<br />
ولقد أشرنا العام الماضى للركيزة الأولى ألا وهى البناء الأخلاقى للأفراد وتسليحهم بسلاح الإيمان وتزكية النفوس وصبغها بالقيم الإسلامية السمحاء، لتشكل فى نهاية الأمر الفرد المسلم الصالح الذى يشكل ركيزة النهضة الإسلامية.<br />
كما سلط الضوء على مسئولية الدعوة باعتبارها ركيزة من تلك الركائز، حيث أوضح أن المولى عز وجل لم يحدث أن ترك أمر دينه يوماً من الأيام لاجتهاد البشر وما يعنيه ذلك من احتمالات الوقوع فى الخطأ، بل أرسل الرسل والأنبياء، وأوضح أن عهد الولاية قد بدأ بنهاية عهد الرسالات، وقد ربط مولانا بين ما يجرى على الساحة الدولية من فساد واضطراب وفتن وتطرف، بالخلل فى اتجاهين رئيسيين، أولهما الاجتهاد البشرى فى الدعوة إلى الله سبحانه وتعالى، الذى ساد العالم فى المرحلة الماضية وكانت أهم نتائجه ذلك الغلو والتطرف الدينى الذى أصبح يهدد العالم بأسره، مشيراً لمدخل الحل المتمثل فى الحديث (صلاح آخر هذه الأمة بصلاح أولها علمائها وأمرائها) وثانيهما الخلل فى النظام العالمى الذى لم يستصحب قيم العدل والعلم والخير والمساواة خاصة فيما يتعلق بالدول الضعيفة أو النامية، داعياً لتأسيس نظام عالمى يؤسس لشراكة بين الدول الكبرى والصغرى، يقوم على أسس العلم والعدل وقيم الخير.<br />
وقد نبه مولانا إلى أهمية التدبر فى تلكم الحقائق مشيراً إلى أن المأذون بالدعوة إلى الله هو المصطفى (وداعياًً إلى الله بإذنه وسراجاً منيراً) الأحزاب 46 ... منبهاً لمسئولية الأولياء والأئمة المعتمدين من بعده ﴿ألا إن أولياء الله لا خوف عليهم ولا هم يحزنون ¤ الذين آمنوا وكانوا يتقون ¤ لهم البشرى فى الحياة الدنيا وفى الآخرة لا تبديل لكلمات الله ذلك هو الفوز العظيم﴾ يونس 62 : 64 ... الذين يدعون إلى ربهم على بصيرة ودراية وليس اجتهاد معرض للخطأ أو الصواب ﴿قل هذه سبيلى أدعو إلى الله على بصيرة أنا ومن اتبعنى﴾ يوسف 108 ... ﴿الرحمن فسئل به خبيراً﴾ الفرقان 59 ... (كنت سمعه الذى يسمع به وبصره الذى يبصر به) الحديث.<br />
اخوانى .. اخواتى ..<br />
إن التدبر فى ما قاله مولانا الشيخ إبراهيم يقود إلى مرافئ الحل، ولنتناول ذلك من خلال الحديث الشريف (الإيمان ما وقر فى القلب وصدقه العمل) وهو يشير إلى حقيقة بسيطة ولكنها ذات دلالات عميقة، ألا وهى أن الإيمان إذا ما وقر فى القلب فإن العمل الصالح يكون هو المرادف الطبيعى لذلك، ولعل النظر إلى الفساد الذى استشرى فى مجتمعنا الإسلامى يجب أن يقودنا إلى الوقوف للتأمل فى هذا الحديث الذى يحدد الأمور بشكل قاطع شأنه شأن المعادلات الرياضية التى لا تحتمل الإلباس، فوجود الإيمان فى القلب يرادفه العمل الصالح، وبالتالى فإن الفساد لا يمكن أن يكون مرادفاً للإيمان.<br />
اخوانى .. اخواتى ..<br />
قال تعالى فى محكم تنزيله ﴿وعد الله الذين آمنوا منكم وعملوا الصالحات ليستخلفنهم فى الأرض كما استخلف الذين من قبلهم وليمكنن لهم دينهم الذى ارتضى لهم وليبدلنهم من بعد خوفهم أمناً﴾ النور 55 ... وقال أيضاً ﴿الذين آمنوا ولم يلبِسوا إيمانهم بظلمٍ أولئك لهم الأمن وهم مهتدون﴾ الأنعام 82.<br />
من الحقائق الثابتة فى القرآن الكريم ارتباط الإيمان بالعمل الصالح فلا يأتى الإيمان إلا ويتبعه العمل الصالح، ولا يأتى موضع لنصر الله إلا سبقته أسباب وتوكل وإيمان وعمل صالح، وهناك الكثير من قصص الأنبياء على نبينا وعليهم الصلاة والسلام، التى تشير لذلك، فلا نجد نصاً فى القرآن فيه انتصار لمن هو غير مؤمن أو مفسد، وهناك العشرات من الآيات الكريمة التى تشير إلى ذلك، ولعلنا بالتدبر فى خطابات مولانا الشيخ نكتشف انه ظل يؤسس لصلاح الدنيا والآخرة من خلال ترسيخ الإيمان فى القلوب ليتبعها العمل الصالح كمرادف طبيعى له، وذلك عبر النهج النبوى الشريف فى إصلاح القلوب والسمو بها بين مراتب الدين بواسطة الخبراء المختصين المتمثلين فى الأولياء الصالحين والأئمة المعتمدين.<br />
اخوانى .. اخواتى ..<br />
قال تعالى ﴿ولينصرن الله من ينصره إن الله قوى عزيز﴾ الحج 40 ... وقال أيضاً ﴿الذين آمنوا ولم يلبسوا إيمانهم بظلم أولئك لهم الأمن وهم مهتدون﴾ وقال أيضاً ﴿وما كان ربك ليهلك القرى بظلم وأهلها مصلحون﴾هود 117.<br />
إننا ندرك جميعاً أن تحديات العصر المطلوب منا مواجهتها من غزو فكرى ومخططات أجنبية إنما تنطلق مسنودة بعناصر القوة الاستراتيجية [سياسياً واقتصادياً واجتماعياً وعسكرياً]، فى وقت ظلت تعمل فيه تلك المخططات على استكمال عناصر الضعف فى عالمنا الإسلامى، ولعل هذا الوضع يجعل الأمة أحوج ما تكون لتصحيح المسار، وان ذلك يتطلب اتخاذ خطوات استراتيجية جريئة، لا يمكن أن تكتمل ولا الشروع فيها، إلا باستيفاء العناصر الإيمانية التى أشار إليها مولانا الشيخ والتى تقود لرضاء المولى والحصول على نصرته ومدده، فما يحدث فى أرض المسلمين أمر لا يمكن مواجهته بمعزل عن دعم السماء، ولقد حكى القرآن عن الإمداد الإلهى لرسول الله وصحابته من بعده حتى أقاموا تلك الدولة العظيمة التى تمتد من أوربا حتى مشارف الصين فى سنوات قليلة، وحكى كيفية تنزل النصر من عند الله ليعوض الفارق بين الإمكانات المادية بين المسلمين من ناحية والفرس والروم من ناحية أخرى، كما حكى التاريخ قصة سيدنا عمر بن عبد العزيز الذى أنجز عملاً لا يمكن إتيانه بالمعايير الطبيعية، حيث أثبت التاريخ أن تطبيقه للعدل الصرف ومخافة الله فى عباده، قد أنزل النصر والمدد فأمطرت السماء بعد جفاف، ونبت الزرع وامتلأ الضرع، وحدث تحول اقتصادى عظيم حيث انتقلت الدولة خلال أقل من عامين من دولة سمتها العامة شعب من الفقراء إلى دولة يسعى عمال زكاتها طوال النهار ولا يجدون من يأخذ الزكاة.<br />
إن التدبر فى هذا وغيرها من الأمثلة التى وردت فى القرآن، يشير إلى أن الاستنصار بالله يتطلب الأخذ بالأسباب والإيمان والعمل الصالح ومن ثم التوكل على الله.<br />
واليوم ونحن نحتفل بالذكرى الثانية لمولانا الشيخ إبراهيم فإن الأمة الإسلامية أحوج ما تكون إلى التدبر بعمق فيما قاله حتى نؤسس لعالم تسوده المحبة والعدل والسلام.<br />
قال رسول الله (صلاح آخر هذه الأمة بصلاح أولها علمائها وأمرائها) وقال المولى عز وجل فى محكم تنزيله ﴿ولله غيب السموات والأرض وإليه يرجع الأمر كله فاعبده وتوكل عليه وما ربك بغافل عما تعملون﴾هود 123 صدق الله العظيم.<br />
 <br />
وصلى الله على سيدنا محمد وعلى آله وأصحابه وسلم<br />
سبحان ربك رب العزة عما يصفون وسلام على المرسلين والحمد لله رب العالمين<br />
وكل عام وانتم بخير<br />
والسلام عليكم ورحمة الله تعالى وبركاته</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
