﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء الثانى عشر من شهر أبريل عام 2006
				</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				<p>الحمد لله على موجبات حمده، نحمده تبارك وتعالى على بديع صنعه وعظيم إحسانه، خلق حبيبه من نوره ورزقه من صفاته وخلقه بأسماءه واستعمله فى عبودته، فاللهم صل على عبد الذات ورسول الأسماء والصفات صلاة تليق بك منك إليه كما هو أهله وعلى آله الذين ساروا على نهجه وأصحابه الذين لم يُخطئوا دربه، صلوات وتسليمات من روح تعشقه وقلب أحبه وعقل أسلم له وجسد هام به فعزره ووقره.<br />
قد يعتقد البعض أننى فى مناسبة الحولية للإمامين رضى الله عنهما أود التحدث عن المناقب، أقول نعم، ولكن قد تختلف نوعية المناقب التى أود التحدث عنها، فقد اعتاد الناس سماع مناقب مقامات زاهرة وكرامات باهرة وعلى ما اعتاد الناس أسير، ولكن المناقب والمقامات والكرامات وخرق العوائد هنا هى نوعية لم يعتد الناس على ذكرها، ألا وهى مكارم الأخلاق التى بعث الحبيب المصطفى ليتممها، ومع اختلاف تعريف مكارم الأخلاق أود أن آخذ المعنى البسيط منها، إذ أن مكارم الأخلاق عند السادة الصوفية هى التخلق بأخلاق الله وهى ناتج (السير فى الله) بعد (السير إلى الله) وفى هذا المضمار يكفينا بيت واحد يتحدث فيه سيدى فخر الدين عن تخلقه بالاسم (الصبور) الذى هو نهاية المضمار وعليه المدار فى تلك الدار بعد هذه الدار إذ يقول :<br />
وصبرى صبر لم ير الناس مثلـه<br />
 <br />
سهامى نـور والضلال رميـتى<br />
وكذلك بالنسبة لمولانا الشيخ إبراهيم فكما قال سيدنا يوسف ]قال معاذ الله أن نأخذ إلا من وجدنا متاعنا عنده إنـا إذاً لظالمون[[1] وقد أجملها سيدى فخر الدين فى قوله:<br />
وعلى كاهـل الأمين متـاعى<br />
 <br />
وعليه الأمـان وهو الصـريم<br />
ولكن الحديث يكون أجمل فى الأخلاقيات لمن أتم فقه العقائد وفقه العبادات إلى فقه المعاملات، فمن مكارم الأخلاق أن يكون الإنسان قوله للناس لينا ووجهه منبسطا طلقا مع البر والفاجر والسنى والمبتدع، من غير مداهنة ومن غير أن يتكلم معه بكلام يظن أنه يرضى مذهبه، لأن الله تعالى قال لسيدنا موسى وسيدنا هارون عليهم السلام ]اذهبا إلى فرعون إنه طغى % فقولا له قولا لينا[[2] فالقائل ليس بأفضل من موسى وهارون، والفاجر ليس بأخبث من فرعون، بل قد أمرهما الله تعالى باللين معه.<br />
وسُئلت السيدة عائشة عن خُلقه فقرأت ]قد أفلح المؤمنون[[3] إلى عشر آيات وقالت: ما كان أحد أحسن خُلقا من رسول الله ، ما دعاه أحد من الصحابة ولا من أهل بيته إلا قال لبيك، ولذلك قال الله تعالى ]وإنك لعلى خلق عظيم[[4] ولم يذكر خلق محمود إلا وكان للنبى منه الحظ الأوفر.<br />
وقال الإمام الجنيد : سَمَّى خُلقه عظيما لأنه لم تكن له همة سوى الله تعالى، وقد روى عنه أنه قال ﴿أدّبنى ربى تأديبا حسنا﴾ إذ قال ]خذ العفو وأمر بالعرف وأعرض عن الجاهلين[[5] فلما قبلت ذلك منه قال ]وإنك لعلى خلق عظيم[ فحض على مكارم الأخلاق، لما رُتب عليها من المحبة وحسن العشرة ودفع الحاجة والمفسدة.<br />
وروى البخارى من حديث هشام بن عروة عن أبيه عن عبد الله بن الزبير فى قوله ]خذ العفو وأمر بالعرف[ قال: ما أنزل الله هذه الآية إلا فى أخلاق الناس، وروى سفيان بن عُيَيْنَة عن الشعبى أنه قال: إن جبريل نزل على النبى فقال له النبى ﴿ما هذا يا جبريل؟ فقال: لا أدرى حتى أسأل ربى فذهب فمكث ساعة ثم رجع فقال: إن الله تعالى يأمرك أن تعفو عمن ظلمك وتعطى من حرمك وتصل من قطعك﴾ فنظمه بعض الشعراء فقال:<br />
مكـارم الأخلاق فـى ثلاثـة<br />
إعطاء من تحرمه ووصـل مـن<br />
 <br />
ممن كملت فيـه فذلك الفـتى<br />
تقطعـه والعفـو عمن اعتدى<br />
وقال سيدى جعفر الصادق : أمر الله نبيه بمكارم الأخلاق فى هذه الآية، وليس فى القرآن آية أجمع لمكارم الأخلاق من هذه الآية، وقال ﴿بعثت لأتمم مكارم الأخلاق﴾.<br />
وقال الشاعر:<br />
كـل الأمور تزول عنـك وتنقضى<br />
ولـو أنـنى خُيِّرْتُ كـل فضـيلة<br />
 <br />
إلا الثنــاء فإنــه لـك بـاق<br />
ما اخترت غير مكـارم الأخـلاق<br />
فمكارم الأخلاق من تلك الزاوية هى كيفية معاملة الناس فى ترفع عن النزول إلى مستوياتهم فى الخصام وفى رفعهم إذا كانوا محبين أو تابعين أو مريدين وقد قال سيدى فخر الدين :<br />
إن الناس فى المعاملات على أربع درجات، العين بالعين والكاظمين الغيظ والعافين عن الناس والله يحب المحسنين:<br />
أما الأولى فعن ابن عباس قوله ]أن النفس بالنفس[[6] قال: يقول تُقتل النفس بالنفس وتُفقأ العين بالعين ويُقطع الأنف بالأنف وتُنـزع السن بالسن وتُقتص الجراح بالجراح، فهذا يستوى فيه المسلمون فيما بينهم رجالهم ونسائهم إذا كان فى النفس وما دون النفس.<br />
ولكن هذا النوع من المعاملات يؤخذ عليه بقول سيدنا عمر (ذنب بذنب والبادى أظلم) فإن كان البادى أظلم فإن آخذ حقه بتلك الطريقة ظالم وهذا هو التظالم الذى قال فيه سيدى فخر الدين :<br />
ما ضر لو بات المحب وقد عفا<br />
 <br />
إن التظـالم بـؤرة الإظـلام<br />
أما الدرجة الثانية فى المعاملات فهى كظم الغيظ وملك النفس عند الغضب وذلك من أعظم العبادة وجهاد النفس، فقال ﴿ليس الشديد بالصرعة ولكن الشديد الذى يملك نفسه عند الغضب﴾ وقال ﴿ما من جرعة يتجرعها العبد خير له وأعظم أجراً من جرعة غيظ فى الله﴾ وروى أنس أن رجلا قال: يا رسول الله ما أشد من كل شئ؟ قال ﴿غضب الله﴾ قال فما ينجى من غضب الله؟ قال ﴿لا تغضب﴾ قال العرجى:<br />
وإذا غضبت فكن وقورا كاظما<br />
فكفى بـه شرفا تصبر سـاعة<br />
 <br />
للغيظ تبصر ما تقول وتسمع<br />
يرضى بها عنك الإله وترفـع<br />
وروى أبو داود وأبو عيسى الترمذى عن سهل بن معاذ بن أنس الجهنى عن أبيه عن النبى قال ﴿من كظم غيظا وهو يستطيع أن ينفذه دعاه الله يوم القيامة على رؤوس الخلائق حتى يخيره فى أى الحور شاء﴾.<br />
أما عن الدرجة الثالثة قال زيد بن أسلم ]والعافين عن الناس[[7] عن ظلمهم وإساءتهم، فمدح الله تعالى الذين يغفرون عند الغضب وأثنى عليهم فقال ]وإذا ما غضبوا هم يغفرون[[8] وقال عروة بن الزبير فى العفو:<br />
لن يبلغ المجد أقوام وإن شـرفوا<br />
ويُشتموا فترى الألوان مشرقـة<br />
 <br />
حتى يذلوا وإن عـزوا لأقـوام<br />
لا عفو ذل ولكن عفو إكـرام<br />
وروى أنس عن النبى أنه قال ﴿إذا كان يوم القيامة نادى مناد من كان أجره على الله فليدخل الجنة فيقال من ذا الذى أجره على الله فيقوم العافون عن الناس يدخلون الجنة بغير حساب﴾ ذكره الماوردى.<br />
وقال ابن المبارك: كنت عند المنصور جالسا فأمر بقتل رجل، فقلت يا أمير المؤمنين قال رسول الله ﴿إذا كان يوم القيامة نادى مناد بين يدى الله عز وجل من كانت له يد عند الله فليتقدم فلا يتقدم إلا من عفا عن ذنب﴾ فأمر بإطلاقه.<br />
وأخرج تمام فى فوائده وابن عساكر عن ابن عمر عن النبى قال ﴿خيار أمتى خمسمائة والأبدال أربعون فلا الخمسمائة ينقصون ولا الأربعون ينقصون وكلما مات بدل أدخل الله عز وجل من الخمسمائة مكانه وأدخل فى الأربعين مكانهم فلا الخمسمائة ينقصون ولا الأربعون ينقصون، فقالوا: يا رسول الله دلنا على أعمال هؤلاء؟ فقال: هؤلاء يعفون عمن ظلمهم ويحسنون إلى من أساء إليهم ويواسون مما آتاهم الله، قال: وتصديق ذلك فى كتاب الله ]والكاظمين الغيظ والعافين عن الناس والله يحب المحسنين[.<br />
وأخرج الديلمى عن أنس قال: قال رسول الله ﴿رأيت ليلة أسرى بى قصورا مستوية على الجنة فقلت يا جبريل لمن هذا؟ فقال: للكاظمين الغيظ والعافين عن الناس والله يحب المحسنين﴾.‏<br />
أما الدرجة الرابعة فهى الإحسان لمن أساء إليك، فقد روى أن رجلا خاض فى سيدى على زين العابدين فأخبره الناس، فلما جن الليل أخذ سيدى على صُرَّة من المال وطرق باب الرجل فلما فتح الباب قَدَّم له الصُرَّة وقال له بلغنى أنك اليوم أهديت إلى حسناتك فتوارى الرجل خجلا من كرم سيدى على زين العباد وصار من أشد المحبين له.<br />
وروى عن ميمون بن مهران أن جاريته جاءت ذات يوم بصحفة فيها مرقة حارة، وعنده أضياف فعثرت فصبت المرقة عليه، فأراد ميمون أن يضربها، فقالت الجارية: يا مولاى، استعمل قوله تعالى ]والكاظمين الغيظ[ قال لها: كظمت غيظى، فقالت: اعمل بما بعده ]والعافين عن الناس[، فقال: قد عفوت عنك، فقالت الجارية: ]والله يحب المحسنين[ قال ميمون: قد أحسنت إليك، فأنت حرة لوجه الله تعالى.<br />
وروى عن الأحنف بن قيس مثله فلما سألوه هل رأيت أحلم منك؟ قال: نعم، وتعلمت منه الحلم، قيل: ومن هو؟ قال: قيس بن عاصم المنقرى، حضرته يوما وهو مُحْتَبٍ يحدثنا إذ جاءوا بابن له قتيل وابن أخ له كتيف، فقالوا: إن هذا قتل ابنك هذا، فلم يقطع حديثه ولا نقض حبوته، حتى إذا فرغ من الحديث التفت إليهم فقال: أين ابنى فلان؟ فجاءه، فقال: يا بنى قم إلى ابن عمك فأطلقه، وإلى أخيك فادفنه، وإلى أم القتيل فأعطها مائة ناقة فإنها غريبة لعلها تسلو عنه.<br />
ثم يأتى الدور فى الحديث عن الشائعات وخطرها المدمر على المجتمعات عَلَّنا نتساءل كيف تبدأ الشائعة؟ ويكون لها دور فى تفكك المجتمع؟<br />
تنشأ الشائعة لعدم وجود قناة اتصال بين مصدر الشائعة والناس التى تنتشر بينهم تلك الشائعة، وبالتالى تجد تلك الشائعة مناخ النمو والازدهار‏،‏ وفى هذا المناخ تغيب الشفافية فى معظم الأحيان ويترعرع عدم الثقة بين الأشخاص‏، وفى مناخ كهذا يصبح انتشار الشائعة كانتشار النار فى الهشيم‏.‏<br />
وهى احدى الوسائل المستخدمة فى الحرب النفسية والتى يتم اللجوء إليها فى أوقات الحروب من أجل زعزعة صفوف المحاربين وإضعاف ثقتهم بأنفسهم‏.<br />
فقد حدث فى أعقاب غزوة أحد أن أخذت قريش تنشر الشائعات بين العرب أنها حطمت دولة الإسلام وأنها على وشك القضاء عليها، فطمعت قبائل العرب بالمسلمين وأخذوا يَعدون للإغارة على المدينة، فأرسل النبى أبا سلمة بن عبد الأسد فى مائة وخمسين من أصحابه إلى بنى أسد فباغتهم وشتت شملهم، وعاد إلى المدينة غانما.<br />
فكانت الشائعة مصدر هلاك وخراب وهى كذلك فى كل الأوقات، فيجب على المسلم التأكد من الخبر قبل أن يكون سببا فى نشر أكذوبة عارية من الصحة والحقيقة قد تتسبب فى خصومة أو قتل نفس أو تفريق شمل الجماعة التى حض رسول الله على أُلفتها بقوله (الجماعة الجماعة إنما يأكل الذئب القاصية).<br />
 <br />
كيفية محاربة الشائعات<br />
ليس هو بالأمر السهل ولكن توجد طرق يمكننا من خلالها معالجة أو مكافحة الشائعة إن لم نتمكن من القضاء عليها كلية، فتوفر آلية منهجية للتعامل مع أى شائعة أمر هام وتعتمد تلك الآلية على ثلاث خطوات أساسية هى‏:‏<br />
الأولى: تحديد الشائعة التى تنتشر بالضبط ومصدرها وهى المرحلة الأولى ويتم الاعتماد على فرق من المجتهدين فى مجال النشاط الاجتماعى لتحقيق تلك الغاية‏.<br />
والثانية: صياغة استراتيجية فعالة لمعرفة أى الشائعات صحيح وأيها خطأ‏،‏ وفى بعض الحالات يكون جزء من الشائعة صحيحا والآخر غير ذلك، ويتم التغلب على تلك الصعوبات من خلال تشكيل لجان تضم أشخاصا يمكنهم الوصول إلى معلومات دقيقة حول أى شائعة‏.‏<br />
والخطوة الثالثة للتعامل مع الشائعة: هى عملية تصحيح الشائعة، وهنا تلعب وسائل الإعلام دورا كبيرا فى المسألة، حيث تصحح المعلومات الخاطئة من خلال نشر المعلومات التى تتوصل إليها جهود التحكم فى الشائعة التى أشرنا إليها آنفا‏.<br />
ولا يخلو تاريخ الأنبياء والرسل أنفسهم من قذائف الشائعات التى أطلقها عليهم خصومهم وأعداؤهم‏،‏ ولكنها فى النهاية‏‏ انقبلت على مُرَوِّجِيهَا‏.<br />
فنبى الله نوح عليه السلام أُطلقت عليه الشائعات وقذفوه بالكذب والضلال‏‏ والجنون‏.<br />
وكذلك نبى الله هود عليه السلام‏،‏ وصفه قومه بالسفاهة‏،‏ بل أشيع أنه أصيب بمس فى عقله سَبَّبَ له الهذيان‏.<br />
وأما موسى عليه السلام‏ فقد اتهمه قومه بالسحر والجنون والكذب والفساد فى الأرض‏.<br />
وكانت مريم البتول أكثر مَن تضررت بالشائعات لأنها مست شرفها‏ وهى أطهر نساء العالمين‏،‏ ولولا عناية الله بها فكانت تلك المعجزة التى جعلت من وليدها يتكلم وهو فى المهد ليقطع دابر الفتنة التى أحاطت بها‏‏ وليخرس كل الألسنة التى تجرأت عليها‏.‏<br />
أما نبينا الكريم سيدنا محمد ‏ فقد حُوصر بكل أنواع الشائعات منذ بعثته‏،‏ فاتهموه بالكفر والجنون‏،‏ وفى واقعة الإسراء والمعراج اتهموه بالكذب‏،‏ ونبه القرآن الكريم إلى الدور الذى لعبه اليهود فى المدينة وكذلك المنافقون فى ترديد الشائعات بمختلف أنواعها‏،‏ وتكرر ذلك فى واقعة زواجه بالسيدة زينب بنت جحش رضى الله عنها بعد أن طلقها زيد بن حارثة‏،‏ وكذلك فى واقعة حديث الإفك الشهيرة التى مست زوجته السيدة عائشة رضى الله عنها فى شرفها‏،‏ ولكن الله هو الذى أظهر براءتها بآيات الإفك المعروفة فى القرآن الكريم‏،‏ ليعلو صوت الحق على صوت الباطل‏ ولتصبح هذه الواقعة فرصة لكى يتعلم المسلمون مدى فداحة ما يرتكبه من يطلق الشائعة ومن يُرَوِّجْ لها‏،‏ بل ومن يصدقها أيضا‏‏ باعتبار أنه يساعد على انتشارها‏.‏<br />
ولابد للمتلقى للشائعة من إعمال العقل والتمييز بين الحق والباطل‏،‏ ولا يعير للشائعة أهمية لا تستحقها‏،‏ فالناس الذين لا عمل لهم‏،‏ هم فقط الذين يضيعون أوقاتهم فى القيل والقال.‏<br />
كما أن من الشائعات أن تنشر بين الناس خبر فاحشة رأيتها بعينك وتظن أنك تقول الحق ولا تكذب، فانظر فى قوله تعالى ]إن الذين يحبون أن تشيع الفاحشة فى الذين آمنوا لهم عذاب أليم فى الدنيا والآخرة والله يعلم وأنتم لا تعلمون[[9].<br />
وأخرج ابن أبى حاتم عن خالد بن معدان قال: من حدث بما أبصرت عيناه وسمعت أذناه، فهو من الذين يحبون أن تشيع الفاحشة فى الذين آمنوا.<br />
وأخرج ابن أبى حاتم عن عطاء قال: من أشاع الفاحشة فعليه النكال وإن كان صادقا.<br />
وأخرج أحمد عن ثوبان عن النبى أنه قال ﴿لا تؤذوا عباد الله ولا تعيِّروهم ولا تطلبوا عوراتهم فإنه من طلب عورة أخيه المسلم طلب الله عورته حتى يفضحه فى بيته﴾.‏<br />
وقد ظهر فى الآونة الأخيرة نوع من الفتن بإشاعة الرسوم الكاريكاتيرية المسيئة للحبيب المصطفى وظهرت لها ردود أفعال مدمرة على المجتمع الإنسانى وهنا نود أن نوضح الأمر بحكمة وجلاء:<br />
سيدى وحبيبى رسول الله حبا فيك وشوقا وعذرا إليك بما قامت به إحدى الشركات بالإعلان عن مسابقه لرسم رسول الله وقد تقدم لهذه المسابقة عدد من رسامى الكاريكاتير وتم نشر هذه الصور فى الجرائد، إن هذه المسابقة وهذه الرسومات إن نمت عن شئ فإنما تنم بجلاء عن جهل من قاموا بهذه المسابقه، هؤلاء جميعا لن نقول أنهم لم يقرأوا عن النبى للعلماء المسلمين وإنما لم يقرأوا عنه لعلمائهم ومفكريهم، فإن هناك عدد من المفكرين المنصفين قد كتبوا عن النبى فى الغرب ومنهم من تحدث عنه كشخص عظيم ومنهم من تحدث عنه كأعظم من عاش فى العالم، فلنرى ماذا كتبوا عنه:<br />
لامارتين: فى كتابه (تاريخ الأتراك) باريس 1854م قال:<br />
لا يوجد رجل أعظم من محمد.<br />
وهو ما أوضح عنه فى الكتاب بقوله:<br />
لو كانت عظمة الهدف أو الغاية، كانت بساطة وضآلة تكاليف الوسيلة، بالإضافة إلى تحقيق النتائج الباهرة بنجاح وسلاسة هى المعايير الثلاثه للعبقرية البشرية فمن ذا الذى يجرؤ أن يقارن أى رجل عظيم من عظماء التاريخ بنبى الإسلام محمد.<br />
البروفيسور ك. راما كرشينا: وهو فيلسوف هندوسى فى كتابه الموسوم بعنوان (محمد نبى الإسلام) فيقول فى شخص نبى الإسلام :<br />
شاهد الناس فعلا هذه الظاهرة النادرة الحدوث، ظاهرة اجتماع القدرة على صياغة أفكار ونظريات جديدة، وظاهرة القدرة على تحريك الجماهير، وظاهرة القدرة على القيادة الفعلية للجماهير تجتمع على وجه الأرض لأول مرة فى شخص حقيقى من لحم ودم يمشى على قدميه فوق سطح الأرض ألا وهو نبى الإسلام محمد إنه الرجل الفذ العظيم، وهو من وجهة نظرى غير معاد وغير معارض للمسيح ومن اللازم أن نطلق عليه منقذ البشرية.<br />
جورج برنارد شو: فى كتابه (عظمة الإسلام) المجلد الأول:<br />
كان محمد هو روح الرحمة وقد ظل تأثيره باقيا خالدا على مر الزمان لم ينسه أحد من الناس الذين عاشوا حوله ولم ينسه الناس الذين عاشوا بعده.<br />
ديوان شاندى شارما: البروفيسور الهندى فى كتابه المعنون بعنوان (أنبياء من الشرق) كالكوتا 1935 ص 122:<br />
بعد مضى أربعة أعوام على وفاة الامبراطور ستنبان فى 569م ولد فى مكة فى شبه الجزيرة العربية الرجل الذى مارس أعظم تأثير على كل الرجال فى العالم.<br />
دكتور جون وليم درابر: فى كتابه (تاريخ التطور الفكرى فى أوربا) لندن 1875:<br />
بمصادفة فريدة كل التفرد فى التاريخ يعتبر محمد مؤسسا لأمة من الأمم ومؤسسا لإمبراطورية من أكبر الإمبراطوريات ومؤسسا لدين من أعظم الأديان.<br />
ر. بوسو بوث سمث: فى كتابه (محمد والديانة المحمدية):<br />
كان محمد هو الشخص الأكثر نجاحا بين كل الشخصيات الدينية.<br />
الانسيكلوبيديا البريطانية: الطبعة الحادية عشر قال العلامة بارتميلى سنت هيلر:<br />
إذا ما قيست قيمة الرجال بجليل أعمالهم كان محمدا من أعظم من عرفهم التاريخ، وأخذ بعض علماء الغرب ينصفون محمدا مع أن التعصب الدينى أعمى بصائر مؤرخين كثيرين عن الاعتراف بفضله.<br />
غوستاف لوبون: فى كتابه (حضارة العرب):<br />
كان محمد أعظم عرب زمانه ذكاءً وأشدهم تديناً وأعظمهم رأفةً، ونال محمد سلطانه الكبير بفضل تفوقه عليهم ويعد دينه الذى دعى الناس إلى اعتقاده جزيل النعم على جميع الأمم التى اعتنقته.<br />
وألقى واحد من أعظم مفكرى القرن التاسع عشر ألا وهو (توماس كارلايل) محاضرة عنه بعنوان (البطل عندما يكون نبيا) واختار النبى محمدا موضوع المحاضرة وقال فيها:<br />
محمد هو رجل الحق والأمانة والصدق، كان صادقا فيما يقول صادقا فيما يفعل وكان صادقا فيما يعتقد.<br />
إتهام محمدا بأنه رجل كان يحاول تحقيق طموح شخصى دنيوى على أساس من رغبة جامحة فى الحصول على سلطات الملك الدنيوى إنما هو اتهام عار تماماً من الصحة لدرجة أنه لا يحتاج إلى مجرد البحث والمناقشة من جانبنا.<br />
(مَن الذين كانوا أعظم قادة فى التاريخ؟) هذا هو عنوان غلاف مجلة تايم الأمريكية فى 15 يوليو 1974 وقد قامت بسؤال مجموعة من المؤرخين وكبار الكُتَّاب ورجال الأعمال وغيرهم عن اختيار كلٍ منهم فى هذا الصدد وَوَصْف كلٍ منهم لمرشحه بالعظمة!!<br />
قال المؤرخ الأمريكى وليام مانكيل وهو أستاذ التاريخ بجامعة شيكاغو:<br />
لو أننا كنا نقوم بقياس القيادة قياسا شاملا فسيكون لدينا أسماء هؤلاء القادة العظام فى التاريخ:<br />
المسيح وبوذا ومحمدا وكونفوشيوس.<br />
وسجل (جيمس جافين) الذى يوصف بأنه رجل القوات المسلحة الأمريكية وهو جنرال متقاعد حيث يقول:<br />
من بين القادة الذين أحدثوا أعظم تأثير فى العالم عبر الأجيال أعتقد أن أبرزهم محمدا وعيسى.<br />
ونصل الآن إلى رأى (جول ماسر مان) المحلل النفسى الأمريكى وأستاذ علم النفس فى جامعة شيكاغو، يقول:<br />
إن القادة يلزم أن يؤدى كل منهم ثلاث وظائف غاية فى الأهمية:<br />
الوظيفة الأولى هى أن يحقق مصلحة الجماعة التى يقودها.<br />
الثانية هى أن يوفر لأتباعه نظاما إجتماعيا يشعر فيه الناس بالأمن.<br />
الثالثة هى أن للقائد الحقيقى أن يكون قادرا على أن يمد أتباعه بمجموعة منسقة من العقائد الصحيحة.<br />
ويستخدم المعايير الثلاثة السابقة فى البحث والتحليل لمجموعة من الشخصيات والأنبياء ويصل فى النهاية إلى أن يقول:<br />
ربما يكون أعظم قائد فى كل عصور التاريخ هو محمدا فهو وحده الذى جمع المزايا الثلاث والوظائف الثلاث للقائد.<br />
كتاب القادة الدينيين لـ (هنرى توماس ودانالى توماس) سنة 1959 وفيه تراجم لثلاثة من الأنبياء الكبار وثلاثة من أئمة الديانات وعشرة من المصلحين، أما كبار الأنبياء فهم موسى وعيسى ومحمد عليهم السلام، تبتدئ ترجمة النبى بالأسطر التالية:<br />
فى القرن السابع حين بدا على الدنيا أنها أصيبت بالجفاف وحين فقدت اليهودية مولدها واختلطت المسيحية بِمُوَرَّثات الأمم الرومانية والبربرية، نبع فى المشرق فجأة ينبوع صافى من الإيمان ارتوى منه العالم وقد كان محمد محبا لإخوانه من بنى الإنسان بسيطا فى معيشته يأكل خبز الشعير ويخدم نفسه وإن اجتمعت له أسباب الثراء، ويتورع أن يضرب أحدا أو يسؤه بكلمة تقريع، وقد حاول أن يقابل كراهية أعدائه بالحب لأنه يُعَلِّم الناس أن أحب الخلق إلى الله أحبهم إلى خلق الله، ولكن عُبَّاد الأوثان بمكة لم يسمعوا لدعوة المحبة والحكمة ...<br />
إن من الحق أن يلاحظ أن صدق محمدا لا يتجلى فى كتاب مقدس فحسب بل هو يتجلى كذلك فى حياة مقدسة، لأنه كان بأصدق معانى الكلمة نعم المثال للمسلم الفاضل الذى أسلم نفسه إلى الله إسلام السمع والطاعة.<br />
إن صاحب الدعوة الإسلامية لم يبدأ المخالفين له بالحرب بل هم الذين بدءوه بها واضطروه إليها.<br />
وقالا فى ختام الفصل عن السيرة المحمدية:<br />
فالإسلام لا يخالف الديانات الأخرى بل هو يجمع ويؤلف ولا يطرد ولا يستثنى، ومن آداب المسلم أن يحترم عقائد غيره وأن يؤمن بأن العالم أمة واحدة تدين لرب واحد هو الله رب العالمين.<br />
كتاب (العظماء مائة أولهم محمد) للكاتب الأمريكى مايكل هارت وتحدث فيه فى الفصل الأول عن النبى ووضعه الأول بعد أن رتب العظماء على مستوى العالم وجعل النبى أعظم العظماء دون منازع فقال فى الفصل الخاص بالنبى ما نصه الآتى:<br />
يجوز أن يُدهش بعض القراء اختيارى محمدا ليكون على رأس قائمة الأشخاص الأكثر تأثيرا فى العالم؟ وربما كان ذلك عرضة للاستفسار من جانب آخرين، ولكن كان هو الرجل الوحيد فى التاريخ الذى تحقق له النجاح الكامل -كل الكمال- على المستوى الدينى وعلى المستوى الدنيوى.<br />
لقد وضع محمد أسس دين من أعظم الأديان فى العالم وقام بنشره استنادا إلى مصادر ضئيلة وأصبح أيضا قائدا سياسيا عظيم التأثير، واليوم وبعد أكثر من ثلاثة عشر قرنا بعد وفاته لا يزال تأثيره واسع الانتشار.<br />
وفى حقيقة الأمر وباعتبار أن محمدا كان يُعتبر بحق هو القوة الدافعة وراء الفتوحات العربية فمن الجائز لنا أن نعتبره بحق جديرا بأن يكون أعظم القادة السياسيين تأثيرا فى كل عصور التاريخ البشرى ونحن ندرك أن الفتوحات العربية فى القرن السابع الميلادى قد لعبت دوراً مهماً فى التاريخ البشرى حتى يومنا الحاضر، إنه إذاً ذلك التأليف المنقطع النظير بين ما هو دنيوى وما هو دينى وهو الذى يجعلنى أن أرشح محمدا ليكون الشخص الأوحد الأكثر تأثيرا فى التاريخ الإنسانى.<br />
وختاما أيا حبيـب صــلاة<br />
وعليك السلام يا نور عرشى<br />
 <br />
شــهد الله أنهـا إرفـادى<br />
وكذا برزخى وطيب مهـادى<br />
وكل عام وأنتم بخير</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
