﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">
					الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء الرابع من شهر أبريل عام 2007
				</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				<p>الحمدُ للهِ الذى أَوْلانَا بِحَمْدِهِ واسْتَعْمَلَنا فى مَزِيدِ شُكْرِهِ، لَهُ الْحَمْدُ فى الأُولَى والآخِرَةِ على مُوجِبَاتِ حَمْدِهِ ومَزِيدِ نَعْمَائِهِ وَفَضْلِهِ، الواحِدُ الأحَدُ الكَبِيرُ الْمُتَعَالْ، الذى بِعَوْنِهِ كُلُّ خَيْرٍ يُنَالْ وكُلُّ شَرٍّ يُزَالْ، أَرْسَلَ رَسُولَهُ بِالْهُدَى وَدِينِ الْكَمَالْ، لِيُظْهِرَهُ على كُلِّ الأَقْوَالْ، وَيُبْطِنَهُ فى أَهْلِ الأحْوَالْ، والصَلاةُ والسَلامُ على أَحْمَدِ السَجَايَا مُحَمَّدِ الْخِصَالْ، شَفِيعِ الْبَرَايَا سَلِيمِ النَّوَايا والْفِعَالْ، مَنْ بِنُورِهِ يَهْتَدِى أَهْلُ الْوِصَالْ وفى غَيَاهِبِهِ شَتَّانَ الضَّلالْ:<br />
شَتَّانَ بينَ ضَلالةٍ مِنْ شِقْوَةٍ<br />
 <br />
وضَلالِ خَمْرٍ لَذَّةٍ للشارِبينَ<br />
الأحباءُ فى الله السلام عليكم ورحمة الله وبركاته ..<br />
*يقولُ الحقُّ تَبارَكَ وتعالى ]يَا أَيُّهَا الَّذِينَ آمَنُوا إِنَّ مِنْ أَزْوَاجِكُمْ وَأَوْلادِكُمْ عَدُوًّا لَّكُمْ فَاحْذَرُوهُمْ وَإِن تَعْفُوا وَتَصْفَحُوا وَتَغْفِرُوا فَإِنَّ اللَّهَ غَفُورٌ رَّحِيمٌ[[1].<br />
قال الإمامُ الطبرى عن ابن عباس: كان الرجلُ إذا أراد أن يهاجر من مكةَ إلى المدينةِ تَمْنَعُه زوجَتُهُ وولدُه، ولَمْ يَألوا يُثَبِّطُوه عن ذلكَ، فقال الله: إنهم عدوٌ لكم فاحذروهم واسمعوا وأطيعوا، وامضوا لِشَأنكم، فكان الرجل بعد ذلك إذا مُنِع وثُبِّط مَرَّ بأهْلِهِ وأقْسَمَ، والقَسَمُ يمين لَيفْعَلَّنَ ولَيُعاقِبَنَّ أهلَه فى ذلك، فقال الله جل ثناؤه ]وَإِن تَعْفُوا وَتَصْفَحُوا وَتَغْفِرُوا فَإِنَّ اللَّهَ غَفُورٌ رَّحِيمٌ[.<br />
ولذلك فإن الخدمةَ لدينِ رسول الله تحتاج إلى رجال يَهِبون أنفسَهُم لله ورسولِه لا تلهيهم تجارةٌ ولا بيع عن ذكرِ الله ولا تلهيهم أولادُهم ولا نساؤهم عن خدمة دين الله فى غير إخلالٍ بالحقوقِ والواجباتِ، وأخرجَ الحاكمُ وصحَّحَه والبيهقى فى الأسماء والصفات عن أبى موسى الأشعرى ﴿أن رسولَ الله قال: من أحَبَّ دُنياه أضَرَّ بآخرته، ومن أحب آخرته أضر بدنياه، فآثِروا ما يبقى على ما يفنى﴾.<br />
 <br />
*ويقول الحق أيضا ]وَمَا خَلَقْنَا السَّمَاوَاتِ وَالأَرْضَ وَمَا بَيْنَهُمَا إِلاَّ بِالْحَقِّ وَإِنَّ السَّاعَةَ لآتِيَةٌ فَاصْفَحِ الصَّفْحَ الْجَمِيلَ[[2].<br />
وفى هذا يقول حجة الإسلام الإمام الغزالى فى الإحياء من حديث سيدِنا محمد بن الحنفية عن الإمامِ على كرَّمَ َالله وَجْهَهُ: لما نزل قوله تعالى ]فَاصْفَحِ الصَّفْحَ الْجَمِيلَ[ قال النبى : يا جبريل وما الصفحُ الجميل؟ قال عليه السلام: إذا عفوت عمن ظلمك فلا تُعاتِبَه فقال: يا جبريل فالله تعالى أكرمُ مِنْ أن يُعاتِبْ مَنْ عفا عنه، فبكى جبريل وبكى النبى ، فَبَعَثَ الله تعالى إليهما ميكائيل عليه السلام وقال: إن ربَّكُما يُقرئكُما السلام ويقول: كيف أعاتبُ من عفوتُ عنه، هذا ما لا يُشبه كرمى.<br />
ويقول العزيز الحكيم ]وَمَنْ أَحْسَنُ قَوْلاً مِّمَّن دَعَا إِلَى اللَّهِ وَعَمِلَ صَالِحًا وَقَالَ إِنَّنِى مِنَ الْمُسْلِمِينَ % وَلا تَسْتَوِى الْحَسَنَةُ وَلا السَّيِّئَةُ ادْفَعْ بِالَّتِى هِىَ أَحْسَنُ فَإِذَا الَّذِى بَيْنَكَ وَبَيْنَهُ عَدَاوَةٌ كَأَنَّهُ وَلِىٌّ حَمِيمٌ % وَمَا يُلَقَّاهَا إِلاَّ الَّذِينَ صَبَرُوا وَمَا يُلَقَّاهَا إِلاَّ ذُو حَظٍّ عَظِيم[ٍ[3] وقوله تعالى ]فَإِذَا الَّذِى بَيْنَكَ وَبَيْنَهُ عَدَاوَةٌ كَأَنَّهُ وَلِىٌّ حَمِيمٌ[ أى قريبٌ صديق، قال مقاتل: نزلت فى أبى سفيان بن حرب، كان مؤذيا للنبى ، فصار له وليا بعد أن كان عدوا وذلك بالمصاهرة التى وقعت بينه وبين النبى وزواجه بالسيدة حبيبه بنت أبى سفيان، ثم أسلم فصار وليا فى الإسلام حميما بالقرابة، ولله در القائل:<br />
سَأُلْزِمُ نفسى الصفحَ عن كلِ مذنبٍ<br />
فما النـاسُ إلا واحـدٌ من ثـلاثةٍ<br />
فأما الذى فـوقى فأعـرفُ قَـدْرَهُ<br />
وأما الذى دونى فإن قال صُنْتُ عن<br />
وأما الذى مثـلى فإن زَلَّ أو هفـا<br />
 <br />
وإنْ كَثُـرَتْ منـه لدى الجرائمُ<br />
شـريفٍ ومُشَـرَّفٍ ومِثْلِ مُقَاوِمُ<br />
وأتْبَـعُ فيه الحـق والحـقُّ لازمُ<br />
إجـابَتهِ عـرضى وإن لام لائـمُ<br />
تَفَضَّلْتُ إن الفضلَ بالحـلمِ حاكمُ<br />
وقد ثبت فى الصحيح: أن رسول اللّه ما انتقم لنفسه قط إلا أن تنتهك حرمات اللّه، وفى حديث آخر كان رسول اللّه يقول لأِحَدِنا عند المعاتبة: ﴿ما له تَرِبَتْ يمينُه﴾.<br />
وعَنْ أَنَسِ بْنِ مَالِكٍ قَالَ كُنْتُ أَمْشِى مَعَ رَسُولِ اللَّهِ وَعَلَيْهِ بُرْدٌ نَجْرَانِى غَلِيظُ الْحَاشِيَةِ فَأَدْرَكَهُ أَعْرَابِى فَجَبَذَ بِرِدَائِهِ جَبْذَةً شَدِيدَةً، قَالَ أَنَسٌ فَنَظَرْتُ إِلَى صَفْحَةِ عَاتِقِ النَّبِى وَقَدْ أَثَّرَتْ بِهَا حَاشِيَةُ الرِّدَاءِ مِنْ شِدَّةِ جَبْذَتِهِ ثُمَّ قَالَ يَا مُحَمَّدُ مُرْ لِى مِنْ مَالِ اللَّهِ الَّذِى عِنْدَكَ فَالْتَفَتَ إِلَيْهِ فَضَحِكَ ثُمَّ أَمَرَ لَهُ بِعَطَاءٍ.<br />
وأخرج صاحبُ (كنز العمال) عن رَسُولِ اللَّهِ قال إن جبريلَ جاءنى فى أحسنِ صورةٍ، لم ينزل فى مِثلِها قَطْ ضاحكا مستبشرا، فقال: السلام عليك يا محمد، قلت: وعليك السلام يا جبريل، قال: إن الله عز وجل بعثنى إليك بهدية، قلت: يا جبريل وما تلك الهدية؟ قال: كلماتٌ من كنوز تحت العرشِ، أكرمك الله تعالى بهن، قلت: وما هُنَّ؟ قال: قل يا من أظهرَ الجميلَ وسترَ القبيحَ يا من لا يؤاخِذُ بالجَريرةِ، ولا يَهْتِكُ السِتْرَ يا عظيمَ العفو، يا حَسَنَ التجاوز، يا واسعَ المغفرة، يا باسطَ اليدين بالرحمة، يا صاحبَ كل نجوى، ويا منتهى كل شكوى، يا كريمَ الصفح، يا عظيمَ المنَّ يا مبتدئَ بالنعمِ قبل استحقاقها، يا ربنا، ويا سيدنا، ويا مولانا، ويا غاية رغبتنا، أسألك يا الله أن لا تَشْوى خَلقى بالنار‏.<br />
وروى مسلم عَنْ أَبِى هُرَيْرَةَ أَنّ رَسُولَ اللّهِ قَالَ: ﴿تُفْتَحُ أَبْوَابُ الْجَنّةِ يَوْمَ الإِثْنَيْنِ وَيَوْمَ الْخَمِيسِ، فَيُغْفَرُ لِكُلّ عَبْدٍ لاَ يُشْرِكُ بِاللّهِ شَيْئاً إِلاّ رَجُلاً كَانَتْ بَيْنَهُ وَبَيْنَ أَخِيهِ شَحْنَاءُ فَيُقَالُ: أَنْظِرُوا هَذَيْنِ حَتّىَ يَصْطَلِحَا، أَنْظِرُوا هَذَيْنِ حَتّىَ يَصْطَلِحَا، أَنْظِرُوا هَذَيْنِ حَتّىَ يَصْطَلِحَا﴾.<br />
والمعروف أن الشحناءَ هى العداوةُ بكل صورِها والتظالمُ فى كل معانيه الذى نهانا عنه المولى تبارك وتعالى والنبى ، ومن أسوأ صورها الإقتتالِ باليد حتى ولو كان لأخذ الحقوق وفى هذا نزل قوله تعالى: ]وَإِن طَائِفَتَانِ مِنَ الْمُؤْمِنِينَ اقْتَتَلُوا[ قال قتادة: نَزَلَتْ فى رجلين من الأنصار كانت بينهما مداراة فى حق بينهما فقال أحدُهما: لآخذن حقى عُنوة، لكثرة عشيرته، ودعاه الآخر إلى أن يحاكمه إلى رسول الله فأبى أن يتْبعَهُ، فلم يزل الأمر بينهما حتى تواقعا وتناول بعضهم بعضا بالأيدى والنعال.<br />
وإن أخذ الحق باليد لهو عدول عن رد الأمر لله ورسوله وأولى الأمر، وبذلك تعم الفوضى ويسود التظالم بين الناس الذى قال فيه سيدى فخر الدين :<br />
إِنَّ التَّظَــالُمَ بُؤْرَةُ الإِظْـلامِ<br />
وَعَلَيْهِ جَفْـوَةُ قَاطِعِى أَرْحَامِى<br />
 <br />
مَا ضَرَّ لَوْ بَاتَ الْمُحِبُّ وَقَدْ عَفَا<br />
مَا سَـرَّ لَوْ بَاتَ الْمُحِبُّ مُغَاضِبًا<br />
وإن أولى الناس بطريق أبى العينين الذى رد تنازُعه إلينا وكفاه حُكْمَنا لتوحيدِ الوجهةِ والأنظارِ وإن أبعد الناس منا من أخذ حقه بيده ولم ينظر إلينا بعين الإعتبار، وصفحا لمن تاب وآب وترك العناد والإصرار كما قال سيدى فخر الدين :<br />
وَكَفَاهُ حُكْمِى وَحَّدَ الأَنْظَارَا<br />
 <br />
مَنْ رَدَّ أَمْرًا كَانَ فِيهِ تَنَازُعٌ<br />
وقال يعرب بن قحطان يوصى أبناءه الأقيال وهو أول ناطق بالعربية:<br />
عليكمْ بالتواضـعِ لا تزيدوا<br />
وإِن الصفحِ أفضلُ ما ابتغيتمْ<br />
 <br />
على فضلِ التواضعِ من مزيدِ<br />
به شـرفاً من الملكِ العـتيدِ<br />
 <br />
 * وبعد أن استعرضنا صنوفا من الصفح نود أن نُبرزَ منقبةً جليلةً للشيخين صاحبى الذكرى، فإن سيدى فخر الدين كُنِّىَ فى الحضرتين بفخر الدين وتلك الكُنْيَةُ حازها نسبا موقرا لإنتسابه للبيت النبوى الشريف وانتسابه لبرهان الملة والدين السيد أبى العينين الدسوقى ، وافتخر به أهل الحضرتين لسطوع برهانه فى العقائد التى اضطربت فى قلوب العامة من المسلمين عن علو قدر النبى فكانت دروسه وكتبه خيرَ دليل على تَبْصِرة أولى الألباب للسير إلى الصواب.<br />
أما ما اشتهر به فإنه شيئٌ آخر، فما اشتهر بكفالة الأيتام مع انها كانت دَيْدَنه وما اشتهر بكرامات باهرة بالرغم من أنها ظاهرة وكثيرة، بل اشتهر بالصفح الجميل فى كل أحواله وهو يخبرنا بثبوت تلك المكرمة فى ديوانه شراب الوصل:<br />
قُلْتُمْ كِرِيمًا يَوْمَ مَكَّةَ إِنَّنِى<br />
 <br />
أَعْفُو وَأَصْفَحُ وَالسَّبِيلُ يُضَاءُ<br />
وقال أيضا :<br />
صَفْحًا إِذَا آبَ الْمُسِىءُ بِتَوْبَةٍ<br />
 <br />
بَيْنَ الرِّجَالِ عُرِفْتُ بِالصَّفَحَاتِ<br />
وقال أيضا :<br />
فَحَيَّا اللهُ عَبْدًا ظَـنَّ خَيْرًا<br />
 <br />
فَبِالصَّفْحِ الْجَمِيلِ قَدِ اشْتَهَرْتُ<br />
وقال أيضا :<br />
أَلاَ إِنَّ مَوْلاَنَا الْحُسَيْنَ لَشَاهِدٌ<br />
 <br />
شُهُودَ عَيَانٍ كَمْ أَجُودُ بِصَفْحَتِى<br />
ولقد سار سيدى الشيخ إبراهيم على دربه فى الصفح ولكن بطريقته الخاصة فلكل وَلى نهجُهه فى تأديب أبناءه أو الرد على معارضيه، كما يحكى ويقول سيدى عبد الوهاب الشعرانى : حكى لى الأخ الصالح الشيخ شعيب خطيب جامع الأزهر رحمه الله قال: دخلت على الشيخ جلال الدين السيوطى وهو محتضر فَقَبَّلْتُ رِجْلَهُ وسألته الصفح عمن كان آذاه من الفقهاء، فقال: يا أخى قد سامحتَهُم من حين وقعوا فى حقى، وإنما أظهرت لهم التشويش والعداوة وصنفت كراريس فى الرد عليهم لئلا يتجرؤا على أعراض غيرى من الناس، فقال الشيخ شعيب، وهذا هو كان الظن بكم.<br />
وهكذا أخبر سيدى فخر الدين واصفاً عن سرائر مولانا الشيخ إبراهيم وهو أدرى الناس بها:<br />
فَإِنِّى وَإِبْرَاهِيمُ فِى الأَصْلِ وَاحِدٌ<br />
 <br />
إِذَا طَلَبُوا صَفْحًا فَلا شَكَّ صَافِحُ<br />
وليسأل كلٌ منا نفسه هل له نصيب مما اشتهر به مشايخنا الكرام الأجلاء أم أننا نقرأ كتاب الله الكريم وأحاديث الحبيب وقصائد شراب الوصل التى هى دستورنا فى فهم الكتاب والسنة بغير تدبر أو تعقل.<br />
فقد ورد أن سيدنا عبد الله بن مسعود بعد أن عاد من الشام وطاف بالبيت صلى ركعتين فأخبره الناس أن الخليفة سيدنا عثمان بن عفان قد صلى أربع ركعات، فقال ابن مسعود إنا لله وإنا إليه راجعون فقد كنا نصلى ركعتين على عهد النبى ثم قام فصلى أربع ركعات، فلينتبه كل ذى لب كيف يتبع.<br />
أما عن المودة فى القربى التى أوْضَحَتْهَا أبيات الفرائد من شراب وصل القصائد، والتى اتخذنا منها لحولية الشيخين شعارا ودثارا إذ يقول :<br />
إلا المودةَ ما سألنا حِبَّنا<br />
 <br />
إن المودة رفعةٌ ورشادُ<br />
وقال أيضا :<br />
بالعدل والإحسان إنى آمرٌ<br />
 <br />
ولدىَّ ذى القربى لها إيتائى<br />
وأصل ذلك قول الحق تبارك وتعالى ]ذَلِكَ الَّذِى يُبَشِّرُ اللَّهُ عِبَادَهُ الَّذِينَ آمَنُوا وَعَمِلُوا الصَّالِحَاتِ قُل لاَّ أَسْأَلُكُمْ عَلَيْهِ أَجْرًا إِلاَّ الْمَوَدَّةَ فِى الْقُرْبَى وَمَن يَقْتَرِفْ حَسَنَةً نَّزِدْ لَهُ فِيهَا حُسْنًا إِنَّ اللَّهَ غَفُورٌ شَكُورٌ[[4].<br />
وأخرج ابن هشام فى سيرته عن ابن عباس : أن النبى قال لأصحابه يوم بدر: ﴿إنى قد عرفت أن رجالا من بنى هاشم وغيرهم قد أخرجوا كرها، ولا حاجة لهم بقتالنا، فمن لقى منكم أحدا من بنى هاشم فلا يقتله، ومن لقى أبا البَخْتَرى بن هشام بن الحارث بن أسد فلا يقتله، فإنه إنما أُخْرِجَ مُسْتَكْرَهاً، قال: فقال أبوحذيفة: أنقتل آباءنا وأبناءنا وإخوتنا وعشيرتنا، ونترك العباس، والله لئن لقيته لأُلْحِمنَّه السيف، قال: فَبَلَّغْتُ رسول الله ، فقال لعمر بن الخطاب: يا أبا حفص- قال عمر: والله إنه لأول يوم كنَّانى فيه رسول الله بأبى حفص- أيُضْرَب وجه عم رسول الله بالسيف؟ فقال عمر: يا رسول الله دعنى فلأضرب عنقه بالسيف، فوالله لقد نافق، فكان أبو حذيفة يقول: ما أنا بآمن من تلك الكلمة التى قلت يومئذ، ولا أزال منها خائفا، إلا أن تكفرها عنى الشهادة، فقتل يوم اليمامة شهيد﴾.<br />
وأخرج مسلم فى صحيحه عَنْ أَبِى هُرَيْرَةَ قَالَ: بَعَثَ رَسُولُ اللّهِ عُمَرَ عَلَى الصّدَقَةِ، فَقِيلَ: مَنَعَ ابْنُ جَمِيلٍ وَخَالِدُ بْنُ الْوَلِيدِ وَالْعَبّاسُ عَمّ رَسُولِ اللّهِ ، فَقَالَ رَسُولُ اللّهِ : ﴿مَا يَنْقِمُ ابْنُ جَمِيلٍ إِلاّ أَنّهُ كَانَ فَقِيراً فَأَغْنَاهُ اللّهُ وَأَمّا خَالِدٌ فَإِنّكُمْ تَظْلِمُونَ خَالِداً قَدِ احْتَبَسَ أَدْرَاعَهُ وَأَعْتَادَهُ فِى سَبِيلِ اللّهِ، وَأَمّا الْعَبّاسُ فَهِى عَلَىَّ وَمِثْلُهَا مَعَهَا، ثُمّ قَالَ: يَا عُمَر أَمَا شَعَرْتَ أَنّ عَمّ الرّجُلِ صِنْوُ أَبِيهِ؟﴾.<br />
ومن ذلك وجب علينا مودة أهل البيت، والمودة هى المحبة مع جلب المنفعة يلازمها العفو عن زلاتهم إكراما لجدهم رَسُولُ اللّهِ ، وهنا نود أن نوضح أن حكم المودة لأهل البيت وذوى القربى فى التشريع هو حكم الصلاة على النبى وآله، فالصلاة على النبى تكون استقلالا، أما الصلاة على آله تكون تبعا لا استقلالا، فلا يجوز الصلاة على أهل بيت النبى استقلالا دون الصلاة على النبى، وكذلك المودة لا تكون استقلالا بل تبعا لمودة النبى ، ولذلك لا تجوز الصلاة والمودة لأبى لهب ولكنها تجوز لإبنته فاطمة التى دخلت فى طاعةِ رَسُولُ اللّهِ .<br />
وقد حكى سيدى فخر الدين قال: استخلف سيدى أبو العباس المرسى سيدى ياقوت العرش خليفة من بعده وكان عبدا أسوداً، وفى أحد المرَّات كان هناك موكب وكان سيدى ياقوت العرش راكبا على حصان ويحتفى به الناس ويدقون الطبول والكاسات بين يديه وكان هناك أحد الأشراف يرقب الموكب فحدث نفسه وقال لو أن الناس يعلمون أنى شريف لتركوا هذا العبد واحتفوا بى، فلما اقترب منه سيدى ياقوت العرش نزل من على حصانه وسلم عليه وقبل يده وقال له إن معصيتك لجدك أبعدتك عنه، وطاعتى لجدك قرَّبتنى منه.<br />
 <br />
 * أما عن كثرة الفتوى بين الناس بعلم وبغير علم فإننا نعود إلى التاريخ لنأخذ منه المثال والعبرة فقد أوَّلَ جمهور العلماء بغير خلاف، حديث رسول الله الذى رواه أبو هريرة قال (يوشك أن يضرب الناس أكباد الإبل يطلبون العلم فلا يجدون أحداً أعلم من عالم المدينة)[5]، فعالم المدينة -وهو الإمام مالك- لم يتصدر حلقة العلم والفتوى إلا بعد أن أخذ العلم عن ثلاثمائة من التابعين، وَضِعْفَهُمْ من تابعى التابعين، وَأُذِنَ من أكثر من سبعين من علماء عصره للجلوس للدرس والفتوى.<br />
أما إذا رجعنا إلى حصن الحديث عن النبى وهو شيخ الشيوخ سيدنا يحيى بن معين الذى حفظ على أمة النبى ألف ألف وسبعمائة وخمسون ألفاً من الأحاديث الصحيحة فإنه إذا سُئل عن رأيه فى معنى حديث كان يقول (لا أدرى) فلما سُئل لِمَ؟ قال أخاف أن يُعبد الله على رأى يحيى بن معين.<br />
فانظر إلى هذا الفرق الشاسع بين قول الشيخ الجليل يحيى بن معين وبين أقوال أصحاب الرأى فى هذه الأيام، فإذا سألت أحدهم أفتى بغير علم فَضَلَّ وأضل.<br />
وحملة الفقه هم القُرَّاء للفقه وقد فصَّل القول سيدنا عبد الله بن مسعود إذ قال: (كيف أنتم إذا لبستكم فتنة يربو فيها الصغير، ويهرم فيها الكبير، وتتخذ سنة يجرى عليها الناس، فإذا غُيِّرَ منها شئ قيل تركت السنة، فقيل متى ذلك يا أبا عبد الرحمن؟ قال: إذا كَثُرَ قُرَّاءُكُمْ، وقَلَّ فقهاؤكم، وكثرت أموالكم، وقلّ أُمناؤكم، والتُمست الدنيا بعمل الآخرة وَتُفُقِّهَ لغير الدين)[6].<br />
ومن هذا القول يتضح أنه ليس كل من قرأ العلم فقيه وليس كل من تفقه فهو للدين، وأغرب ما قاله (وتتخذ سنة يجرى عليها الناس إذا تركتها قيل تركت السنة) ونجد أن هذا القول واقع تماما كما حدث فى أوان الدولة الأموية، وما جرى من سب أبى تراب الإمام على على منابر المساجد فى خطبة الجمعة، وإذا نسى الخطيب ذلك قال له المصلون السُنة السُنة، وأيضاً ما يجرى على لسان بعض الفرق من سب سيدنا أبى بكر وسيدنا عمر فى ختام الصلوات والعياذ بالله، وإذا تركت ذلك قيل تركت السنة، وأيضا إذا سمعك الناس تقول قال رسول الله قالوا حديث ضعيف، كأنهم كلهم صاروا علماء حديث ويجرحون رواة الأحاديث بغير سند ولا ميزان، أو قالوا ليس حديث لأنه لا يُعقل أن يقول رسول الله ذلك، والناس يتخذون من علم مصطلح الحديث حجة لهم، ولكننا نود أن نوضح أن علم الجرح والتعديل لا يُقبل ممن هو مجروح فى عقيدته فى الله سبحانه وتعالى أو مجروح فى عقيدته فى النبى ، ويقول سيدى أبو طالب المكى وهو إمام الحرمين فى كتابه قوت القلوب: (إن علم مصطلح الحديث قد فتح باب الشك فى الحديث النبوى الشريف) وقد صدق سيدنا عمر بن الخطاب فى قوله إلى سيدنا زياد بن حدير : (قال لى عمر: هل تعرف ما يهدم الإسلام؟ قلت: لا، قال: يهدمه زلة العالم وجدال المنافق بالكتاب وحكم الأئمة المضلين)[7] وقد روى أبو يوسف بن عبد البر أن سيدنا عمر بن الخطاب قال: (إياكم وأصحاب الرأى فإنهم أعداء السنن قد أعْيتهم الحيلة فى حفظ أحاديث النبى فقالوا بالرأى فَضَلُّوا وَأَضَلُّوا).<br />
ويطابق ذلك قول رسول الله الذى رواه سيدنا عبد الله بن عمرو ﴿إن الله لا يقبض العلم انتازعاً، ولكن يقبض العلم بموت العلماء، واتخذ الناس رؤوساً جهالاً فَسُئِلُوا فأفتوا بغير علم فَضَلُّوا وَأَضَلُّوا﴾[8].<br />
إِنِّى بَرَاءٌ مِنَ الدَّعْوَى وَقَدْ كَثُرَتْ<br />
 <br />
-بِلاَ حَيَاءٍ- وَإِنَّ اللهَ مُنْجِينِى<br />
وختاما ندعو الله العلِىّ العظيم بجاهِ سيدنا محمد صاحبِ الذكرِ الرحيمِ والخلقِ العظيمِ أن يعيد علينا ذكرى الشيخين الجليلين بالحب والإخاء لا لِنُحْييها بل لتحيا بها قلوبُنا حُبَّاً وصفاءً وأرواحنا سيراً وارتقاءً وعقولنا فهماً ورضاءً وأجسادنا فى خدمةِ الكُرَمَاءْ.<br />
وكل عام وأنتم بخير</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
