﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء الثانى من شهر أبريل عام 2008</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				<p>الحمدُ للهِ الذى بعث لهذه الأمة من يجدد لها أمر دينها، ويحفظ للمؤمنين حسن العقيدة فى رسولها، وأشهد أن أحمد المحمود ياقوتة الخلق الأول، فهو السيد السند الهمام المبعوث لرفع راية الإسلام، صلى الله عليه وعلى آله وصحبه الكرام، خلفاء أسراره وأشعة أنواره وحملة أحواله وأفعاله وأقواله:<br />
 <br />
نَزَلَ الصَّحَابَةُ عِنْدَ حُكْمِ مَلِيكِهِمْ<br />
 <br />
غَنِمُوا وَكَانَ الرِّفْدُ وَالإِرْفَادُ<br />
أيها الأحباب السلام عليكم ورحمة الله وبركاته ...<br />
عن سيدنا أبى هريرة قال: قال (إِنَّ اللَّهَ يَبْعَثُ لهذِهِ الأمَّةِ عَلَى رأْسِ كلِّ مائةِ سنةٍ مَنْ يُجَدِّدُ لَهَا دِينَها)-أخرجه أبو داود فى سننه.<br />
ولفظة (يبعث) تعنى الاختيار الإلهى وليس اختيار سائر البشر، ذلك لأن اختيار البشر مبنى على الشهرة وفصاحة اللسان، وكان فى رأس المائة عام الأولى سيدنا عمر بن عبد العزيز وفى رأس المائة الثانية الإمام الشافعى رضى الله عنهم أجمعين.<br />
ولذلك يقول الإمام أحمد بن حنبل إذا سُئلت عن مسألة لا أعرف فيها خبرا، قلت فيها بقول الشافعى.<br />
وحول معنى التجديد نجد حضرة النبى يقول لسيدنا بلال بن الحرث (اعلم، قال ما أعلم يا رسول الله؟ قال اعلم يا بلال، قال ما أعلم يا رسول الله؟ قال أنه من أحيا سُنة من سنتى قد أُميتت بعدى فإن له من الأجر مثل من عمل بها من غير أن ينقص من أجورهم شيئاً، ومن ابتدع بدعة ضلالة لا ترضى الله ورسوله كان عليه مثل آثام من عمل بها، لا ينقص ذلك من أوزار الناس شيئا)- أخرجه الترمذى.<br />
وقال سيدنا أنس قال لى رسول الله : (يا بنى إن قدرت أن تُصبح وتُمسى ليس فى قلبك غش لأحد فافعل، ثم قال لى يا بنى وذلك من سنتى ومن أحيا سنتى فقد أحبنى ومن أحبنى كان معى فى الجنة)- أخرجه الترمذى.<br />
فالتجديد يكون فى إحياء الفهم الصحيح لكتاب الله وسنة رسوله ، والفهم الصحيح لسنته مبنى على الفقه فى علوم القرآن كالناسخ والمنسوخ وأسباب النزول والمحكم والمتشابه، ومبنى على فهم قواعد اللغة، وهنا يحضرنى حديث الحبيب المصطفى : (من رأى منكم منكراً فليغيره بيده فإن لم يستطع فبلسانه فإن لم يستطع فبقلبه وذلك أضعف الإيمان) ولعدم فهم قواعد اللغة وأصولها نجد البعض يربط ضعف الإيمان بالقلب، وهذا مفهوم خاطئ للحديث لعدم فهم قواعد اللغة العربية، والحديث قد أوضح ثلاثة صور للتغيير، اليد ثم اللسان ثم القلب، فنجد البعض يغير المنكر باليد مستخدماً السلاح باعتبار أن اليد هى أقوى الإيمان، ولكن المفهوم الصحيح للحديث أن اليد هى أضعف الإيمان لأن اسم الإشارة المستخدم فى هذا الحديث (ذلك) وهو اسم اشارة للبعيد .. أى أن اليد هى أضعف الإيمان، والقلب هو أقوى الإيمان، ويؤيد ذلك قوله تعالى: ﴿قَالَتِ الأَعْرَابُ آمَنَّا قُل لَّمْ تُؤْمِنُوا وَلَكِن قُولُوا أَسْلَمْنَا وَلَمَّا يَدْخُلِ الإِيمَانُ فِى قُلُوبِكُمْ﴾ وقوله (إن فى الجسد مضغة إذا صلحت صلح الجسد كله وإذا فسدت فسد الجسد كله ألا وهى القلب) فالقرآن والسنة أفادوا بأن القلب هو مركز الإيمان وقوته، فأنى لنا أن نقول أن مركز القوة هو اليد؟!!!<br />
والتجديد وإحياء السنة لا يكون فى العبادات أو العقائد، لأن العبادات ثابتة والعقائد واحدة، ونجد أن المعاملات هى الأكثر تعرضا للتجديد، كحال المسلمين الذين يعيشون فى بلاد غير المسلمين فيعيشون فى مجتمع يسوده الأمن والسلام، فلا يجدون صعوبة فى حياتهم الاجتماعية، ولا اعتراضا على ممارسة عبادتهم.<br />
وكما نعلم أن الدين قد أشرق من جزيرة العرب وانتشر رويدا بالطرح الجميل للدعاة، ولكن إذا اتجهنا غرباً فإن العقائد فى الإلهيات والغيبيات تبدأ فى الإنحسار، حتى إذا وصلنا إلى الدول الإسكندنافية فإن شمس العقائد تكاد تختفى بين أهل البلاد الأصليين، فهم لا يؤمنون إلا بما بين أيدهم من علوم وإحداثيات، وكما قال مولانا الإمام الشيخ إبراهيم : (إن حكومات الدول الغربية قد اهتمت بالمواطن العادى فكفلت له كل احتياجاته من مأكل وملبس ومسكن وصحة حتى استغنى بها عن التفكير فى إله للكون يدعوه فى مرضه أو نكباته) ولذا فكل الناس عندهم سواء لا فرق بين نبى أو مفكر أو فيلسوف، فلا يوجد شخص فوق النقد والتحليل المنطقى والعقلانى حتى شخص الملِك، فلا قدسية للبشر مهما كانوا، ومن هنا كانت المشكلة، ويستفحل الأمر عندما نجد حضرة النبى يتعرض لسوء أدب من بعض المسلمين أنفسهم، عندما يذكروا اسمه مجرداً من السيادة ويدّعون أن السيادة لله فقط، ولا يتحرك ساكن، فماذا يجب على الدعاة أن يفعلوا فى ظل تلك المعطيات إلا اقتباس الطرح الجميل من سماحة الحبيب المصطفى عندما قام اليهودى بأذيته بوضع القاذورات على بابه، فلما انقطعت سأل عنه ليريه والعالم أجمع كيفية التعامل مع من يجهلون الإسلام ونبى الإسلام، تحقيقا لقول الحق سبحانه وتعالى: ﴿ادْعُ إِلِى سَبِيلِ رَبِّكَ بِالْحِكْمَةِ وَالْمَوْعِظَةِ الْحَسَنَة﴾.<br />
ولننظر إلى سيدنا عبد الله بن عمر عندما دخل عليه رجل فقال له: يا صاحب رسول الله هل للقاتل توبة؟ فقال ابن عمر: لا، وبعدها دخل سائل آخر فقال: هل للقاتل توبة؟ فقال ابن عمر: من أغلق بابا فتحه الله، فاحتار طلابه وقالوا: إن الجواب الأول يناقض الثانى فى مسألة واحدة فكيف تفسر لنا ذلك؟ فأجابهم اجابة الفقيه ذى الفراسة: (أما الأول فكان ينوى القتل، والثانى قد قتل وينوى التوبة).<br />
فعلى كل من يتكلم بلسان الدين تحرى الدقة فى فتواه، وأن تكون الفتوى مبنية على أساس الفقه فى علوم القرآن والسنة وليس الاطلاع فحسب.<br />
 <br />
أيها الأحباب ...<br />
يقول الحق تبارك وتعالى: ﴿إِنَّهُمْ فِتْيَةٌ آمَنُوا بِرَبِّهِمْ وَزِدْنَاهُمْ هُدًى﴾ لقد مدح الله هؤلاء الفتية لقوة إيمانهم رغم صغر سنهم، فخلّد الله ذكراهم فى كتابه العزيز، وفسر الإمام السيوطى فى الدر المنثور قوله تعالى: ﴿لَقَدْ خَلَقْنَا الإِنسَانَ فِى أَحْسَنِ تَقْوِيمٍ﴾ أن هذا هو طور الشباب والشدة، أى مرحلة تفجر الطاقة عملا وإيمانا ولذلك نجد أن أكثر المسلمين الأوائل من الشباب، فوجه لهم حضرة النبى اهتماما خاصا بهم وبمشاكلهم، فعن عبد الرحمن بن يزيد عن عبد الله قال: خرجنا مع رسول الله ونحن شباب لا نقدر على شئ، قال (يا معشر الشباب عليكم بالباءة فإنه أغض للبصر وأحصن للفرج ومن لم يستطع فعليه بالصوم فإنه له وجاء)-أخرجه النسائى والترمذى- فهذا الحديث يبين لنا مدى اهتمامه صلوات ربى وسلامه عليه بالشباب وكيفية حل مشاكلهم.<br />
ويقول الإمام على كرم الله وجهه (اتقوا الله فى الشباب فإنهم من جيل غير جيلكم خلقوا لزمان غير زمانكم) فلابد للشيوخ أن تتسع صدورهم لاستيعاب الشباب وتحبيبهم للطريق المستقيم.<br />
وصلاح الشباب يعود على المجتمع ويظهر جليا فى خدمة الدين، وهذا ما يسعد قلب الحبيب المصطفى .. لهذا .. ذكرهم المصطفى فى حديثه المشهور: (سبعة يظلهم الله يوم لا ظل إلا ظله .. ومنهم شاب نشأ فى طاعة الله) .. كما نجد سيدنا أنس يروى لنا عنهم حديثا فيقول: كان هناك سبعين من شباب الأنصار يُقال لهم القُراء، يقومون فى المسجد فإذا أمسوا انتحوا ناحية من المدينة فيتدارسون ويصلون، يحسب أهلوهم أنهم فى المسجد، ويحسب أهل المسجد أنهم فى أهليهم، حتى إذا كانوا فى وجه الصبح استعذبوا من الماء واحتطبوا من الحطب فجاؤوا به فأسندوه إلى حجرة رسول الله فبعثهم النبى جميعا فأصيبوا يوم بئر معونة، فدعا النبى على قتلتهم خمسة عشر يوما فى صلاة الغداة-مسند الإمام أحمد.<br />
فانظر مدى محبة سيدنا رسول الله للشباب واهتمامه به حتى أنه دعا على قتلتهم فى الصلاة، وكانت سببا فى دعاء القنوت.<br />
فمرحلة الشباب هى ثمرة العمر فيجب استغلالها أحسن استغلال فى خدمة دين المصطفى بنشر صفحات المحبة والتسامح بين سائر الناس قولا وفعلا.<br />
ويقول الإمام فخر الدين :<br />
سَأَلْتُ رَسُولَ اللهِ مِنْ فَضْلِ رَبـِّهِ<br />
 <br />
لِيَجْعَلَ عَزْمِى فِى فَتِىِّ السَّوَاعِدِ<br />
 <br />
أيها الأحباب ...<br />
وليس الشباب فقط من أوصى بهم الحبيب المصطفى ولكنه قال النساء شقائق الرجال، فلم ينتهى دور المرأة على مداواة الجرحى خلف الصفوف فحسب، بل كانت تذود عن سيدنا رسول الله يوم أحد، فهاهى السيدة نسيبة بنت كعب عندما قال : (فى يوم أحد ما نظرت يمنة أو يسرة إلا وجدت نسيبة بنت كعب تذود عنى بسيفها وسهامها).<br />
وفى صدر الإسلام عندما كان الحبيب وصاحبه فى الغار، فمن كان يحمل الطعام إليهما وينقل لهما أخبار قريش؟ إنها السيدة أسماء وقد لقبت بذات النطاقين لكونها شقت نطاقها نصفين ووضعت الطعام فى أحدهما حتى لا يراه أحد ويشك فى أمرها.<br />
وهاهى السيدة الخنساء الأديبة الشاعرة التى كان يستمع لها سيدنا رسول الله ، وكانت مرجعا للشعراء وأهل اللغة.<br />
كما أمرنا رسول الله أن نأخذ نصف ديننا من السيدة عائشة رضى الله تبارك وتعالى عنها حيث قال (خذوا نصف دينكم من هذه الحميراء).<br />
وإذا نظرنا إلى السيرة نجد أن كثيرا من نساء الصحابة شاركن فى رفع قوائم مسجد رسول الله .<br />
والسيدة نفيسة كانت صاحبة حلقة علم بل وكان يتردد عليها الإمام الشافعى للتعلم.<br />
ومن أقوال الإمام مالك : إن نساء الصحابة كن يُردن الآخرة وما عند الله تعالى ولم يكن مرادهن الدنيا ولم يكنَّ يبالين بعسر أزواجهن.<br />
 <br />
أيها الأحباب ...<br />
إن دور المرأة والشباب فى خدمة المجتمع يحتاج الى تاج على الرؤوس ألا وهو (الإيثار) وليس الإيثار فى السراء فقط بل مع قلة ذات اليد .. فها هو رجل يأتى سيدنا رسول الله ويسأله الحاجة، ويذهب الحبيب إلى نسائه واحدة تلو الأخرى يسألهم عن شئ يقدمه لهذا الرجل ويكون الجواب والذى بعثك بالحق ليس عندنا إلا الماء، فيقول النبى الكريم لأصحابه: من يُضَيِّف هذا الليلة؟ ويقوم رجل ويقول: أنا يا رسول الله، وينطلق الرجل بضيف رسول الله إلى منزله ويسأل زوجته هل عندك شئ؟ فتقول: إلا قوت الصبيان، فيقول لها: نومى الصبية وأطفئى السراج ودعيه يأكل، فنزل قوله تعالى: ﴿ويؤثرون على أنفسهم ولو كان بهم خصاصة﴾ ويقول لهما الحبيب : (قد عجب الله عز وجل من صنيعكما بضيفكما الليلة).<br />
ويقول صاحب الجامع لأحكام القرآن: الإيثار هو تقديم الغير على النفس وحظوظها الدنيوية رغبة فى الحظوظ الدينية، وذلك ينشأ عن قوة اليقين وتوكيد المحبة، والصبر على المشقة.<br />
وصحابة رسول الله من الأنصار كانوا يؤثرون المهاجرين على أنفسهم بأموالهم ومنازلهم، لا عن غنى بل مع احتياجهم إليها.<br />
وقد ورد أن سيدنا عمر بن الخطاب أخذ أربعمائة دينار فجعلها فى صرة ثم قال لغلامه: اذهب بها إلى أبى عبيدة بن الجراح، ثم تلكأ ساعة فى البيت حتى تنظر ماذا يصنع بها، فذهب بها الغلام إليه فقال: يقول لك أمير المؤمنين: اجعل هذه فى بعض حاجتك؛ فقال: وصله الله ورحمه، ثم قال: تعالى يا جارية، اذهبى بهذه السبعة إلى فلان، وبهذه الخمسة إلى فلان؛ حتى أنفذها، فرجع الغلام إلى سيدنا عمر فأخبره، ثم أعد سيدنا عمر مثلها لسيدنا معاذ بن جبل وقال لغلامه: اذهب بهذا إلى معاذ بن جبل وتلكأ فى البيت ساعة حتى تنظر ماذا يصنع، فذهب بها إليه فقال: يقول لك أمير المؤمنين: اجعل هذه فى بعض حاجتك، فقال: رحمه الله ووصله، وقال: يا جارية اذهبى إلى بيت فلان بكذا وبيت فلان بكذا، فخرجت امرأة معاذ فقالت: ونحن والله مساكين فأعطنا، ولم يبق فى الخرقة إلا ديناران قد جاء بهما إليها، فرجع الغلام إلى سيدنا عمر فأخبره، فسر بذلك أمير المؤمنين عمر بن الخطاب وقال: إنهم إخوة بعضهم من بعض.<br />
ويقول الإمام القرطبى فى تفسيره لهذه الآية الكريمة:<br />
الإيثار بالنفس فوق الإيثار بالمال، ومن الأمثال السائرة: (والجود بالنفس أقصى غاية الجود) ومن عبارات الصوفية الرشيقة فى حد المحبة: أفضل الجود بالنفس الجود على حماية رسول الله ، ففى الصحيح أن أبا طلحة ترس على النبى يوم أحد، وكان النبى يتطلع ليرى القوم، فيقول له أبو طلحة: لا تُشرف يا رسول الله .. ألا يصيبونك .. نحرى دون نحرك، ووقى بيده رسول الله فشُلت يده.<br />
وقال حذيفة العدوى: انطلقت يوم اليرموك أطلب ابن عم لى ومعى شئ من الماء وأنا أقول: إن كان به رمق سقيته، فإذا أنا به، فقلت له: أسقيك، فأشار برأسه أن نعم، فإذا أنا برجل يقول: آه آه، فأشار إلى ابن عمى أن انطلق إليه، فإذا هو هشام بن العاص فقلت: أسقيك؟ فأشار أن نعم، فسمع آخر يقول: آه آه .. فأشار هشام أن انطلق إليه فجئته فإذا هو قد مات، فرجعت إلى هشام فإذا هو قد مات، فرجعت إلى ابن عمى فإذا هو قد مات.<br />
ويقول سيدى أبو يزيد البسطامى: ما غلبنى أحد ما غلبنى شاب من أهل بلخ! قدم علينا حاجاً فقال لى: يا أبا يزيد، ما حد الزهد عندكم؟ فقلت: إن وجدنا أكلنا، وإن فقدنا صبرنا، فقال: هكذا كلاب بلخ عندنا، فقلت: وما حد الزهد عندكم؟ قال: إن فقدنا شكرنا، وإن وجدنا آثرنا.<br />
وسئل ذو النون المصرى: ما حد الزاهد المنشرح صدره؟ قال ثلاث: تفريق المجموع، وترك طلب المفقود، والإيثار عند القوت.<br />
وحكى عن أبى الحسن الأنطاكى: أنه اجتمع عنده نيف وثلاثون رجلا ومعهم أرغفة معدودة لا تشبع جميعهم، فأطفأوا السراج وجلسوا للطعام؛ فلما رُفع فإذا الطعام كما هو لم يَأكل منه أحد شيئاً؛ إيثاراً لصاحبه على نفسه.<br />
وفى تفسير قوله تعالى ﴿يوفون بالنذر ويخافون يوما كان شره مستطيرا • ويطعمون الطعام على حبه مسكينا ويتيما وأسيرا﴾ أن الحسنين قد مرضا فعادهما رسول الله وعامة العرب، فنذر الإمام على : أن يصوم لله ثلاثة أيام شكرا، وكذلك الزهراء وجارتها، فألبس الحسنين العافية، وليس عندهم قليل ولا كثير، فانطلق الإمام على إلى شمعون بن حاريا الخيبرى -وكان يهوديا- فاستقرض منه بعضا من الشعير، فقامت الزهراء إلى صاعٍ فطحنته واختبزته، فلما مضى صيامهم الأول وضع بين أيديهم الطعام؛ فأتاهم مسكين، فقال أطعمونى أطعمكم الله، فأطعموه الطعام، ومكثوا يومهم وليلتهم لم يذوقوا شيئا إلا الماء.<br />
فلما كان اليوم الثانى قامت الزهراء إلى صاع فطحنته واختبزته، فوضع الطعام بين أيديهم؛ فوقف بالباب يتيم فقال: السلام عليكم أهل بيت محمد، يتيم أطعمونى أطعمكم الله، فأطعموه الطعام ومكثوا يومين وليلتين لم يذوقوا شيئا إلا الماء.<br />
فلما كان اليوم الثالث قامت الزهراء إلى الصاع الباقى فطحنته واختبزته، فوضع الطعام بين أيديهم؛ إذ أتاهم أسير فوقف بالباب فقال: السلام عليكم أهل بيت محمد، أطعمونى فإنى أسير، فأعطوه الطعام ومكثوا ثلاثة أيام ولياليها لم يذوقوا شيئا إلا الماء.<br />
فلما أوفوا بالنذر هبط جبريل عليه السلام وقال: السلام عليك، ربك يقرئك السلام وأقرأه ﴿هل أتى على الإنسان حين من الدهر﴾ إلى قوله ﴿يوفون بالنذر ويخافون يوما كان شره مستطيرا • ويطعمون الطعام على حبه مسكينا ويتيما وأسيرا • إنما نطعمكم لوجه الله لا نريد منكم جزاء ولا شكورا﴾.<br />
ويعلمنا سيد الخلق أجمعين أن نؤثر ذاته وأهله وعترته وذريته .. فيقول:<br />
(لا يؤمن أحدكم حتى أكون أحب إليه من نفسه وأهلى أحب إليه من أهله وعترتى أحب إليه من عترته وذريتى أحب إليه من ذريته)-أخرجه المتقى الهندى فى كنز العمال.<br />
وعن ابن هشام قال: كنا مع رسول الله وهو آخذ بيد عمر بن الخطاب فقال: والله لأنت يا رسول الله أحب إلى من كل شئ إلا من نفسى، فقال النبى : (لا يؤمن أحدكم حتى أكون أحب إليه من نفسه)-أخرجه الإمام البخارى وأحمد.<br />
فحقا ..<br />
لَوْلا هَوَاهُمْ فِى الْقُلُوبِ وَفِى الْحَشَا<br />
 <br />
مَا ذَاقَ قَلْبُُ لَـذَّةَ الإِيمَــانِ<br />
 <br />
اللهم اجعلنا من المحبين المحبوبين بجاه سيد الأولين والآخرين<br />
وصلى اللهم على سيدنا محمد وعلى آله وصحبه وسلم<br />
والسلام عليكم ورحمة الله وبركاته ... وكل عام وأنتم بخير</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
