﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء الثامن من شهر أبريل عام 2009</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				</p>
<p>الحمد لله الذى عجزت القلوب والعقول عن إدراك كنه ذاته .. وتحيرت الفهوم فى معرفة أسماءه وصفاته .. خلق النوع الإنسانى وأودع فيه جميع مكوناته، وشرفه وكرمه بخلافته وفضله على سائر مخلوقاته، وفرائد التحيات ودرر البركات ولآلئ الصلوات وجواهر التسليمات على أشرف مخلوقاته وأكرم موجوداته وعلى آله وأصحابه الذين تنعموا بأنعم ذاته وجميل صفاته وسائر كمالاته، وعلى جميع أولياء أمته الذين بذلوا جهدهم فى إحياء ملته واتباع سنته واقتفاء سيرته، فأباح الله لهم موائد كرمه، وقلّدهم لطائف مِنَنِهِ، وزيّن ظواهرَهم وبواطنَهم بمكارم شِيَمِهِ، ونوّر قلوبهم من لواقح الأنوار، وملأ سرائرَهم بجواهر الأسرار.<br />
.. أما بعد ..<br />
أيها الأحباب ..<br />
السلام عليكم ورحمة الله وبركاته ..<br />
يقول الحق تبارك وتعالى ]وَمَا أَرْسَلْنَاكَ إِلاَّ رَحْمَةً لِّلْعَالَمِينَ[[1] فالرسل خلقوا للرحمة، وسيدنا محمد خلق بنفسه رحمة، فلذلك صار أمانا للخلق، لما بعثه الله أمن الخلق العذاب إلى نفخة الصور، ولذلك قال عليه السلام ﴿أنا رحمة مهداة﴾[2] يخبر أنه بنفسه رحمة للخلق من الله.<br />
إن مفهوم الرحمة وهى الصفة الأشمل والأعم من الصفات الإلهية والنبوية التى أراد المصطفى أن يوسع إدراك المسلمين لها، فقد قام واقفا حين مرور جنازة فقالوا له يا رسول الله إنها جنازة يهودى فقال ﴿أليست نفسا﴾[3] فاحترام النفس التى خلقها الله من أساسيات الرحمة المهداه وكان النبى فى مجلسه يأتى الطفل فيأخذ بيده ليريه شيئا أعجبه فيقوم معه النبى ولايرجع إلى مجلسه حتى يترك الطفل يده، وكان فى زمنه إمرأة بعقلها شئ وكانت تأتى لتنادى النبى من بين أصحابه وتحادثه بعيدا عنهم فما كان يتركها حتى تنهى حديثها، وانظر إلى هذا البعير الذى حضر ساجدا أمام النبى وهمهم للنبى وحضر بعده صاحبه فقال له النبى إن البعير يشكو من قلة الزاد وكثرة العمل وأمره بإطعامه وإعطاءه قسطا من الراحة، وهذان الجبلان أحد وهمدان يسأله أحد أن يصير له ذهبا فقال أحد جبل يحبنا ونحبه وهمدان ينادى إنى أحبك يا رسول الله، ولما علم النبى أن السيدة عائشة زوجت احدى قريباتها فى الأنصار سألها أأرسلتم معها من تغنى لها ثم أمر زينب وهى احدى المغنيات وقال قومى فالحقى بها وغنى أتيناكم أتيناكم فحيانا وحياكم، وهاهو عمير الأخ الأصغر لخادمه أنس بن مالك حين مات (نغير) عصفور صغير كان يلعب به ذهب إليه الحبيب وظل يعزيه ويلاطفه بقوله ﴿يا أبا عمير ما فعل النغير﴾[4].<br />
وما أكثر أمثلة الرحمة التى نختمها برحمته بمن آذوه فذلك الجار اليهودى الذى يضع القاذورات كل يوم أمام باب النبى فلما خرج يوما ولم يجدها فعلم أن اليهودى مريض فذهب ليزوره ويسأل عنه، وهاهو النبى يرسل عباءته إلى ابن سلول لتخفف عنه الحمى فى مرضه وهو زعيم النفاق ورأسه بالمدينة الذى آذاه فى نفسه وكان سبب فتنة السيدة عائشة .<br />
 يقول الإمام فخر الدين t:<br />
رب رحيم ربه سماه<br />
 <br />
 <br />
هو رحمة والأمهات به اقتدت<br />
 <br />
ولكى نقتدى بالرحمة المهداه لابد من المداومة على العمل الصالح لتتعود قلوبنا على حب الخير وتنقاد عقولنا وألستنا إلى الكلام الطيب، ولكى يكون الفعل مرتبا عمليا وليس كلاما إنشائيا فإن المصطفى علم أصحابه ذكر الله والصلاة على النبى فانصلحت قلوبهم بالذكر وانشغلت ألسنتهم به مما آل بهم إلى صلاح أبدانهم وأفعالهم وكما قال المصطفى ﴿إن فى الجسد مضغة إذا صلحت صلح الجسد كله وإذا فسدت فسد الجسد كله ألا وهى القلب﴾[5] كما حض النبى على صنع المعروف ﴿اصنع المعروف إلى من هو أهله، وإلى غير أهله، فإن أصبت أهله أصبت أهله، وإن لم تصب أهله كنت أنت أهله﴾[6] وبالمداومة على الذكر والصلاة على الحبيب يرفض اللسان أن يشرك معهما كلام غير طيب من غيبة أو نميمة أو أمر بسوء.<br />
ومع دوام الذكر يرتقى العبد ويزداد تزكية وسمو ويلازم الترقى التعرض للإبتلاء ولكن قد يكون الابتلاء بلاء وضر كما حدث مع سيدنا أيوب فلما انتشر المرض قابله بالصبر لأنه يعلم ابتلاء الأنبياء، ولكن لما اشتد المرض بدرجة تمنع الذكر نادى ربه ]وَأَيُّوبَ إِذْ نَادَى رَبَّهُ أَنِّى مَسَّنِىَ الضُّرُّ وَأَنتَ أَرْحَمُ الرَّاحِمِينَ %فَاسْتَجَبْنَا لَهُ فَكَشَفْنَا مَا بِهِ مِن ضُرٍّ وَآتَيْنَاهُ أَهْلَهُ وَمِثْلَهُم مَّعَهُمْ رَحْمَةً مِّنْ عِندِنَا وَذِكْرَى لِلْعَابِدِينَ[[7] ولكن الابتلاء يكون بالفتن فقد نزل جبريل على النبى فى الخندق بقوله تعالى ]أَحَسِبَ النَّاسُ أَن يُتْرَكُوا أَن يَقُولُوا آمَنَّا وَهُمْ لا يُفْتَنُونَ[[8] وكما جاء فى الحديث الذى أخرجه الترمذى عن مصعب بن سعد عن أبيه قال، قلت: يا رسول الله، أى الناس أشد بلاء؟ قال ﴿الأنبياء ثم الأمثل فالأمثل، يبتلى الرجل على حسب دينه، فإن كان فى دينه صلباً اشتد بلاؤه، وإن كان فى دينه رقة ابتلى على قدر دينه، فما يبرح البلاء بالعبد يتركه يمشى على الأرض وما عليه خطيئة﴾[9].<br />
ومن أنواع الابتلاء التى ذكرها الحق فى كتابه ]وَلَنَبْلُوَنَّكُمْ بِشَىْءٍ مِّنَ الْخَوفْ وَالْجُوعِ وَنَقْصٍ مِّنَ الأَمَوَالِ وَالأنفُسِ وَالثَّمَرَاتِ وَبَشِّرِ الصَّابِرِينَ[[10] وبشر الصابرين .. أى بالثواب على الصبر، والصبر أصله الحبس، وثوابه غير مقدر، وقد تقدم، ويكون ذلك بالصبر عند الصدمة الأولى، كما روى البخارى عن أنس عن النبى قال ﴿إنما الصبر عند الصدمة الأولى﴾[11].<br />
وقال سهل بن عبد الله التسترى: لما قال تعالى ]وَبَشِّرِ الصَّابِرِينَ[ صار الصبر عيشا، والصبر صبران: صبر عن معصية الله، فهذا مجاهد، وصبر على طاعة الله، فهذا عابد. فإذا صبر عن معصية الله وصبر على طاعة الله أورثه الله الرضا بقضائه، وعلامة الرضا سكون القلب بما ورد على النفس من المكروهات والمحبوبات، وفى الصبر عن معصية الله قال الإمام الشافعى :<br />
شكوت إلى وكيع سوء حفظى<br />
وأخبرنى بأن العلم نور<br />
 <br />
 <br />
فأرشدنى إلى ترك المعاصى<br />
ونور الله لا يهدى لعاصى<br />
 <br />
فعندما يولد الإنسان، تولد معه فرصتان فرصة الخير، وفرصة الشر.. فرصة الدخول إلى الجنة، وفرصة الدخول فى النار. ثم يدخل الانسان بعد ذلك فى سلسلة لا تنتهى من الامتحانات، وهذه الامتحانات تتعمق وتصبح أكثر صعوبة عند البلوغ، وفى بعض الأحيان تغدو امتحانات عسيرة شديدة، وكلما ازدادت هذه الاختبارات شدة وصعوبة، ازداد نقاء جوهر الانسان، والدليل على ذلك إن أصل كلمة (فتنة) مقتبس من وضع الذهب فى النار، لأن هذا المعدن يختلط بسائر المعادن، فلكى يصفى وتذهب عنه تلك الشوائب، فإنه يحتاج إلى (الفتنة)؛ أى إلى أن يعرض للنار ليذوب فيها وتزول الزوائد منه وتسمى فتون كما قال الحق لسيدنا موسى ]... وَقَتَلْتَ نَفْسًا فَنَجَّيْنَاكَ مِنَ الْغَمِّ وَفَتَنَّاكَ فُتُونًا[[12].<br />
ويقول سيدى فخر الدين :<br />
لنا فتون ولكن لم تكن فتنا<br />
 <br />
 <br />
لنا أكف السخا نعطى ولا حرج<br />
 <br />
وقد تكون الابتلاءت طريق إلى الاستقامة وهى مرتبطة بمراتب الدين ففى مرتبة الإسلام فإن الاستقامة هى ترك المنهيات من الكبائر كالشرك بالله وعقوق الوالدين وقتل النفس وفعل المأمورات من الفرائض كالصلاة والصيام والزكاة، أما فى مرتبة الإيمان فدوام الذكر والصلاة على الحبيب وتلاوة القرآن بلا انقطاع، وأما فى مراتب الإحسان فلابد من عدم الغفلة عن الله ومراقبته فى كل حركات العبد وسكناته، يقول الإمام فخر الدين :<br />
قوام طريق القوم حب وطاعة<br />
 <br />
 <br />
وكل مقام قام بالاستقامة<br />
 <br />
عن سفيان بن عبد الله الثقفى قال:قلت يا رسول الله قل لى فى الإسلام قولاً لا أسأل عنه أحداً بعدك قال ﴿قل آمنت بالله ثم استقم﴾[13].<br />
فاستقامتك أخى الحبيب استجابة لأمر الله وأمر رسوله والاستجابة لله ولرسوله من أعظم أسباب الفلاح والفوز قال تعالى ]وَمَنْ يُطِعِ اللَّهَ وَرَسُولَهُ فَقَدْ فَازَ فَوْزاً عَظِيماً[[14].<br />
ويقول صاحب الرسالة القشيرية أن الاستقامة (درجة بها كمال الأمور وتمامها) ومن لم يكن مستقيماً فى حالته ضاع سعيه وخاب جهده؛ قال تعالى ]وَلاَ تَكُونُواْ كَالَّتِى نَقَضَتْ غَزْلَهَا مِن بَعْدِ قُوَّةٍ أَنكَاثًا[ج[15] فمن لم يكن مستقيماً فى صفته لم يرتقِ من مقامه إلى غيره، ولم يبنِ سلوكه على صحة؛ فمن شرط المستأنف الاستقامة فى أحكام البداية، كما أن من حق العارف الاستقامة فى آداب النهاية.<br />
وأخبرنا أبو عبد الرحمن السلمى سمعت أبا على السِّرِى يقول رأيت النبى فقلت: يا رسول الله رُوىَ عنك أنك قلت ﴿شَيَّبَتْنِى هود﴾ قال: نعم، فقلت: ما الذى شَيَّبَك، قصص الأنبياء وهلاك الأمم؟ فقال: لا ولكن قوله ]فَاسْتَقِمْ كَمَا أُمِرْتَ[ [16].<br />
وقال الواسِطِى (الخَصْلَةُ التى بها كَمُلَتْ المحاسن وبفقدها قَبُحَتْ المحاسن الاستقامة).<br />
وقال تعالى ]وَأَلَّوِ اسْتَقَامُوا عَلَى الطَّرِيقَةِ لأَسْقَيْنَاهُم مَّاءً غَدَقًا % لِنَفْتِنَهُمْ فِيهِ وَمَنْ يُعْرِضْ عَنْ ذِكْرِ رَبِّهِ يَسْلُكْهُ عَذَابًا صَعَدًا[ [17] ولم يَقُلْ سقيناهم، بل قال (أسقيناهم) وأسقيته إذ جعلت له سُقْيَا؛ فهو يُشير إلى الدوام.<br />
والاستقامة هى لزوم الإنسان للمنهج المستقيم، وقال بعض العارفين (مرجع الاستقامة إلى أمرين صحة الإيمان واتباع ما جاء به رسول الله ظاهراً وباطناً).<br />
وقال العلماء معنى الاستقامة المطلوبة الممدوحة بالكتاب والسنة (لزوم طاعة الله تعالى) فالاستقامة هى الدرجة القصوى التى بها كمال المعارف والأحوال وصفاء القلوب فى الأعمال وتنزيه العقائد عن سفاسف البدع والضلال.<br />
أيها السالكون ما الحب سهل<br />
 <br />
 <br />
قد هديتم صراطكم فاستقيموا<br />
 <br />
 <br />
قد أنفقوا أعمارهم لم يَقْتُروا<br />
 <br />
 <br />
وتفيّأوا الحسنى وكان لزاماً<br />
 <br />
أيها الأحباب ..<br />
ومن نور (الاستقامة) إلى شعاع (وَحدة الصف) التى هى عمدة الدين وعماده فى (اصلاح ذات بيننا) لقوله صلوات ربى وسلامه عليه ﴿ألا أنبئكم بأفضل من درجة الصلاة والصيام والصدقة والأمر بالمعروف والنهى عن المنكر؟ قالوا: بلى يا رسول الله، قال: إصلاح ذات البين، فإن إفساد ذات البين هى الحالقة، لا أقول تحلق الشعر ولكن تحلق الدين﴾[18] فإيقاع العداوة والبغضاء بين الناس منتهى قصد الشيطان الرجيم؛ ذلك أن الإفساد بين الآخرين يؤدى إلى القطيعة التى حرمها الشرع كما جاء فى الحديث الشريف ﴿لا يحل لمسلم أن يهجر أخاه فوق ثلاث، يلتقيان فيعرض هذا ويعرض هذا وخيرهما الذى يبدأ بالسلام﴾[19] وقد قال ﴿لا تقاطعوا .. ولا تدابروا .. ولا تباغضوا .. ولا تحاسدوا .. وكونوا عباد الله إخوانا .. المسلم أخو المسلم﴾[20] وقال أيضا صلوات ربى وسلامه عليه ﴿مثل المؤمنين فى توادهم وتراحمهم وتعاطفهم كمثل الجسد الواحد إذ اشتكى منه عضو، تداعى له سائر الجسد بالحمى والسهر﴾[21].<br />
ويقول الإمام على كرم الله وجهه (اعلموا أن صلاح ذات بينكم خير من صلاتكم وصيامكم)<br />
كما أخبرنا صاحب الذكرى العطرة مولانا الإمام فخر الدين :<br />
ما سر لو بات المحب مغاضبا<br />
 <br />
 <br />
وعليه جفوة قاطعى أرحامى<br />
 <br />
أخرج الإمام أحمد فى مسنده والحاكم فى المستدرك عن أبى أيوب الأنصارى عن النبى ﴿لا تبكوا على الدين إذا وليه أهله، ولكن ابكوا عليه إذا وليه غير أهله﴾[22].<br />
فالفتوى من أهم وأخطر الأشياء فى الدين التى تؤثر تأثيرا مباشراً على الفرد خاصة والمجتمع عامة (الفتوى) فمن عظم شأنها وخطورة موقفها أضحى لزاما أن نقف أمامها ونعرف آدابها وآداب قائلها وآداب سامعها، ونود أن نلخص ما ورد من جملة الأثر حولها، فإن الإفتاء عظيم الخطر كبير الموقع كثير الفضل، فالمفتى وارث الأنبياء صلوات الله وسلامه عليهم وقائم بفرض الكفاية، ولهذا قالوا (المفتى مُوَقِّع عن الله تعالى) وعن ابن المنكدر قال (العالم بين الله تعالى وخلقه فَلْيَنظُر كيف يدخل بينهم) وكان أصحاب رسول الله يسأل أحدهم عن المسألة فيردها هذا إلى هذا، وهذا إلى هذا، حتى ترجع إلى الأول ومنهم من يحدث بحديث إلا وَدَّ أن أخاه كفاه إيّاه ولا يُستفتى عن شىء إلا وَدَّ أن أخاه كفاه الفُتيا.<br />
وعن ابن مسعود وابن عباس (من أفتى فى كل ما يُسأل فهو مجنون) وعن الشعبى والحسن وأبى حصين (إن أحدكم ليفتى فى المسألة ولو وردت على عمر بن الخطاب لجمع لها أهل بدر) وعن عطاء بن السائب التابعى (أدركت أقواما يسأل أحدهم عن الشىء فيتكلم وهو يرعد) وعن سفيان بن عيينه وسحنون (أجسر الناس على الفُتيا أقلّهم علما).<br />
وعن الأثرم سمعت أحمد بن حنبل يكثر من قول (لا أدرى) وذلك فيما عرف الأقاويل فيه، وسُئل الإمام مالك عن ثمان وأربعين مسألة فكان جوابه فى ثِنْتين وثلاثين منها (لا أدرى) وعن الإمام مالك أيضا (أنه ربما كان يُسأل عن خمسين مسألة فلا يجيب فى واحدة منها) وكان يقول (من أجاب فى مسألة فينبغى قبل الجواب أن يعرض نفسه على الجنة والنار وكيف خلاصه ثم يُجيب) وسُئل عن مسألة فقال (لا أدرى، فقيل هى مسألة خفيفة سهلة فغضب وقال ليس فى العلم شىء خفيف).<br />
وسُئل الإمام الشافعى عن مسألة فلم يجب، وسُئل عن سكوته فقال (حتى أدرى أن الفضل فى السكوت أو فى الجواب)<br />
وقال الشافعى أيضا (ما رأيت أحدا جمع الله تعالى فيه من آلة الفُتيا ما جمع فى ابن عيينه ومارأيت أحدا أسكت منه على الفُتيا).<br />
وقال أبو حنيفة (لولا الفرق من الله تعالى أن يضيع العلم ما أفتيت، يكون لهم المهنأ وعلىَّ الوِزْر).<br />
وقال ﴿لا تَسأل الإمارة فإنك إن أُعطيتها عن مسألة وكلت إليها وإن أُعطيتها عن غير مسألة أُعِنت عليها﴾[23] وفى الخبر (العلم ثلاثة: كتاب ناطق .. وسنة قائمة .. ولا أدرى) وقال إبراهيم بن أدهم رحمه الله (ليس شىء أشد على الشيطان من عالم يتكلم بعلم ويسكت بعلم، يقول: انظروا إلى هذا سكوته أشد علىَّ من كلامه) وقال بعضهم: إنما العالم الذى إذا سُئل عن المسألة فكأنما يقلع ضرسه.<br />
وكان ذا النون يقول (ثلاثة من أعلام أعمال الكياسة .. ترك المراء والجدال فى الدين، والإقبال على العمل بيسير العلم، والاشتغال بإصلاح عيوب النفس غافلاً عن عيوب الناس.<br />
وها نحن فى زمن كثر فيه المفتون وقل فيه العالمون العاملون، لم ينشغل الناس فيه بصلاح أحوالهم بل انشغلوا بصلاح الآخرين دون أنفسهم، وعلينا أن نتذكر قول الحبيب المصطفى ﴿طوبى لمن شغله عيبه عن عيوب الناس﴾[24].<br />
أيها الأحباب ..<br />
قال الحبيب المصطفى ﴿إن لله تعالى أهلين من الناس، أهل القرآن هم أهل الله وخاصته﴾[25] إن أهل القرآن هم أولياء الله تعالى وأحباؤه كما أخبرنا السمرقندى فى تفسير قوله تعالى ]أَلا إِنَّ أَوْلِيَاء اللَّهِ لاَ خَوْفٌ عَلَيْهِمْ وَلاَ هُمْ يَحْزَنُونَ[[26] قال: أى أحباء الله، وهم حملة القرآن والعلم، ويقال الذين يجتنبون الذنوب فى الخلوات، ويعلمون أنّ الله تعالى مُطَلِّعٌ عليهم.<br />
وسُئِل صلوات ربى وسلامه عليه عن أولياء الله فقال ﴿هُمُ الَّذِينَ إذا رُءُوا ذُكِرَ الله تَعَالَى﴾[27] وقال وهبُ بنُ مُنَبِّه: قال الحواريُّون لسيدنا عيسى ابنِ مريمَ: يا روحَ الله، مَنْ أولياء الله؟ قال: الَّذين نَظروا إلى باطن الدنيا حين نظر الناس إلى ظاهرها، ونظروا إلى آجل الدنيا حين نظر الناس إلى عاجلها، فأحبُّوا ذِكر الموت وأماتوا ذِكر الحياة، ويحبُّون الله تعالى ويحبُّون ذكره.<br />
وقال الضَّحَّاك ]أَلا إِنَّ أَوْلِيَاء الله[ أى المخلصين لله ]لاَ خَوْفٌ عَلَيْهِمْ[ أى لا يخافون من أهوال يوم القيامة.<br />
ثمَّ نعتهم فقال ]الذين آمَنُواْ وَكَانُواْ يَتَّقُونَ[ أى أقرُّوا وصدَّقوا بوحدانية الله تعالى، ويتَّقون الشِّرك والفواحش ]لَهُمُ الْبُشْرَى فِى الْحَياةِ الدُّنْيَا[ أى البشارة، وقيل الرُّؤيا الصَّالحة.<br />
وروى عن عبد الله بن عُمَر عن النَّبى أنه قال ﴿الرُّؤيا الصَّالِحَةُ جُزْءٌ من سَبْعِينَ جُزْءاً مِنَ النّبوَّةِ﴾[28] وفى خبر آخر ﴿جُزْءٌ مِنْ سِتَّةٍ وَأرْبَعِينَ جُزْءاً مِنَ النّبوَّةِ﴾.<br />
وسئل سيدنا أبو الدرداء عن قوله تعالى ]لَهُمُ الْبُشْرَى فِى الْحَياةِ الدُّنْيَا[ فقال ﴿هِى الرُّؤيا الصَّالِحَة يَرَاهَا المُسْلِمُ، أَوْ تُرَى لَهُ﴾ وفى الآخرة أى الجنة.<br />
لم يذكروا إلا بطيب فعالهم<br />
 <br />
 <br />
وملائك البشرى تقول سلاما<br />
 <br />
أيها الأحباب ..<br />
إن انتشار الطريقة فى أرجاء المعمورة يقابله خطورة نقل المعلومة، وحماية الناس عموما وأبناء الطريقة على وجه الخصوص من تلقّيهم أى معلومات أو رسائل أو توجيهات غير صادقة تحت اسم الشيخ يجعل من أمر السيطرة على قنوات نقل المعلومة من الشيخ إلى أبناء الطريقة أمراً حيوياً هاماً لا تجوز المجاملة فيه.<br />
والخطورة تكمن أكثر عندما يتم فى بعض الأحيان تسريب ونشر أخبار غير دقيقة وغير معتمدة بحسن أو سوء نية تحت اسم الطريقة أو اسم الشيخ وبالتالى احتمال احداث بلبلة وارتباك وسوء فهم وتأثير على عقائد الناس وقد تؤذى الطريقة وهى تسعى لخدمة دين المصطفى فى ظروف بالغة التعقيد لا تتحمل أى تصرفات فردية غير منضبطة أو غير مسئولة.<br />
والمسئولية تقع على عاتق أبناء الطريقة الذين يتناقلون بالمعلومات والأخبار خارج القنوات الشرعية ومن يتلقى المعلومات خارج هذه القنوات فإنه يخرج نفسه بنفسه من دائرة مرادنا وإرشادنا وتوجيهنا وحينئذٍ لا يلومن أحدا إلا نفسه .. وعلى هؤلاء الأخوة عدم تناقل المعلومات الصحيحة إلا لأهلها.<br />
وعلى أبناء الطريقة الذين يتصلون بنا تحرى الصدق والأمانة والموضوعية ومصلحة الطريقة وأن يتم عرض موضوعاتهم على المسئول قبل عرضها علينا حتى تكتمل دراستها من كل الجوانب, والابتعاد عن الدسائس والمصالح الشخصية الضيقة, والانتباه إلى أن ما يعرض علينا ينبغى أن يكون خالصا صافيا لوجه الله تعالى حتى يرضى الله ورسوله .<br />
فعلينا توخى الحذر من وسيط السوء وقد أرشدنا سابقا ولازال إرشاده فِينا مولانا الإمام فخر الدين حين قال:<br />
وحاذروا من وسيط السوء بينكم<br />
 <br />
 <br />
وأيقظوا هِمَّةً فيها رياحينى<br />
 <br />
وقال أيضاً:<br />
تصافحوا بل أميطوا السوء بينكم<br />
 <br />
 <br />
بِقُربَةِ الوُد لا قُربى القرابين<br />
 <br />
فعن أبى أيوب أنه قال سمعت نبى الله يقول ﴿ما بعث الله من نبى ولا كان بعده خليفةٌ إلا له بطانتان بطانة تأمره بالمعروف وتنهاه عن المنكر وبطانة لا تألوه خبالا فمن وقى بطانة السوء فقد وقى﴾[29].<br />
فعلى المسئول أن يتحقق بما تُلْقِى إليه بطانته حتى يبحث عنه ويتأكد تمام التأكيد من صحة المعلومة .. بل عليه أن يَتَّخِذَ لِسِرِّهِ ثِقة مأموناً فَطِناً عاقلاً .. لأن المصيبة إنما تدخل على المسئول المأمون من قبول قول غير موثوق به إذ كان هو حَسِن الظن فيلزمه التَثبُّت والتَدَبُّر ..وكما قيل (واحذر بطانة السوء .. فإنهم يريدون مالك ويقرّبون من النار لحمك ودمك .. فاحفظ تُحفظ واتق الله) فنسأل الله السلامة.<br />
أيها الأحباب ..<br />
قال ﴿ما ذئبان جائعان أرسلا فى غنم بأفسد لها من حرص المرء على المال والشرف لدينه﴾[30] والشرف المعنى هنا هو حب الرياسة.<br />
فمن أراد السلوك إلى الله فعليه انتزاع حب الرياسة من قلبه لأنها مناقضة للسير إلى الله، وتصفية روحه من حب الترأس لأقرانه .. وتنقية دمه من شهوة التقدم عليهم، بل كن الذليل فى سلوكك ولا ترى لك قيمة .. واخدم أبناء الطريقة تُخدم، وكفاك فخراً إن رضوك خُوَيْدِماً .. فحقاً إن الخويدم حقه لا يُهْضَمِ .. واهتم بصلاح نفسك بدلا من صلاح حال الآخرين ولا تُنَصِّب نفسك مكان الراعى .. لأن النجاة فى الاتباع والهلاك فى الابتداع .. فدعوا الراعى يقود إلى الثواب ...<br />
فحقا ..<br />
حضرا حل كم بدا ببوادى<br />
وصلى اللهم على سيدنا محمد وعلى آله وصحبه وسلم<br />
والسلام عليكم ورحمة الله تعالى وبركاته ... وكل عام وأنتم بخير</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
