﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء السابع من شهر أبريل عام 2010</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				</p>
<p>لأحباب من كل مكان .. السلام عليكم ورحمة الله تعالى وبركاته .. وبعد ..<br />
الحمدُ لله بارئ الأرواح والنسم، ومقدر الأرزاق للأمم، القائل فى محكم الكتاب ﴿وَتِلْكَ الأَيَّامُ نُدَاوِلُهَا بَيْنَ النَّاسِ﴾[1] والصلاة والسلام على خير الأنام كاشف الضر ومزيح السقام، أحمد المحمود المخصوص بالذات من الأزل إلى الأبد، فكل راجٍ يرتجيهِ لا يُرد، القائل ﴿خيرُ القرون قرنىِ ثم الذين يَلُونهم ثم الذين يَلُونهم ثم الذين يَلُونهم﴾[2] والقرون ليس المقصود منها الأيام والسنون، ولكن يقصد بها من عاش فيها من آدميين، لأن الحضارة تكون فى أسمى معانيها حينما يكونُ الخُلُق الكريمُ سيداً فيها، ومَن غير الحبيب المصطفى الممدوح بكلام الله العظيم فى القرآن العظيم ﴿وَإِنَّكَ لَعَلَى خُلُقٍ عَظِيمٍ﴾[3] وهو صاحب الرسالة الخاتمة الذى أجمل وصفها بقوله (إنما بعثت لأتمم مكارم الأخلاق)[4] وتمام مكارم الأخلاق هى الحضارة بعينها، لأن المدنية والتقدم فى العمران وما يتبعها من ترفٍ فى وسائل العيش والراحة، إذا كانت بلا أخلاق فهى الجاهلية بعينها، بل أن البَدَاوة خيرٌ منها مع شَظف العيش[5] وكما قال المتنبى:<br />
وفى البَدَاوةِ حُسْنٌ غَيرُ مَجْلوبِ<br />
 <br />
حُسْنُ الحضارةِ مجلوبٌ بتطريةٍ<br />
ولذا كان حضور الحبيب فى ذلك القرن مصحوبا بالأعلام من أهل بيته أوانى الإمداد ذوى الهمم العالية، والرواد من الصحابة الكرام ذوى الأخلاق السامية، إعلاماً للخَلق بدولة الحضارة الأخلاقية، التى انطلقت منها الحضارة العلمية فأنارت المشارق والمغارب.<br />
ثم كانت الموالاة بالقرن الذى يليهِ من التابعين والذى يليهِ من تابعى التابعين، فتزايدت الحضارةُ نضارةً بالسير على خُطى السابقين، متبعين غير مبتدعين، فإذا تم فتح أرضٍ جديدة، كانت الأخلاق الحميدة، أسبق من السيوف قتالاً ضد الجاهلية الأخلاقية، وكانت العبادات وسيلةً للوصول لكل فضيلة، ولم تكن غاية، وإلا كانت البداية لطريق الغواية.<br />
أيها الأحباب ..<br />
يقول الحق سبحانه ﴿لا يَنْهَاكُمُ اللَّهُ عَنِ الَّذِينَ لَمْ يُقَاتِلُوكُمْ فِى الدِّينِ وَلَمْ يُخْرِجُوكُمْ مِنْ دِيَارِكُمْ أَنْ تَبَرُّوهُمْ وَتُقْسِطُوا إِلَيْهِمْ إِنَّ اللَّهَ يُحِبُّ الْمُقْسِطِينَ﴾[6] قال الإمام ابن عجيبة فى تفسيره: أى لا ينهاكم عن البِر بهؤلاء المشركين وتقضوا إليهم بالعدل ولا تظلموهم، فإذا نهانا الحق سبحانه عن الظلم فى حق المشرك، فكيف فى حق المسلم؟!! ورُوِى أن «قُتَيلةَ بنت عبد العزى» وهى مشركة جاءت زائرةً بنتها «السيدة أسماء بنت الصديق» بهدايا، فلم تقبلها، ولم تأذن لها بالدخول، فنزلت هذه الآية، بل وأمرها رسولُ الله أن تقبل الهدايا منها وتُكْرِمهَا وتُحْسن إليها.<br />
قال الإمام القشيرى: مَن كان فيهم حُسن خُلق أو للمسلمين منهم رِفْق، أُمروا بالملاينة معهم، وشاهد هذه الجملة قوله (إنَّ الله يُحب الرِّفق فى الأمر كله)[7] وهذا فيما لا ضرر فيه للمسلمين.<br />
وقال (بُعثتُ بمداراة الناس)[8] وأورد البيهقى أن سهل التسترى قال:<br />
إن مداراتهم صدقة، ومداراة الوالد فريضة، ومداراة ذوى الأرحام سُنة، ومداراة السلطان طاعة، ومداراة أهل البدع مداهنة.<br />
أيها الأحباب ..<br />
انظروا إلى قول الحق سبحانه لسيدنا موسى وسيدنا هارون عليهما السلام، عندما ذهبا إلى فرعون وهو يدعى الألوهية، ورغم ذلك أمرهما سبحانه بملاطفته فقال ﴿فَقُولا لَهُ قَوْلاً لَّيِّنًا﴾[9].</p>

<p> <br />
وقد عَدّ الإمام السهروردى فى «الآداب» مِن رُخص الصوفية:<br />
التكلُّف مع أبناء الدنيا والرؤساء والسلاطين والقيام لهم، وحسن الإقبال عليهم، والأدب فى ذلك ألاّ يكون طمعاً فى دنياهم، ولا اتخاذ جاه عندهم، فكان يَدخل عليه سادات قريش فَيُكرمهم، ويُجِلَّهم، ويُحسن مجالستهم، وبذلك وصَّى رسول الله حيث قال (إذا أتاكم كريمَ قومٍ فأكرِموه)[10].<br />
وكذلك معاملة الملوك والوُلاة على هذا السبيل، فإذا عاملت الملوك والسلاطين بمعاملة الرعية، فقد استخففت بحق السلطان، وكيف يجوز أن تستخف بحقه، وقد قال (السلطان ظل الله فى الأرض فمن أكرمه، أكرمه الله، ومن أهانه، أهانه الله)[11] به تَسكُن النفوس، وتُجمع الأمور.<br />
وكما قال سيدى إبراهيم الدسوقى ، صاحب الطريق الذى نهتدى بأنواره فى دياجير الجهل الأخلاقى ’إذا جئتم بالأقوال وجاء العجم بالأفعال فهم أحق بمحمدٍ منكم‘.<br />
والأفعال هى التخلق بما جاء به الحبيب ، والأقوال إنما هى التشدق والتعلق بما قال ، ولذا وجدنا سيدى فخر الدين مولانا الشيخ محمد عثمان عبده البرهانى قد رفع راية العلم مع الأخلاق جنبا إلى جنب، فما كان منه إلا قول عليم وفعل حليم، وسار على دربه إمام حكيم، هو مولانا الشيخ إبراهيم الذى قال فى خطابه السنوى عام 2003:<br />
(ومَن قال أن دَور رسول الله قد انتهى بانتقاله إلى الرفيق الأعلى فقد ضل ضلالاً بعيداً، والعياذ بالله، ونحن هنا نُذَكِّر الأمة ببعض وظائف الحبيب التى وردت فى آية واحدة من الذكر الحكيم، الذى نزل إجمالهُ وتفصيلهُ على الحبيب، ومن أجل الحبيب، إذ يقول عز من قائل ﴿يَا أَيُّهَا النَّبِىُّ إِنَّا أَرْسَلْنَاكَ شَاهِدًا وَمُبَشِّرًا وَنَذِيرًا • وَدَاعِيًا إِلَى اللَّهِ بِإِذْنِهِ وَسِرَاجًا مُنِيرًا﴾[12] فالشاهد على الأمة كيف تَصِح شهادته على أمتهِ وقد انقطعت صلتهِ بموتهِ؟!! ومَن قال أن السراج المنير الذى يستمد نوره من النور الإلهى يُطفأ ﴿وَاللَّهُ مُتِمُّ نُورِهِ وَلَوْ كَرِهَ الْكَافِرُونَ﴾[13].أهـ<br />
ولذا .. بدأت الحضارة الإسلامية فى الإزدهار فى ظاهر الأمر، بعد أن امتلأت القلوب والأرواح بالحضور الأخلاقى للأنوار المحمدية، ونَضحت على الأبدان تصرفاً وسلوكاً.<br />
وخلاصة ما ذكره ابن خلدون قال:<br />
بَعث أبو جعفر المنصور إلى ملك الروم أن يبعث إليه بكتب التعاليم مترجمة، فبعث إليه بكتاب إقليدس، وبعض كتب الطبيعيات، فقرأها المسلمون واطلعوا على ما فيها، وازدادوا حرصا على الظَّفر بما بقى منها.<br />
وجاء الخليفة هارون الرشيد من بعد ذلك، وكانت له فى العلم رغبة، فأوفد الرسل إلى مَلك الروم، فى استخراج علوم اليونانيين، وانتساخها بالخط العربى، وبعث المترجمين لذلك، فأخذ منها واستوعب، وعكف عليها النُظار من أهل الإسلام، وحَذقوا فى فنونها، وانتهت إلى الغاية أنظارهم فيها.<br />
وكان من أكابرهم: أبو نصر الفارابى، وأبو على بن سينا فى المشرق، والقاضى أبو الوليد بن رشد، والوزير أبو بكر بن الصانع بالأندلس، وقد بلغوا الغاية فى هذه العلوم، وقد أجزل الرشيد العطاء لكل كاتب يُؤلف تأليفا يَفُوق فيه عما وصل إلى أيدى الناس من العلوم المترجمة، فقد رصد وزن الكتاب بالذهب العراقى الخالص.أهـ<br />
وظهور الحضارة كما قلنا ليس وليد الصدفة أو الإجتهاد بل لها قواعد تأسست عليها، وَلْنذكر بَعض الأمثلة على ذلك:<br />
لما قَدِمَ هارون الرشيد المدينة بَعث البَرمكى إلى الإمام مالك، وقال له: قُل له احمل لى الكتاب الذى صنفته حتى أسمعه منك، فوجد من ذلك الإمام مالك واغتم، وقال للبرمكى أَقرئه السلام وقل له: إن العلم يُزار ولا يَزور، وإن العلم يُؤتى ولا يَأتى.<br />
وذُكر أن يهودياً كانت لهُ حاجةً عند هارون الرشيد، فلم يقضِ حاجته، فوقف يوماً على الباب، فلما خرج هارون وقف بين يديه وقال: اتقِ الله يا أمير المؤمنين! فنزل هارون عن دابته وخر ساجداً، فلما رَفَع رَأسه أمر بحاجتهِ فَقُضِيَت، فقيل له: يا أمير المؤمنين، نزلت عن دابتك لقول يهودى! قال: تذكرت قول الله تعالى ﴿وَإِذَا قِيلَ لَهُ اتَّقِ اللَّهَ أَخَذَتْهُ الْعِزَّةُ بِالْإِثْمِ فَحَسْبُهُ جَهَنَّمُ وَلَبِئْسَ الْمِهَادُ﴾[14].<br />
ومن تلك الأمثلة نرى كيف كان خُلق الرشيد مع القرآن بالرغم أن الذى أمره بتقوى الله يهودى، وكيف احترم عالم المدينة ورأيه وهو أحد رعاياه، هذا هو الخُلُق الذى كانت به حضارة قلب الرشيد وروحه، فسمت الحضارة الإسلامية على يديه فى العلوم والصناعات والفنون، ولكن كيف السبيل إلى ذلك فى زماننا؟ فنجد السبيل فى كلمة لمولانا الشيخ إبراهيم حيث قال:<br />
المشايخ هم الخبراء الذين يوصلون الناس إلى بر الأمان، وهم الذين يَسوقون الأرواح إلى الملأ الأعلى، مع كل التوفيق فى حياتنا العملية.<br />
فالمشايخ هم الذين يعطون المريد نوراً فى القلب الذى يستطيع أن يسير به فى ظلمات الأرض، كما قال تعالى: ﴿أَوَمَنْ كَانَ مَيْتًا فَأَحْيَيْنَاهُ وَجَعَلْنَا لَهُ نُورًا يَمْشِى بِهِ فِى النَّاسِ﴾[15] فيترحل المريد إلى التنوير ثم إلى الكشف، كما قال تعالى ﴿فَكَشَفْنَا عَنْكَ غِطَاءَكَ فَبَصَرُكَ الْيَوْمَ حَدِيدٌ﴾[16] ثم يترحل إلى الفتح ثم الفتح المبين، كما قال سبحانه ﴿إِنَّا فَتَحْنَا لَكَ فَتْحًا مُبِينًا﴾[17].<br />
وهكذا عندما يتتلمذ المريد على يد شيخ مرشد، يفتح الله عليه بشتى أنواع العلوم الإلهية والمعارف الربانية، حتى يتعلم العلم اللدنى الوهبى .. وقد قال أحد الصالحين:<br />
أخذتم العلم من ميت عن ميت .. أما نحن فأخذنا علمنا من الحى الذى لا يموت.<br />
وكما قال سيدى فخر الدين واصفاً شيخه الدسوقى أبو العونين:<br />
كُلُّ رَاجٍ يَرْتَجِيهِ لا يُرَدْ<br />
 <br />
إِنَّهُ الْمَأْمُولُ عِنْدِى سِرُّهُ<br />
فإن كان هذا هو مفهوم الحضارة، فما الذى يَهْوِى بالإنسان من قمم الحضارة إلى قاع التخلف؟<br />
إن المتأمل للتاريخ البشرى، يجد أول جريمة بسبب رغبة قابيل فى أخذ ما ليس من حقه بالقوة، وهو اعتداء على حقوق الآخر، وكان هذا الآخر أخيه هابيل، وكان أول اعتداء على الحقوق فى تاريخ البشرية.<br />
وفى ظل التشابك فى الموضوعات والقوانين الدينية والمدنية، وفى ظل اختلاف القيم والعادات والتقاليد والأعراف الحديثة، اختلط الأمر على الناس ليس فى تطبيق القانون فحسب، بل فى طرق الإثبات، بل فى تجريم الفعل ذاته.<br />
ولكن الفطرة السليمة تأبى الظلم، وتأبى أخذ حقوق الغير، من مالٍ أو نفسٍ أو بدنٍ بالقوة، أو الإعتداء عليه نفسياً أو بدنياً، سواء بالقوة أو التحايل، وتلك دائرة ثابتة المركز ونُسميها (الإنسانية) ومهما طال القُطر أو قصر أو اختلف، فإنك داخل محيط الدائرة ذاتها، كاختلافنا فى التفاصيل أو الأولويات، ولكن المبدأ لا خلاف عليه، كقتل النفس أو تعذيب الطفل أو الاعتداء على النبات والحيوان.<br />
وتزامناً مع تطبيق النظريات وعمومها ظهرت الفجوات، فحاول أصحابها إيجاد حلول واهية بالتحدث والتشدق بحقوق الإنسان، وحقوق المرأة وحقوق الطفل، إلى آخر تلك الحقوق التى نظموا لها الدساتير وأسسوا لها المنظمات، ولكنها بمثابة السُم فى العسل، فمنظمات حقوق الإنسان كان الخصم فيها هو الحكم، يفرق بين إنسان وإنسان آخر، وحقوق المرأة لا يقابلها حقوق للرجل، وحقوق الطفل فى الرضاعة الطبيعية يقابله حق المرأة فى إرضاعه صناعيا إذا خافت على جمالها وأناقتها، فأى حقوقٍ تلكَ التى أعطت الإنسان كفالة كلب والإنفاق عليه بدلاً من كفالة يتيم.<br />
ولكنا نقول كما قال سيدى فخر الدين الحق واحد هو (الحق فى الله) ليس هناك حقوق للمرأة أو الإنسان أو الحيوان، فتجزئة الحق هروب من حضارة الأخلاق، أنظروا إلى حق الجار الذى قد يكون على دين غير دينك، أو على خلاف معك لأى سبب من الأسباب، فكل هذا لا يمنعك من تأدية حقه، وقد قال الحبيب المصطفى (أتدرون ما حق الجار؟ إن استعان بك أعنته، وإن استقرضك أقرضته، وإذا افتقر عدت عليه، وإن مرض عدته، وإن مات اتبعت جنازته، وإن أصابه خير هنأته، وإن أصابته مصيبة عزيته)[18].<br />
هذا هو حقه فى الله بغير علة ولا سبب، لأن العلل والأسباب قد تنفى الحق وتعطيك العذر بعدم قيامك بهذا الحق، كما قال الإمام فخر الدين :<br />
يُكَابِرُ جَهْلاً فِى شَـرَائِعِ رَبِّـهِ<br />
 <br />
وَيَصْغُرُ فِى عَيْنِ الأَكَابِرِ كُلُّ مَنْ<br />
وقد قال مولانا الشيخ إبراهيم فى خطابه عام 2001:<br />
اخوانى .. اخواتى.. أبنائى وبناتى ..<br />
ونحن نعبر إلى الألفية الثالثة .. إلى عصر العولمة الثقافية حيث زوال الحدود أمام الفكر الإنسانى، وزوال سيطرة الدولة وسيادتها على الثقافة والعلوم, فإننا نجد أن مواجهة الغزو الفكرى، وإدارة عمليات الحوار الثقافى والحضارى، تتطلب نهجاً دقيقاً ومتقناً، يُمكِّننا ليس فى مواجهة ذلك الغزو الفكرى فحسب، وإنما يعمل على تنظيم بعثاً حضارياً، يعكس الهدى النبوى الشريف ليزيل أستار الظلام فى تلك الأصقاع من العالم، ويؤسس لبناء عالم تَسوده المحبة والألفة والعدل ... أهـ<br />
ونحن إذ نضرب الأمثلة من الهدى النبوى للوصول إلى البعث الحضارى، لتوحيد الحقوق لتصير حقا واحدا، هو (الحق فى الله) للوصول بالأخلاق إلى مرتقى الحضارة الحقيقية وإزالة غُمة الجهالة المستترة بالمدنية الزائفة.<br />
فعَنْ سيدنا أَبِى هُرَيْرَةَ عَنْ رَسُولِ اللهِ قَالَ (دَخَلَتِ امْرَأَةٌ النَّارَ فِى هِرَّةِ رَبَطَتْهَا، فَلاَ هِى أَطْعَمَتْهَا وَلاَ هِى أرْسَلَتْهَا تَأَكلُ مِنْ خَشَاشِ الأَرْضِ حَتَّى مَاتَتْ)[19].<br />
وعن سيدنا أبى هريرة أن رسول الله قال (بينما رجل يمشى بطريق اشتد عليه العطش فوجد بئراً فنزل فيها فشرب ثم خرج، فإذا كلب يلهث يأكل الثرى من العطش، فقال الرجل: لقد بلغ هذا الكلب من العطش مثل الذى بلغ بى، فنزل البئر فملأ خفه ماء ثم أمسكه بفيه حتى رقى، فسقى الكلب فشكر الله له فغُفر له، قالوا: يا رسول الله إن لنا فى البهائم لأجراً؟ فقال فى كل ذات كبد رطبة أجر)[20].<br />
أليست هذه الحقوق مجتمعة للإنسان والحيوان بل وفى كل ذى كبد رطب فى صعيد واحد، وانظر إلى التابعين كيف كانوا يطبقون تلك الحقوق.<br />
فها هو سيدى أحمد الرفاعى قد ترك الطريق السهل الممهد لكلب وسار فى الوحل، ولما سأله مريدوه لما فعلت ذلك؟ قال لهم (من ظن أنه أفضل من الكلب فالكلب أفضل منه).<br />
كما أن الحبيب كان يسأل أسرى الحرب أن يفتدوا أنفسهم من الأسر بأن يعلموا أحد المسلمين القراءة والكتابة، التى هى بداية الرقى والحضارة والتعامل السمح بين الناس، الذى جعل الأسير والمحارب السابق يعلم من أسره، فتنشأ بينهما علاقة على أساس من المودة وعرفان الجميل، ويمحى ما كان بينهم من عداوة وبغضاء.<br />
ولقد أظلنا زمان اختلط المعقول بالمنقول فحار أرباب الألباب، فذا شح مطاع وهوى متبع وإعجاب كل ذى رأى برأيه، كما قال سيدى فخر الدين :<br />
أَنَّ مَـنْ يَجْهَلِ النَّصِـيحَةَ يُسْـدِى<br />
 <br />
مِنْ عَجِيبِ الْعُجَابِ فِى أَهْلِ عَصْرِى<br />
ولكن النصيحة لله ورسوله والعظة والعبرة لمن اتعظ واعتبر، ما الحب سهلٌ والتمحيص سُنة الله فى خلقه، حتى الأنبياء والرسل، فسيدنا يوسف عليه السلام قد مرت عليه إمتحانات عديدة، فمن الجب، إلى فتنة زوجة العزيز، إلى السجن، حتى جاء خروجه من السجن، للإستعداد لتمحيص السبع العجاف، التى سوف تعصف بأقوات الناس، ولذا استعد من أيام الرخاء لأيام الشدة، وأعد لها العدة بصبر وجلد وتوكل على الله، فمرت عليه السبع الأولى فى الإعداد للسبع العجاف التى استطاع أن يعبر بالناس فيها دون أن يقنط من رحمة الله، فالقنوط من الرحمة يؤدى بمن لا عقيدة له إلى الإنتحار هربا من سئ إلى أسوأ، أما المؤمنون فيشمرون عن سواعد الجد بالذكر والصلاة على الحبيب وحسن الإعتقاد فى الله ورسوله، ومشايخهم الذين انتشلوهم من غياهب جب الغفلة ومن دياجير الجهل إلى منابع العلم والذكر، بدلا من أن ينسب إليهم عيوبه وأخطاءه وفيه يتحقق قول الإمام الشافعى :<br />
وَمَا لِزَمَاننَا عيبٌ سِوَانَا<br />
 <br />
نَعِيبُ زَمَاننا والْعَيبُ فينَا<br />
وليعلم الجميع أن قول الحبيب حق، وهو مظلتنا إلى الله الحق، وأن المريد الحق هو المؤمن الحق، كما أخبر الحبيب (الإيمان نصفان نصف فى الصبر ونصف فى الشكر)[21] أى أن الضجر ليس من صفات المؤمن بل إنه من سوء الظن والعياذ بالله، وسوء الظن يؤدى بصاحبه إلى نكران الجميل كما قال الحبيب (من لم يشكر الناس لم يشكر الله) ويقول الإمام فخر الدين :<br />
كَذَلِكَ دَعْوَى الْعِلْمِ أَقْبَحُ تِرَّةِ<br />
 <br />
أَلا إِنَّ نُكْرَانَ الْجَمِيلِ كَبِيرَةٌ<br />
ولذا نرفع بأكفٍ ضارعةٍ وقلوبٍ خاشعةٍ خاضعةٍ (حسن الظن بالله) شعاراً لنا مِلؤ أفئدتنا، فتنضح ألسنتنا به بين اخواننا وأهلينا، فالوهاب يعطى بلا حساب ولا أسباب ولتكن البشرى فرجا لهمومنا ورفعا لهممنا.<br />
أحبابنا فى الله ..<br />
لقد سمى الإمام فخر الدين الصوفية (أهل الله) لأن انشغالهم بالله كان ميزة لهم، كاشتغال أهل التجارة بالتجارة وانغماسهم فيها حتى سُمُّوا بالتجار، فالتسمى بـ (أهل الله) يوجب علينا أن يكون تخلقاً وليس تعلقاً، فالتخلق يوجب عليك أن تكون مجتهداً فى كل صنوف العبادات، من صلاةٍ وصيامٍ وذكرٍ وتلاوةٍ للقرآن، وقيام السحر للتعبد، فالكيس من دان نفسه، كما قال (الكيس من دان نفسه وعمل لما بعد الموت)[22] وكذلك المعاملات من حسن أدب ورحمة فى تعامل وعون لكل من قصدك، بغض النظر عن نسبه ودينه وجنسه.<br />
واعلم أنك حين تلاقى ربك تُسأل عن شبابك فيما أفنيته، فَتَجَهز وشمر ساعدك قبل فوات الأوان واعمل لدنياك لتحصيل قوتك، ولا تنظروا إلى من هو أعلى منك فى المعيشة كى لا تسخط نعمة ربك، ولتعلموا أن خدمة الأهل والحى والمجتمع هو من أساس الدين، فلا تبخلوا على مجتمعاتكم بصحتكم ووقتكم فإن رفعة البلاد تقوم دائما على سواعد الشباب، ولا تمنعكم بعض الظروف السياسية أو الاقتصادية من العطاء لمجتمعاتكم فإن ما تبنيه اليوم فلا شك أن ولدك وحفيدك ممن يَسْعَدُ بما بناه سواعد الأباء والأجداد، ويقول سيدنا رسول الله (إن قامت الساعة وفى يد أحدكم فسيلة، فإن استطاع أن لا يقوم حتى يغرسها فليغرسها)[23].<br />
وليعلم كل من اختصه الله بخدمة هذه الطريقة بماله أو بوقته أو بنفسه، أن هناك ثوابت للخدمة أهمها (نكران الذات) فالفلاح كل الفلاح فى نكران الذات، وليحمد المولى سبحانه على استعماله فى الخير دون غيره من الآلاف بل والملايين، ولقد ضرب مشايخنا المثل الأعلى فى هذا المضمار، فالتصوف فى الماضى كان يقوم على أخذ العهد والإرشاد مباشرة من شيخ الطريقة، ولكننا نجد العجب كل العجب فى طريقة (محض الفضل) التى لا تشترط على المريد أى شروط، غير الاجتهاد فى الذكر والصلاة على الحبيب، ورَفعت كل التكاليف عنه غير الاحترام المتبادل، والأدب مع شيخه تأدبه مع والده بغير تكلف، بل وأعطت المريد الذى أخذ عهده حديثاً أن يعطيه لغيره ويرشده فيما أخذ من أوراد.<br />
ولذا .. فإن (حب التَرَأُّسْ والظهور) مرض بغيض وآفة من آفات الشيطان، كما أن (حب الرياسة) يجعل الإنسان يمد أطرافه كالأخطبوط ليستحوذ على ما فى أيدى الإخوان من مجالات الخدمة، فلا هو يُحسن العمل المنوط به، بل ويُعرقل باقى الأبواب، فيجانب بفعله الصواب.<br />
ولكن الأفضل أن يقوم خير قيام بما بين يديه، ليتقنه وينافس منافسة شريفة مع باقى المجالات الخدمية، لتظهر الطريقة فى أبهى حللها، لأنه نسيج منها وليس كل نسيجها، بل هو جزء صغير متقن يؤدى إلى الانسجام التام مع باقى الأجزاء الخدمية، لكن مَن تَدخل فى أمرٍ لم يُوكل إليه فإنه نغمةٍ شاذةٍ ونسيجٍ غير منسجم، ولكن التناصح فى الله باب غير مسدود لتعين أخوك على آداء خدمته بتلطفٍ غير تسلطٍ وبشحذ العزائم لا بتثبيط الهمم وتدبير المكائد.<br />
إخوانى وأخواتى .. أبنائى وبناتى ..<br />
لقد رفع رسول الله شعار (أنا النبى لا كذب أنا بن عبد المطلب)[24] فى غزوة حنين، وكان بعده الصحابة فى غزوة اليمامة الذين رفعوا شعار (وا محمداه) حتى حققوا النصر، ونحن بمضى السنين كان أول ما رفعناه شعاراً وارتفعنا به مساراً الاسم (الله) لنستبين الطريق للسير إليه، فهو الغاية لكل السالكين على هدى سيد الواصلين والمرسلين .. وكما أعلمنا وأعاننا أبو العونين بإرشاده أن (الْعِلْمُ بِالذِّكْرِ لاَ يَنْفَكُّ مُقْتَرِنَا) فكان عطاءه سيدى فخر الدين يغرد ويردد (الْعِلْمُ شَأْنِى وَالْمُعَلِّمُ قُدْوَتِى) فكان السير خلف القدوة بالعلم والذكر حتى صرنا (بِمَا جَاءَ النَّبِىُّ غَدَا هَوَانَا) ولما عدا العادون وأنكر المنكرون فكان منا الصفح الجميل، لأن (إِمَامُنَا الْمُصْطَفَى وَالصَّفْحُ شِيمَتُنَا) فأفاض الله علينا من فيض فضله، ومداد كلماته فـ (مَنَحَ الْمُصْطَفَى وَتَمَّ الْعَطَاءُ) فانتشر الطريق وازدهر، وازداد إقبال الناس ولم ينسوا يوماً أن (قَوَامُ طَرِيقَ الْقَوْمِ حُبٌّ وَطَاعَةٌ) والعبادات والمعاملات تؤسَس على النية فإنما الأعمال بالنيات (وَالدِّينُ عِنْدَ اللهِ حُسْنُ الْمَقْصِدِ) وحنت القلوب إلى الحبيب فتجهزنا والإبل كثير، وفى كل مائة، راحلة (وَإِلَى رَسُولِ اللهِ شَدُّ رِحَالِنَا) وما العيش إلا عيش الآخرة فاغفر للأنصار والمهاجرة، هكذا قال ابن رواحة وبالفعل (عَاشَ رَغْدًا مَنْ سَعَى نَحْوَ الْحِمَى) وقد أردنا بها وجه الله الكريم فى ظل ﴿وَاصْبِرْ نَفْسَكَ﴾[25] فصارت (لاَ تَغِيبُ الشَّمْسُ عَنْ عُودٍ لَنَا) وصار (وَكُلُّ نُورٍ لَنَا مِنْ نُورِهِ قَبَسٌ) وكان الفرح بفضل الله، كما كان فرح شيخنا بعدها بلقاء الله، بعدما تلظى بأسماء الصفات فـ (بِفَضْلِ اللهِ يَفْرَحُ كُلُّ عَبْدٍ) وكما وصف الحبيب آل محمد آل الصفا والوفا، فعلى النهج نسير بوصفه (عِبَادُ اللهِ قَوْمٌ فِى صَفَاءٍ) فكان صفاء ولا ماء ولطف ولا هوا بل نور فوق نور و(كُلُّ شُعَاعٍ مِنْ بَنِى النُّورِ وَاصِلٌ) وكما أخبرت ياسين، فلا زيتون وتين، ولا طور سيناه بل (رَبٌّ رَحِيمٌ رَبُّهُ سَمَّاهُ) وبأهل بدر الذين اطّلع عليهم ربهم وقال لهم: لكم ما شئتم مع غفراننا (إِلاَّ الْمَوَدَّةَ مَا سَأَلْنَا حِبَّنَا) أو ﴿أَلَيْسَ اللَّهُ بِكَافٍ عَبْدَهُ﴾[26] والحبيب تَكْتَنِفُنا شفاعته (اللهُ كَافٍ وَالنَّبِىُّ كَفَانَا) وقد قال الحبيب لصاحبه (زاهراً باديتنا ونحن حاضروه)[27] وحقا (حَضَراً حَلَّ كَمْ بَدَا بِبَوَادِى) وكل ما كان من خير وبر وكل ما نرتجى من جود وعطاء، إنما هو بفضل حلال العقد فهو المأمول عندنا وسره عند شيخنا أن ..<br />
كُلُّ رَاجٍ يَرْتَجِيهِ لا يُرَدْ<br />
وصلى اللهم على سيدنا محمد وعلى آله وصحبه وسلم<br />
والسلام عليكم ورحمة الله تعالى وبركاته ... وكل عام وأنتم بخير<br />
</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
