﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء السادس من شهر أبريل عام 2011</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				</p>
<p>الأحباب من كل مكان .. السلام عليكم ورحمة الله تعالى وبركاته<br />
 الحمد لله المريد الودود الذى أراد الوجود فأراده وسار إليه الوجود، المتجلى بجماله فتودد إليه كل موجود، والمتجلى بجلاله فاشتاق إليه كل مفقود، والمتجلى بكماله على أشرف كل موجود، وصلى عليه وملائكته بكل مدد ممدود، وآل وصحب سفن النجاة فى بحر الصفا والسعود حتى ما بعد اليوم الموعود، وشاهد ومشهود.<br />
.. وبعد ..<br />
إخوانى وأخواتى أبنائى وبناتى ..<br />
إن الحق سبحانه وتعالى خلق الوجود من باب الإرادة، والإرادة هنا من الريد أى الحب، فكان هذا الحب هو أول العلاقة بينه سبحانه وتعالى وبين مخلوقاته، قبل أن تكون ربوبية وعبودية، التى أتت منها العلاقات التعبدية، فعلاقة الحب بين الخَلق والخالق لها الأقدمية والأفضلية، وقد ذُكرت فى كثير من النصوص التى يتغافل عنها الناس، ويقصرون علاقتهم على الأوامر والنواهى والزجر والتجبر، حتى أنهم استخدموا الأسماء الإلهية على مَنحى الجلال، وهى من أسماء الجمال مثل الاسم (الجبار) الذى نسبوه إلى الجبروت والتجبر ونسوا أنه جبار الكسور وجابر كسر كل قلب منكسر أو مكسور.<br />
ألم يقل الودود الرحيم فى كتابه الكريم ﴿....فَسَوْفَ يَأْتِى اللَّهُ بِقَوْمٍ يُحِبُّهُمْ وَيُحِبُّونَهُ﴾1 وقال أيضا ﴿... وَالَّذِينَ آَمَنُوا أَشَدُّ حُبًّا لِلَّهِ﴾2 وخاطب نبيه سيدنا موسى عليه السلام بقوله ﴿...وَأَلْقَيْتُ عَلَيْكَ مَحَبَّةً مِنِّى وَلِتُصْنَعَ عَلَى عَيْنِى﴾3 وقال الحبيب المحبوب (لا يؤمن أحدكم حتى يكون الله ورسوله أحب إليه مما سواهما).<br />
إن الله جل وعلا جعل الحب والفوز برؤية وجهه الكريم، هو نهاية المطاف للمحبين السائرين إليه، وأمر حبيبه أن يصبر نفسه معهم، بينما جعل الجنة نهاية مطاف العمل الصالح، ولقد أوضح الحديث القدسى أن الله يحب عبادة العامل بالعبادات فقال سبحانه [وما تقرب إلى عبدى بشئ أحب إلى مما افترضت عليه] كما يحب المتعبد بالزيادات فقال [وما يزال عبدى يتقرب إلى بالنوافل حتى أحبه] فالدين حُبًّا لله ولرسوله والدين أيضاً الائتمار بالأوامر واجتناب النواهى ولا يلغى أحدهما الآخر، ولكن المضمون هو دين الحب الذى يعينك على تنفيذ الأوامر والبعد عما نهى الله عنه.<br />
وقد قال (ما فضلكم أبو بكر بكثرة صلاة ولا بكثرة صيام) وفى رواية (ولا فتوى لكن بشئ وقر فى صدره وفى رواية وقر فى القلب)4 أى سكن فيه وثبت.<br />
وعن سيدنا أنس أن رجلاً سأل النبى عن الساعة فقال متى الساعة فقال (وما أعددت لها؟ قال لا شئ إلا أنى أحب الله ورسوله، فقال أنت مع من أحببت) قال أنس فما فرحنا بشئ فرحنا بقول النبى (أنت مع من أحببت)5 قال أنس فأنا أُحب النبى وأبا بكر وعمر، وأرجو أن أكون معهم بحبى إياهم وإن لم أعمل أعمالهم.<br />
وأن من السبعة الذين يظلهم الله بظله يوم الحساب إثنان تحابا فى الله إجتمعوا عليه وافترقوا عليه، وتلك هى الأخوة فى الحب التى قال فيها الإمام على"رب أخ لك لم تلده أمك" وقال رسول الله (لا يؤمن أحدكم حتى يحب لأخيه ما يحب لنفسه)6.<br />
وأوصى رجل من الحكماء أخاً له فقال: إى أخى .. آخِ أهل المروءة الذى إن غبت خلفك، وإن حضرت كنفك، وإن لقى لك صديقاً استزاده، وإن لقى لك عدواً كف عنك معرته، وإن رأيته ابتهجت به، وإن ناسبته استرحت.7<br />
تلك هى الأخوة الحقة، فماذا عن الصاحب أو الصديق وهو الخليل، قال رسول الله (المرءُ على دِين خليله، فلينظرْ أحدُكُم مَن يُخَالِلْ)8.<br />
فالخليل هو الصديق، من المخاللة، أى المصادقة، وأصله من الخِلَّة: وهى الصداقة، أو من الخَلَّة: أى الحاجة، كأن كل واحد منهما يسد خَلة صاحبه، أى يكفيه فقره وحاجته.<br />
وعن السائب بن عبد الله قال: جِئ بى إلى النبى يوم فتح مكة، جاء بى عثمان بن عفان وزهير، فجعلو يثنون علىّ، فقال لهم رسول الله (لا تعلمونى به، قد كان صاحبى وهو فى الجاهلية)، قلت: نعم يا رسول الله فنعم الصاحب كنت. قال: (يا سائب، انظر أخلاقك التى كنت تصنعها فى الجاهلية فاجعلها فى الإسلام، أَقْرِ الضيف، وأكرم اليتيم، وأحسن إلى جارِك)9.<br />
أيها الأحباب ..<br />
إن من الحب لله ولرسوله حبك لأهلك وأصحابك وإخوانك ومجتمعك، كما أن حب الوطن من الإيمان، ونحن هنا نتوجه إلى كل شاب فى كل مكان، ونخص شباب أمتنا العربية والإسلامية بقولنا "إن حرصكم على حريتكم والتعبير عن رأيكم حق لا مِراء فيه، ولكن هناك فارق شاسع بين الحرية والفوضى، وحرية التعبير والتخريب والتدمير، لا تجعلوا الإحساس بالظلم أو الغبن عُذرا للقتل والإحراق لممتلكات الناس أو المؤسسات، حكومية كانت أو خاصة، إرتقوا بأفعالكم كما ارتقيتم بأفكاركم ولا تخربوا دوركم بأيديكم، وهيهات هيهات لتصفية الحسابات فإنها أرذل الآفات".<br />
إخوانى وأخواتى أبنائى وبناتى ..<br />
يقول الحق تبارك وتعالى فى محكم تنزيله ﴿قُلْ مَنْ حَرَّمَ زِينَةَ اللَّهِ الَّتِى أَخْرَجَ لِعِبَادِهِ وَالطَّيِّبَاتِ مِنَ الرِّزْقِ قُلْ هِى لِلَّذِينَ آَمَنُوا فِى الْحَيَاةِ الدُّنْيَا خَالِصَةً يَوْمَ الْقِيَامَةِ كَذَلِكَ نُفَصِّلُ الْآَيَاتِ لِقَوْمٍ يَعْلَمُونَ﴾10.<br />
قد بدأت الآية الكريمة من الكتاب العزيز باستفهام إستنكارى، يقول الحق: من ذا الذى ينكر أو يحرم ﴿زِينَةَ اللَّهِ﴾ وهى كل ما يُتجمل به من الثياب وغيرها ﴿الَّتِى أَخْرَجَ لِعِبَادِهِ﴾ من النبات كالقطن والكتان، أو من الحيوان كالصوف والوبر والحرير، ﴿وَالطَّيِّبَاتِ مِنَ الرِّزْقِ﴾ أى المستلذات من المأكل والمشرب والمنكح.<br />
وبه رد الإمام مالك بن أنس على من قال له إتق الله يا مالك فإنك تلبس الرقيق وتأكل الرقاق، فرد عليه: ﴿قُلْ هِى لِلَّذِينَ آَمَنُوا فِى الْحَيَاةِ الدُّنْيَا﴾ ويشاركهم فيها الكفار، ويوم القيامة تكون خالصة للمؤمنين دون غيرهم.<br />
وقد اهتم الناس بالأحاديث والآيات وأقوال العلماء فى ذم الدنيا، وتركوا كل شئ مدحها حتى آوى الناس إلى الكسل وترك العمل، ولكنا نستعرض النصوص التى تحدثت عن الوجه الجميل للدنيا، والحث على العمل فيما يرضى الله ورسوله وهو قوله (الدنيا حلوة خضرة، فمن أخذها بحقها بورك له فيها)11.<br />
فهل حق الدنيا هو القعود عن العمل فيها بدعوى التفرغ للذكر، ومن أين تكتسب قوتك الذى بدونه تنشغل عن الذكر؟! هل تسأل الناس ليعطوك بدعوى أنك من الذاكرين، فهذا سيدنا سلمان الفارسى الذى رفض أن يسكن فى إيوان كسرى، بعد أن صار أميراً على بلاد فارس بعد الفتح، يراه الناس فى السوق يحمل أصنافا ًمن الطعام والشراب والملبس فيسألونه أين الزهد؟ فيقول أحمل هذا كى تطمئن النفس فلا تشغلنى عن العبادة.<br />
وكان النبى جالساً مع أصحابه فنظروا إلى شاب ذو جلد وقوة وقد بَكر يسعى، فقالوا ويح هذا لو كان شبابه وجلده فى سبيل الله، فقال (لا تقولوا هذا فإنه إن كان يسعى على نفسه ليكفها عن المسألة ويغنيها عن الناس فهو فى سبيل الله، وإن كان يسعى على أبوين ضعيفين أو ذرية ضعاف ليكفيهم ويغنيهم فهو فى سبيل الله، وإن كان يسعى تفاخراً أو تكاثراً فهو فى سبيل الشيطان)12.<br />
وعن أبى هريرة قال سُبَّت العَجم بين يدى النبى فنهى عن ذلك وقال (لا تَسُبُّوها فإنها عمرت بلاد الله فعاش فيها عباد الله)13.<br />
وعن سيدنا عمرو بن العاص قال: بعث إِلَىَّ النبى فأمرنى أن آخذ على ثيابى وسلاحى ثم آتيه، ففعلت فأتيته وهو يتوضأ، فَصَعَّد إلىَّ البصر ثم طأطأ ثم قال: (يا عمرو إنى أريد أن أبعثك على جيش فيغنمك الله، وأرغب لك من المال رغبة صالحة)، قلت إنى لم أُسلِم رغبة فى المال، إنما أسلمت رغبة فى الإسلام فأكون مع رسول الله ، فقال (يا عمرو نعم المال الصالح للمرء الصالح)14.<br />
وها نحن مع باب مدينة العلم ودار الحكمة الإمام على ليصف لنا الدنيا فيقول "الدنيا دار صدق لمن صدقها، ودار عافية لمن فهم عنها، ودار غِنَى لمن تَزَوّد منها، الدنيا مسجد أحِبّاء الله، ومُصلى ملائكة الله، ومَهبط وحيه، ومَتْجَر أوليائه، اكتسبوا فيها الرحمة، وارِبحوا فيها الجنة، ومن ذا يذمها وقد آذنت ببينها، ونادت بفراقها، ونعَتْ نفسها وأهلها، ومثلت لهم ببلائها البلاء، وشوقت بسرورها إلى السرور، وراحت بفجيعة، وابتكرت بعافية؛ تحذيراً وترغيباً وتخويفاً، فَذَمّها رجال غبَّ الندامة، وحمدها آخرون غب المكافأة، ذكرتهم فذكروا تصاريفها، وصدقتهم فصدقوا حديثها، فيا أيها الذامُ للدنيا المغتر بغرورها، متى استدامت لك الدنيا؟ بل متى غرّتك من نفسها؛ أبمضاجع آبائك من البلى؟ أم بمصارع أمهاتك من الثرى؟ كم قد عللت بكفك ومَرضْتَ بيدك من تبغى له الشفاء وتستوصف له الدواء من الأطباء! لم تنفعه بشفائك، وقد مثلت ذلك به الدنيا نفسك، وبمصرعه مصرعك: غداً لا ينفعك بكاؤك، ولا يغنى عنك أحِبِّاؤك"15.<br />
وبعد أن ذكرنا بعض ما ورد فى آى الكتاب، وتفصيل السنة وفِعْل الأصحاب، فنحن أمام صحابى من حكماء العرب، الذى تعلم منه كثير من الصحابة والتابعين الحكمة، وهو قيس بن عاصم، إِذْ كان مما قال لَمَّا حضرته الوفاة "... وَعَلَيْكُمْ بِاصْطِنَاعِ الْمَالِ، فَإِنَّهُ مَنْبَهَةٌ لِلْكَرِيمِ، وَيُسْتَغْنَى بِهِ عَنِ اللَّئِيمِ، وَإِيَّاكُمْ وَالْمَسْأَلَةَ، فَإِنَّهَا آخِرُ كَسْبِ الرَّجُلِ، وَلا تُنَوّحُوا عَلَىّ، فَإِنَّ رَسُول الله صلى الله عليه وسلم لَمْ يُنَحْ عَلَيه"16.<br />
ومما تقدم فإن الفهم يقتضى أن الدنيا مذمومة وممدوحة تبعاً لحال الإنسان فيها، لا لذاتها وكنهها، وحال الإنسان فيها مَنوطٌ بحال قلبه الذى تَتْبعُهُ الجوارح، فقوله عز وجل ﴿أَفَلَمْ يَسِيرُواْ فِى الأَرْضِ فَتَكُونَ لَهُمْ قُلُوبٌ يَعْقِلُونَ بِهَا﴾17 هذا يدل على أمرين: أن العقل علم، وأن محله القلب، قال مجاهد: لكل إنسان أربع أعين: عينان فى رأسه لدنياه، وعينان فى قلبه لآخرته، فإن عميت عينا رأسه وأبصرت عينا قلبه لم يضره عَمَاه شيئاً، وإن أبصرت عينا رأسه وعميت عينا قلبه لم ينفعه نظره شيئاً.18<br />
وكما قال سيدى فخر الدين "حالة القلب إما هَم أو هِمّة، فإذا كان القلب مغلفاً بالهم، كانت جوارحه مشغولة بالتكاثر مالاً وولداً، للإفتخار والإستكبار وشُغِلَ بالسفاهة عن ذكر الله عز وجل، فعميت عيون قلبه، وإذا كان القلب مغلفاً بالهمة، يمتلئ القلب بحب النبى وأهل بيته وأصحابه وأولياء الله الصالحين، وشُغِلَتْ جوارحه بالذكر والصلاة على الحبيب، وأُعْطَى الفراسة لعيون قلبه".<br />
الحضور الكريم ..<br />
والآن جاء الدور على الخطاب الدينى وتوجيه الدعاة، فقد كثر الكلام عن تجديد وتطوير الخطاب الدينى، وما أصابه من جمود، مما أصابه بالتخلف عن المفاهيم، وعدم قدرته على استقطاب السامع واستيعاب البشر، والناظر المتأمل يجد أن بين أيدينا نفس النصوص، من آيات وأحاديث كان الدعاة الأُوَل يتحدثون بها، كما يتحدث بها الدعاة الآن، فلماذا لا تعطى نفس النتائج؟! بل الأعجب من هذا أنها تأتى بنتائج عكسية، تُنَفِّر الناس فَيَفِرُّون بدلاً مِنْ أن يستجيبوا!!<br />
فالعيب لا يمكن أن يلحق النص، حاشاه من العيب أو النقص، ولكن الأمر يتعلق بالداعية نفسه، وهذا يرجع بنا إلى ما بدأنا به خطابنا وهو حال قلبه، فليسأل كلٌ منا نفسه عن حال قلبه، هل هو الهم أم الهمة؟ هذا هو باطن الأمر، فماذا عن ظاهره؟ إننا لا نهاجم ولا ندافع ولكننا نريد إيضاح السبيل وعلى الله القصد ومنه الجود والمنة.<br />
إن النصوص المستخدمة فى الدعوة إلى الله، من آى الكتاب العزيز وأحاديث الذى لا ينطق عن الهوى، مقدمة على الفهم، أى أن الفهم والعقل يَتْبعُ النص، والفهم لابد أن يكون فهماً فقهياً وليس فهماً منطقياً، بمعنى أن الفقه مربوط بأسباب نزول، وناسخ ومنسوخ، ومحكم ومتشابه، ومطلق ومقيد، وما إلى ذلك من باقى علوم الفقه، كما أن هناك شئ يغفل عنه بعض الدعاة، وهو فقه الزمان والمكان وعقول المخاطبين.<br />
فالدين له وجوه عدة حينما تريد النظر إليه لا النظر فيه، فهو مراتب (إسلام وإيمان وإحسان) لمن أراد أن يرتقى فيه، و(فرائض ونوافل ومشاهدات) لمن أراد أن يأخذه بحقه، ثم أن الدين (عقائد وعبادات ومعاملات) لمن أراد أن يتفقه فيه ثم يدعو إليه.<br />
• العقائد فى الدين:<br />
هى الشهادة لله الذى ليس كمثله شئ يحيط بالزمان والمكان، ويسعهما بأسمائه وصفاته، ولا يسعها شئ من خلقه إلا قلب عبده المؤمن اللين الوادع، بأنه لا معبود بحق سواه، وأن سيدنا محمد هو عبده وأول خلقه، وخاتم رسله، والعقائد من الثوابت التى لا تتغير بتغير الزمان والمكان.<br />
• العبادات:<br />
تتغير بتغير الزمان والمكان، فالصلوات المفروضة خمس ولكن تختلف فى مواقيتها وعدد ركعاتها، بين حضر وسفر، وصحة ومرض، ووضوء وتيمم، وكذلك الصيام بين قدرة وطاقة، وسفر وحضر، وبلاد لا تغيب فيها الشمس، وبلاد لا تظهر فيها، واستخدام التوقيت بالساعات دون متابعة لطول الظل وقصره، أو النظر للشفق، كذلك يختلف وجوب الزكاة على المسلم بأنواعها، كاشتراط النصاب، ومرور الحول، وكذلك الحج وربطه بالإستطاعة.<br />
• المعاملات:<br />
كذلك تتغير الأحكام فى المعاملات كالبيع والشراء، والزواج والطلاق، والدَّين والميراث وما يتعلق به.<br />
وأين ما ملكت أيمانهم الآن؟ وهل الجهاد فريضة على كل مسلم الآن؟ وضد من؟ وتحت راية من؟<br />
كذلك الحديث عن الحلال والحرام، أليس تغير الظرف يجعل الحرام حلالاً فى حال الإضطرار والخوف من الهلكة؟ أليس الكذب على الأعداء فى حال الوقوع فى الأسر حلالاً؟!!<br />
لقد غير الإمام الشافعى فتاويه، فى نفس المواضيع التى أفتى بها فى العراق، بعد ذهابه إلى مصر والإقامة بين أهلها، وهو المشهور بالمذهبين الجديد والقديم، بل أننا نجد فى كل المذاهب، رأى صاحب المذهب وآراء المتقدمين والمتأخرين من تلامذته.<br />
أليس الدين كله واجبات ومندوبات ومستحسنات؟ أليس من واجب الداعية مراعاة هذا الأمر، وأن لا يرفع بالمستحسن إلى درجة الواجب؟ وماذا عن المؤلفة قلوبهم فى زماننا هذا؟ هل يُعاملون بنفس ما نتعامل به فى بلادنا دون مراعاة أنهم حديثى العهد بالإسلام؟<br />
يجب على الوعاظ والدعاة أن يتفقهوا بفقه النص، واستيعاب العقل له، وليس تطويع النص لمنطق العقل.<br />
 <br />
أيها الأحباب ..<br />
قال سيدى فخر الدين :<br />
فغدوا إخوة وعم الإخاء<br />
 <br />
نفع الله بالنفائس قوما<br />
فالإخاء يُبْعِد الفرقة ويقصى العداوة والبغضاء، وينبت ثمار المحبة فى القلوب، ويجعلها مستعدة للنقاء والصفاء، وقال الزمخشرى: محك المودة الإخاء حال الشدة دون حال الرخاء.<br />
وسَأَلَ يوما سيدنا على بن أبى طالب ابنه سيدنا الحسن عن الإخاء فأجابه قائلاً: المواساة فى الشدة والرخاء.<br />
ولنتذكر أول ما فعله المعلم الأول لهذه الأمة ، حينما قَدِم إلى المدينة، ومؤاخاته بين المهاجرين والأنصار، وقد روى أبو داود فى سننه أن النبى قال (الْمُسْلِمُ أَخُو الْمُسْلِمِ لاَ يَظْلِمُهُ وَلاَ يُسْلِمُهُ، مَنْ كَانَ فِى حَاجَةِ أَخِيهِ فَإِنَّ اللَّهَ فِى حَاجَتِهِ، وَمَنْ فَرَّجَ عَنْ مُسْلِمٍ كُرْبَةً فَرَّجَ اللَّهُ عَنْهُ بِهَا كُرْبَةً مِنْ كُرَبِ يَوْمِ الْقِيَامَةِ، وَمَنْ سَتَرَ مُسْلِمًا سَتَرَهُ اللَّهُ يَوْمَ الْقِيَامَةِ).<br />
ونظر يوما سيدنا أبو الدرداء إلى ثورين يحرثان فى فدان، فوقف أحدهما يحك جسمه فوقف الآخر، فبكى سيدنا أبو الدرداء وقال: هكذا الإخوان فى الله يعملان لله، فإذا وقف أحدهما وافقه الآخر.<br />
وقال إبراهيم النخعى لا تقطع أخاك ولا تهجره عند الذنب بذنبه، فإنه يرتكبه اليوم ويتركه غداً.<br />
وحُكِىَ عن أَخَوَيْن من السَلَف انقلب أحدهما عن الاستقامة، فقيل لأخيه ألا تقطعه وتهجره؟ فقال أحوج ما كان إلىَّ فى هذا الوقت، لما وقع فى عثرته أن آخذ بيده وأتلطف له فى المعاتبة وأدعو له بالعود إلى ما كان عليه.<br />
وقد قيل: من سامح سومح.<br />
ولعل أعظم ما نجنيه من ثمارٍ لتآخينا، أن التآخى هو شكرٌ للنعمة التى نحن فيها، فقد قال الإمام فخر الدين "والتآخى شكر نعمتنا".<br />
من كل ما تقدم ..<br />
فإن حبنا لسيدى فخر الدين الذى احتوانا بحبه فأحببناه واحتويناه، البعض منا وهو من عرف مسلك الحب احتواه بقلبٍ ساجد، والواحد صاحب الشهود والمشاهد احتواه بفؤاد شهيد وعلى قلوب الأحبة شاهد، ولَمَّا سُئل مولانا الشيخ إبراهيم عن معنى قول سيدى فخر الدين "فاسألوه النجاة من يوم حشر" قال: أى أحبوه (يحشر المرء مع من أحب) ونَخلُص من كل هذا إلى القول السديد:<br />
حوانى فؤاد شـاهد بالتجــلة<br />
 <br />
حوتنى قلوب تعرف الحب مسلكا<br />
وكل عام وأنتم بخير<br />
وصل اللهم على سيدنا محمد وعلى آله وصحبه وسلم<br />
والسلام عليكم ورحمة الله تعالى وبركاته</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
