﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء السادس من شهر أبريل عام 2012</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				</p>
<p>الحمدُ للهِ فى كمالِ أفعالهِ، جَلَّت أسماءُهُ وَتَقَدَّسَت صفاتُه، وتعالت ذاتُه عن كُلِّ وَهمٍ وفَهم، وعن كلِّ منقولٍ ومعقول، فله الحمد كما يليق بجلالِ وجهه وعظيمِ سلطانه، والصلاةُ والســلامُ تعظيماً لحضرةِ جناب نَبِيّه، وتفخيماً لشأنِ شرف صَفيّه، حَبِيبُهُ المصطفى المبعوث رحمة للعالمين، والهادى إلى الصراطِ المستقيمِ، وآله وصحبه الكواكب الدرية ذوى المفاخر السنية والأقدار العلية .. وبعد ..<br />
 <br />
الحضور الكريم ... السلام عليكم ورحمة الله وبركاته<br />
إن أول ما بُعِثَ بهِ الحبيبُ المصطفى ودعا الناسَ إليهِ هو "كلمة التوحيد" بل وظل ما يَقْرُب من اثنى عشر سنة يُرَغِّبُ الناسَ فيها، ونجد الآياتِ المكيةِ كانت على كلمةِ التوحيد مشتملات، ذلك لأن التوحيد هو ركن العقائد فى هذا الدين المتين، وبعد ذلك بدأ التنزيل الحكيم لتنظيم العبادات والمعاملات، يتخللها القَصص والحِكَمْ من السابقين، أنبياء ومرسلين وصالحين عليهم السلام أجمعين، والتوحيد ليس من النقاطِ الخلافية بين المذاهب على الإطلاق، و"كلمة التوحيد" ثابتة لا تتغير بأحكامِ الزمان والمكان كما أشرنا فى خطابِنا العام الماضى، ومما دعانا للرجوع إلى ذلك إنما هو تعمد البعض تغيير (كلمة التوحيد) بالكلية أو بالأحرى اختصارها وقصرها، ولنرجع بالتاريخ إلى أبو البشر سيدنا آدم ، فعن سيدنا عمر بن الخطاب قال: قال رسول الله : (لما اقترف آدم الخطيئة قال: يارب أسـألك بحق محمد إلا غفرت لى؟ فقال الله: يا آدم وكيف عرفتَ محمداً ولم أخلُقُهُ؟ قال: يارب لأنك لـمّا خلقتنى بيدك ونفخت فى من روحك، ورفعت رأسى فرأيت على قوائم العرش مكتوباً لا إله إلا الله محمد رسول الله، فعلمت أنك لم تضفْ إلى اسمك إلا أحب الخلق إليك، فقال الله: صدقت يا آدم، إنه لأحب الخلق إلىَّ، ادعنى بحقه فقد غفرتُ لك، ولولا محمد ما خلقتك)[1]<br />
أى أن كلمة التوحيد "لا إله إلا الله محمد رسول الله" وهى الباب الوحيد للدخول فى دين الإسلام، لكن بعض المتوهمين قصروا التوحيد على النصف الأول من الشـهادة، أى كلمة "لا إله إلا الله" بل وقسّموها إلى توحيد ربوبية وتوحيد ألوهية وتوحيد للأسماء والصفات، أى أنهم حذفوا النصف المكمِّل لكلمة التوحيد، ألا وهو "محمد رسول الله" وإذا قلنا معاذ الله بتوحيد الربوبية فمعنى ذلك أن هناك أرباب متعددة توحدوا فى رب واحد، وكذلك للألوهية أن هناك أكثر من إله وتم توحيدهم، وهذا هو الشرك بعينه، والتوحيد هو الجمع فى العقيدة بين الكلمتين لجعلهما كلمة واحدة متصلة غير منفصلة، فكلمة "لا إله إلا الله" وحدها "تهليل" أى ذكر الاسم "الله" منسوباً إلى الألوهية، وكلمة "محمد رسول الله" إقرار برسالة الحبيب المصطفى ، والتوحيد دائماً وأبداً هو الجمع بين الكلمتين فى كلمة واحدة، ألا وهى "كلمة التوحيد".<br />
فَيَا مُرِيدِى هُوَ التَّوْحِيدُ مَشْرَبُنَا<br />
 <br />
وَغَايَةٌ فِى صُـدُورٍ رَبُّهَا قَبِلَ<br />
 <br />
أبنائى وبناتى ..<br />
ننتقل بعد ذلك إلى أمرٍ شَغل العامة والخاصة، بل صالَ وجالَ فيهِ منْ هُمْ ليسوا بفرسان ذلك الميدان، ألا وهو "تعظيم الشعائر والحرمات" فقد قام بعض ذَوِى النفوس المريضة بالاعتداء على بعض مقامات ساداتنا ومشايخنا أولياء الله الصالحين، بل تطاول أقزام الباع والهمم فى ساحات المولد النبوى الشريف على القبة الخضراء ودعا إلى هدمها، ومما زاد الأمر أسفاً أن بعض المسئولين وصف ذلك بأنه "حرية رأى" وهذا القول قد رفضه كل العالم الإسلامى، حينما أراد أن يبرر رئيس الوزراء الدنماركى الرسوم المسيئة التى ظهرت بالصحف، بأنها "حرية رأى" فكيف نقبل ذلك من مسئول فى بلاد اشتهرت بين العالم الإسلامى بحب المصطفى ، ونقول للجميع إن تعظيم الشعائر والحرمات أمرٌ نص عليه الكتاب العزيز فقد قال تبارك وتعالى ﴿وَمَنْ يُعَظِّمْ شَعَائِرَ اللَّهِ فَإِنَّهَا مِنْ تَقْوَى الْقُلُوبِ﴾[2] فالكعبة والصفا والمروة من شعائر الله وتعظيمها يدل على تقوى القلوب، بل جعل الله احدى الأنعام من شعائر الله بقوله ﴿وَالْبُدْنَ جَعَلْنَاهَا لَكُمْ مِنْ شَعَائِرِ اللَّهِ﴾[3] وأولى بتلك الحرمة الصالحين وآثارهم، فعن سيدنا عَبْدُ اللَّهِ بنُ عُمَرَ قَالَ: (رَأَيْتُ رَسُولَ اللَّهِ يَطُوفُ بِالْكَعْبَةِ وَيَقُولُ: مَا أَطْيَبَكِ وَأَطْيَبَ رِيحَكِ، مَا أَعْظَمَكِ وَأَعْظَمَ حُرْمَتَكِ، وَالَّذِى نَفْسُ مُحَمَّدٍ بِيَدِهِ لَحُرْمَةُ الْمُؤْمِنِ أَعْظَمُ عِنْدَ اللهِ حُرْمَةً مِنْكِ، مَالِهِ وَدَمِهِ وَأَنْ نَظُنَّ بِهِ إِلا خَيْرًا)[4] أى أن حرمة المؤمن عند الله أعظم من الكعبة، فما بالكم بحرمة الصالحين الصديقين الذين هم فى أعلى مراتب الإحسان؟ وما بالكم بحرمة الأنبياء، ثم حرمة الرسل الكرام، وأعلى من ذلك حرمة أولى العزم.<br />
وأخيراً فما بالكم بحرمة سيد الخلق أجمعين والهادى إلى الصراط المستقيم سيدنا محمد المبعوث رحمة للعالمين.<br />
فكيف يجترأ أُناس على قباب الأولياء الذين حَرَّم الله عداوتهم، بل بَرَزَ لحربِ مَنْ حاربهم، ألم يقل فى حديثهِ القدسى [مَنْ عَادَى لِى وَلِيًّا فَقَدْ آذَنْتُهُ بِالْحَرْبِ]؟[5] ألم يقل ﴿وَمَنْ يُعَظِّمْ حُرُمَاتِ اللَّهِ فَهُوَ خَيْرٌ لَهُ عِنْدَ رَبِّهِ﴾[6] فما بالكم بحرمة رسول الله وحرمة قبته الشريفة؟ أَوَصل الأمر فى آخر الزمان إلى هذا الحد، بالمطالبة بهدمها، أيظنون أن الحق ليس له أهل يزودون عنه بسواعدهم ورقابهم ودمائهم؟ بل انظروا إلى قول الحق تبارك وتعالى ﴿وَقَالَ لَهُمْ نَبِيُّهُمْ إِنَّ آيَةَ مُلْكِهِ أَن يَأْتِيَكُمُ التَّابُوتُ فِيهِ سَكِينَةٌ مِّن رَّبِّكُمْ وَبَقِيَّةٌ مِّمَّا تَرَكَ آلُ مُوسَى وَآلُ هَارُونَ تَحْمِلُهُ الْمَلآئِكَةُ﴾[7] قال أهل التفاسير: أنهم كانوا إذا قاتلوا أحداً مِنَ الأعداء، يكون معهم "تابوت الميثاق" فكانوا يُنصرون ببركتهِ، وبما جَعَلَ الله فيهِ مِنَ السكينة، والبقية مما ترك آلُ موسى وآلُ هارونَ هى: عصا وثياب ونعلا سيدنا موسى وسيدنا هارون، ولوحين من التوراة، فانظروا أيها الأحبة بما يُنصرون على الأعداء، فحقاً صلوات ربى وسلامه عليه "سَيِّدًا":<br />
سَيِّدًا لَمْ تَزَلْ وَغَيْرُكَ زَالُوا<br />
 <br />
وَجَمِيعًا إِلَى جَنَـابِكَ آلُوا<br />
 <br />
أبنائى وبناتى ..<br />
نعرج بعد هذا على أمرٍ مِنْ الأمورِ الحَيَاتِيّةِ المهمةِ فى الدين وهو أمر الشورى، فالبعض قد ربط مفهومَ الشورى بمفهومِ الديمقراطية الحديثة، وهذا خلطٌ بين المعقول والمنقول، فالديمقراطية تعنى أن لكل فرد حق فى إبداء رأيه، فإن سَلَّمنا بصحة هذا المفهوم، فلابد أن نُمَيِّزَ بين إبداء الرأى وفرض الرأى، ومع ذلك فالشورى بخلاف ذلك، لأن المشاورة تبدأ مِنْ وَلِىِّ الأمر الذى يَطرحُ الأمرَ للشورى أولاً، وثانياً يشاور أهلَ الاختصاص وليس كل الجماعة، وثالثاً يقرر وحده حتى ولو كان القرار بخلاف رأى المستشارين، ولنوضح ذلك فيما يلى ﴿فَبِمَا رَحْمَةٍ مِنَ اللَّهِ لِنْتَ لَهُمْ وَلَوْ كُنْتَ فَظًّا غَلِيظَ الْقَلْبِ لانْفَضُّوا مِنْ حَوْلِكَ فَاعْفُ عَنْهُمْ وَاسْتَغْفِرْ لَهُمْ وَشَاوِرْهُمْ فِى الأَمْرِ فَإِذَا عَزَمْتَ فَتَوَكَّلْ عَلَى اللَّهِ إِنَّ اللَّهَ يُحِبُّ الْمُتَوَكِّلِينَ﴾[8] هذا نص الشورى فى الكتاب الكريم، فإن الشورى أمر يُقَرِّبُ الناسَ مِنَ الخليفةِ، مِنْ بابِ الرحمة واللين، وهو الذى يشاورهم وليسوا هم الذين يفرضون عليه الأمر، ولنراجع معاً هذا الموقف من السنة المطهرة فى غزوةِ بدر الكبرى، حينما جَاءَ النبىُّ ونَزَلَ عِنْدَ أوَّل بئر، وجَاءَ الحبابُ بن المنذر وقال: يا رسول الله أَمَنْزِلٌ أَنْزَلَكَهُ اللهُ فلا قول لأحد، أم هى الحرب والمكيدة؟ قال (لا، بل هى الحرب والمكيدة) فلو قال الحبيب هو أمرٌ بَطُن، فما كان للحبابِ أن يتكلمَ، بل قال "نَنْزِلُ قبل البئر نشربُ منها ونمنعهم" بعد أن فتح له رسول الله باب المشورة.<br />
الأمر الثانى: أن الشورى تكون لأهل الاختصاص، كما كان فى غزوةِ الأحزاب، حينما قال المصطفى ﴿حَتَّى أُشَاوِرَ السُّعُودَ﴾ أى سادة أهل المدينة، لأنهم أهل الدار وأدرى بأحوال ديارهم، ولم يشاور المهاجرين.<br />
الأمر الثالث: فالشورى غير ملزمة لأن الآية لم تقلْ "وإذا عزمتم فتوكلوا" بل جَاءَ الأمرُ بالإفراد ﴿... فَإِذَا عَزَمْتَ فَتَوَكَّلْ عَلَى اللَّهِ إِنَّ اللَّهَ يُحِبُّ الْمُتَوَكِّلِينَ﴾[8] وهكذا نجد الصديق أوَّل خلافته حينما بدأت أخبار الردة تتوارد على المدينة، اجتمع كبار الصحابة وقرروا عدم إنفاذ جيش أسامة بن زيد إلى تخوم الروم وأرسلوا سيدنا عمر بن الخطاب بقرارهم إلى الخليفة أبو بكر بمشورة وقرار الصحابة، فما كان من الصديق إلا أن مضى فيما عزم عليه الأمر وهو محاربة المرتدين.<br />
إن مفهومَ سنة الخلفاء الراشدين مفهوم فقهى لذلك قال (عَليْكُمْ بسُنَّتِى وسُنَّةِ الخُلَفاءِ الرَّاشِدِينَ المَهْدِيِّيِنَ عَضُّوا عَلَيْهَا بالنَّواجِذِ)[9] بمعنى أن العضَّ بالنواجذِ يكون على سنةِ الخليفة الذى أنت فى عصرِهِ، وعدم الاعتراض عليه بحجة التمسك بسُنة مَنْ سَبَقَهُ مِنَ الخلفاء، وللتدليل على صحة هذا المفهوم نجد أن رسول الله لم يأمر الناس بصلاة القيام فى المسجد، بل قال (خَشِيتُ أَنْ تُفْرَضَ عَلَيْكُمْ فَتَعْجِزُوا عَنْهَا)[5] ومضى على تلك السُنة الخليفة الأوَّل، ولكن الخليفة الثانى جمع الناس لها بالمساجد بل وزاد فيها، فهل سيدنا عمر مخالف لسُنة من قبله؟!!<br />
ولَمَّا رجع سيدنا عبد الله بن مسعود مِنَ الشامِ، فى خلافةِ سيدنا عثمان ، فطاف بالبيت وصلى ركعتين، فقال له رجل: إن عثمان يصلى أربع بعد الطواف، فاسترجع ابن مسعود وقال: كنا نصلى ركعتين على عهد رسول الله وأبو بكر وعمر، ثم قام فأتم أربع ركعات.<br />
وهذا سيدنا خالد بن الوليد سيف سَلَّهُ رسولُ الله على أعداء الله، وجاهد فى الله وفُتِحَت البلادُ على يَدَيْهِ، وعزله الفاروق دون إبداء الأسباب ولم يشاور أحداً، وأرسل له سيدنا أبو عبيدة بن الجراح ليعزلَهُ، ويُقَسّمْ عليهِ مالهُ الذى هو مغانمه، فنجد أن سيدنا خالد يقول السمع والطاعة.<br />
نَزَلَ الصَّحَابَةُ عِنْدَ حُكْمِ مَلِيكِهِمْ<br />
 <br />
غَنِمُوا وَكَانَ الرِّفْـدُ وَالإِرْفَادُ<br />
 <br />
أبنائى وبناتى ..<br />
يقولُ الحقُّ تباركَ وتعالى فى محكمِ آياته ﴿وَلْتَكُنْ مِنْكُمْ أُمَّةٌ يَدْعُونَ إِلَى الْخَيْرِ وَيَأْمُرُونَ بِالْمَعْرُوفِ وَيَنْهَوْنَ عَنِ الْمُنْكَرِ وَأُولَئِكَ هُمُ الْمُفْلِحُونَ﴾[10] ولذلك إذا أردت أن تكون مِنَ المفلحين فلابد أن تتفاعل مع المجتمع الذى تعيش فيه، سواء كان صغيراً كالأسرة والقرية أو الحى، أو كان كبيراً كالدولة بل والعالم بأسرهِ، ولا تكن مشاركتك كلامية فقط بالنقد أو المدح أو ادّعاء انشغالك بالعبادة عن أحوالِ الناس.<br />
يقول رَسُولُ اللَّهِ (لا تكونوا عيابين ولا مداحين ولا طعانين ولا متماوتين)[11] والمُتَماوِتُ: من صفةِ العابد المُرائِى.<br />
ولا تدعى انشغالك بالنهى عن المنكر بتتبع عورات الناس لتفضحهم وتكشف ما ستره الله، فعن ابن عمر قال: (صَعِدَ رَسُولُ اللَّهِ الْمِنْبَرَ فَنَادَى بِصَوْتٍ رَفِيعٍ فَقَالَ يَا مَعْشَرَ مَنْ أَسْلَمَ بِلِسَانِهِ وَلَمْ يُفْضِ الإِيمَانُ إِلَى قَلْبِهِ لا تُؤْذُوا الْمُسْلِمِينَ وَلا تُعَيِّرُوهُمْ وَلا تَتَّبِعُوا عَوْرَاتِهِمْ فَإِنَّهُ مَنْ تَتَبَّعَ عَوْرَةَ أَخِيهِ الْمُسْلِمِ تَتَبَّعَ اللَّهُ عَوْرَتَهُ وَمَنْ تَتَبَّعَ اللَّهُ عَوْرَتَهُ يَفْضَحْهُ وَلَوْ فِى جَوْفِ رَحْلِهِ)[12].<br />
ولا تكن ممن لا يثبت على رأى، فيكون مرة مع هذا، ومرة مع ذاك، وذلك لضعف رأيه، فقد نهى الحبيب عن تلك الفعلة فقال (لا تَكُونُوا إِمَّعَةً، تَقُولُونَ إِنْ أَحْسَنَ النَّاسُ أَحْسَنَّا وَإِنْ ظَلَمُوا ظَلَمْنَا، وَلَكِنْ وَطِّنُوا أَنْفُسَكُمْ إِنْ أَحْسَنَ النَّاسُ أَنْ تُحْسِنُوا وَإِنْ أَسَاءُوا فَلا تَظْلِمُوا).<br />
وعلى الإنسان أن يخرج من أنانيته والعيش لنفسه فقط دون أن يكون إيجابياً وفعالاً، فعن سيدنا حذيفة t قال قال رسولُ الله (مَنْ لم يهتمْ بأمرِ المسلمين فليس منهم ومَنْ لم يصبحْ ويمسِ ناصحاً للهِ ولرسولهِ ولكتابهِ ولإمامهِ ولعامةِ المسلمين فليس منهم)[13].<br />
فالإنسان لابد أن يكون فى خدمة المجتمع وليس لذاته فقط وأن يعمل مِنْ أجل المبادئ الإنسانية الخيِّرة فى شتى المجالات حسب تخصصه، فالطبيب لماذا لا يُخصص ساعات من وقته للكشف ووصف الدواء لسكان حيِّه دون مقابل، والمدرس لماذا لا يساعد الطلبة من أبناء قريته بدون مقابل، والأمثلة على ذلك كثيرة.<br />
ولنوسع الدائرة أكثر، ماذا عن النساء والأطفال الذين يُقتلون فى مناطق عديدة من العالم فى الحروب العِرقية أو العنصرية الدينية، لماذا لا نساعد فى إسكانهم ومطعمهم وملبسهم، بل لماذا لا نقوم برفع المستوى الثقافى عند المرأة فى تلك المناطق المتخلفة حضارياً، لتتبنى هى بعد ذلك تثقيف أطفالها ضد العنصرية البغيضة، سواء كانت عِرقية أو دينية، فإن معظم هذه الحروب تقوم على أساس يَخفى عن المتحاربين أنفسهم، فالنار يُشعلها أصحاب المصالح الاقتصادية وتجار أسلحة الدمار الشامل، فكم من سرقات لثروات الشعوب تحدث أثناء انشغال أهل البلد فى حربهم، وكم من تجارب للأسلحة الكيماوية والجرثومية، يتم تجربتها -بعد انتاجها فى الدول التى تدعى أنها دول متحضرة- على المساكين من النساء والأطفال أثناء انشغال الرجال فى التقاتل مع بعضهم البعض، متفاخرين بأسلحة فى أيديهم وليس على أجسادهم ما يواريها من العرىْ، ولو أنفق ثمن هذا السلاح لكفاهم طعاماً وشراباً ولباساً، بدلاً مِنْ مَد أَكُفّ الضراعة لاستجداء المنظمات الدولية لإيواء الفارين من مناطق الحرب، وتلك المنظمات لا يقل دور بعضها خطورة عن تجار السلاح.<br />
لماذا لا نتكاتف جميعاً فى مواجهة نفاق الساسة وسماسرة الإعلام، الذين يقلبون الحقائق رأسا على عقب، لإقناع شعوبهم بما يخدم نزواتهم وأفكارهم، غير مكترثين بما يحدث لأبناء وطنهم، كأن الله خلق الناس ليكونوا عبيدا للحكام، ويروج لهذا أجهزة الإعلام التى تزين للناس أنهم فى رغد العيش، ويشغلوهم بتفاهات من الأخبار وإثارة الفتن وبالتخوف من حين لآخر كى ينخدعوا عن أحوالهم وحقوقهم.<br />
ثم نقف سويا أمام حرمة الأموال العامة، وجمال الطبيعة للبيئة المحيطة بكل منا، لأن المصالح والمؤسسات والمركبات العامة، والمدارس والمستشفيات والحدائق والشوارع ملك لنا وليست لفرد بعينه، أى أنها ملك للمجتمع الذى تعيش فيه، فلا ترضى بالقذارة والقمامة بالشوارع، ولا تساعد على اتساخها، بل على شباب الأحياء والقرى تنظيف وتجميل مساكنهم وعدم الاعتداء على حرمة الطريق، وبدلا من أن تقطف وردة أعجبتك ازرع ورودا وزهورا سواء أمام بيتك أو فى حديقة عامة وقم برعايتها كى تسعد الآخرين، وتجمل بلدك فلا تؤذى ناظريك على الأقل، وعن أَنَسَ بْنَ مَالِكٍ قَالَ: قَالَ رَسُولُ اللَّهِ ﴿إِنْ قَامَتْ السَّاعَةُ وَبِيَدِ أَحَدِكُمْ فَسِيلَةٌ فَإِنْ اسْتَطَاعَ أَنْ لا يَقُومَ حَتَّى يَغْرِسَهَا فَلْيَفْعَلْ﴾[14].<br />
ليس المهم أن تعمل فحسب، بل تجعل عملك لوجه مأمون الجناب خالصاً ليس فيهِ رياء، وهو الشرك الخفى الذى حذّر منه الحبيب المصطفى ، فعن شداد بن أوس أنه بكى، فقيل له: ما يبكيك؟ قال: شيئا سمعته من رسول الله يقوله فذكرته فأبكانى، سمعت رسولَ الله يقول (أَتَخَوَّفُ عَلَى أُمَّتِى الشِّرْكَ وَالشَّهْوَةَ الْخَفِيَّةَ، قَالَ: قُلْتُ: يَا رَسُولَ اللَّهِ أَتُشْرِكُ أُمَّتُكَ مِنْ بَعْدِكَ؟ قَالَ: نَعَمْ، أَمَا إِنَّهُمْ لا يَعْبُدُونَ شَمْسًا وَلا قَمَرًا وَلا حَجَرًا وَلا وَثَنًا وَلَكِنْ يُرَاءُونَ بِأَعْمَالِهِمْ، وَالشَّهْوَةُ الْخَفِيَّةُ أَنْ يُصْبِحَ أَحَدُهُمْ صَائِمًا فَتَعْرِضُ لَهُ شَهْوَةٌ مِنْ شَهَوَاتِهِ فَيَتْرُكُ صَوْمَهُ).<br />
ويحكى ابن جرير أن رجلاً دخل إلى المسجد النبوى فصلى ركعتين سريعتين وهَمَّ بالخروج، فناداه أمير المؤمنين عمر وقال له: أعد صلاتك، فأعاد الرجل وصلى فأطال، فلما فرغ من صلاته سأله سيدنا عمر: أى الصلاتين أفضل؟ فقال الرجل: الأولى، فسأله سيدنا عمر لماذا؟ فقال الرجل لأنها كانت لوجه الله خالصة، أما الثانية فقد أَطَلْتُ فيها خوفاً منك، فضحك سيدنا عمر وأقره على كلامه.<br />
 <br />
أبنائى وبناتى ..<br />
ولنعرج بعد هذا إلى الفن الذى إذا تحدثت عنه فى هذا الزمان انصرفت الأذهان فقط إلى المعازف ومزامير الشيطان، وهنا نسأل أليس هناك من الفنون غير تلك المعانى الرخيصة؟ فأصناف الفنون كثيرة كأصناف العلوم، أليس الرسم والمسرح والموسيقى والغناء والتصوير فيه ما أقره المصطفى وفيه ما نهى عنه، إن الفنون الخَيرة على اختلاف ألوانها هى الروافد الفاعلة المؤثرة التى تُثرى وجدان الثقافة وترتقى بالمجتمع وتسهم فى إعادة بنى الإنسان.<br />
فانظروا قول سيدنا أنس ووصفه دخول الحبيب المدينة فيقول: فما رأيت أهل المدينة فرحوا بشئ فرحهم برسول الله ، حتى جعل الإماء يَقُلْنَ: قَدَمَ رسولُ الله . وخرجت جوارى من بنى النجار يضربن بالدف ويَقُلْنَ:<br />
يا حبذا بمحمد مـن جار<br />
 <br />
نحن جوارى من بنى النجار<br />
وجاء وفد من بنى النجار متقلدين سيوفهم ويمشون حول النبى وصاحبه.<br />
وفى رواية أخرى قال: لما كان اليوم الذى دخل فيهِ رسولُ الله المدينة أضاء منها كل شئ وصعدت ذوات الخدور على الأجاجين يَقُلْنَ:<br />
وجب الشكر علينا ما دعى لله داع<br />
جئت شرفت المدينة مرحبا يا خير ساع<br />
 <br />
طلع البدر علينا من ثنيات الوداع<br />
أيها المبعوث فينا جئت بالأمر المطاع<br />
فقال (أتحبوننى)؟ قُلْنَ: نعم يا رسول الله، فقال (إن قلبى يُحِبُّكُن) وفى رواية (الله أعلم أن قلبى يحبكم).<br />
ويدل لذلك أيضاً ما جاء عن ابن عباس مرفوعا أن أصحاب النبى جلسوا سماطين وجاءت جارية يقال لها سيرين معها مزهر تختلف به بين القوم وهى تغنيهم وتقول:<br />
هـل علىَّ وَيحكم<br />
 <br />
إن لَهَوْتُ مِنْ حَرَجٍ<br />
فتبسم النبى وقال لا حرج، وما روى عن السيدة عائشة قالت:<br />
دخل علىَّ أبو بكر وعندى جاريتان من جوارى الأنصار يغنيان بما تقاولت به الأنصار يوم بُعاث، قالت وليستا بالمغنيتين فقال أبو بكر أمزمور الشيطان فى بيت رسول الله وذلك يوم عيد، فقال رسول الله دعها يا أبا بكر إن لكل قوم عيداً وهذا عيدنا.<br />
وهذا الحبيب المصطفى يسمع إلى شعر أمية بن أبى الصلت من الصحابى السائب بن يزيد ويستمع من الخنساء فى المسجد وحينما تتوقف يقول لها إيه يا خناس.<br />
وهناك الكثير والكثير فى هذا المجال المختلف فيه عند الناس، فما بالك من القياس على الرسم والمسرح وسماع الموسيقى وخلافه من أنواع الفنون، التى تُنَمِّى الإحساس عند الناس وترتقى بأذواقهم بدلاً من تَحجُرهم وتبلد أحاسيسهم، ألم يستمع الإمام الأعظم أبو حنيفة النعمان إلى جاره المغنى بل وضمنه وأخرجه من السجن حين شكاه جيرانه؟ ألم يكن الإمام أبو إسحاق الموصلى من أساطين العزف على العود، وكان يبدأ مجلسه فى الحديث الشريف بالعزف ساعة على عوده ثم يبدأ فى روايته للحديث الشريف؟<br />
ولنستمع إلى قول شيخنا أبى العينين :<br />
بِجَنْكٍ وَطَنْبُورٍ وَقَانُونِ مُزْمِرٍ<br />
 <br />
وَعُودٍ وَسَنْطِيرٍ إِلىَ حَضْرَةِ القُدْسِ<br />
وسيدى فخر الدين يقول:<br />
وَأَعْزِفُ أَلْحَانِى فَيَطْرَبُ عَاشِقِى<br />
 <br />
وَأُوقِدُ مِشْكَاةَ الْمُرِيـدِ بِلَمْعَتى<br />
 <br />
أبنائى وبناتى ..<br />
عن فضالة بن عبيد قال: قال رسول الله فى حجة الوداع: ألا أخبركم بالمؤمن؟ مَنْ أَمِنَهُ الناس على أنفسهم وأموالهم، والمسلم من سلم المسلمون من لسانهِ ويدِهِ، والمجاهد من جاهد نفسه فى طاعة، والمهاجر من هجر الخطايا والذنوب﴾[15]<br />
ويقول الإمام فخر الدين :<br />
الْوَقْتُ فِى سُنَنِ الْعِبَادَةِ قَدْ فَنَى<br />
 <br />
وَأَنَا بِقَوْلِى مُنْذِرٌ وَبَشِيرُ<br />
والوقت لا يعود إلى الوراء، فالمال يذهب ويرجع، والصحة تذهب وتعود، ولكن لا يمكنك أن تعيد الزمن مرة أخرى، لذا عليك بعمارة وقتك إما بالنوافل لأن الفرائض لا تغطى اليوم كاملاً، أو السعى فى حاجة أهلك، أو حاجة من يحتاج مساعدتك، فإن الله فى عونك مادمت فى عون أخيك، وتلك هى البشرى، أما الإنذار: فعن سيدنا معاذ بن جبل قال: قال رسول الله ﴿ليس يتحسر أهل الجنة إلا على ساعة مرت بهم لم يذكروا الله فيها﴾.<br />
وَلْتَعْمُرُوا الْأَوْقَاتَ بِالذِّكْرِ الَّذِى<br />
 <br />
يَشْفِى الصُّدُورَ فَتَصْطَلِى بِغَرَامِى<br />
وعليك أن تعقل الكلام قبل أن تتفوه به، فقد كان مولانا الشيخ إبراهيم محمد عثمان عبده البرهانى يقول: إن الله قد خلق لك أذنين مفتوحتين فاسمع ما شئت، ودع ما يريبك إلى ما لا يريبك، وخلق لك لسان واحد ووضع عليه قفلين، أحدهما من العظم وهى الأسنان، وآخر من اللحم وهما الشفتان، ففكر مرتين قبل أن تتكلم حتى لا تندم، لأن الكلمة لا يمكن استرجاعها.<br />
وكذلك إذا أُتيحت لك فرصة لخدمة الدين أو خدمة الناس، فلا تتردد ليس خوفاً على الدين فإن الله مؤيده برجالٍ لخدمته، ولكن خوفا عليك أنت من أن تُحرم من فرصةٍ أتيحت لك وأضعتها بيدك، ولا يمكنك استرجاع هذه الفرصة مرة أخرى، وخذ من شبابك إلى هرمك، ومن قوّتك إلى ضعفك، ومن صحتك إلى مرضك، وهذه الأمور لا تدع فيها منطق عقلك يُثنى عزمك عن المجاهدة، فإن العقل لا يُدْرِكْ إلا بالحواس ولا تنسى أن الصحة تاج على رؤوس الأصحاء لا يراها إلا المرضى.<br />
رِفْقًا بِعَقْلِكَ ذَاكَ مَا حُمِّلْتَهُ<br />
 <br />
كُنْ رَاحِمًا فَالْخَيْرُ لِلرُّحَمَاءِ<br />
يصعب على الإنسان الاعتذار عن الخطأ، إلا إذا عرف قيمة ما يجنيه من الاعتراف بهذا الخطأ، ويندم على الفرصة بعد ضياعها، ويحاول تداركها ولو بعد فواتها لِعلمِهِ بقيمتها، ويسعى لاسترجاع شبابه الذى مضى دون رجعة، ووقته الذى أفل دون استغلال، مع علمه باستحالة ذلك.<br />
 أبنائى وبناتى ..<br />
إن أُس الرضاء فى التسامح، وأُس البلاء فى التشاحن، وكم من ليلة ذَكَرت السُنّة النبوية أن من أفضالها أن الله يغفر فيها لكل مسلم إلا المتشاحنين، فلِما تحرم نفسك من ليالى المغفرة والجود والرحمات؟ وتغلق أبواب قلبك عن التسامح الذى هو من شيم العظماء؟ فسيدى فخر الدين يقول:<br />
بَيْنَ الرِّجَالِ عُرِفْتُ بِالصَّفَحَاتِ<br />
فهلا تذكرت حسنات أخيك عندما ذَكرت سيئاته، حتى ولو لم يكن له حسنات -وهو ضرب من الخيال- فما الذى يضيرك أن تعطى مَنْ حَرَمَك، وأن تعفو عمن ظلمك، وأن تصل من قطعك، خَبّرْنَا بالله عليك ما هو الضرر الذى يقع عليك إن فعلت ذلك مع كل خلق الله؟<br />
مَا ضَرَّ لَوْ بَاتَ الْمُحِبُّ وَقَدْ عَفَا<br />
 <br />
إِنَّ التَّظَالُمَ بُؤْرَةُ الإِظْلامِ<br />
كن شجاعاً ضد نفسك، فالكيس من دان نفسه ورجع عن خطأه وأقر بذنبه فى حق أخيه، والأكثر شجاعة هو من استكان لثورة غضب أخيه، وخضع له باللين من القول حرصاً على أخوته وصحبته، فالكلام اللين يَغْلِبُ الحق البَيّن، وأصحاب الهمم العالية مقاماتهم فى الخلق سامية.<br />
فيجب عليك الترفع عن الصغائر والتجاوز عن الخلافات، وعدم انتهاك الحرمات، ومساعدة الضعيف ونصرة المظلوم، وعلى الثائر النظر إلى نفسه نظرة نقد وحساب كى لا يقع فى نفس الأخطاء التى وقع فيها من كانوا قبله حينما كان زمام الأمور بأيديهم، وإلا فما الفرق بين هذا وذاك.<br />
شَأْنُ الْكِرَامِ عَنِ اللِّئَامِ تَرَفُّعٌ<br />
 <br />
هِىَ ذِى بِحَقٍّ شِيمَةُ الْعُظَمَاءِ<br />
لقد سأل الصحابة رسولَ الله مَنْ هؤلاء الذين ذَكَرَ اللهُ إن تَوَلّيْنَا اسْتُبْدِلُوا بِنَا ثم لم يكونوا أمثالنا؟ قال: وَكَانَ سَلْمَانُ بِجَنْبِه فَضَرَبَ رَسُولُ اللَّهِ فَخذَ سَلْمَانَ وَقَالَ (هَذَا وَأَصْحَابُهُ، وَالَّذِى نَفْسِى بِيَدِهِ لَوْ كَانَ الْإِيمَانُ مَنُوطًا بِالثُّرَيَّا لَتَنَاوَلَهُ رِجَالٌ مِنْ فَارِسَ)[12].<br />
والصحابى الجليل القعقاع بن عمرو وهو الذى قال فيه سيدنا أبو بكر الصديق : صوت القعقاع فى الجيش خير من ألف رجل.<br />
وهذا سيدنا أبو أيوب الأنصارى وقد قارب الثمانون من العمر يخرج للجهاد بِفَرَسِهِ وسيفه ودرعه، أىُّ هِمَّة هذه التى لا تطاولها همة؟!!<br />
أُبَارِكُ بِاسْمِ اللهِ فِى كُلِّ هِمَّةٍ<br />
 <br />
رَوَافِدُ مَدِّى مِنْ عَظِيمِ الرَّوَافِدِ<br />
فقد يجد الجبان مائة حل لمشكلته ولا يعجبه سوى حل واحد منها وهو الفرار والركون للرقاد، ولكن انظر قول سيدنا خالد بن الوليد سيف الله المسلول على الأعداء وسيف الهمة المسلول على الجبناء "لقد شهدت مائة زحف أو نحوها وما فى بدنى موضع شبر إلا وبه ضربة أو طعنة أو رمية وها أنا أموت على فراشى كما يموت البعير فلا نامت أعين الجبناء" والحق كل الحق والصدق كل الصدق ما قاله سيدى فخر الدين :<br />
وَذُو جَلَدٍ فِى كُلِّ أَمْرٍ مُكَابِدِ<br />
 <br />
وَيُحْمَدُ عِنْدَ اللهِ عَبْدٌ مُجَاهِدٌ<br />
 <br />
وكل عام وأنتم بخير<br />
وَصَلِّ اللهم على سيدنا محمد وعلى آله وصحبه وسلم<br />
والسلام عليكم ورحمة الله تعالى وبركاته</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
