﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء الرابع من شهر أبريل عام 2013</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				</p>
<p>الحمد لله الكبير المتعال الذى فى محكم تنزيله قال ﴿وَتِلْكَ الأَيَّامُ نُدَاوِلُهَا بَيْنَ النَّاسِ﴾[1] وأجمل الصلوات وأجل التسليمات على الكامل المكمِّل للأكامل، سيد الخلق بالكامل وكلٌ فى شفاعته آمل، كافل اليتامى وعصمة الأرامل، وآله الأطهار من عنهم الرجسُ راحل، وأصحابه المقربين والأبرار من عليهم متنـزل الرحمات سابل، القائل فيهم (خيرُ القرون قرنى ثم الذين يلونهم ثم الذين يلونهم) قد كتبوا التاريخ بأفعالهم وأخلاقهم فمازالت أسماءهم بيننا وذكرهم ذكرٌ بل وفيه عمارةُ الأوقات.<br />
.. أما بعد ..<br />
الجمع الكريم .. السلام عليكم ورحمة الله وبركاته<br />
نحن فى زمان تكاثرت فيه الهموم وتفرَّعت حتى ضاق عنها الحصر فأستميحُكمُ العذر فى أن آخذ من كلِّ شئ بطرف، فإن المقام يضيق عن إيفاء كلِّ مسألة حقَّها والله المستعان..<br />
فعن الاتباع وليس الابتداع:<br />
يقول الحق تبارك وتعالى ﴿النَّبِى أَوْلَى بِالْمُؤْمِنِينَ مِنْ أَنْفُسِهِمْ وَأَزْوَاجُهُ أُمَّهَاتُهُمْ وَأُولُو الأَرْحَامِ بَعْضُهُمْ أَوْلَى بِبَعْضٍ فِى كِتَابِ اللَّهِ مِنَ الْمُؤْمِنِينَ وَالْمُهَاجِرِينَ إِلاَّ أَنْ تَفْعَلُوا إِلَى أَوْلِيَائِكُمْ مَعْرُوفًا كَانَ ذَلِكَ فِى الْكِتَابِ مَسْطُورًا﴾[2]<br />
يقول الإمام ابن عجيبة فى تفسيره:<br />
﴿النَّبِى أَوْلَى بِالْمُؤْمِنِينَ﴾ أى: أحقُّ بهم فى كل شئ من أمور الدين والدنيا، وحكمُه أنفذُ عليهم ﴿مِنْ أَنْفُسِهِمْ﴾ فإنه لا يأمرهم، ولا يرضى منهم إلا بما فيه صلاحُهم ونجاحهم، فيجب عليهم أن يبذلوها دونه، ويجعلوها فداءً منه، وقال ابن عباس وعطاء: يعنى إذا دعاهم النبى إلى شئ، ودعتهم أنفسُهم إلى شئ، كانت طاعةُ النبى أوْلَى.<br />
أو ..<br />
هو أولى بهم، أى أرأف وأعطف عليهم، وأنفع لهم، كقوله ﴿بِالْمُؤْمِنِينَ رَءُوفٌ رَّحِيمٌ﴾[3] وفى الصحيح عنه عليه الصلاة والسلام: ما من مؤمن إلا وأنَا أوْلَى الناس به فى الدنيا والآخرة، اقرأوا إن شئتم ﴿النبى أوْلَى بالمؤمنين من أنْفُسِهِمْ﴾ فأيُّمَا مُؤْمِن هَلَكَ وتركَ مالاً؛ فلورَثَته ما كانوا، ومَن تَرَكَ دَيْناً أو ضَيَاعاً فليَأتنى، فإنى أنا مَوْلاه.<br />
فمتابعته عليه الصلاة والسلام، والاقتباس من أنواره، والاهتداء بهديِه، وإيثارُ محبَّتِه، وأمرُه على غيره؛ لا ينقطعُ عن المريدِ أبداً، بدايةً ونهايةً؛ إذ هو الواسطةُ العُظمى، وهو أوْلَى بالمؤمنين من أنفسهم وأرواحهم وأسرارهم، فكل مدد واصل إلى العبد فهو منه ، وعلى يده، وكل ما تأمر به الأشياخ من فعل وترك فى تربية المريدين، فهو فرعٌ مما جاء به، وهم فى ذلك بحسَبِ النيابة عن النبى ؛ لأنهم خلفاء عنه، وكل كرامة تظهر فهى معجزة له ، وكل كشف ومشاهدة فمن نوره .[4]<br />
وقال تبارك وتعالى ﴿يَا أَيُّهَا الَّذِينَ آَمَنُوا أَطِيعُوا اللَّهَ وَأَطِيعُوا الرَّسُولَ وَأُولِى الأَمْرِ مِنْكُمْ فَإِنْ تَنَازَعْتُمْ فِى شَىْءٍ فَرُدُّوهُ إِلَى اللَّهِ وَالرَّسُولِ إِنْ كُنْتُمْ تُؤْمِنُونَ بِاللَّهِ وَالْيَوْمِ الآَخِرِ ذَلِكَ خَيْرٌ وَأَحْسَنُ تَأْوِيلا﴾[5].<br />
وقال جابر بن عبد الله والحسن والضحاك ومجاهد: أولو الأمر هم الفقهاء والعلماء، أهل الدين والفضل، يُعلِّمون الناس معالم دينهم ويأمرون بالمعروف وينهون عن المنكر، دليله قوله تعالى ﴿وَلَوْ رَدُّوهُ إِلَى الرَّسُولِ وَإِلَى أُوْلِى الأَمْرِ مِنْهُمْ...﴾[6] قال أبو الأسود: ليس شئ أعز من العلم، الملوك حُكَّام على الناس، والعلماء حُكَّام على الملوك .<br />
وأولو الأمر عند الصوفية هم شيوخ التربية العارفون بالله، فيجب على المريدين طاعتُهم فى المَنْشَط والمكره، وفى كل ما أمروا به، فمن خالف أو قال (لِمَ) لَم يَفلح أبدًا، ويكفى الإشارة عن التصريح عند الحذَّاق أهل الاعتناء، فإن تعارض أمر الأمراء وأمر الشيوخ، قدَّم أمرَ الشيخ، إلا لفتنةٍ فادحة، فإن الشيخ يأمر بطاعتِهم أيضًا لما يؤدى من الهرْج بالفقراء، فإنْ تنازعتُم يا معشر الفقراء، فى شىءٍ من علم الشريعة أو الطريقُ، فردُّوه إلى الكتاب والسنُّة، قال الإمام الجنيد t: طريقتنا هذه مؤيدة بالكتاب والسنة.[7]<br />
قَرَنَ طاعة الشيخ بطاعة الرسول تفخيماً لشأنه ورفعاً لِقَدْرِه، وأمَّا أولو الأمر -فعلى لسان العلم- السلطان، وعلى بيان المعرفة العارفُ، والشيخُ (أولو الأمر) على المريد، وإمامُ كلِّ طائفةٍ ذو الأمر عليهم، ويقال الولى أولَى بالمُريد (من المُريد) للمريد.[8]<br />
ويقول تبارك وتعالى ﴿إِنَّمَا الْمُؤْمِنُونَ الَّذِينَ آَمَنُوا بِاللَّهِ وَرَسُولِهِ وَإِذَا كَانُوا مَعَهُ عَلَى أَمْرٍ جَامِعٍ لَمْ يَذْهَبُوا حَتَّى يَسْتَأْذِنُوهُ إِنَّ الَّذِينَ يَسْتَأْذِنُونَكَ أُولَئِكَ الَّذِينَ يُؤْمِنُونَ بِاللَّهِ وَرَسُولِهِ فَإِذَا اسْتَأْذَنُوكَ لِبَعْضِ شَأْنِهِمْ فَأْذَنْ لِمَنْ شِئْتَ مِنْهُمْ وَاسْتَغْفِرْ لَهُمُ اللَّهَ إِنَّ اللَّهَ غَفُورٌ رَحِيمٌ • لا تَجْعَلُوا دُعَاءَ الرَّسُولِ بَيْنَكُمْ كَدُعَاءِ بَعْضِكُمْ بَعْضًا قَدْ يَعْلَمُ اللَّهُ الَّذِينَ يَتَسَلَّلُونَ مِنْكُمْ لِوَاذًا فَلْيَحْذَرِ الَّذِينَ يُخَالِفُونَ عَنْ أَمْرِهِ أَنْ تُصِيبَهُمْ فِتْنَةٌ أَوْ يُصِيبَهُمْ عَذَابٌ أَلِيمٌ﴾[9].<br />
ومن آداب الفقراء مع شيخهم ألا يتحرَّكوا لأمر إلا بإذنه، أما أهل البدايات فيستأذنون فى الجليل والحقير، كقضية الفقير الذى وجد بَعْضَ البَاقِلاَّءِ أى الفول، فى الطريق، فأتى بها إلى الشيخ، فقال: يا سيدى ما نفعل به؟ فقال: اتركْه حتى تُفْطرَ عليه، فقال بعض الحاضرين: يستأذنك فى الباقَّلاء؟ فقال: لو خالفنى فى أمرٍ لم يفلح أبداً.<br />
وأمَّا أهل النهايات الذين عَرَفوا الطريق، واستشرفوا على عينِ التحقيق، وحصلوا على مقام الفهم عن الله، فلا يَستأذِنون إلا فى الأمر المُهم؛ كالتزوُّج والحجِّ ونحوهما، وَصَبْرُهُ حتى يأمره الشيخ بذلك أولى.<br />
 <br />
أيها الأحباب ..<br />
يقول الحق سبحانه ﴿إِنَّ اللهَ مَعَ الَّذِينَ اتَّقَوْا وَالَّذِينَ هُمْ مُحْسِنُونَ﴾[10] فكان من أسباب المعيَّة تعظيمُ أمره سبحانه، ومن الإحسان الشفقة على خلقه، كما هو حال ساداتنا أئمة الصوفية رضوان الله عليهم أجمعين، أصحاب الذوق الرفيع والمقامات العالية على مر العصور، نراهم ينشدون الأحسن فى كل شئ، ففى الدعوة إلى الله عملوا بقولِه جلَّ وعلا ﴿ادْعُ إِلَى سَبِيلِ رَبِّكَ بِالْحِكْمَةِ وَالْمَوْعِظَةِ الْحَسَنَةِ وَجَادِلْهُمْ بِالَّتِى هِىَ أَحْسَنُ إِنَّ رَبَّكَ هُوَ أَعْلَمُ بِمَنْ ضَلَّ عَنْ سَبِيلِهِ وَهُوَ أَعْلَمُ بِالْمُهْتَدِينَ﴾[11] فكانت سماحةُ دعوتهم وحسن مقالهم هو سمتُهم ودأبهم الذى عُرفوا به بين الخلق، ولا تجد للعنف أو العداوة والبغضاء سبيلا إليهم، وكان نِبراسهم فى إرشاد الخلق قوله سبحانه ﴿وَلا تَسْتَوِى الْحَسَنَةُ وَلا السَّيِّئَةُ ادْفَعْ بِالَّتِى هِىَ أَحْسَنُ فَإِذَا الَّذِى بَيْنَكَ وَبَيْنَهُ عَدَاوَةٌ كَأَنَّهُ وَلِىٌّ حَمِيمٌ﴾[12] فبينما احتكم الناس فى زكاتهم إلى الدنيا وعرضها الزائل من أموال وغير ذلك، نراهم يحتكمون إلى تزكية اللطيفة الإلهية فى الإنسان ألا وهى الروح، كما قال الإمام فخر الدين :<br />
وَإِنْ زَكَا النَّاسُ فَالدُّنْيَا حَكِيمَتُهُمْ<br />
 <br />
فَلِى مَقَامٌ بِهِ الأَرْوَاحَ زَكَّيْتُ<br />
 <br />
وقال أيضاً :<br />
إِنِّى أَسُومُ الرُّوحَ فِى مَلإٍ عَلاَ<br />
 <br />
غَيْرِى يَسُومُ بَهِيمَةَ الأَنْعَامِ<br />
وكما أن الهمة العالية تجعل صاحبها تَوَّاقاً إلى كل ما هو بعيدٍ وغالٍ، فقد عملوا بحديث المصطفى (إنَّ أحبَّكم إلىَّ وأقربَكم منّى فى الآخرة أحاسنُكم أخلاقاً)[13] ولم يفُتْهُم فى طلب المحاسن أن يمتثلوا إلى قول الحبيب المحبوب عليه أفضل الصلاة وأزكى السلام (مِنْ حُسْنِ إِسْلامِ الْمَرْءِ تَرْكُهُ مَا لا يَعْنِيهِ)[14] فسمَوا بأرواحهم عن النقائص والذنوب والآثام ولم ينشغلوا بها وأصحابها وانشغلوا بالذكر عما سواه، ونَحَوا أنفسهم جانباً والتزموا قول الحبيب (طُوبَى لِمَنْ شَغَلَهُ عَيْبَهُ عَنْ عُيُوبِ النَّاسِ)[15] ولنا فى سيدى فخر الدين المثل والقدوة فنجده اختار لنا الأحسن -أيضاً- فى منهجه المضمون حين قال:<br />
وَاجْعَلْ وَسِيلَتَكَ الإِمَامَ وَأُمَّهُ<br />
 <br />
الأَحْسَنَيْنِ مُرَادَ أَهْلِ السَّلامَةِ<br />
ومن النماذج الخالدة فى سيرة آل البيت رضوان الله تعالى عليهم ما سلكه الحسنان فى الإرشاد عن طريق الموعظة الحسنة، فهاهما يضربان لنا المثل والقدوة فى تعليم الناس وتربيتهم، وهذا حينما رأيا رجلا لا يحسن الوضوء فلم يقولا له (اذهب وأحسن وضوءك) بل طلبا منه أن يكون حكماً بينهما فيمن هو أحسنُ وضوءاً من أخيه.<br />
فلو نظرنا إلى المعنى الذى وراء هذه القصة، لعَلِمنا ما يرجُوه هؤلاء القوم منا، من عفَّةِ لسان ومكارم أخلاق واحترام الإنسان لأخيه، والتماس العذر له، وقد أوصى الإمام على بالدعاء لأهل الآثام والنظر إليهم بعين الرحمة لأن الله عزَّ وجلَّ هدانا وابتلاهم، وقال (فلعله مغفورٌ له كبيرُ ذنبه ولعلَّك معذَّب بصغير ذنبك).<br />
وقد تخلَّقوا بالصفح امتثالاً لقولِه تعالى ﴿فَاصْفَحِ الصَّفْحَ الْجَمِيلَ﴾[16] بل بغية المؤمن الذى يدعو الله دائما ويقول ﴿رَبَّنَا اغْفِرْ لَنَا وَلإِخْوَانِنَا الَّذينَِ سَبَقُونَا بِالإِيمَانِ وَلا تَجْعَلْ فِى قُلُوبِنَا غِلاًّ لِلَّذِينَ آمَنُوا﴾[17].<br />
فَحَيَّا اللهُ عَبْدًا ظَـنَّ خَيْرًا<br />
 <br />
فَبِالصَّفْحِ الْجَمِيلِ قَدِ اشْتَهَرْتُ<br />
فقد جُبلت القلوب على حبِّ من أحسن إليها، وقد ورِث القوم التسامح عن النبى وقد تجلى هذا فى أخلاقه مع المسلمين وغير المسلمين من أهل الكتاب، وقد تنبأ بفتح مصر وأوصى من سيفتحونها بالقبط خيرًا فقال (إذا فتحتم مصرَ فاستوصَوا بالقِبط خيرًا، فإنَّ لهم ذمَّةً ورَحمًِا).<br />
وشملت سماحته اليهود على شدَّة عداوتهم له؛ فعندما قُتل سيدنا (سهل) فى خيبر، وذهب أهل سيدنا سهل إلى رسول الله وقصوا له الخبر بأن أخاهم قُتل فى حى اليهود، وسألهم من قتله؟ فقالوا: لم نقتله ولا نعلم قاتله، ولمَّا أمرهم بالدّية أقسموا أنهم لم يقتلوه ولم يعلموا من قتله، فرضى بقَسَم اليهود، وفى سبيل حقن الدماء وعدم إهدار دم سيدنا سهل، فقد فداه من إبل الصدقة.<br />
ويقول الإمام القرطبى : فعل ذلك على مقتضى كرمه وحسن سياسته وجلباً للمصلحة ودرءًا للمفسدة على سبيل التأليف، ولا سيما عند تعذر الوصول إلى استيفاء الحق.<br />
ولا ننسى أنَّ كثيراً من أهل الشرك دخلوا فى الإسلام لِما رأوا من صفحِه وسماحته.<br />
وقال القاضى عياض: هذا الحديث أصلٌ من أصول الشرع وقاعدةٌ من قواعد الأحكام، وركن من أركان مصالح العباد، وبه أخَذَ جميعُ الأئمةِ والسلف من الصحابة والتابعين وعلماء الأمة، وفقهاء الأمصار من الحجازيين والشاميين والكوفيين، وإن اختلفوا فى صور الأخذ به.<br />
ولو تتبعنا المعاهدات التى صدرت عنه لوجدنا فيها ضروباً من التسامح والموادعة والمساواة.<br />
فكمْ من مُشكلاتٍ أمثالِ عظام الجبال تُحلُّ بالصفح الجميل فما ضرَّ لو بات المحبُّ وقد عفا؟ فإن فى التظالم بؤرة الإظلام، وهل تُسرُّ نفوسُ المحبين إذا باتت مغاضبةً، فتتولد منها جفوة تقطع الأرحام.<br />
 <br />
أبنائى وبناتى ..<br />
كانت المشكلاتُ فى الماضى القريب تُعالَج فى الإطار الذى وقعت فيه، سواء أكانت فى إطار الأسرة الواحدة أو بين أبناء الحى الواحد، وها نحن نرى فى هذه الآونة مشكلات الأوطان تُنشر على صفحات النت، لتثير نار الفتنة بين أبناء الوطن الواحد، ويدخل فيها من ليس له معرفة بشؤون السياسة فيضرُّ ولا ينفع، فمنهم من يتدخل بالنصيحة، وهناك من يتدخَّل للفرقة، وهناك من يتعرَّض بالسبِّ والسخرية والبهتان، ليزرع البغضاءُ فى النفوس ويُثيرُ الشحناء، وحب الأوطان غريزةٌ فى النفوس وواجب يقتضيه الوفاء، وقد استدل أصحاب الشرع على حبِّ الوطن من حبِّ سيدنا رسول الله للمدينة .. فكان إذا رجع من سفره ورأى جبل أُحُد من بعيد قال: هذه طابة وهذا أُحُدٌ جبلٌ يُحبُّنا ونُحبُّه، والله تعالى حبَّب إلى الناس منازلهم ليلازموها فتنتظم عمارة الأرض.<br />
فهل نسى الناس قول الحق سبحانه ﴿وَأَطِيعُوا اللهَ وَرَسُولَهُ وَلا تَنَازَعُوا فَتَفْشَلُوا وَتَذْهَبَ رِيحُكُمْ﴾[18] فالفرقةُ هى ثمرةُ الاختلاف والطاعةُ هى ثمرةُُ المحبة، وهذا من علامات الإيمان كما أخبرنا المعصوم بقوله (لا يؤمنُ أحدُكم حتى يُحبَّ لأخيه ما يُحبُّ لنفسه).<br />
ومما يُحزِنُ أن نجد بعض من ينتسبون إلى التصوف، يوجهون الإساءة لإخوانهم على صفحات النت، فكم من أصحاب نوايا خيِّرة ينشرون ما يخصُّ الإخوان أو غيرِهم بالصوت والصورةِ دونَ الرجوع لأصحابها، فهل يرضَونَ لأنفسِهم هذا الفعل دون استئذان أصحاب الشأن، ولو فُعِل بهم هذا لغضبوا لأنفسهم، ولو رجع هؤلاء إلى أنفسهم فتتبَّعوا معايبَها لوجدوا فيها من العيوب أضعافَ ما يُنكرونه على الناس، قال تعالى ﴿عَلَيْكُمْ أَنْفُسَكُمْ لا يَضُرُّكُمْ مَنْ ضَلَّ إِذَا اهْتَدَيْتُمْ﴾[19] قيل فى تفسيرها: لا تَطلبْ إصلاحَ غيرِك وفى نفسك بقيَّةٌ تحتاج إلى إصلاحِها، ويتمُّ صلاحُ المجتمع بصلاحِ الفرد، وقد عاتب المولى من اشتغلَ عن إصلاح نفسه بإصلاح الناس فى قولِه ﴿أَتَأْمُرُونَ النَّاسَ بِالْبِرِّ وَتَنْسَوْنَ أَنْفُسَكُمْ وَأَنْتُمْ تَتْلُونَ الْكِتَابَ أَفَلا تَعْقِلُونَ﴾[20].<br />
وعن السيدة أم الدرداء رضى الله عنها أنها قالت (من وعظ أخاه سرَّا فقد زانه ومن وعظه علانيةً فقد شانه)[21] كما قال بعضهم (من نصحَ أخاه فى ملأٍ فقد فضحَه ومن نصحَه سرًّا فقد نصحَه) ولقد أوصانا الحبيب صلوات الله عليه بسترِ بعضنا البعض، وعن الحبيب المصطفى أنه قال (مَنْ سَتَرَ عَوْرَةَ مُؤْمِنٍ فَكَأَنَّمَا اسْتَحْيَا مَوْءُودَةً مِنْ قَبْرِهَا)[22] ورضى الله عن الإمام الشافعى حيث قال:<br />
تَعَمَّدنى بِنُصْحِكَ فى انْفِرَادِى<br />
فَإِنَّ النُّصْحَ بَيْنَ النَّاسِ نَوْعٌ<br />
وَإنْ خَالَفْتنِى وَعَصَيْتَ قَوْلِى<br />
 <br />
وَجَنِّبْنِى النصيحـةَ فى الجماعة<br />
من التوبيخِ لا أرضى استماعه<br />
فَلاَ تَجْزَعْ إذَا لَمْ تُعْطَ طَاعَة<br />
 <br />
وعن دور تربية النشأ فى بناء مجتمع سليم هيَّأَ المولى عزَّ وجلَّ الطفل لقبول التعليم وقيل التعليم فى الصغر كالنقش فى الحجر، وقد أوصانا حبيبنا المصطفى بالعناية بتربية أبنائنا فقال ﴿أَدِّبُوا أَوْلاَدَكُمْ عَلَى خِصَالٍ ثَلاَثٍ: عَلَى حُبِّ نَبِيِّكُمْ، وَحُبِّ أَهْلِ بَيْتِهِ، وَعَلَى قِرَاءَةِ الْقُرْآنِ، فَإِنَّ حَمَلَةَ الْقُرْآنِ فِى ظِلِّ اللهِ يَوْمَ لاَ ظِلَّ إِلاَّ ظِلُّهُ مَعَ أَنْبِيَائِهِ وَأَصْفِيَائِهِ﴾ فَهَلاَّ أخذتُم هذه الوصية فى أغلى ما عندكم، أرى أبناءً ترعرعوا فى بيت عامر بالمحبة ولم يتعهَّدهم آباؤهم بذلك، نسوا أن يُرضِعوهم هوى آل أحمد، نسوا أن من يعيشُ حولهَم قد تدنَّسوا بأفكار المنكرين، نسوا أن حولهم كثيرٌ من المنحرفين.<br />
ولقد أوصيتُكم سابقا بل أوصاكم سيدى ومولاى الشيخ إبراهيم بتربية النشأ والاهتمام بهم لأنهم عصبُ الأمة، فلينظرْ كلُّ والد ووالدة وكلُّ مربٍّ فاضل إلى هذا الحديث بعين الاعتبار، ويراعى وصية الحبيب فى تربية أبنائه.<br />
الحضور الكريم ..<br />
لقد أوصانا الإمام فخر الدين بأن ننهل من محضِ المحبة والصفا، وبتعمير الأوقات بالأوراد، وليِن القول فى حضور الصالحين، ونهانا عن التدخُّل فى شئون الآخرين، لأن اللسان سبع عقور، وهل يكبُّ الناس فى النار على مناخرِهم إلا حصائد ألسنتهم، وبَشَّرَ من رضع هوى آل أحمد بأن ثمارَ هذه الرضاعة وراثة الرحمة والصفا، بل أين أنتم من هذه الوصايا والمواعظ التى أكرمنا بها الله تعالى ووصفنا فقال ﴿كُنْتُمْ خَيْرَ أُمَّةٍ أُخْرِجَتْ لِلنَّاسِ تَأْمُرُونَ بِالْمَعْرُوفِ وَتَنْهَوْنَ عَنِ الْمُنْكَرِ وَتُؤْمِنُونَ بِاللَّهِ﴾[23].<br />
لقد استْشرَى فى هذا الزمان داءُ التكفير المصحوب بالعُنف من قبل جماعاتٍ وصفتْ نفسَها بأهلِ السنَّةِ والجماعة، أو ما يُسمَّى بالتكفيريين، فكفَّروا الحكَّامَ المسلمين لأنهم لم يحكموا بما أنزل اللهُ تعالى، وكفَّروا العلماءَ المسلمين لأنَّهم أنكروا عليهم أفعالهم، وكفَّروا عامَّةَ المسلمين لأنَهم رضوا بأن يُحكموا بغيرِ ما أنزل اللهُ تعالى، وكأنَّ التاريخُ يُعيدُ نفسَه.<br />
ونَستَلهِمُ حادثةَ الخوارج مع الإمام على كرَّم الله وجهه لما قالوا (لا حُكمَ إلا لله) فقال (كلمة حقٍّ يُراد بها باطل) وأدَّى هذا بهؤلاء إلى إراقةِ دماءِ الأبرياء وإحراق مقاماتٍ لرجالٍ أفنوا أعمارَهم فى الدعوةِ إلى الله تعالى وإصلاح شأن الأمَّة، مُنتهكين حُرمةَ الموت، وقد انساق هؤلاء وراء فكرةٍ مُقتضاها أن الحقَّ اليوم للقوَّة، وبأنَّ القوى هو الذى يُسمع منه ويُخشى جانبُه، مفسِّرين آيات الكتاب على هواهم من غير علم بالتفسير وما ينبغى أن يتسلَّح به المفسِّر من التَّضلُّع فى علوم الشريعة وعلوم العربية الذين بدونهما لا يأمنُ المرءُ من الخطأ فى فهم معانى القرآن، فيَضلَّ هو ويُضِلّ غيرَه، وهذه الجماعة هى التى استَعْدَت علينا الغرب بما تجنح إليه من العنف والتعدّى، فتعطيهم المسوِّغات لتخريب بلادنا وفرض العقوبات علينا وسدِّ كل السبل التى تؤدى إلى تقدُّمنا ورفعتنا.<br />
ونحن هاهنا بين جماعتين متطرَّفتين، هذه الجماعة التى تتدثّر بالدين وتدَّعى الوِصايةَ على المسلمين، وفئةٍ أخرى سادرةٌ فى هواها اتَّبعت سبيل الغى، بدعوى التحضُّر والاتِّباع الأعمى لمساوئ الحضارة الغربية، فضعف عندها الوازع الدينى، فلجأت لتعاطى الكحول والمخدرات وهذه أمُّ الكبائر، فزاد معدَّلُ الجرائم التى هَتَكَتْ نسيج المجتمع، فأصبح واهيا لا يتيسَّر معه رقى ولا تطوُّر، فيُحكم على البلد أن يظل فى الحضيض، وانتشرت البطالة وهى داءٌ عضال وكم من شباب تناهبتهم أيدى البطالة فلجأوا إلى الجريمة أو قعدوا بالطريق يتعرَّضون لأعراض المسلمين ويهتكون الأعراض، أو يرتادون أماكن اللهو والخلاعة التى تسلب أنفسَهم محاسنَها، كما أنَّ انشغال الآباء عن أبنائهم بالسفر فى طلب المعاش قد ترك الأسرة من زوجة وأبناء بلا رقيب يقوم عليهم، ولا هادٍ يهديهم فيفسِدون ويفسدون غيرَهم، ولا يخفَى علينا أن كلا الجماعتين يتمُّ اختراقُها من قبل أعداء الإسلام على اختلاف مللِهم، والكفرُ ملَّةٌ واحدة، فيزيِّنون لهم الباطل حتى يحسبوه من الحق، ويحملونهم على معاداةِ أوطانهم وتخريبِها، كما نشهد فى كلِّ قطر عربى من انفراطاً للأمن واعتداءً على الأعراض وترهيباً للناس وتخريباً للممتلكات ونحن الخاسرون.<br />
 <br />
أيها الأحباب..<br />
مرت السنون والذكرى تتوالى للإمام فخر الدين وانتقى لنا الشيخ كنزا من نفائس الدُّر، وما كان منا إلا التوانى ولم يكن من شيمته العتب، وما كان منه إلا سخاء الكف، ولو رعيناها بالتدارس كما أَمَرَنَا مرارا لجنينا منها ثمارا يانعة، نهتدى بها فى حوالك الأمور، كما قال :<br />
تُضَاءُ بِهَا الْحَوَالِكُ مِنْ عُجَابٍ<br />
 <br />
لِتَهْدِيَكُمْ إِذَا مَا اللَّيْلُ جَنَّ<br />
كما نجده لم يكتفِ بالتدارس بل طالبنا بالفقه فيها فقال :<br />
وَحَيْثُ عَلِمْتُمْ فِقْهَهَا فَهْىَ حُجَّةٌ<br />
 <br />
وَحَيْثُ جَهِلْتُمْ عَوْرَةً تَسْتُرُونَهَا<br />
ولم يأتِ الفقه منها إلا عن دراسة مستفيضة لا قراءة عابر مستعبر، وها نحن نراه يرسم لنا أول الطريق فى الفقه بقوله:<br />
وَمَنْ يَنْسِبْ إِلَى الْقُرْآنِ عِلْمِى<br />
 <br />
وَأَقْوالِى يُفِيدُ وَيَسْتَفِيدُ<br />
ففى القرآن تخليص الرقاب، وقد أوضح لنا الإمام الشيخ إبراهيم طريق الفقه (عن طريق السند، والبعد عن الهوى، والقول بالرأى) وعدم التعلل بأن كل شخص له مرآته التى يرى بها المعانى.<br />
ولو تأملنا فيما تركه لنا من تراث أيضا لِيُعَرِّفْنا مدى حرصه على ما ذكرنا، فنجده جمع كتابيه (تبرئة الذمة وإنتصار أولياء الرحمن) وأشار فيهما إلى من يجب أن نستند إليهم، وعن القرآن أوضح لنا قنواته التى نستقيه منها -دون التفسير بالهوى- والرجوع إلى أماجد الأعلام لنستند إلى أقوالهم فى كتاب الله وما أشاروا به من حقائق ودقائق جلّت عن الأفهام.<br />
فمن قال فى القرآن قولاً يوافق هواه، ولم يأخذه عن أئمة السلف وأصاب فقد أخطأ، لحكمه على القرآن بما لا يعرف أصله، ولا يقف على مذاهب أهل الأثر والنقل فيه.<br />
وكم حذرنا من الهوى والخوض فقال (ففيئوا فالهوى أهوى كثيرا) وقال أيضا (فهذى لا يجوز الخوض فيها).<br />
 <br />
أبنائى وبناتى ..<br />
يشهد العالم اليوم أولى الخطى فى سبيل التغيير نحو تحقيق الأفضل، والبعض لا يستوعب التغييرَ بل يخافه ويخشاه، ويرى فيه خروجاً عن دائرة الاتزان والاستقرار، ومخاطره غير مأمونة، إن التغيير يحتاج الى الثقة بالنفس وبالآخرين، وإذا أردنا أن نخطوَ نحو مستقبل مشرق وجب علينا وبكل عزم وثبات أن نعمل بكل جد وإصرار، للانتقال من مرحلة التخلُّف والتبعية إلى مرحلة الوحدة وتطبيق وترسيخ منهج العدل والإحسان.<br />
إن أمتنا الإسلامية بكلِّ ما تمتلكه من ثروات وموارد اقتصادية وبشرية هائلة، وإمكانات مادية ضخمة، يمكُّنها أن توفِّر كلَّ أسباب المدنية الحديثة وبناء مجتمع مسلم معاصر وطموح، ولكن أكثر قضايانا تكمن من عدم الوفاق والوحدة، والإسراف والتردد، فمهما امتلكنا من ثروات وموارد، إلا أنه بدون دراسة وتخطيط وتدبير تضيع جلُّ الثروات، بل ما هو أكثر وأهم من ذلك وهى فرصة تطوير الذات.<br />
وكثيرا نحاول تبرير الفشل والهزيمة، والذى يخسر معركة ليس يعنى خسارة الحرب، فكان لنا أن نبدأ، ونأخذ دورنا فى تسوية طريق الأمة الإسلامية، ببناء وتحرير وصناعة الإنسان، ليكون قادراً على تحمل مسؤولية البناء، وإحراز النصر والتقدم.<br />
إن مسؤولية صناعة الإنسان المسلم بمواصفات تُساير وتُواكب متطلبات العصر يكون من أولوياتنا، فلابد لنا من تشمير سواعدنا، والبدء من منطلق إيماننا بأن التغيير لا يحتاج إلى عصيان مدنى، وتخريب وتفريق وتشتيت، وحرائق ومظاهرات وأعمال شغب وبلطجة، بل يحتاج إلى الكثير من العمل الدَّؤوب والجهد والتنسيق الفعَّال، بين كلِّ الأوساط والوسائط التربوية الإجتماعية فى المجتمع، بحيث تُصبح مسؤولية إعداد الإنسان العصرى لا تقتصر على الدراسة أو الأسرة بشكل خاص، بل بمشاركة المؤسسات الإجتماعية والإعلامية والثقافية والتعليمية والجامعية، والإذاعة والتليفزيون والمسرح ودور العبادة، بحيث تنصبُّ جميعها فى إعداد وإنتاج وتنشئة وصناعة ذلك الإنسان بشكل متكامل.<br />
ولكى يتم التغيير فلابد من حدوث ثورة أكبر فى داخل أعماقنا على أعقابها تنتصر الإيجابيات وتتقهقهر أمامها جميع السلبيات، ليتفجر منها منهج التربية القويم بمعناه الواسع لكى يتم على أثره بناء مجتمع إنسانى متكامل، قوامه الإلتزام بروح العمل الجماعى، متحلياً بمكارم الأخلاق، وليس مع المسلمين فحسب بل مع سائر الناس أجمعين.<br />
كما أن هناك قُوى عظيمة زوَّدنا بها المولى عزَّ وجلَّ كامِنةُ فى أنفسِنا، إذا حرَّكناها بالمجاهدة والإرشاد السليم، على يد خبير عارف، تغيَّرت أحوالنا إلى ما نصبو إليه من رضا ربِّنا وصلاح أحوالنا، وقد قال رسولُ الله (لو تعلَّقت همَّة أحدِكم بالثريا لنالَها).<br />
وبهذا أوصانا الإمام فخر الدين بقوله:<br />
ألا إنما يسرى المُريد على يدى<br />
ومن قبسِ النورِ المُبين بقبضتى<br />
أيا نفس هل أنت المُعينُ على الهدَى<br />
 <br />
وكـلُّ فتىً ينـأَى فليسَ بسالكِ<br />
يُضاءُ سبيلُ السيرِ من كلِّ حالكِ<br />
ولو بقليلِ العـونِ لست إخالك<br />
ونعمُ الوصية لو وَجَدَتْ سامعاً فَهِماً.<br />
 <br />
أيها الأحباب..<br />
إن الطريق تربية وسلوك إلى الله، فكما كان للخَلْق تربية جسدية، كان له أيضاً تربية روحية وأخلاقية، وهى خاصة الخبراء من الكُمَّل العارفين، فهم الأعلم بأمراض القلوب والأرواح ودوائها، فكيف السلوك بدون التربية، ولينظر كل منا مكانه من هذه التربية ليعلم مدى سلوكه، وليعمل على تنمية هذه التربية بالمحبة والاتباع، لا بالغلظة والابتداع، وعن ابن مسعود أن رسول الله قال (حُرِّمَ عَلَى النَّارِ كُلُّ هَيِّنٍ لَيِّنٍ سَهْلٍ قَرِيبٍ مِنْ النَّاسِ) <br />
وعنه أيضاً أنه قال (إياكم والظن فإن الظن أكذب الحديث ولا تحسسوا ولا تجسسوا ولا تحاسدوا ولا تدابروا ولا تباغضوا وكونوا عباد الله إخوانا).<br />
وقال :<br />
وَإِنَّ الظَّنَّ وَالخَوْضَ افْتِرَاءُُ<br />
 <br />
وَأَوْلَى أَنْ يَبُوءَ بِهِ سِوَانَا<br />
فالأمر واحد -وثَم التفات- وصاحبه واحد كما قال الإمام:<br />
صَاحِبُ الْعَزْمِ وَاحِدٌ لا بِعَزْمٍ<br />
 <br />
مَا إِلَى غَيْرِهَا يَجُوزُ انْثِنَاءُ<br />
وفى التنزيل ﴿وَاتَّبِعْ سَبِيلَ مَنْ أَنَابَ إِلَىَّ﴾ نجد لفظة ﴿وَاتَّبِعْ﴾ فمن الاتباع الرجوع إليه لا إلى غيره، وهل لغيره تنسب الأنساب، أو هل لغيره تشير السماء، فحقاً:<br />
رُدُّوا إِلَى الرَّبِّ الرَّحِيمِ وَعَبْدِهِ<br />
بُثُّوا إِلَيْهِ وَآلِ أَحْمَدَ مَا بِكُمْ<br />
 <br />
إِنَّ الْعَطَا مِنْ كَفِّهِ يَنْسَابُ<br />
هُوَ مَنْ لَدَيْهِ شَفَاعَةٌ وَجَنَابُ<br />
وفى الختام .. نسأل الله تعالى أن يوفِّقنا إلى عملٍ يرضى به عنَّا ويدفع عنا الخطوب ويعاملنا بمحض كرمه فضلاً ومنَّةً.<br />
وكل عام وأنتم بخير..<br />
والسلام عليكم ورحمة الله وبركاته</p>
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
