﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">خطابات مولانا</div>
	<div class="right">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="page01" class="page">
  
    
  
    <div class="page-content hide-bars-on-scroll">

	
      <div class="card ks-card-header-pic">
        <div style="background-image:url('images/khtabat.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
			<b>
				
			</b>
		</div>
        <div class="card-content"> 
			<div class="card-content-inner"> 
				<p class="card-title text-center">الخطاب الذى وجهه مولانا الإمام الشيخ محمد إبراهيم محمد عثمان شيخ الطريقة الى الأمة الإسلامية مساء الأربعاء الثانى من شهر أبريل عام 2014</p>
				<hr/>
				<p class="text-center">
					<b>بسم الله الرحمن الرحيم</b>
				</p>
<p>الحمد لله خالق الدُّجى والصباح، ومسبِّب الهدى والصلاح، ومقدِّر الغموم والأفراح. عزَّ فارتفع، وفرَّق وجمع، ووصَل وقطع، وحرَّم وأباح. مَلَكَ وقدَّر، وطوى ونشر، وخلق البشر، وفَطَر الأشباح. رفع السماء وأنزلَ الماء، وعلَّم آدَمَ الأسماء، وذَرَى الرِّياح. أعطى ومنح، وأنعم ومدح، وعفا عمَّنِ اجْتَرَح، وداوى الجراح. عَلِمَ ما كان ويكون، وخلق الحركة والسكون، وإليه الرجوع والركون فى الغَدِ والرَّوَاح. أشهد بوحدانيته عن أدلةٍ صحاح. وأن سيدنا وشفيعنا محمدًا عبده المقدَّم، ورسوله المعظم، وحبيبه المكرَّم، نفديه بالأرواح. صلى الله عليه وسلم، وعلى سيدنا أبى بكر رفيقه فى الغار، وعلى سيدنا عمر فاتِح الأمصار، وعلى سيدنا عثمان شهيد الدار، وعلى سيدنا على أبا الحسنين الكرار. وعلى آله النجوم الأطهار.<br />
أحبتى فى الله .. السلام عليكم ورحمة الله تعالى وبركاته<br />
أما بعد ..<br />
قال الله تعالى فى محكم تنزيله ﴿وَمَا الْحَيَاةُ الدُّنْيَا إِلاَّ مَتَاعُ الْغُرُورِ﴾20 الحديد- اعلم وفقنا الله وإياك أن الدنيا دار غرور، وأنها دار ممر وليس دار مقر، وأن الحياة فيها تجارب ومواعظ، والإنسان معرض للإختبار للإعتبار، وهو مبتلى، والابتلاء إما بالخير أو غيره، ففى الخير وجب الشكر علينا، وعند الملمات وجب الصبر، قال رسولُ اللهِ (عَجَبًا لأمرِ المؤمنِ إِنَّ أمْرَه كُلَّهُ لهُ خَيرٌ وليسَ ذلكَ لأحَدٍ إلا للمُؤْمنِ إِنْ أصَابتهُ سَرَّاءُ شَكَرَ فكانتْ خَيرًا لهُ وإنْ أصَابتهُ ضَرَّاءُ صَبرَ فكانتْ خَيرًا لهُ) الإمام مسلم.<br />
عن ابن عباس : أن النبى قال (نِعْمَتَانِ مَغْبُونٌ فِيهِمَا كَثِيرٌ مِنْ النَّاسِ: الصِّحَّةُ وَالْفَرَاغُ) البخارى- إن كثيراً من أوقاتنا تذهب علينا سدىً، ونحن فى أتم صحة وعافية، لا ننتفع منها، ولا ننفع أحداً من عباد الله، ولا نعرف قيمة ذلك إلا عند المرض أو العجز عن القيام بما أوجبه الله علينا، وقد ننشغل بطلب النفقة لنا ولعيالنا حتى تفوتنا كثير من الطاعات .وإذا حضر الأجل حصل الندم قال تعالى ﴿حَتَّى إِذَا جَاءَ أَحَدَهُمُ الْمَوْتُ قَالَ رَبِّ ارْجِعُونِ • لَعَلِّى أَعْمَلُ صَالِحًا فِيمَا تَرَكْتُ كَلاَّ إِنَّهَا كَلِمَةٌ هُوَ قَائِلُهَا وَمِنْ وَرَائِهِمْ بَرْزَخٌ إِلَى يَوْمِ يُبْعَثُونَ ﴾المؤمنون 100- وقال عز وجل ﴿مِنْ قَبْلِ أَنْ يَأْتِى أَحَدَكُمُ الْمَوْتُ فَيَقُولَ رَبِّ لَوْلا أَخَّرْتَنِى إِلَى أَجَلٍ قَرِيبٍ فَأَصَّدَّقَ وَأَكُنْ مِنَ الصَّالِحِينَ﴾ المنافقون 10.<br />
وقد قيل:<br />
يا ابن آدم أتدرى ماذا يقول ملك الموت لك وأنت نائم على خشبة الغسل؟ ينادى عليك ويقول: يا ابن آدم أين سمعك ما أصمّك، أين بصرك ما أعماك، أين لسانك ما أخرسك، أين ريحك الطيّب ما غيّرك، أين مالك ما أفقرك، فإذا وُضِعْتَ فى القبر نادى عليك الملك: يا ابن آدم جمعت الدنيا أمْ الدنيا جمعتك، يا ابن آدم تركت الدنيا أمْ الدنيا تركتك، يا ابن آدم استعددت للموت أمْ المنيّة عاجلتك، يا ابن آدم خرجت من التراب وعُدتَ إلى التراب، خرجت من التراب بلا ذنب وعُدتَ إلى التراب وكُلَّك ذنوب، فإذا ما انفضَّ الناسُ عنك وأقبل الليل لتقضى أول ليلة صبحها يوم القيامة، ليلة لا يؤذَّن فيها للفجر، لم يقل المؤذِّن يومها حى على الصلاة، انتهت الصلاة، انتهت العبادات، إنّ الذى سيؤذِّن فجرها هو إسرافيل، أيتها العظام النخرة، أيتها اللحوم المتناثرة، قومى لفصل القضاء بين يدى الله رب العالمين، قال الله تعالى ﴿وَنُفِخَ فِى الصُّورِ فَجَمَعْنَاهُمْ جَمْعًا﴾ الكهف 99- ويقول أيضاً ﴿وَحَشَرْنَاهُمْ فَلَمْ نُغَادِرْ مِنْهُمْ أَحَدًا﴾ الكهف 47- عندما يُقبِلْ عليك ليل أول يوم فى قبرك، ينادى عليك مالك الملك وملِك الملوك يقول لك: يا ابن آدم رجعوا وتركوك وفى التراب دفنوك، ولو ظلّوا معك ما نفعوك، ولمْ يبقَ لك إلا أنا الحى الذى لا أموت، يا ابن آدم من تواضع لله رفعه، ومن تكبّر وضعه الله، عبدى أطعتنا فقرّبناك، وعصيتنا فأمهلناك، ولو عُدْتَ إلينا بعد ذلك قبلناك، إنّى والإنس والجنّ فى نبأ عظيم، أخلُقُ ويُعْبَدُ غيرى، أرزق ويُشكر سواى، خيرى إلى العباد نازل وشرّهم إلىّ صاعد، أتحببّ إليهم بنعمى وأنا الغنى عنهم، ويتباغضون عنّى بالمعاصى وهم أفقر شىء إلىّ، من عاد منهم ناديته من قريب، ومن بَعُدَ منهم ناديته من بعيد، أهل الذكر أهل عبادتى، أهل شكرى أهل زيادتى، أهل طاعتى أهل محبتى، أهل معصيتى لا أُقنِطْهم من رحمتى، فإن تابوا فأنا حبيبهم فإنّى أُحِب التوابّين وأُحِب المتطهرين، وإن لم يتوبوا فأنا طبيبهم، أبتليهم بالمصائب لأطهّرهم من الذنوب والمعاصى، الحسنة عندى بعشر أمثالها وأزيد، والسيئة بمثلها وأعفو، أنا أرأف بعبادى من الأم بولدها، اللهم تب علينا لنتوب.<br />
يا أحباب رسول الله ..<br />
دائماً ننظر إلى ما ينقصنا، لذلك لا نحمد على ما عندنا، وننظر إلى ما سُلِبَ منا، ولا نحمد على ما أُعطينا، قال سبحانه وتعالى ]وَإِنَّ رَبَّكَ لَذُو فَضْلٍ عَلَى النَّاسِ وَلَكِنَّ أَكْثَرَهُمْ لاَ يَشْكُرُونَ[73 النمل.<br />
أيها المؤمن .. أعلم أن ربى وربك الله الذى ما أشقاك إلا ليسعدك، وما منعك إلا لِيعطيك، وما أبكاك إلا لِيضحكك، وما حرمك إلا لِيتفضل عليك، وما ابتلاك إلا لأنه يُحِبُّكَ، فما أجمل الرضا بقضاء الله، وحَمْدُ الله وشكره على كل شئ، اللهم لك الحمد حمداً كثيراً طيباً مباركاً، اللهم ما أصبح بى من نعمة أو بأحد من خلقك فمنك، وحدك لا شريك لك لا إله إلا أنت سبحانك إنى كنت من الظالمين.<br />
اعلموا أن ما عند الله لا يُدرك إلا بطاعته والصبر على البلاء، ومن واجبنا أن نراجع أنفسنا ونحاسبها، وأن نتخلق بدينِنا، لا أن نُدرك منه اسمه فقط، إننا ابتعدنا عن الإسلام سلوكا، ومارسناه كلاما، وابتعدنا عن الإسلام فَهْماً، ومارسنا غيره، وكلنا نعلم أن جوهره هو التسليم لله، فعن سفيان بن عبد الله الثقفى قال ﴿قُلْتُ: يَا رَسُولَ اللَّهِ، قُلْ لِي قَوْلًا لَا أَسْأَلُ عَنْهُ أَحَدًا بَعْدَكَ، قَالَ: قُلْ: آمَنْتُ بِاللَّهِ، ثُمَّ اسْتَقِمْ﴾صحيح ابن حبان.<br />
أحبائى ..<br />
يقول الله تعالى ﴿قَدْ جَاءكُمْ مّنَ ٱللهِ نُورٌ وَكِتَـٰبٌ مُّبِينٌ • يَهْدِى بِهِ ٱللهُ مَنِ ٱتَّبَعَ رِضْوَانَهُ سُبُلَ ٱلسَّلَـٰمِ وَيُخْرِجُهُمْ مّنِ ٱلظُّلُمَـٰتِ إِلَى ٱلنُّورِ بِإِذْنِهِ وَيَهْدِيهِمْ إِلَىٰ صِرٰطٍ مُّسْتَقِيمٍ﴾ المائدة 15-16- ويقول الله جل وعلا ﴿ٱدْعُواْ رَبَّكُمْ تَضَرُّعًا وَخُفْيَةً إِنَّهُ لاَ يُحِبُّ ٱلْمُعْتَدِينَ • وَلاَ تُفْسِدُواْ فِى ٱلأرْضِ بَعْدَ إِصْلَـٰحِهَا وَٱدْعُوهُ خَوْفًا وَطَمَعًا إِنَّ رَحْمَتَ ٱللَّهِ قَرِيبٌ مّنَ ٱلْمُحْسِنِينَ﴾55، 56 الأعراف. إن الفساد فى الأرض كان إلى أن بعث الله تعالى النور الأعظم نبى الرحمة، فأنار الطريق وبَيّنه لنا، ثم بَعْدها بدأ شياطين الجن والإنس فى نشر جميع أنواع الفساد، قال الله تعالى ﴿وَكَذَلِكَ جَعَلْنَا لِكُلّ نِبِىّ عَدُوّاً شَيَـٰطِينَ ٱلإِنْسِ وَٱلْجِنّ يُوحِى بَعْضُهُمْ إِلَىٰ بَعْضٍ زُخْرُفَ ٱلْقَوْلِ غُرُوراً وَلَوْ شَاء رَبُّكَ مَا فَعَلُوهُ فَذَرْهُمْ وَمَا يَفْتَرُونَ • وَلِتَصْغَى إِلَيْهِ أَفْئِدَةُ ٱلَّذِينَ لاَ يُؤْمِنُونَ بِٱلآخِرَةِ وَلِيَرْضَوْهُ وَلِيَقْتَرِفُواْ مَا هُم مُّقْتَرِفُونَ﴾ 112، 113 الأنعام- سواء كان هذا الفساد فى المعتقد، أو فى الأخلاق والسلوك، أو المعاملات، أو فى كل شؤون الحياة، بارتكاب المعاصى والمخالفات لشرع الله ﴿ظَهَرَ ٱلْفَسَادُ فِى ٱلْبَرّ وَٱلْبَحْرِ بِمَا كَسَبَتْ أَيْدِى ٱلنَّاسِ لِيُذِيقَهُمْ بَعْضَ ٱلَّذِى عَمِلُواْ لَعَلَّهُمْ يَرْجِعُونَ﴾41 الروم- ولعل أعظمها الشرك بالله جهراً، ويظن البعض أن البشرية لا يمكن أن تُبقى على الكتاب والسنة، ويزعمون أن الكتاب والسنة قد انتهى دورهما فى الحياة وعلى العالم نبذهما، وأن الواجب أن تحكم قوانين ونظم على أنقاض هذه الشريعة، كل هذا من الفساد فى الأرض الذى حرَّمه الله، ونهانا عنه جل وعلا.<br />
أراد أعداء الإسلام أن يبثوا الفتنة والرذيلة فى شبابنا، ويبعدونهم عن الطريق القويم بتجميل المفاتن والمفاسد، جميل أن ترى ذلك الشاب وقد بدت عليه أمارات الخير والصلاح، والعز والفلاح، والتمسّك بسنة حبيبه سبب النجاح، وذلك فيما يرى الناس، فعُرف بينهم بجميل أدبه، وحُسن سَمْتِه...، ولكن الأجمل أن يَتحلّى المسلم بالصدق قولا وفعلا، وأنّ مِن أنبل أنواع الصدق هو صدق العهد مع الله، بحيث يكون باطنه أجمل من ظاهره، وخلواته أصدق مع الله تعالى من علانيته، واحذر أخى: أن يكون الله تعالى أهون الناظرين إليك، تخالف أوامره، وتستجيب للشيطان وداعيه [إياك أن تكون عدوّاً لإبليس فى العلانية صديقاً له فى السر] قال الله تعالى ﴿يَسْتَخْفُونَ مِنَ النَّاسِ وَلاَ يَسْتَخْفُونَ مِنَ اللَّهِ وَهُوَ مَعَهُمْ﴾ 108 النساء- إن هذه الذنوب التى تكون فى الخلوات هى من أعظم المهلكات، ومحرقةٌ للحسنات، وقد جاء عنه أنه قال (لأَعْلَمَنَّ أَقْوَامًا مِنْ أُمَّتِى يَأْتُونَ يَوْمَ الْقِيَامَةِ بِحَسَنَاتٍ أَمْثَالِ جِبَالِ تِهَامَةَ بِيضًا، فَيَجْعَلُهَا اللَّهُ عَزَّ وَجَلَّ هَبَاءً مَنْثُورًا، قَالَ ثَوْبَانُ: يَا رَسُولَ اللَّهِ، صِفْهُمْ لَنَا، جَلِّهِمْ لَنَا، أَنْ لاَ نَكُونَ مِنْهُمْ وَنَحْنُ لاَ نَعْلَمُ، قَالَ: أَمَا إِنَّهُمْ إِخْوَانُكُمْ، وَمِنْ جِلْدَتِكُمْ، وَيَأْخُذُونَ مِنْ اللَّيْلِ كَمَا تَأْخُذُونَ، وَلَكِنَّهُمْ أَقْوَامٌ إِذَا خَلَوْا بِمَحَارِمِ اللَّهِ انْتَهَكُوهَا) اللهم لا تجعلنا من أولئك المحرومين، واجعلنا من ﴿الَّذِينَ يَخْشَوْنَ رَبَّهُمْ بِالْغَيْبِ لَهُمْ مَغْفِرَةٌ وَأَجْرٌ كَبِيرٌ • وَأَسِرُّوا قَوْلَكُمْ أَوِ اجْهَرُوا بِهِ إِنَّهُ عَلِيمٌ بِذَاتِ الصُّدُورِ﴾12، 13 الملك- إذا أغلقت دونك الباب وأُسْدِلَتْ على نافذتك الستار وغابت عنك أعين البشر، فتذكَّر مَن لا تخفى عليه خافية، تذكَّر من يرى ويسمع دبيب النملة السوداء فى الليلة الظلماء على الصخرة الصماء، جلّ شأنه وتقدّس سلطانه.<br />
إخوانى وأخواتى ..<br />
قال تعالى ﴿ثُمَّ أَوْرَثْنَا الْكِتَابَ الَّذِينَ اصْطَفَيْنَا مِنْ عِبَادِنَا فَمِنْهُمْ ظَالِمٌ لِّنَفْسِهِ وَمِنْهُم مُُّقْتَصِدٌ وَمِنْهُمْ سَابِقٌ بِالْخَيْرَاتِ بِإِذْنِ اللَّهِ ذَلِكَ هُوَ الْفَضْلُ الْكَبِيرُ﴾32 فاطر- فَطَرَ المولى عز وجل الإنسان على حب الخير، وجعل فى داخل كل منا أسد رابض مستعد للوثبة فى عمل الخير، والمطلوب أن نقوم باستفزازه وإخراجه، وكما أن داخل كل مِنّا إنسان طيب مسامح، المطلوب مِنّا اكتشافه، إنسان يحمل كل معانى الإنسانية من رحمة ولطف وسلام وتسامح وحب الخير، ولكن قد تُغيِّرنا مشاغل الحياة بحيث أنْ ننسى أنفسنا ، ونحن نريد لها النجاة ونريد أن نحظى بذلك الفضل الكبير؛ فكيف لنا بذلك، وقد وضع الحق سبحانه وتعالى شروطاً إذ قال الله تعالى ﴿إِنَّ الَّذِينَ هُم مِّنْ خَشْيَةِ رَبِّهِم مُّشْفِقُونَ • وَالَّذِينَ هُم بِآيَاتِ رَبِّهِمْ يُؤْمِنُونَ • وَالَّذِينَ هُم بِرَبِّهِمْ لاَ يُشْرِكُونَ • وَالَّذِينَ يُؤْتُونَ مَا آتَواْ وَّقُلُوبُهُمْ وَجِلَةٌ أَنَّهُمْ إِلَى رَبِّهِمْ رَاجِعُونَ • أُوْلَئِكَ يُسَارِعُونَ فِى الْخَيْرَاتِ وَهُمْ لَهَا سَابِقُونَ﴾57:61 المؤمنون- وحينما سألت أم المؤمنين السيدة عائشة الرسول الكريم عن هذه الآية بقولها: إنهم الذين يشربون الخمر ويسرقون؟ فقال (لا يا بنت الصدّيق، ولكنهم الذين يصومون ويصلون ويتصدقون وهم يخافون ألاَّ يُقبل منهم، أولئك الذين يسارعون فى الخيرات).<br />
وفى هذا المعنى قال الإمام الحسن البصرى "المؤمن من جمع إحساناً وخشية، والمنافق من جمع إساءة وأمناً"، فهم مع إحسانهم وإيمانهم وعملهم الصالح مشفقون من الله خائفون منه، وَجِلُون من مكره بهم.<br />
وهؤلاء سبقت لهم من الله السعادة، ونيل السعادة لا يتأتَّى إلاَّ بالتقوى، والاجتهاد فى الطاعات، والابتعاد عن المعاصى، تلك صفة المسارعة فى الخيرات وبعض فضلها، وما يوصلك إليها من صفات، ولم يبق إلاَّ اتباع العلم بالعمل, جعلنا الله وإياك من المسارعين فى الخيرات.<br />
أيها الأحباب ..<br />
جاءت العشرات من آيات القرآن الكريم التى تدعو إلى الصحبة وإلى التأدب بآدابها، وما تلاها من أحاديث قدسية وأحاديث نبوية تنص على أهمية الصحبة وعلى التخلق بأخلاقها الحميدة، حتى حَظِىَ كل من أدرك الإسلام زمن النبى بشرف الصحبة، فهم الصحابة رضوان الله عليهم، لخير الخلق وحبيب الحق، فكان خير الأصحاب لأصحابه ولمجتمعه، وهو المثل الأعلى لهم فى نفعه للناس وللمجتمع كما وصفته السيدة خديجة أم المؤمنين ، قالت: إنك لتصل الرحم، وتحمل الكل، وتكسب المعدوم، وتقرى الضيف، وتعين على نوائب الحق.<br />
ولقد شبه الرسول الصديق الصالح كحامل المسك يصيبك بريحه الطيبة لما يحمله من أخلاق فاضلة، يأمرك بالمعروف وينهاك عن المنكر، فقال (إنما مثل جليس الصالح وجليس السوء كحامل المسك ونافخ الكير، حامل المسك إما أن يحذيك وإما أن تبتاع منه وإما أن تجد منه ريحاً طيبة، ونافخ الكير إما أن يحرق ثيابك وإما أن تجد منه ريحاً خبيثة).<br />
وقال الإمام القشيرى: إن الصحبة على ثلاثة أقسام:<br />
صحبة من فوقك، وهى فى الحقيقة خدمة.<br />
وصحبة من دونك، وهى تقضى على المتبوع بالشفقة والرحمة، وعلى التابع بالوفاق والحرمة.<br />
وصحبة الأكْفاء والنظراء، وهى مبنية على الإيثار والفُتوَّة.<br />
فمن صحب شيخاً فوقه فى الرتبة، فَأَدَبه ترك الاعتراض وحمل ما يبدو منه على وجه جميل وتلقى أحواله بالإيمان.<br />
وأما إذا صحبت من هو فى درجتك فسبيلك التعامى عن عيوبه، وحمل ما ترى منه على وجه من التأويل جميل ما أمكنك، فإن لم تجد تأويلاً عُدْتَ إلى نفسك بالتهمة وإلى التزام اللائمة.<br />
وقال بعض العلماء: لا تصحب إلا أحد رجلين: رجل تتعلم منه شيئا فى أمر دينك فينفعك، أو رجل تعلمه شيئا فى أمر دينه فيقبل منك.<br />
أحبتى ..<br />
نذكر لمولانا الشيخ إبراهيم مشهد غاية فى الجمال والروعة وهو عندما سافر إلى ألمانيا الغربية ووقف عند سور برلين (الحائط الفاصل بين البلدين) ثم تحدث لمن حوله عن وحدة ألمانيا الغربية وألمانيا الشرقية لتصبحا بلدا واحداً، وبعد فترة من الزمن تكون أول ضربة معول لهدم الفاصل من نفس المكان الذى وقف فيه الشيخ، وهذا الكلام ليس من باب الكرامة ولكن من باب تحدى العقول، فكان بحق وحقيق يستحق الثناء الجميل من الإمام فخر الدين t بقوله:<br />
مِنْ كَمَالِ الْعَطَاءِ مِنْ فَيْضِ وَهْبٍ<br />
فَاسْأَلُوهُ النَّجَاةَ مِنْ يَوْمِ حَـشْرٍ<br />
 <br />
 <br />
أَيُّهَا النَّاسُ جَاءَكُمْ إِبْرَاهِيمُ<br />
يَوْمَ لاَ يَسْأَلُ الْحَمِيمَ حَمِيمُ<br />
 <br />
وقوله أيضا:<br />
أُودِعَ السِّرَّ وَالسَّرَائِرُ غَيْبٌ<br />
مَنْ رَآنِى لَدَيْهِ فَازَ بِسِرِّى<br />
فِى جَنَاحَيْهِ رَحْمَتِى وَلَدَيْهِ</p>

<p> <br />
كَاظِمٌ عِلْمَهُ وَنِعْمَ الْكَظِيمُ<br />
فِى جَنَى جَنَّتَيْهِ سِرٌّ كَتِيمُ<br />
عِوَضُ الْوَالِدَيْنِ يَلْقَى اللَّطِيمُ<br />
 <br />
فقد كان رضوان الله عليه قمة فى التواضع، حتى إنه كان يتنزل ويتنزل إلى أن يشعر من يتحدث معه أنه لا فرق بين ولى بلغ ختم الولاية وبين مريد أو أخ من عامة الإخوان، فما تلبث أن تذهب الرهبة ويبدأ التباسط، فيسأله الإمام الشيخ إبراهيم عن أحواله وعن أبناءه...<br />
وكان يشعر بالألم إذا عرف أن أحد الإخوة قد أصابه أقل مكروه، حسبنا قوله (حتى الشوكة يشتاكها أحدكم فأتألم لها).<br />
ومما أُثر عنه أنه كان يعول أكثر من أسرة فقيرة، بل يحمل بنفسه الطعام إليهم دون أن يعرف بذلك أحد من الجيران، وغير ذلك، كمساعدته للغارمين، وسد الدين عن المدينين، وزياراته المتعددة للمرضى، وكان دائماً وأبداً ما يوصى ببر الوالدين، ويوصى المرشدين بالطريقة بأن يغرسوا فى قلوب إخوانهم حديثى العهد بالطريقة مكارم الأخلاق واحترام الكبير.<br />
ولا ننسى وصاياه التى مازال صداها يدق ناقوس قلوبنا وها نحن نستعيد رنينها عندما قال :<br />
أوصيكم بضرورة مراعاة الآتى وأنتم مقبلون على هذه المرحلة الجديدة:<br />
أولا: العمل وفقا لخطط استراتيجية علمية واضحة المعالم تراعى البيئة الدولية والتطور التكنولوجى الذى يشهده العالم، ولابد لى أن أشير هنا إلى ضرورة مرور أعمالكم إلى اللجنة العليا حتى تكتمل حلقات المشورة بين المسئولين فى إدارة الطريقة وضمان توفير التنسيق لكافة أعمالها.<br />
ثانيا: ضرورة الالتزام بالعمل وفقا لتنظيم إدارى علمى تكون بغيته تربية الإنسان فى المقام الأول.<br />
ثالثا: الاهتمام بشدة بخلق قنوات الاتصال السريع بين الزوايا فى مختلف الأقاليم ومدن العالم مع رئاسة الطريقة بالخرطوم وبين بعضها البعض والعمل على اللحاق بركب التقدم التكنولوجى فى هذا المجال.<br />
رابعا: العمل على خلق روح الانسجام بين مجموعات العمل وعدم السماح لأى مجموعات مختلقة أو متنازعة للتصدى للعمل.<br />
خامسا: العمل على نشر أهمية الصفا وعدم الاختلاف وعدم التنازع كعامل غاية فى الأهمية لتحقيق النجاح لأعمالنا وأذكركم بقوله تعالى فى هذا الخصوص ﴿وَلا تَنَازَعُوا فَتَفْشَلُوا﴾ 46 الأنفال- وقول مولانا الشيخ محمد عثمان عبده :<br />
بَاب التَّنَازُعِ إِنْ طَرَقْتُمْ تَفْشَلُوا<br />
 <br />
 <br />
هَذَا كَلامِى فَاجْعَلُوهُ إِزَارَا<br />
 <br />
وقوله أيضا:<br />
إِذَا اجْتَمَعْتُمْ عَلَى حُبٍّ وَمَرْحَمَةٍ<br />
 <br />
 <br />
فَأَيْقِنُوا الْوَصْلَ إِنَّ اللهَ مُعْطِينِى<br />
 <br />
سادسا: العمل عبر حملات الدروس والمحاضرات والمرشدين على توضيح أهمية الأوراد والعقيدة وضرورة استيعاب الخطورة الكبيرة لعدم توحيد القبلة وهى (الشيخ) ومن ثم العمل على تصحيح هذه المفاهيم.<br />
سابعا: العمل على تنشئة المريد والسير به ورعايته وتفقده والسؤال عنه.<br />
ثم ختم وصاياه بقوله:<br />
(أرجو منكم استيعاب هذه الوصايا والمعانى الهامة والعمل على ضوئها)<br />
إِنِّى اصْطَفَيْتُ لَكُم سَبِيلِىَ مَسْلَكًا<br />
 <br />
 <br />
إِنِّى خَبِيرٌ فِى دُرُوبِ السَّالِكِينْ<br />
 <br />
أحبتى ..<br />
قال تعالى ﴿هُوَ الَّذِى أَرْسَلَ رَسُولَهُ بِالْهُدَى وَدِينِ الْحَقِّ لِيُظْهِرَهُ عَلَى الدِّينِ كُلِّهِ﴾ 33 التوبة<br />
عَلَى بَابِ عِزِّ اللهِ كُنْتُ مُنَادِيًا<br />
 <br />
 <br />
فَمَنْ جَاءَنِى فَهْوَ الْعَزِيزُ بِعِزَّتِى<br />
 <br />
ومن نسبِ العزيز قد أَتَيْنَا وبه إلى الله العزيز قد توجهنا وَوَجْههُ غايتنا يا عزيز فلم أزل بعزك عزيزاً يا عزيز ...<br />
وَأَدِمْ عِزَّنَا بِوَصْلِكَ نَحْيَا<br />
 <br />
 <br />
فَلَنَا فِيكَ عُرْوَةٌ وَحِبَالُ<br />
 <br />
 وختاماً ..<br />
أيا حبيب صلاة نسأل الرب الكريم بها أن يوفِّق ولاة الأمور للعمل على جمع شمل الأمة، فوحدة الصف عندى عمدة الدين، وقدوتى سيدى شيخ المساكين، وصل اللهم على سيدنا محمد وعلى آله وصحبه وسلم.<br />
وكل عام وأنتم بخير ..<br />
والسلام عليكم ورحمة الله وبركاته</p>
				
				
			</div>
			


        </div>

      </div>
	

    </div>
  </div>
</div>
