﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">الأوراد</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
    <div class="subnavbar sliding">
      <div class="buttons-row">
		<a href="#tab1" class="button active tab-link">نصية</a>
		<a href="#tab2" class="button tab-link">صوتية</a>
	  </div>
    </div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="awrad_details" class="page with-subnavbar">
  
  
	<div class="tabs-animated-wrap">
      <div class="tabs">
        <div id="tab1" class="page-content tab active">
		  <div class="card ks-card-header-pic">
			<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
				<b>
					التحصين الشريف
					<br/>
					<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
				</b>
			</div>
			<div class="card-content"> 
				<div class="card-content-inner"> 
					<p class="card-title text-center">بسم الله الرحمن الرحيم
					</p>
					<hr/>
					<p class="text-center">

						وصلى الله على سيدنا محمد وعلى آله وصحبه وسلم تسليما - اللهم إنى أسألك بالعرش<br/><br/>
						والكرسى والنور الذى عل يه سيدنا محمد صلى الله عليه وسلم أن تسخر لى قلب من أحوجتنى<br/><br/>
						إليه وأن تكفينى شر من يقدر على ولاأقدر عليه يا من بيده ملك وت كل شىء أنت عالم به وقادر<br/><br/>
						عليه تحصنت بالحصن الذى أسسه الله سوره لاإله إلاالله، بابه محم د رسول الله مفتاحه لاحول<br/><br/>
						ولاقوة إلابالله من أراد لى سوءا خذله الله همسا همسا لمسا لمسا لموسا لم وسا مأمونا مأمونا<br/><br/>
						أنا الأسد سهمى، نفذ منه المدد لاأبالى من أحد بفضل (بسم الله الرحمن الرحيم ، قل هو الله<br/><br/>
						أحد . الله الصمد . لم يلد . ولم يولد . ولم يكن له كفوا أحد - ثلاثا) اللهم يا جميل الستر إذا<br/><br/>
						أحاط البلاء من سدرة المنتهى أن تكفينى شر من أمر على ونهى.<br/><br/>
						اللهم إن جاءونى فردهم وإن بغوا على فهدهم فإنك أنت الله ربى وربهم ورب الخلائق كلهم<br/><br/>
						(فسيكفيكهم الله وهو السميع العليم - ثلاثا).<br/><br/>
						فإن ت ولوا فقل حسبى الله لآ إله إلاهو عليه توكلت وهو رب العرش العظيم ولا حول ولا قوة إلا بالله العلى العظيم وصلى الله على سيدنا محمد وعلى آله وصحبه وسلم تسليما والحمد لله رب العالمين.
					
					</p>
					<hr/>
					<p class="card-title text-center gray">
						بحمد الله<br/>
						انتهى التحصين الشريف
					</p>
					

				</div>
			</div>
		  </div>
        </div>
		
        <div id="tab2" class="page-content tab">
			<div class="card ks-card-header-pic">
				<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
					<b>
						التحصين الشريف
						<br/>
						<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
					</b>
				</div>
				<div class="card-content"> 
					<div class="card-content-inner"> 
						<p class="text-center">
							<img src="images/audio_icon.svg" style="min-width:25%;" />
						</p>
						<audio controls  style="width:100%;direction:ltr;">
							<source src="audio/tahseen.mp3" type="audio/mpeg"/>
							خطأ .. لا يمكن تشغيل المادة الصوتية
						</audio>

					</div>
				</div>
			</div>
        </div>
        
      </div>
    </div>
  
    
  
    <div class="page-content hide-bars-on-scroll">

	

	

    </div>
	
	

	
  </div>
</div>
