﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">الأوراد</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
    <div class="subnavbar sliding">
      <div class="buttons-row">
		<a href="#tab1" class="button active tab-link">نصية</a>
		<a href="#tab2" class="button tab-link">صوتية</a>
	  </div>
    </div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="awrad_details" class="page with-subnavbar">
  
  
	<div class="tabs-animated-wrap">
      <div class="tabs">
        <div id="tab1" class="page-content tab active">
		  <div class="card ks-card-header-pic">
			<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
				<b>
					الحزب الكبير
					<br/>
					<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
				</b>
			</div>
			<div class="card-content"> 
				<div class="card-content-inner"> 
					<p class="card-title text-center">بسم الله الرحمن الرحيم
					</p>
					<hr/>

						<p class="text-center">الحمد لله رب العالمين وصلى الله على سيدنا محمد وعلى آله وصحبه وسلم، وإذا قرأت القرآن جعل نا بينك وبين الذين لا يؤمنون بالآخرة حجابا مستورا، وجعلنا على ق لوبهم أكنة أن يفقهوه وفى آذانهم وقرا وإذا ذكرت ربك فى القرآن وحده ولوا على أدبارهم نفورا. يا مالك يوم الدين إياك نعبد وإياك نستعين، رب لا تذرنى فردا وأنت خير الوارثين .</p>

						<p class="text-center">الم نووا فلووا عما نوواثم لووا عما نووا فعموا وصموا عما نووا فوقع القول عليهم بما ظلموا فهم لا . أفحسبتم أنما خلقناكم عبثا وأنكم إلينا لا . وج علنا من بين أيديهم سدا ومن خلفهم سدا فأغشيناهم فهم لا . يا معشر الجن والإ نس إن استطعتم أن تنفذوا من أقطار السموات والأ رض فانفذوا لا (لا آلاء إلا آلاؤك يا الله ثلاثا) إنك سميع ع ليم ، وبالحق أن زلنه وبالحق نزل ولا حول ولا قوة إلا بالله العلى العظيم ، التجم كل مارد وذل كل ذى بطش شديد م ع اند، وتلا شت مكائد الجن والإ نس أجمعين بأسمائك يا رب العالمين بالسموات القائمات ف هن بالقدرة واقفات بالسبع المتطابقات بالحجب المترادفات بمواقف الأ ملاك فى مجارى الأ فلاك بالكرسى البسيط بالعرش المحيط بغاية الغايات بمواضع الإ شارات بمن دنا فتدلى فكان قاب قوسين أو أدنى خضعت المردة فكبتوا ودحضوا كبت الأ عداء بأسماء الله فكبتوا خسأ المارد وذل الحاسد استع نت بالله على كل من نوى لى سوءا كيف أخاف وإلهى أملى أم كيف أضام وعلى الله متكلى.</p>

						<p class="text-center">اللهم احرسنى من كيد الفاسق ومن سطوة المارق ومن لدغة الغاسق بكهيعص كفيت بحمعسق حميت (فسيكفيكهم الله وه و السميع العليم ثلاثا) ولا حول ولا قوة إلا بالله العلى العظيم . بسم الله ما أع ظم الله كلما أوقدوا نارا للحرب أطفأها الله . كتب الله لأ غلبن أنا ورسلى إن الله ق وى عزيز . اللهم يا من ألجم البحر بقدرته وقهر العباد بحكمته اكفنى أنت الكافى وعنت الوجوه للحى القيوم وقد خاب من حمل ظلما فالله خي ر حافظا وهو أرحم ال راحمين . أقبل ولا تخف إنك من الآمنين . لا تخف نجوت من القوم الظالمين . لا تخاف دركا ولا تخشى. لا تخف إنك أنت الأ على. لا تخافا إننى معكم آ أسمع وأرى. لا تخف إ نى لا يخاف لدى المرسل ون . وليبدلنهم من بعد خوفهم أمنا. وآمنهم م ن خوف . اللهم آمنا من كل خوف وهم وغم وكرب كد كد كردد كردد كرده كرده ده ده ده ده الله رب العزة كتب اسمه على كل شىء أعزه . خضع كل شىء لعظمة سلطانه .</p>

						<p class="text-center">اللهم أخضع لى جميع من يرانى من الجن والإ نس والط ير والوحوش والهوام .</p>

						<p class="text-center">اللهم اجعل لى نورا من نورك على وجهى ومن ضياء سلطانك أمامى حتى إذا رأونى ولوا هاربين خاضعين لهيبة الله ولهيبة أسمائه ولهيبتى تدكدكت الجبال بكهيعص كفيت بحمعسق حميت (فسيكفيكهم الله وهو السميع العليم ثلاثا) ولا حول ولا قوة إلا بالله العلى العظيم ، رب نآ أرنا ا للذين أضلا نا من الجن والإنس نجعلهما تحت أقدامنا ليكونا من الأ سفل ين . ورد الله الذين كفروا بغيظهم لم ينالوا خيرا وكفى الله المؤمنين القتال وكان الله قويا عزيزا. بها بها بها بهيا بهيا بهيا بهيات بهيات بهيات القديم الأ زلى يخضع لى جميع من يرانى لمقفنجل يا أرض خذيهم قل كونوا حجارة أو حديدا وقفوهم إنهم م سئولون . كأنهم خشب مسندة . ولا حول ولا قوة إلا بالله العلى العظيم طهور بدعق محببه ص وره محببه سقفاطيس س قاط يم أحون ق أدم حم هاء آمين . "محمد رسول الله والذين معه أشد آء على الكفار رحمآء بينهم ت راهم رك عا سجدا يبتغون فضلا من الله ورضوانا سيماهم فى وجوههم من أثر السج ود ذلك مثلهم فى التوراة ومثلهم فى الإ نجيل كزرع أخرج شطأه فآزره فاستغلظ فاست وى على سوقه يعجب الزراع ليغيظ بهم الكفار وعد الله الذين آمنوا وعملوا الصالحات منه م مغفرة وأجرا عظيما" صدق الله العظيم وصلى الله على سيدنا محمد النبى الكريم وعلى آله وصحبه أجمعين عدد ما يتعلق به علم الله القديم من الجائز والواجب والمستحيل جملة وتفصيلا منذ خلقت الدنيا إلى يوم القيامة فى كل يوم مائة ألف مرة وفى كل مرة مثل قدر ذلك وعلى آله وصحبه وسلم .</p>

						<p class="text-center">(يا عزيز ١٠٠ مرة ).</p>

						<p class="text-center">(يا عزيز فلم أزل بعزك عزيزا يا عزيز ٧ مرات ).</p>
					
					
					<hr/>
					<p class="card-title text-center gray">
						بحمد الله<br/>
						انتهى الحزب الكبير
					</p>
					

				</div>
			</div>
		  </div>
        </div>
		
        <div id="tab2" class="page-content tab">
			<div class="card ks-card-header-pic">
				<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
					<b>
						الحزب الكبير
						<br/>
						<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
					</b>
				</div>
				<div class="card-content"> 
					<div class="card-content-inner"> 
						<p class="text-center">
							<img src="images/audio_icon.svg" style="min-width:25%;" />
						</p>
						<audio controls  style="width:100%;direction:ltr;">
							<source src="audio/tahseen.mp3" type="audio/mpeg"/>
							خطأ .. لا يمكن تشغيل المادة الصوتية
						</audio>

					</div>
				</div>
			</div>
        </div>
        
      </div>
    </div>
  
    
  
    <div class="page-content hide-bars-on-scroll">

	

	

    </div>
	
	

	
  </div>
</div>
