﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">الأوراد</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
    <div class="subnavbar sliding">
      <div class="buttons-row">
		<a href="#tab1" class="button active tab-link">نصية</a>
		<a href="#tab2" class="button tab-link">صوتية</a>
	  </div>
    </div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="awrad_details" class="page with-subnavbar">
  
  
	<div class="tabs-animated-wrap">
      <div class="tabs">
        <div id="tab1" class="page-content tab active">
		  <div class="card ks-card-header-pic">
			<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
				<b>
					الحزب الصغير
					<br/>
					<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
				</b>
			</div>
			<div class="card-content"> 
				<div class="card-content-inner"> 
					<p class="card-title text-center">بسم الله الرحمن الرحيم
					</p>
					<hr/>

					<p class="text-center">وصلى الله على سيدنا محمد وعلى آله وصحبه وسلم .</p>

					<p class="text-center">(بسم الإله الخالق الأ كبر وهو حرز مانع مما أخاف وأحذر لا قدرة لمخلوق مع قدرة الخالق يلجمه بلجام قدرته أحمى حميثا أطمى طميثا وكان الله قويا عزيزا حمعسق حمايتنا كهيعص كفايتنا (فسيكفيكهم الله وهو الس ميع العليم ثلاثا) ولا حول ولا قوة إلا بالله العلى العظيم وصلى الله على سيدنا محمد وعلى آله وصحبه وسلم ثلاثا).</p>

					<p class="text-center">(يا بارئ ١٠٠ مرة ).</p>

					<p class="text-center">(يالطيف ١٢٩ مرة ).</p>

					<p class="text-center">(اللهم يا لطيفا بخلقه يا عليما بخلقه يا خبيرا بخلقه الطف بنا يا لطيف يا عليم يا خبير ٧ مرات ).</p>

					<p class="text-center">(يا الله ٦٦ مرة ).</p>

					<p class="text-center">(يا دايم ٦٦ مرة ).</p>

					<p class="text-center">لك الدوام الأ زلى والبقاء السرمدى حتى ت رث الأ رض ومن عليها وأنت خير الوارثين سبحانك يا دايم أنت ولينا فاغفر لنا وارحمنا وأنت خير الغافرين سبحانك يا دايم ارزقنا حلا وة محبتك واحشرنا فى زمرة المحبين ولا حول ولا قوة إلا بالله العلى العظيم .</p>

					<p class="text-center">(يا ودود ٢٤٠ مرة ).</p>
					
					
					<hr/>
					<p class="card-title text-center gray">
						انتهى الحزب الصغير
					</p>
					

				</div>
			</div>
		  </div>
        </div>
		
        <div id="tab2" class="page-content tab">
			<div class="card ks-card-header-pic">
				<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
					<b>
						الحزب الصغير
						<br/>
						<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
					</b>
				</div>
				<div class="card-content"> 
					<div class="card-content-inner"> 
						<p class="text-center">
							<img src="images/audio_icon.svg" style="min-width:25%;" />
						</p>
						<audio controls  style="width:100%;direction:ltr;">
							<source src="audio/tahseen.mp3" type="audio/mpeg"/>
							خطأ .. لا يمكن تشغيل المادة الصوتية
						</audio>

					</div>
				</div>
			</div>
        </div>
        
      </div>
    </div>
  
    
  
    <div class="page-content hide-bars-on-scroll">

	

	

    </div>
	
	

	
  </div>
</div>
