﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">الأوراد</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
    <div class="subnavbar sliding">
      <div class="buttons-row">
		<a href="#tab1" class="button active tab-link">نصية</a>
		<a href="#tab2" class="button tab-link">صوتية</a>
	  </div>
    </div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="awrad_details" class="page with-subnavbar">
  
  
	<div class="tabs-animated-wrap">
      <div class="tabs">
        <div id="tab1" class="page-content tab active">
		  <div class="card ks-card-header-pic">
			<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
				<b>
					صلاة ابن بشيش
					<br/>
					رضى الله عنه<br/>
					<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
				</b>
			</div>
			<div class="card-content"> 
				<div class="card-content-inner"> 
					<p class="card-title text-center">بسم الله الرحمن الرحيم
					</p>

					<hr/>
					<p class="text-center"><p>اللهم صل على من منه انشقت الأ سرار وانفلقت الأ نوار وفيه ارتقت الحقائق وتن زلت علوم آدم فأعج ز الخلا ئق وله تضاءلت الفهوم فلم يدركه منا سابق ولا لا حق فرياض الم لكوت بزهر جماله مونقة وحياض الجبروت بفيض أنواره متدفقة ولا شىء إلا وهو به منوط إذ لولا الواسطة لذهب (كماقيل ) الموسوط صلا ة تليق بك منك إليه كما هو أهله اللهم إنه سرك الجامع الدال عليك وحجابك الأ عظم ا لقائم لك بين يديك اللهم ألحقنى بنسبه وح ق قنى بحسبه وعرفنى إياه معرفة أسلم بها من موارد الجهل وأكرع بها من موارد الفضل واحملنى على سبيله إلى حضرتك حملا محفوفا بنصرتك واقذف بى ع لى الباطل فأدمغه وزج بى فى بحار الأ حدية وانش لنى من أوحال التوحيد وأغرقنى فى عين بحر الوحدة حتى لا أرى ولا أسمع ولا أجد ولا أحس إلا بها واجعل الحجاب الأ عظم حياة روحى، وروحه سر حقيقتى، وحقيقته جامع عوالمى بتحقيق الحق الأ ول يا أول يا آخر يا ظاهر يا باطن اسمع ندائى بما سمعت به نداء عبدك زكريا (وانصرنى بك لك وأيدنى بك لك واجمع بينى وبينك وحل بينى وبين غيرك ثلا ثا) الله الله الله إن الذى فرض عليك القرآن لرآدك إلى معاد . رب نا ءاتنا من لدنك رحمة وهىء لنا من أمرنا رشدا. سبح ان ربك رب العزة عما يصفون وسلا م على المرسلين والحمد لله رب الع المين .</p></p>
					<hr/>
					<p class="card-title text-center gray">
						تمت صلاة ابن بشيش
					</p>
					

				</div>
			</div>
		  </div>
        </div>
		
        <div id="tab2" class="page-content tab">
			<div class="card ks-card-header-pic">
				<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
					<b>
						صلاة ابن بشيش
						<br/>
						<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
					</b>
				</div>
				<div class="card-content"> 
					<div class="card-content-inner"> 
						<p class="text-center">
							<img src="images/audio_icon.svg" style="min-width:25%;" />
						</p>
						<audio controls  style="width:100%;direction:ltr;">
							<source src="audio/tahseen.mp3" type="audio/mpeg"/>
							خطأ .. لا يمكن تشغيل المادة الصوتية
						</audio>

					</div>
				</div>
			</div>
        </div>
        
      </div>
    </div>
  
    
  
    <div class="page-content hide-bars-on-scroll">

	

	

    </div>
	
	

	
  </div>
</div>
