﻿<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
		<a href="#" class="link icon-only open-panel" data-panel="right"><i class="fa fa-bars fa-lg"></i></a><a href="#" class="link icon-only settings-btn"><i class="fa fa-cog fa-lg"></i></a>
    </div>
    <div class="center sliding">الأوراد</div>
	<div class="right sliding">
      <a href="#" class="back link">
        <span>عودة</span><i class="fa fa-chevron-left"></i>
       </a>
	</div>
	
    <div class="subnavbar sliding">
      <div class="buttons-row">
		<a href="#tab1" class="button active tab-link">نصية</a>
		<a href="#tab2" class="button tab-link">صوتية</a>
	  </div>
    </div>
	
  </div>
</div>
<div class="pages navbar-through">
  <div data-page="awrad_details" class="page with-subnavbar">
  
  
	<div class="tabs-animated-wrap">
      <div class="tabs">
        <div id="tab1" class="page-content tab active">
		  <div class="card ks-card-header-pic">
			<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
				<b>
					الحزب السيفى
					<br/>
					<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
				</b>
			</div>
			<div class="card-content"> 
				<div class="card-content-inner"> 
					<p class="card-title text-center">بسم الله الرحمن الرحيم
					</p>
					<hr/>

<p>وصلى الله على مولانا محمد وعلى آله وصحبه وسلم اللهم إنى أقدم إليك بين يدى كل نفس ولمحة وطرفة يطرف بها أهل السموات وأهل الأرض وكل شىء هو فى علمك كائن أو قد كان أقدم إليك بين يدى ذلك كله .</p>

<p>بسم الله الرحمن الرحيم</p>

<p>اللهم أنت الله الملك الحق المبين القديم المتعزز بالعظمة والكبرياء المنفرد بالبقاء الحى القيوم القادر المقتدر الجبار القهار الذى لا إله إلا أنت (صمدية - ٣) أنت ربى وأنا عبدك عملت سوءا وظلمت نفسى واعترفت بذنبى فاغف ر لى ذنوبى كلها فإنه لا يغفر الذنوب إلا أنت ياغفور ياشكور ياحليم ياكريم ياصبور يارحيم اللهم إنى أحمدك وأنت المحمود وأنت للحمد أهل وأشكرك وأنت المشكور وأنت للشكر أهل على ما خصصتنى به من مواهب الرغائب وأوصلت إلى من فضائل الصنائع وأوليتنى به من إحسانك وبوأتنى به من مظنة الصدق عندك وأنلتنى به من مننك ال واصلة إلى وأحسنت به إلى كل وقت من دفع البلية عنى والتوفيق لى والإجابة لدعائى حين أناديك داعيا وأناجيك راغبا وأدعوك متضرعا صافيا ضارعا وحين أرجوك راجيا فأجدك كافيا وألوذ بك فى المواطن كلها فكن لى ولأهلى ولإخوانى كلهم جارا حاضرا حفيا بارا ولي فى الأمور كلها ناظرا وعلى الأعداء كلهم ناصرا وللخطايا والذنوب كلها غاف را وللعيوب كلها ساترا لم أعدم عونك وبرك وخيرك وعزك وإحسانك طرفة عين منذ أنزلتنى دار الإختبار والفكر والإعتبار لتنظر ما أقدم لدار الخلود والقرار والمقامة مع الأخيار فأنا عبدك فاجعلنى (يارب ٣) عتيقك يا إلهى ومولاى خلصنى وأهلى وإخوانى كلهم من النار ومن جميع المضار والمضال والمصائب والمعائب والنوائب واللوازم والهموم التى قد ساورتنى فيها الغموم بمعاريض أصناف البلاء وضروب جهد القضاء إلهى لا أذكر منك إلا الجميل ولم أر منك إلا التفضيل خيركلى شامل وصنعكلى كامل ولطفكلى ك افل وبركلى غامر وفضل ك على دائم متواتر ونعمك عندى متصلة لم تخفر لى جوارى وأمنت خوفى وصدقت رجائى وحققت آمالى وصاحبتنى فى أسفارى وأكرمتنى فى أحضارى وعافيت أمراضى وشفيت أوصابى وأحسنت منقلبى ومثواى ولم تشمت بى أعدائى وحسادى ورميت من رمانى بسوء وكفيتنى شر من عادانى فأنا أسألك ياألله الآن أن تدفع عنى كيد الحاسد ين وظلم الظالمين وشر المعاندين واحمنى وأهلى وإخوانى كلهم تحت سرادقات عزك يا أكرم الأكرمين وباعد بينى وبين أعدائى كما باعدت بين المشرق والمغرب واخطف أبصاره م عنى بنور قدسك واضرب رقابهم بجلال مجدك واقطع أعناقهم بسطوات قهرك وأهلكهم ودمرهم تدميرا كما دفعت كيد الحساد عن أنبيائك وضربت رقاب الجبابرة لأصفيائك وخطفت أبصار الأعداء عن أوليائك وقطعت أعناق الأكاسرة لأتقيائك وأهلكت الفراعنة ودمرت الدجاجلة لخواصك المقربين وعبادك الصالحين.</p>

<p> (ياغياث المستغيثين أغثنى - ثلاثا) على جميع أعدائك فحمدى لك يا إلهى واصب وثنائى عليك متواتر دائبا دائما من الدهر إلى الدهر بألوان التسبيح والتقديس وصنوف اللغات المادحة وأصناف التنزيه خالصا لذكرك ومرضيا لك بناصع التحميد والتمجيد وخالص التوحيد وإخلاص التقرب والتقريب والتفريد وإمحاض التمجيد بطول التعبد والتعديد لم تعن فى قدرتك ولم تشارك فى أ لوهيتك ولم تعلم لك ماهية فتكون للأشياء المختلفة مجانسا ولم تعاين إذ حبست الأشياء على العزائم المختلفة ولا خرقت الأوهام حجب الغيوب إليك فأعتقد منك محدودا فى مجد عظمتكلا يبلغك بعد الهمم ولا ينالك غوص الفطن ولا ينتهى إليك بصر ناظر فى مجد جبروتك ارتفعت عن صفات المخلوقين صفات قدرتك وعلا عن ذكر الذاكرين كبرياء عظ متك فلا ينتقص ما أردت أن يزداد ولا يزداد ما أردت أن ينتقص لا أحد شهدك حين فطرت الخلق ولا ند ولا ضد حضرك حين برأت النفوس كلت الألسن عن تفسير صفتك وانحسرت ا لعقول عن كنه معرفتك وصفتك وكيف يوصف كنه صفتك يارب وأنت الله الملك الجبار القدوس الأزلى الذى لم يزل ولا يزال أزليا باقيا أبديا سرمديا دائما فى الغيوب (وحد كلا شريكلك - ٣) ليس فيها أحد غيرك ولم يكن إله سواك حارت فى بحار بهاء ملكوتك عميقات مذاهب التفكر وتواضعت الملوكلهيبتك وعنت الوجوه بذلة الاستكانة لعزتك وان قاد كل شىء لعظمتك واستسلم كل شىء لقدرتك وخضعت لك الرقاب وكل دون ذلك تحبير اللغات وضل هنالك التدبير فى صفات وفى تصاريف الصفات فمن تفكر فى إنشائك البديع وثنائك الرفيع وتعمق فى ذلك رجع طرفه إليه خاسئا حسيرا وعقله مبهوتا وتفكره متحيرا أسيرا.</p>

<p> اللهم لك الحمد حمدا كثيرا دائما متواليا متواترا متضاعفا متسعا متسقا يدوم ويتضاعف ولا يبيد غير مفقود فى الملكوت ولا مطموس فى المعالم ولا منتقص فى العرفان فلك الحمد على مكارمك التى لا تحصى ونعمك التى لا تستقصى فى الليل إذآ أدبر والصبح إذآ أسفر وفى البر والبحار والغدو والآصال والعشى والإبكار والظهيرة والأسحار وفى كل جزء من أجزاء الليل والنهار .</p>

<p> اللهم لك الحمد بتوفيقك قد أحضرتنى النجاة وجعلتنى منك فى ولاية العصمة فلم أبرح فى سبوغ نعمائك وتتابع آلائك محروسا بك فى الرد والإمتناع ومحفوظا بك فى المنعة والدفاع عنى.</p>

<p> اللهم إنى أحمدك إذ لم تكلفنى فوق طاقتى ولم ترض منى إلا طاعتى ورضيت منى من طاعتك وعبادتك دون استطاعتى وأقل من وسعى ومقدرتى فإنك أنت الله الملك الحق الذى لا إله إلا أنت لم تغب ولا تغيب عنك غائبة ولاتخفى عليك خافية ولن تضل عنك فى ظلم الخفيات ضالة إنما أمرك إذآ أردت شيئا أن تقول له كن .( فيكون (صمدية - ٣</p>

<p> اللهم لك الحمد حمدا كثيرا دائما مثل ما حمدت به نفسك وأضعاف ما حمدك به الحامدون وسبحك به المسبحون ومجدك به الممجدون وكبرك به المكبرون وهللك به المهللون وقدسك به المقدسون ووحدك به الموحدون وعظمك به المعظمون واستغفرك به المستغفرون حتى يكون لك منى وحدى فى كل طرفة عين وأقل من ذلك مثل حمد جميع الحامدين وتوحيد أصناف الموحدين والم خلصين وتقديس أجناس العارفين وثناء جميع المهللين والمصلين والمسبحين ومثل ما أنت به عالم وأنت مح مود ومحبوب ومحجوب من جميع خلقك كلهم من الحيوانات والبرا يا والأنام .</p>

<p> إلهى أسألك بمسائلك وأرغب إليك بك فى بركات ما أنطقتنى به من حمدك ووفقتنى له من شكرك وتمجيدى لك فما أيسر ما كلفتنى به من حقك وأعظم ما وعدتنى به من نعمائك ومزيد الخير على شكرك ابتدأتنى بالنعم فضلا وطولا وأمرتنى بالشكر حقا وعدلا ووعدتنى عليه أضعافا ومزيدا وأعطيتنى من رزقك واسعا كثيرا اختيارا ورضا وسألتنى عنه شكرا يسيرا، لك الحمد اللهم على إذ نجيتنى وعافيتنى برحمتك من جهد البلاء ودرك الشقاء ولم تسلمنى لسوء قضائك وبلائك وجعلت ملبسى العافية وأوليتنى البسطة والرخاء وشرعت لى أيسر القصد وضاعفت لى أشرف الفضل مع ما عبدتنى به من المحجة الشريفة وبشرتنى به من الدرجة العالية الرفيعة واصطفيتنى بأعظم النبيين دعوة وأفضلهم شفاعة وأرفعهم درجة وأقربهم منزلة وأوضحهم حجة محمد صلى الله عليه وعلى آله وسلم وعلى جميع الأنبياء والمرسلين وأصحابه الطيبين الطاهرين (صمدية - ٣) اللهم صل على محمد وعلى آل محمد واغفر لى ولأهلى ولإخوانى كلهم مالايسعه إلا مغفرتك ولايمحقه إلا عفوك ولايكفره إلا تجاوزك وفضلك وهب لى فى يومى هذا وليلتى هذه وساعتى هذه وشهرى هذا وسنتى هذه يقينا صادقا يهون على مصائب الدنيا والآخرة وأحزانهما ويشوقنى إليك ويرغبنى فيما عندك واكتب لى عندك المغفرة وبلغنى الكرامة من عندك وأوزعنى شكر ما أنعمت به على فإنك أنت الله الذى لا إله إلا أنت الواحد الأحد الرفيع البديع المبدىء المعيد السميع العليم الذى ليس لأمرك مدفع ولا عن قضائك ممتنع وأشهد أنك ربى ورب كل شىء فاطر السموات والأرض عالم الغيب والش هادة العلى الكبير المتعال (صمدية ٣) اللهم إنى أسألك الثبات فى الأمر والعزيمة على الرشد والشكر على نعمك وأسألك حسن عبادتك وأسألك من خير كل ما تعلم وأع وذ بك من شر كل ما تعلم وأستغفرك من شر كل ما تعلم إنك أنت علام الغيوب وأسألكلى ولأهلى ولإخوانى كلهم أمنا وأعوذ بك من جور كل جائر ومكر كل ماكر وظلم كل ظ الم وسحر كل ساحر وبغى كل باغ وحسد كل حاسد وغدر كل غادر وكيد كل كايد وعداوة كل عدو وطعن كل طاعن وقدح كل قادح وحيل كل متحيل وشماتة كل شامت وكشح كل كاشح .</p>

<p> اللهم بك أصول على الأعداء والقرناء وإياك أرجو ولاية الأحباء والأولياء والقرباء فلك الحمد على ما لا أستطيع إحصاءه ولاتعديده من عوائد فضلك وعوارف رزقك وألوان ما أوليتنى به من إرفادك وكرمك فإنك أنت الله الذى لا إله إلا أنت الفاشى فى الخلق حمدك الباسط بالجود يدكلاتضاد فى حكمك ولاتنازع فى أمرك وسلطانك وملكك ولاتشارك فى ربوبيتك ولاتزاحم فى خليقتك تملك من الأنام ما تشاء ولايملكون منك إلا ما تريد .</p>

<p> اللهم أنت الله المنعم المتفضل القادر المقتدر القاهر المقدس ترديت با لمجد والبهاء وتعظمت بالعزة والعلاء وتأزرت بالعظمة والكبرياء (صمدية - ٣) وتغشيت بالنور والضياء وتجللت بالمهابة والبهاء لك المن القديم والسلطان الشامخ والملك الباذخ والجود الواسع والقدرة الكاملة والحكمة البالغة والعزة الشاملة فلك الحمد على ما جعلتنى من أمة محمد صلى الله عليه وسلم وعلى آله وهو أفضل بنى آد م عليه السلام الذين كرمتهم وحملتهم فى البر والبحر ورزقتهم من الطيبات وفضلتهم على كثير من خلقك تفضيلا وخلقتنى سميعا بصيرا صحيحا سويا سالما معافى ولم تشغل نى بنقصان فى بدنى عن طاعتك ولا بآفة فى جوارحى ولا عاهة فى نفسى ولا فى عقلى ولم تمنعنى كرامتك إياى وحسن صنيعك عندى وفضل منائحكلدى ونعمائك على أنت الذى أوسعت على فى الدنيا رزقا وفضلتنى على كثير من أهلها تفضيلا فجعلت لى سمعا يسمع آياتك وعقلا يفهم إيمانك وبصرا يرى قدرتك وفؤادا يعرف عظمتك وقلبا يعتقد توحيدك فإ نى لفضلك على شاهد حامد شاكر ولك نفسى شاكرة وبحقك على شاهدة وأشهد أنك حى قبل كل حى وحى بعد كل حى وحى بعد كل ميت وحى لم ترث الحياة من حى ولم تقطع خيرك عنى فى كل وقت ولم تقطع رجائى ولم تنزل بى عقوبات النقم ولم تغير على وثائق النعم ولم تمنع عنى دقائق العصم فلو لم أذكر من إحسانك وإنعامك على إلا عفوك عنى والتوفيق لى والإستجابة لدعائى حين رفعت صوتى بدعائك وتحميدك وتوحيدك وتمجيدك وتهليلك وتكبيرك وتعظيمك وإلا فى تقديرك خلقى حين صورتنى فأحسنت صورتى وإلا فى قسمة الأرزاق حين قدرتها لى لكان فى ذلك ما يشغل فكرى عن جهدى فكيف إذا فكرت فى النعم العظام التى أتقلب فيها ولا أبلغ شكر شىء منها فلك الحمد عدد ما حفظه عل مك وجرى به قلمك ونفذ به حكمك فى خلقك وعدد ما وسعته رحمتك من جميع خلقك وعدد ما أحاطت به قدرتك وأضعاف ما تستوجبه من جميع خلقك .</p>

<p> اللهم إنى مقر بنعمتك ع لى فتمم إحسانك إلى فيما بقى من عمرى بأعظم وأتم وأكمل وأحسن مما أحسنت إلى فيما مضى منه برحمتك ياأرحم الراحمين.</p>

<p> اللهم إنى أسألك وأتوسل إليك بتوحيدك وتمجيدك وتحميدك وتهليلك وتكبيرك وتسبيحك وكمالك وتدبيرك وتعظيمك وتقديسك ونورك ورأفتك ورحمتك وعلمك وحلمك وعلوك ووقارك وفضلك وجلالك ومنك وكمالك وكبريائك وسلطانك وقدرتك وإحسانك وامتنانك وجمالك وبهائك وبرهانك وغفرانك ونبيك ووليك وعترته الطاهرين أن تصلى على سيدنا محمد وعلى سائر إخوانه الأنبياء والمرسلين وأن لا تحرمنى رفدك وفضلك وجمالك وجلالك وفوائد كرامتك فإنه لا تعتريكلكثرة ما قد نشرت من العطايا عوائق البخل ولا ينقص جودك التقصير فى شكر نعمتك ولا تنفد خزائنك مواهبك المتسعة ولا تؤثر فى جودك العظيم منحك الفائقة الجليلة الجميلة الأصيلة ولاتخاف ضيم إملاق فتكدى ولايلحقك خوف عدم فينقص من جودك فيض فضلك إنك على ما تشاء قدير وبالإجابة جدير .</p>

<p> اللهم ارزقنى قلبا خاشعا خاضعا ضارعا وعينا باكية وبدنا صحيحا صابرا ويقينا صادقا بالحق صادعا وتوبة نصوحا ولسانا ذاكرا وحامد ا وإيمانا صحيحا ورزقا حلالا طيبا واسعا وعلما نافعا وولدا صالحا وصاحبا موافقا وسنا طويلا فى الخير مشتغلا بالعبادة الخالصة وخلقا حسنا وعملا صالحا متقبلا وتوبة مقبولة ودرجة رفيعة وامرأة مؤمنة طائعة .</p>

<p> اللهم لاتنسنى ذكرك ولاتولنى غيرك ولاتؤمنى مكرك ولاتكشف عنى سترك ولاتقنطنى من رحمتك ولاتبعدنى من كنفك وجوارك وأعذنى من سخطك وغضبك ولاتؤيسنى من رحمتك وروحك وكن لى ولأهلى ولإخوانى كلهم أنيسا من كل روعة وخوف وخشية ووحشة وغربة واعصمنى من كل هلكة ونجنى من كل بلية وآفة وعاهة وغصة ومحنة وزلزلة وشدة وإهانة وذلة وغلبة وقلة وجوع وعطش وفقر وفاقة وضيق وفتنة ووباء وبلاء وغرق وحرق وبرق وسرق وحر وبرد ونهب وغى وضلال وضالة وهامة وزلل وخطايا وهم وغم ومسخ وخسف وقذف وخلة وعلة ومرض وجنون وجذام وبرص وفالج وباسور وسلس ونقص وهلكة وفضيحة وقبيحة فى الدارين إنكلاتخلف الم يعاد .</p>

<p> اللهم ارفعنى ولاتضعنى وادفع عنى ولاتدفعنى وأعطنى ولاتحرمنى وزدنى ولاتنقصنى وارحمنى ولاتعذبنى وفرج همى واكشف غمى وأهلك عدوى وانصرنى ولاتخذلنى وأكرم نى ولاتهنى واسترنى ولاتفضحنى وآثرنى ولاتؤثر على واحفظنى ولاتضيعنى ف إنك على كل شىء قدير يا أقدر القادرين وياأسرع الحاسبين وصلى الله على سيدنا محمد وآله وسل م أجمعين ياذا الجلال والإكرام .</p>

<p> اللهم أنت أمرتنا بدعائك ووعدتنا بإجابتك وقد دعوناك كما أمرتنا فأجبنا كما وعدتنا ياذا الجلال والإكرام إنكلاتخلف الميعاد .</p>

<p> الل هم ما قدرت لى من خير وشرعت فيه بتوفيقك وتيسيرك فتممه لى بأحسن الوجوه كلها وأصوبها وأصفاها فإنك على ما تشاء قدير وبالإجابة جدير نعم المولى ونعم النصير وم ا قدرت لى من شر وتحذرنى منه فاصرفه عنى ياحى ياقيوم يامن قامت السموات والأرض بأمره يامن يمسك السماء أن تقع على الأرض إلا بإذنه يامن أمره إذآ أراد شيئا أن ي قول له كن فيكون .</p>

<p> فسبحن الذى بيده ملكوت كل شىء وإليه ترجعون (سبحان الله القادر القاهر القوى العزيز الجبار الحى القيوم بلا معين ولا ظهير، برحمتك أستغيث - ثلاثا).</p>

<p> اللهم هذا الدعاء ومنك الإجابة وهذا الجهد منى وعليك التكلان (ولا حول ولا قوة إلا بالله العلى العظيم - ثلاث ا) والحمد لله أولا وآخرا وظاهرا وباطنا وصلى الله على سيدنا محمد وآله وأصحابه الطيبين الطاهرين وسلم تسليما كثيرا أثيرا دائما أبدا إلى يوم الدين وحسبنا الله ونعم الوكيل والحمد لله رب العالمين وصلى الله على سيدنا محمد وعلى آله فى كل لمحة ونفس عدد ما وسعه علم الله .</p>
						
					<p class="card-title text-center gray">
						انتهى الحزب السيفى
						<br/>
						<b>للإمام على كرم الله وجهه</b>
					</p>

					

				</div>
			</div>
		  </div>
        </div>
		
        <div id="tab2" class="page-content tab">
			<div class="card ks-card-header-pic">
				<div style="background-image:url('images/awrad.jpg');" valign="bottom" class="card-header color-white no-border  dark-shadow">
					<b>
						الحزب السيفى
						<br/>
						<small class="light">تقرأ مرة فى الصباح ومرة فى المساء</small>
					</b>
				</div>
				<div class="card-content"> 
					<div class="card-content-inner"> 
						<p class="text-center">
							<img src="images/audio_icon.svg" style="min-width:25%;" />
						</p>
						<audio controls  style="width:100%;direction:ltr;">
							<source src="audio/tahseen.mp3" type="audio/mpeg"/>
							خطأ .. لا يمكن تشغيل المادة الصوتية
						</audio>

					</div>
				</div>
			</div>
        </div>
        
      </div>
    </div>
  
    
  
    <div class="page-content hide-bars-on-scroll">

	

	

    </div>
	
	

	
  </div>
</div>
